[2020-11-17 09:27] AnatoliB commented on #559
@janegilring  This seems to be related to a more generic issue: #561. If Invoke-AzResourceAction returns $null sometimes, the rest is explained. Apart from the Trace-PipelineObject and the warning, do you see any other output from Invoke-AzResourceAction?

One could argue that returning $null from PowerShell cmdlets is not a good practice in general (and this is why we haven't encountered this bug

[2020-11-17 09:28] AnatoliB commented on #504
Seems to be related to a more generic issue: #561

[2020-11-17 09:33] janegilring commented on #559
@AnatoliB Nothing returned except the warning I mentioned. I would also agree that it should work in Functions since it works in regular PowerShell, although the cmdlet design may have room for improvements.

[2020-11-18 05:10] mpriem commented on #309
Hi!

Any update on this?

Currently using my own service bus client code for output, but it would be nice to be able to use simple bindings. Service Bus without custom props makes it impossible to do proper pubsub.

Thanks in advance!

[2020-11-19 04:33] AnatoliB commented on #554
The issue is supposedly fixed in Az.Accounts v2.2.1, which is available on the PowerShell Gallery now. If you were affected by the regression, please validate this. You may want to stop pinning Az.Accounts to any specific version now, so you take advantage of auto-upgrade again. But this is still a trade-off: auto-upgrade is convenient but introduces a certain risk of regressions.

Also, FYI: [Pos

[2020-11-20 13:37] adriennn commented on #232
Is this solution still working? When trying with the `-UseWindowsPowerShell` flag PowerShell tells me to use another flag

[code]

And using the other flag is causing further errors.

Moreover, it seems that Az-Connect isn't being forwarded to Windows PowerShell because if I'm trying to run a command after having used Az-Connect in profile.ps1, PowerShell warns that Az-Connect needs to be ran firs

[2020-11-20 14:06] ebenezermakinde commented on #232
This is just a warning @adriennn . It just simply explains the windows compatibility feature and how it works. Because you are simply using the windows feature of Powershell. In this case, you can choose to ignore the use of that flag(SkipEditionCheck),

I hope this helps.

[2020-11-21 21:41] adriennn commented on #232
thanks @ebenezermakinde, my mistake was not to have realized AzureAD module uses its own authentication method and is entirely independent of the auth in Az module.

[2020-11-23 10:04] simonesavi commented on #552
Hi @AnatoliB, just created a new function with a user-assigned managed identity associate to it.

During the first execution the function downloads the dependencies and this means the Az.Accounts 2.2.1.

With this configuration I'm receiving below error:

`2020-11-23T09:50:54.445 [Warning] The first managed dependency download is in progress, function execution will continue when it's done. Depend

[2020-11-25 16:56] VasylZvarydchuk opened #565 "Occasional "A task was canceled" exception"
I have an Azure Function in PowerShell which runs during 15-30 minutes, does a lot of work calling different external APIs and fails from time to time in different places with this exception:

[code]

Here host.json

[code]
AF runtime version is 3 and PowerShell 7. Mostly it fails making external long calls but very weird that it fails from time to time (1 per 15-20 successful function executions)

[2020-11-28 02:54] AnatoliB commented on #565
@VasylZvarydchuk This is a very generic call stack that simply indicates that your Function code threw an unhandled exception. Any user code that throws an unhandled exception will lead to exactly the same call stack. The only meaningful thing the PowerShell worker is expected to do about this is to report the failure. There is no config parameter that would change that.

Since the root cause of t

[2020-11-30 18:49] VasylZvarydchuk commented on #565
Thank you @AnatoliB very much for the detailed response. Yes, apparently the issue is with `Az.Accounts` module which had a regression recently and we set it to a lower version. I'll create an issue in Az github. Closing the issue, thanks.

[2020-11-30 18:49] #565 closed, assigned to nobody

[2020-11-30 19:34] #561 closed, assigned to nobody

[2020-12-01 05:14] #559 closed, assigned to nobody

[2020-12-01 05:14] #504 closed, assigned to nobody

[2020-12-03 10:07] DanielSSilva commented on #221
I'm in a similar position as @Nilsas. I would like to have a function app that has control over containers instances and be able to start/stop them. Is this being worked on?

[2020-12-03 17:56] adi928 opened #570 "Importing external module introduces 'Request' parameter binding error."
Hi there,

I have been working on a Powershell Azure function app which runs successfully locally using Visual studio Code. For loading the external module locally, I added a directory called `modules` under each function folder and included module's psm1 file in it. I did not make any change to run.ps1, and everything ran properly. But when, I am deploying the function app, I'm editing requiremen

[2020-12-03 19:02] AnatoliB commented on #570
@adi928 Parameters should be declared closer to the beginning of the script, otherwise PowerShell is unable to find them. Try to invoke `Import-Module` after the `param` line (or just remove `Import-Module`, it is rarely necessary).

[2020-12-03 20:28] Fabiano2 commented on #368
Hi

[2020-12-03 20:30] Fabiano2 commented on #368
Hi, does someone know how to add %AppData%\npm\func to the path? I'm stuck in this problem.

[2020-12-03 20:35] Francisco-Gamino commented on #368
Hey @Fabiano2 -- The path to the Core Tools should be added automatically when you install the Core Tools.

A couple of questions:
What version of the Core Tools are you using?
How are you installing the Core Tools?

If the issue is with the Core Tools, please open a new issue here https://github.com/Azure/azure-functions-core-tools/issues and tag me on it. Thanks.

[2020-12-03 20:43] Fabiano2 commented on #368
@Francisco-Gamino  I guess my problem is the same as this topic.
I'm trying to Build and Test a Powershell Function locally. But when I try it, I get the message "Could not attach to process with CustomPipeName: 'AzureFunctionsPSWorker'".

When I try to run  "%AppData%\npm\func --version", It does not work.

[2020-12-03 21:47] Francisco-Gamino commented on #368
@Fabiano2 -- You can get this error for a variety of reasons. Could you please confirm that you configured your environment as described in here https://docs.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-powershell#configure-your-environment ?

[2020-12-05 23:09] adi928 commented on #570
Thanks @AnatoliB I don't know if it took time to reflect the various changes I applied, or something else. But the issue seem to have fixed. I'll re-open this issue if I encounter the same problem again.

[2020-12-05 23:09] #570 closed, assigned to nobody

[2020-12-11 09:28] robdmoore commented on #368
Hi @Fabiano2,

I'm getting the same problem.

I have the following in `tasks.json`:

[code]

I have the following in `launch.json`:

[code]

I have the following in `local.settings.json`:

[code]

When I execute it the function app runs and then I get the `Enter-PSHostProcess: No named pipe was found with CustomPipeName: AzureFunctionsPSWorker.` error.

I'm running:

* PS 7.1.0
* .NET Core 3.1 SDK

[2020-12-15 04:04] joeskeen commented on #543
If PowerShell 7.1 support is not planned for Azure Functions, can we at least make it possible to use the `PSNullConditionalOperators` experimental feature in 7.0? I've spent an hour trying to figure out why my code will run locally but not in Azure Functions, only to realize that it's behind a feature flag which cannot be changed (When I try `Enable-ExperimentalFeature PSNullConditionalOperators`

[2020-12-17 20:07] hosulik commented on #545
I have same problem. When I coded powershell directly in the Azure portal, my function worked. Later, I downloaded app content as Visual Studio project. I did some changes in the code and after publishing from Visual Studio, my function does not work anymore.
I downloaded diagnostic dump from Kudu. I have there more errors related to ImportModuleCommand.

[2020-12-19 06:38] AnatoliB opened #572 "Durable Function activity failures are difficult to handle"
When an activity function fails because of an exception, this exception is not propagated to the orchestrator function. For example, the `Invoke-ActivityFunction` call below will not throw any exception, will not write anything to the Error stream, the orchestration function will continue execution, and the orchestration will reach the 'Completed' status.

**Activity function (MyActivity):**
[code

[2020-12-22 20:12] AnatoliB opened #574 "When running locally, create the ManagedDependencies folder under the app folder instead of %LocalAppData%"
When running Functions locally, managed dependencies are automatically installed into `%LocalAppData%\AzureFunctions\<FunctionName>\ManagedDependencies`. One problem is that this location is not easily discoverable. As a result, the user who runs multiple apps locally ends up having many instances of potentially duplicated modules installed, without being aware of that. Furthermore, removing the a

[2020-12-23 02:52] AnatoliB opened #575 "Orchestrations don't terminate properly"
When a Durable orchestration is terminated by an external signal (e. g. using the [termination URI](https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-instance-management?tabs=csharp#retrieve-http-management-webhook-urls), the orchestration runtime status correctly changes to "Terminated", but the orchestrator function continues running, potentially invoking more activities

[2020-12-23 21:32] #575 closed, assigned to AnatoliB

[2020-12-24 00:11] AnatoliB opened #577 "Reference module with Functions-specific command declarations"
When authoring PowerShell functions, the Functions-specific commands (such as `Push-OutputBinding`, `Invoke-ActivityFunction`, etc.) are difficult to discover. The user must find the names and invocation syntax in the documentation and type them in correctly. These commands cannot be discovered interactively via the regular PowerShell means (`Get-Help`, `Get-Command`), and VSCode cannot help with

[2020-12-28 06:51] AnatoliB opened #579 "Enable-ExperimentalFeature does not work on Azure"
`Enable-ExperimentalFeature` fails with the "access denied" error. As a result, Azure Functions users cannot enable experimental PowerShell features.

Apparently, `Enable-ExperimentalFeature` needs write access to the `$env:HOME` directory, and this path is mounted as read-only (at least on Consumption). In order to fix this, we need to either make `$env:HOME` point to a writable location (such as

[2020-12-28 07:03] AnatoliB commented on #543
We are currently thinking about enabling PowerShell **7.2** early, while it is still in preview. PowerShell 7.2 will become LTS, so we definitely will support it (as opposed to 7.1, which will reach end-of-life in about one year). If you could use **PowerShell 7.2 (preview)** in Functions soon, would you still have a strong reason to use 7.1 instead?

This is to track the `Enable-ExperimentalFeatu

[2021-01-08 00:22] Francisco-Gamino opened #581 "Update requirements.psd1 templates on all clients"
Update requirements.psd1 templates on all clients. The new template should have the 'Az' = 'MajorVersion.*' commented out, e.g.,

[code]

[2021-01-08 00:23] Francisco-Gamino commented on #581
cc: @stefanushinardi

[2021-01-08 00:46] Francisco-Gamino commented on #581
Here are issues to track the changes on all the clients:

Core Tools -- > https://github.com/Azure/azure-functions-core-tools/issues/2377
Host (Portal) --> https://github.com/Azure/azure-functions-host/issues/7039
VSCode Extension --> https://github.com/microsoft/vscode-azurefunctions/issues/2618

[2021-01-13 01:46] cperson commented on #368
I came across this in my search and I was having the issue described. I ran `func: host start --verbose `

I noticed the terminal log got hung on a step where it's attempting to grab the latest Extensions for Azure Core tools (?). THen, I got the error described above.

That led me to remove the `"extensionBundle": {}` block in the `hosts.json` file of my project which ultimately resolved my issue

[2021-01-15 21:01] enoorden commented on #531
any update on this ? I'm seeing the same behaviour
if the servicebus message is plain text it ends up in $mySbMsg
if the message contains valid JSON it is deserialised and mixed with the other message properties!

test function :
[code]

Body : 'Plain Text Message 123!!'
![image](https://user-images.githubusercontent.com/49784059/104776717-c8b71380-577a-11eb-89be-4d540ad88f0a.png)

Body : '{"prope

[2021-01-17 21:15] jagdishrajan commented on #550
This essentially broke all my functions when my App Service upgraded automatically to 3.0.  Not sure why the upgrade happened but it will be nice to have sys back in $TriggerMetadata.

@AnatoliB, thank you FUNCTIONS_EXTENSION_VERSION workaround.

Unrelated to this particular problem but the upgrade kicked in because of this bug: [https://github.com/Azure/azure-functions-powershell-worker/issues/58

[2021-01-17 23:56] jagdishrajan opened #587 "FUNCTIONS_EXTENSION_VERSION ~2 does not work but ~2.0 works"
So far my FUNCTIONS_EXTENSION_VERSION has been set to ~2 and I've got the 2.x version of Azure Functions.  However, this morning that changed and I was switched to Azure Functions 3.x.  After some debugging I see that setting FUNCTIONS_EXTENSION_VERSION to ~2.0 keeps Azure Functions at 2.x but ~2 does not.

[2021-01-19 00:10] anirudhgarg commented on #587
@jagdishrajan - have a look at this: https://github.com/Azure/app-service-announcements/issues/266

[2021-01-19 00:54] #587 closed, assigned to nobody

[2021-01-19 04:13] AnatoliB commented on #550
I would recommend setting FUNCTIONS_EXTENSION_VERSION to an older version _as a very short-term workaround only_: doing so means opting out of all future updates and fixes. A better solution would be to use conventional PowerShell code and remove the dependency on `sys`:

- Instead of `sys.UtcNow`, use `(Get-Date).ToUniversalTime()` (also, `Get-Date -AsUTC` will be available in PS 7.1+)
- Instead

[2021-01-19 22:32] AnatoliB opened #588 "Upgrade to PowerShell SDK 7.0.4"
See https://github.com/PowerShell/PowerShell/releases/tag/v7.0.4

[2021-02-04 04:26] derhallim opened #595 "Unable to install module in a PowerShell project."
### Expected behavior

### Actual behavior

[code]

I am using VSCode with PowerShell. This is the content of host.json:

[code]
I am still doing the development locally, but using Azure for the storage. Is there something else that needs to be done? Does the requirements.psd1 only works when the function is pushed to the cloud?

[2021-02-04 20:25] alrod opened #594 "Add support for RetryContext"
Issue: Azure/azure-webjobs-sdk#2595 added support to access retry context within execution context.

This tracking item to expose the same property in python functions. Currently blocked on Azure/azure-functions-host#7048

[2021-02-05 08:52] enoorden commented on #531
found a solution
if you remove the default '[string]' cast from the $mySbMsg parameter you get a hashtable with just the properties in the json message

[code]
Body : '{"property1":"value1", "property2":"value2"}'
![image](https://user-images.githubusercontent.com/49784059/107010423-9bb4ba00-6796-11eb-962d-b52a3c43f2e8.png)

guess the 'hidden serialization magic' comes into play here.. but this is

[2021-02-05 23:55] EwertonJordao commented on #531
I think by design haved be the same implementation for $mySBMsg and $TriggerMetadata(include some informations about trigger when start to running, etc...), why input bingind it is a string? if you user httptrigger  you get a json automatic transform in hashtable.

PowerShell users don't need looking for convert an string to JSON, You will acess the properties with $mySBMsg.something from IN bindi

[2021-02-09 21:01] AnatoliB commented on #595
@derhallim Installing modules via requirements.psd1 works both locally and in the cloud. Your code looks correct.

What makes you think the module is not installed? Does you function app fail? Do you have any logs?

Your code looks correct, but please keep in mind:

- The modules are installed to a special location that is automatically made available to the function app when it runs. These module

[2021-02-10 19:45] cveld commented on #162
What would be the best way to write custom properties to the log in order to query for them with Kusto? Now I have to strip the "INFORMATION" prefix from the message first:
[code]

I use the following PowerShell:
[code]

Unfortunately the `TrackTrace` invocation does not get correlated with the actual request as @justingrote already confirmed. For now I believe the only way to find the related `Op

[2021-02-10 19:48] JustinGrote commented on #162
@cveld Pretty much what you did (use your own telemetry client) was going to be my suggestion.

[2021-02-11 18:42] Francisco-Gamino commented on #581
All three clients have been updated with the latest `requirements.psd1` template changes, closing issue.

[2021-02-11 18:42] #581 closed, assigned to Francisco-Gamino

[2021-02-12 03:54] AnatoliB opened #596 "Upgrade to PowerShell SDK 7.0.5"
See https://github.com/PowerShell/PowerShell/releases/tag/v7.0.5

[2021-02-12 03:54] AnatoliB commented on #588
Superseded by  #596

[2021-02-12 03:54] #588 closed, assigned to nobody

[2021-02-12 10:49] sebader commented on #221
@Nilsas not sure if this is still relevant for you, but there is often times the workaround of using [Invoke-AzRestMethod](https://docs.microsoft.com/en-us/powershell/azure/manage-azure-resources-invoke-azrestmethod?view=azps-5.5.0) and the REST API of a service directly. For example to execute on ACI: https://docs.microsoft.com/en-us/rest/api/container-instances/containers/executecommand

[2021-02-12 18:14] #596 closed, assigned to nobody

[2021-02-12 19:37] davidmrdavid opened #597 "Add support for the local RPC endpoint"
The Durable Extension recently introduced a [local rpc endpoint](https://docs.microsoft.com/en-us/dotnet/api/microsoft.azure.webjobs.extensions.durabletask.durabletaskoptions.localrpcendpointenabled?view=azure-dotnet) feature that enables Durable SDKs to communicate directly to the Durable Functions API, whereas before this communicate would occur via HTTP calls. Without this feature, we cannot in

[2021-02-13 23:00] ghost commented on #595
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-02-15 01:55] cholmes12 commented on #555
I get this error every time I run an Azure Function.  Is there a way to resolve it?  I have proxies.json configured.

[2021-02-17 00:01] #595 closed, assigned to nobody

[2021-02-18 01:37] msidave commented on #221
@AnatoliB yaml file import, `az container create --file options.yml`, does not exist in Azure Powershell. Looking for the same thing as @DanielSSilva , the ability to create, start, stop, and remove container instances.

az cli supports secure environment variables and volume secret mounts through the yaml file import.

[2021-02-19 18:07] Willem-J-an opened #600 "Deployment of version 7 using ARM templates"
I've been trying all day to deploy a Powershell 7 azure function using an ARM template, but no matter what I do, I always get a Powershell 6 function app, with no way to upgrade. It does work when using the Azure Portal, and when using Azure Powershell. I completely copied the templates they use, but still, version 7 is out of reach. Any ideas why this wouldn't work?

The suggested migration steps

[2021-02-22 10:23] Willem-J-an commented on #600
The appsetting FUNCIONS_WORKER_RUNTIME was misspelled. I'm blind.

[2021-02-22 10:23] #600 closed, assigned to nobody

[2021-02-23 23:59] linlidialpad commented on #545
I had the same issue running it from VS code the first time after all prerequisites installed. Restarting my mac solved the problem.

[2021-02-24 19:24] Francisco-Gamino opened #601 "Managed Dependencies: when purging, log the current number of dependency snapshots installed and how many (snapshots) we should keep"
When purging, log the current number of dependency snapshots installed and how many (snapshots) we should keep. The number of snapshots to keep is determined by the app setting `MDMinNumberOfSnapshotsToKeep` or 1 if the setting is not preset.

The log statement should be added at https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/DependencyManagement/DependencySnapshotPurger.c

[2021-02-26 00:25] Francisco-Gamino commented on #537
This work has been completed.

[2021-02-26 00:25] #537 closed, assigned to Francisco-Gamino

[2021-02-27 01:34] AnatoliB opened #602 "When a prerelease module version is specified in requirements.psd1, every PowerShell worker process installs it's own dependencies snapshot"
**Problem**

When a prerelease module version is specified in `requirements.psd1`, every PowerShell worker process installs it's own dependencies snapshot, even if one is installed already. This leads to very long cold start on each PowerShell worker unnecessarily.

For example, if `requirements.psd1` contains:

[code]

the worker will successfully install a dependency snapshot on the first functi

[2021-02-27 03:58] #602 closed, assigned to AnatoliB

[2021-03-01 18:58] #601 closed, assigned to Francisco-Gamino

[2021-03-12 05:01] AnatoliB opened #606 "Upgrade to PowerShell SDK 7.0.6"
See https://github.com/PowerShell/PowerShell/releases/tag/v7.0.6

[2021-03-12 05:28] linlidialpad commented on #316
This issue is still happening to me as of today, can you help? Let me know any information you need from me.
![Screen Shot 2021-03-11 at 9 17 40 PM](https://user-images.githubusercontent.com/57730092/110896535-a9d38a00-82b0-11eb-903b-23c70c68eb43.png)

[2021-03-12 05:44] JulianHayward opened #607 "PowerShell - parallel processing / scaling without concurrency"
Hi,
Trying with the default durable functions templates (from the portal) to achieve parallel processing/scaling as per [article](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=powershell#fan-in-out).
_In the fan out/fan in pattern, you execute multiple functions in parallel and then wait for all functions to finish._

However it seems that the Activ

[2021-03-12 18:56] AnatoliB commented on #602
This fix should be deployed to Azure within ~2 weeks. Until then, please use one of the workarounds.

[2021-03-12 18:57] AnatoliB commented on #316
@linlidialpad If you are using any pre-release module versions, you are probably affected by https://github.com/Azure/azure-functions-powershell-worker/issues/602. If you are _not_ using any pre-release module versions, please let us know. In this case, please also share your `requirements.psd1`, if possible.

[2021-03-13 06:15] linlidialpad commented on #316
@AnatoliB Thanks for the quick response! It is indeed caused by some preview module version and switching to release version has resolved the problem :)

[2021-03-15 07:32] AnatoliB commented on #607
The short answer is: this behavior is expected by design; if you want your activities to run in parallel, you also need to enable concurrency. We do not promise parallel processing without concurrency, even when using the Fan-out/Fan-in pattern.

In this case, how do Durable Functions help scalability, and what is the point of the Fan-out/Fan-in pattern? These are excellent questions, thank you.

[2021-03-15 07:34] AnatoliB commented on #607
Closing this issue as I believe the question is answered. Please feel free to continue the discussion here if you have more questions or concerns on this topic.

[2021-03-15 07:34] #607 closed, assigned to AnatoliB

[2021-03-16 08:37] Agazoth opened #610 "Az.Accounts v 2.2.6 get's loaded without being defined in requirements.psd1"
I have a function, that utilizes a module that is incompatible with Az.Accounts 2.*

I have a requirements.psd1 file defining the following modules:
[code]

When loading the functions for the first time, Az.Accounts 2.2.6 gets loaded along with the other modules even though it is not defined in the file, and my code breaks

I can delete the 2.2.6 folder from the share on the storage account (found

[2021-03-16 17:17] AnatoliB commented on #610
**Why this is happening**

The dependencies between Az.* modules are set up in such a way that installing almost any Az.* module leads to installing the latest Az.Accounts side-by-side with any other installed version. After the module is installed to the file system, any attempt to invoke a command from this module or any dependent module makes PowerShell load the latest Az.Accounts.

**What you

[2021-03-16 17:17] #610 closed, assigned to nobody

[2021-03-16 18:46] Agazoth commented on #610
Thanks @AnatoliB I'll give that a shot right away and check back in.

[2021-03-18 14:26] mariussm opened #611 "Failure to connect using the MicrosoftTeams 2.0.0 PowerShell module in function"
Trying to use the MicrosoftTeams PowerShell module version 2.0.0 as a managed dependency causes Connect-MicrosoftTeams to error out with the following error message, with chinese characters:

[code]

This happens only when loading the module without the -UseWindowsPowerShell parameter for Import-Module:

## PowerShell example

[code]

## requirements.psd1

[code]

When using the -UseWindowsPowerSh

[2021-03-18 21:32] AnatoliB opened #612 "Document the way to use a specific module version when multiple versions get installed side-by-side"
Depending on the content of `equirements.psd1` and the module versions available on the PowerShell Gallery, multiple versions of the same module may be installed to the file system side-by-side. It is not immediately obvious to the user which version will be used as a result, and how to force the app to use a desired version. We need to document the guidance (specifically, the `Import-Module` step

[2021-03-19 17:31] erwanolivo commented on #611
I get a similar issue. I am trying to use MicrosoftTeams cmdlet in an Azure Function v3 (http trigger), with PowerShell v7.

I am able to login with `Connect-MicrosoftTeams -Credential $cred `.

When trying to use some old `skypeonlineconnector` cmdlets (for example, `Get-CsOnlineUser`), I do have the same exception :

`Exception calling "GetSteppablePipeline" with "1" argument(s): "Object referen

[2021-03-25 19:37] PingMudit commented on #221
Hi @AnatoliB I want to create keyvault secret refences to app configuration. I don't see a powershell cmdlet available which can be used for this. I wanted to use event grid function so that when a new secret gets created, the function creates it's reference as well in app configuration. References can be set using CLI but it's not yet supported in functions. Will the above workaround of uploading

[2021-03-25 19:50] AnatoliB commented on #221
@PingMudit If you are looking for a way to update app settings in general, [Update-AzFunctionAppSetting](https://docs.microsoft.com/en-us/powershell/module/az.functions/update-azfunctionappsetting) is probably what you need. Uploading CLI to the file system works in general, though I cannot guarantee it will satisfy all possible scenarios.

[2021-03-26 04:23] PingMudit commented on #221
@AnatoliB Unfortunately, with Update-AzFunctionAppSetting, only app configuration modifications are supported.. I wanted to create reference of keyvault secrets under App Configuration -> Configuration Explorer which isn't supported by above cmdlet. I was wondering if the workaround of uploading CLI2.zip will help here in using CLI within Azure Powershell functions?

[2021-03-26 05:45] AnatoliB commented on #221
@PingMudit Ok, I see what you mean now. I don't know if this is currently covered by any Azure PS cmdlets. However, if it is covered by CLI, try to upload it as described above. Like I said before, this workaround allows using CLI in PowerShell Functions in general. I don't know if anyone tested adding keyvault secret references specifically, but there is a good chance it will just work.

[2021-03-26 07:20] PingMudit commented on #221
@AnatoliB Thanks for your quick reply. I followed the steps mentioned above and added alias as well in profile.ps1
`if ($env:MSI_SECRET -and (Get-Module -ListAvailable Az.Accounts)) {
    Connect-AzAccount -Identity
    Set-Alias -Name az -Value "C:\home\data\CLI2\wbin\az.cmd"
}`
I had initially set drive letter as D:\, however when I saw error, it was taking C:\ drive as root.
I am getting error

[2021-03-26 11:30] PingMudit commented on #221
@AnatoliB Thank you for your quick response! I tried to set alias in profile.ps1 but it kept giving me error that az is not recognized. Then I added Set-Alis directly in function.
![SetAlias](https://user-images.githubusercontent.com/51925798/112626203-e5945500-8e55-11eb-81d8-5c796d79d361.JPG)

This seems to be working as I can see output for command `az login --identity`. However when I try to se

[2021-03-26 17:27] AnatoliB commented on #221
@PingMudit I would suggest following up with the Az CLI owners on this. The az command seems to be invoked correctly (from the PowerShell perspective), but az throws an exception (seems to be coming from the knack package).

[2021-03-27 18:05] PingMudit commented on #221
@AnatoliB Thanks for your guidance on this. I changed my automation flow as there seems to be limitations with cmdlets for App Configuration. However when I use `Get-AzAppConfigurationStore`. Screenshot of error attached.
![function not supporting cmdlet](https://user-images.githubusercontent.com/51925798/112730004-0f807100-8f55-11eb-86a9-f93416216a26.JPG)
Kindly let me know if I should add app co

[2021-03-27 19:00] AnatoliB commented on #221
@PingMudit The message on your screenshot explains the reason, and the link points to the instructions :-)

[2021-03-29 17:38] regionw commented on #232
Was able to load the module (apparently) using the steps provided here. However I still get error : The term 'Connect-AzureAD' is not recognized as the name of a cmdlet, function, script file, or operable program.
the function runs the Import-Module AzureAD -UserWindowsPowershell with no errors

[2021-03-29 17:42] asifma commented on #251
THAN YOU SO MUCH. THIS SOLVED THE ISSUE I HAD :)

[2021-03-29 18:36] AnatoliB commented on #232
@regionw Please note the typo: the switch name is UseWindowsPowerShell, not Use_r_WindowsPowershell

[2021-03-30 03:30] Cyb3rWard0g commented on #220
Hello @Francisco-Gamino ! Quick question, I tried to do this inside of my Azure Function today:

[code]

And I got the following error:

[code]

I wonder if this is related to this issue. Is related to this.

These are the app settings
[code]

Let me know if I need to maybe move this issue to the right place. Thank you!

[2021-03-30 16:22] Willem-J-an opened #613 "Durable functions does not work in combination with App Service AD Authentication / Authorization"
Is this a bug or a missing feature?

The observed behavior:
- AD authenticated call returns OrchestrationCheckStatusResponse object
- The provided URLs  in the response object do not work with a bearer token included, or excluded. (404 and 403)
- The Orchestration function does not trigger after Start-NewOrchestration

It works fine locally, and works fine in the cloud when I disable AD authentica

[2021-04-02 01:12] regionw commented on #232
Tks AnatoliB,

it was a typo on the question. The actual command was correct. Was getting inconsistent results, then it started working.
Tks for answering.

[2021-04-02 19:05] Francisco-Gamino opened #614 "Upgrade to PowerShell SDK 7.0.6"
See https://github.com/PowerShell/PowerShell/releases/tag/v7.0.6

[2021-04-02 21:09] #614 closed, assigned to Francisco-Gamino

[2021-04-07 19:28] Francisco-Gamino opened #616 "PowerShell worker E2E tests -- install Microsoft.Azure.WebJobs.Extensions.DurableTask via extensionBundle instead of dotnet add package"

[2021-04-07 22:26] #616 closed, assigned to Francisco-Gamino

[2021-04-13 16:14] stefs987 commented on #613
I've just been battling this same issue today until I came across this issue. Same result, PowerShell Durable Function app secured with AD, results in HTTP starter function running successfully, apparently returning an instance ID for the orchestration, but orchestrator never runs and never starts, no logs, nothing in storage account/queues etc. Eventually, I get a (slightly bizarre) 404 back in L

[2021-04-14 10:19] emulic commented on #550
Here is my reason why I need to use sys properties:
- I'm using {sys.UtcNow} in the binding in function.json to build file name to be uploaded to Blob Storage.
- In my PS function I need this sys.UtcNow value to identify the uploaded file in order to create a SAS token for this file.
Unfortunately the proposed solution with  `(Get-Date).ToUniversalTime()` doesn't solve this.

Originally I wanted t

[2021-04-15 00:49] Ayanmullick commented on #543
I would like to use the `-UseNewRunspace` parameter for the `ForEach-Object` cmdlet in AzFunctions. Currently it doesn't work.

[2021-04-15 09:23] lafe commented on #611
I have the same issue with the current stable 2.0 version. I experimented with the unstable 2.1 version and it seems to work. My requirements.psd1:

[code]

Not sure if the `Az` module is necessary for Teams only, but I have some other commands in the script that requires it and maybe this has also a side effect on the `MicrosoftTeams` module.

[2021-04-16 08:07] erwanolivo commented on #611
I just tried with the 2.1.0-preview MicrosoftTeams module, it seems to work also.

I don't have the 'Az' module installed, so only the package itself seems to be enough.

I suppose we have now to wait for a stable package !

[2021-04-18 03:29] AnatoliB opened #622 "Activity function output is always logged"
When an Activity function writes to Output, this data becomes the return value of the Activity, by definition. This is different from how Output is treated in non-Activity functions: data written to Output is logged, but the function must explicitly invoke `Push-OutputBinding` for the function to actually propagate this data somewhere else.

The problem is that Activity function Output is not just

[2021-04-20 20:53] #622 closed, assigned to AnatoliB

[2021-04-21 04:34] AnatoliB commented on #606
Dupe of #614

[2021-04-21 04:34] #606 closed, assigned to nobody

[2021-04-21 21:27] AnatoliB commented on #597
These are not currently supported in PowerShell Functions:

- purgeInstanceHistory
- terminate
- getStatusBy

So, I will be closing this issue when #626 is merged. When we implement the three features above, we will use the local RPC endpoint from the beginning.

[2021-04-22 00:40] #597 closed, assigned to nobody

[2021-04-22 00:40] #613 closed, assigned to AnatoliB

[2021-04-26 16:21] Francisco-Gamino opened #630 "Enable task hubs for Durable E2E tests to make each test run unique"
Enable task hubs for Durable E2E tests to make each test run unique. For more information on this, please see https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-task-hubs?tabs=csharp

"A task hub in Durable Functions is a logical container for Azure Storage resources that are used for orchestrations. Orchestrator and activity functions can only interact with each othe

[2021-04-27 03:22] #630 closed, assigned to Francisco-Gamino

[2021-04-28 06:42] Francisco-Gamino opened #632 "Set ManagedDependenciesPath for both AppService and Linux Consumption environments"
Follow the same logic as the Functions Host. For more information, see https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/Environment/EnvironmentExtensions.cs#L240.

[2021-04-28 21:13] #632 closed, assigned to Francisco-Gamino

[2021-05-06 00:01] TheGreggle opened #634 "Set-DurableCustomStatus doesn't exist on Azure Functions PaaS"
Attempting to call `Set-DurableCustomStatus` as per the example [here](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/examples/durable/DurableApp/CustomStatusOrchestrator/run.ps1) on Azure PaaS.

On Azure PaaS, the error `The term 'Set-DurableCustomStatus' is not recognized as the name of a cmdlet, function, script file, or operable program.` occurs. The same issue was posted

[2021-05-06 01:54] AnatoliB commented on #634
@TheGreggle To use this feature, you need Functions runtime 3.0.15584 or higher, and it may not be rolled out to your region yet. Please **restart your app** and check the version under Overview/Essentials in the Portal (you may need to wait for a few seconds for it to appear):

![image](https://user-images.githubusercontent.com/11563624/117230934-ff20a900-add2-11eb-94c8-d4a734752eef.png)

If you

[2021-05-06 02:52] TheGreggle commented on #634
@AnatoliB thanks for your quick response.

I didn't know that Runtime version was there. Very handy.

My function version is 3.0.15584.0 and in the Australia East region.
Is there anything else I can run to give you some more information?

[2021-05-06 05:37] AnatoliB commented on #634
@TheGreggle I was unable to reproduce the issue on 3.0.15584. If this still happens for you, could you please point us to the invocation logs by using [these instructions](https://github.com/Azure/azure-webjobs-sdk-script/wiki/Sharing-Your-Function-App-name-privately)? Could you please also share the entire source code of your orchestrator function?

[2021-05-06 10:29] TheGreggle commented on #634
@AnatoliB thanks again for your assistance. To be sure, and so I could send you a clean example, I deployed the unmodified [example](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/examples/durable/DurableApp/CustomStatusOrchestrator/run.ps1) and it worked.

I then re-deployed my version (which was failing) and it worked. I think I was just unlucky, and version 3.0.15584 must h

[2021-05-07 20:13] AnatoliB commented on #634
Closing for now, please let us know if it happens again

[2021-05-07 20:13] #634 closed, assigned to nobody

[2021-05-12 15:30] jhauray opened #636 "fan-out/fan-in pattern - Orchestrator invocated multiple times"
Hello,

I implemented a Durable Function with fan-out/fan-in pattern, trigger by Timer. My code contains 3 functions :
- TimerStarter : Binded with Timer and Orchestration client.
- DurableOrchestrator : Binded with orchestrationTrigger.
- ProcessActivity : Binded with activityTrigger.

PowerShell version : 7.
Runtime version : v3.
Function is hosted in a Elastic Premium Service Plan (Windows).
Ti

[2021-05-12 22:15] AnatoliB commented on #636
@jhauray By design, Durable Orchestrator functions re-execute multiple times. The _replay_ behavior and the _event sourcing_ pattern are fundamentally important for Durable Functions. You can read more about this here:

- https://docs.microsoft.com/azure/azure-functions/durable/durable-functions-orchestrations?tabs=csharp#reliability
- https://docs.microsoft.com/azure/azure-functions/durable/durab

[2021-05-12 22:15] AnatoliB commented on #636
I hope this helps. Closing as the question is answered, but feel free to ask more questions.

[2021-05-12 22:15] #636 closed, assigned to AnatoliB

[2021-05-21 20:34] AnatoliB opened #637 "Upcoming Az modules breaking change"
## Change

The upcoming versions of Az modules may not work correctly on older versions of PowerShell. For more details, see the [Azure PowerShell announcement](https://github.com/Azure/azure-powershell/issues/15035).

## Impact

The following PowerShell Function apps may be impacted:
- PowerShell 6 apps (on any SKU) that don't pin Az.Accounts to version 2.2.8 or earlier, or use Az version 6.\* or

[2021-05-25 08:25] kavyabgowda commented on #221
I tried manually uploading CLI2 inside folder as well as in data folder both worked. But when I zipped the site folder and publish the zip file using terraform it's not working..its justshowing information logs not even errors. Is there any way to publish the az modules completely along with code to function app using terraform

[2021-05-26 20:51] Francisco-Gamino commented on #242
Reusing runspace is by design. We do not have plans to fix this. If you still experience issues by reusing runspace, please let us know.

[2021-05-26 20:52] Francisco-Gamino commented on #242
@stefanushinardi -- could you please update our docs with this information? Thanks.

[2021-05-26 22:08] AnatoliB commented on #77
Thank you everyone for your patience, feedback, and contributions! PowerShell support in Durable Functions is now [generally available](https://azure.microsoft.com/en-us/updates/powershell-support-in-durable-functions-is-now-generally-available). As always, your feedback is very welcome.

[2021-05-26 22:08] #77 closed

[2021-05-26 22:59] JustinGrote commented on #77
@AnatoliB great achievement! Will the examples docs be updated?

[2021-05-26 23:14] AnatoliB commented on #77
@JustinGrote We've recently added more samples, all the major patterns and features are supposed to be covered. There are still some minor gaps in both the docs and the implemented features. Please let us know if you find that something important is missing.

[2021-05-26 23:17] JustinGrote commented on #77
@anatolliB none of the examples in this section have Powershell equivalents, am I looking in the wrong place?
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-sequence?tabs=csharp

[2021-05-26 23:30] AnatoliB commented on #77
@JustinGrote You are right, the Tutorials section is not updated yet. These topic are supposed to be mostly covered by https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=powershell. But thank you for pointing this out, we'll take care of it.

[2021-05-27 20:03] AnatoliB opened #638 "The Tutorials section of Durable Functions docs is missing PowerShell examples"
https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-sequence

[2021-05-27 20:04] AnatoliB commented on #542
PowerShell examples are added

[2021-05-27 20:04] #542 closed, assigned to AnatoliB

[2021-05-28 15:46] JustinGrote commented on #538
Just updating that this is still an issue and leads to an extremely poor debugging experience. Here's a twitter complaint:
https://twitter.com/Ehuggz1/status/1398276053827821570

[2021-05-28 16:24] ehuggz commented on #538
@JustinGrote In the middle of a long debugging session, I suddenly started getting an error on Host lock lease. I did two things to clear up the error: 1) Create new Function App from VS Code and migrate code to new app. 2) Remove ALL Vscode extensions except those needed for Azure Account, Axure Functions, Azure Resources, PowerShell, Remote-WSL. This cleared the original error - but now I cannot

[2021-06-02 15:54] hobbesuk commented on #221
I've also hit this limitation on not having access to the az cli commands, I've tried converting to using the Azure Powershell module but I can't find an equivalent way of running the following:

`az monitor app-insights query`

The powershell module doesn't have the ability to run queries, the recommended approach is to call the rest API of application insights, but I have no API key for my Appli

[2021-06-02 23:38] Francisco-Gamino opened #639 "Improve user diagnostics for Managed Dependencies"
Improve user diagnostics for Managed Dependencies:
1) Errors
2) Detector

[2021-06-02 23:59] Francisco-Gamino commented on #551
Could you please use the `Set-DurableCustomStatus` to get the status of your orchestration as described here https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-custom-orchestration-status?tabs=powershell#visualize-progress?

[2021-06-05 00:26] Francisco-Gamino opened #640 "Investigate why Stop-DurableOrchestration returns `404 Not Found` on an started orchestration"
The repro is available at https://github.com/Azure/azure-functions-powershell-worker/blob/dev/test/E2E/TestFunctionApp/DurableClientTerminating/run.ps1#L14

[2021-06-07 02:01] ghost commented on #551
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-06-07 21:06] AnatoliB opened #642 "The Reference/Bindings section of Durable Functions docs is missing PowerShell examples"
See https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-bindings?tabs=csharp

[2021-06-07 21:08] AnatoliB opened #643 "No PowerShell API section under Reference"
![image](https://user-images.githubusercontent.com/11563624/121101290-68b81c80-c7b0-11eb-8e20-29ce2a58a617.png)

There are API sections for other languages, e.g. https://docs.microsoft.com/en-us/python/api/azure-functions-durable/azure.durable_functions?view=azure-python

[2021-06-10 03:01] #551 closed, assigned to nobody

[2021-06-11 21:35] #553 closed, assigned to nobody

[2021-06-11 21:55] Francisco-Gamino commented on #577
A possible solution is to have a module in the PowerShell worker repro that has the same cmdlet signature and help content.  The user will have to download this module and append the path of this module to `$env:PSModulePath`.

[2021-06-11 21:59] Francisco-Gamino commented on #579
Reach out to the PS team to see if we can make `$env:HOME` configurable.

[2021-06-14 09:39] Shadoxity opened #644 "msonline module - where statements not working"
Hey Team,
I am trying to get a script working but any time I pipe a "where" or "Where-object" into it, I get zero results.

i.e.
$UserNames = Get-MsolUser -TenantId $tenantid -ALL | Where {($_.licenses).AccountSkuId -ilike "*$($licenseName)"} | Sort-Object DisplayName

If i run the same script locally it works perfectly fine, but just does not work in functions.
If i remove the Where statement it

[2021-06-16 01:27] kwill-MSFT opened #645 "$env:PSModulePath set incorrectly for second instance when PSWorkerInProcConcurrencyUpperBound > 1"
Repro steps
1. Create new Functions project
2. Add 2 TimerTrigger functions, both with `"schedule": "*/1 * * * * *"`
3. Add `Start-Sleep -Seconds 5` into the code for both timer functions.  This ensures they both try to execute simultaneously.
4. In local.settings.json, set `"PSWorkerInProcConcurrencyUpperBound": "2"`
5. Include the Az modules in requirements.psd1
6. Add code to profile.ps1 which

[2021-06-16 18:00] AnatoliB commented on #645
Thank you @kwill-MSFT.

A few more details:

- Something somewhere adds `C:\Users\xxx\Documents\PowerShell\Modules` and `C:\Program Files\PowerShell\Modules` folders to the process-scoped `PSModulePath` environment variable. These folders are usually automatically added by the stand-alone `pwsh.exe`, but we don't use the stand-alone `pwsh.exe` in the worker, and the worker sets its own `PSModulePa

[2021-06-16 21:20] kwill-MSFT opened #646 "Push-OutputBinding not working in ActivityTrigger"
Using the standard VSCode function creation templates, I created an orchestrator with an activity function defined as:

function.json
[code]

run.ps1
[code]

The Write-Information lines get logged, but no queue item is created.  The same Push-OutputBinding works fine from other triggers such as an httpTrigger.

Repro attached.
* Queue item gets generated correctly when running http://localhost:707

[2021-06-16 23:41] Francisco-Gamino commented on #612
Doc is available at https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#dependency-management.

[2021-06-16 23:41] #612 closed, assigned to nobody

[2021-06-16 23:45] Francisco-Gamino commented on #643
This work item has a dependency on https://github.com/Azure/azure-functions-powershell-worker/issues/577.

[2021-06-16 23:49] Francisco-Gamino commented on #644
Hello @Shadoxity -- Thank you for reporting this issue. Are you importing the module using the `-UseWindowsPowerShell` ?

[2021-06-16 23:55] Shadoxity commented on #644
Yes, definitely.
The module doesnt work unless you do  that.

I am wondering if its something to do with "deserialized" objects. as it says this when importing the module.
Module msonline is loaded in Windows PowerShell using WinPSCompatSession remoting session; please note that all input and output of commands from this module will be deserialized objects.

and some more digging I have found the

[2021-06-17 00:44] AnatoliB opened #647 "When the module version does not *precisely* match the version on the PS Gallery, the worker keeps downloading modules too often"
If `requirements.psd1` contains a module version that is similar but is not precisely equal to the version on the PS Gallery, the worker downloads modules on every worker start, consuming more and more storage. For example, this app will run into the issue:

**requirements.psd1**

[code]

The problem is that the PS Gallery has version **1.5.0** of this module, but not **1.5**. However, the `Save-M

[2021-06-17 06:06] Francisco-Gamino commented on #644
Thanks for the reply @Shadoxity.

There is another potential workaround you can try which uses the Windows PowerShell version in the worker (this is the VM where your function code is executed).

The workaround is described here: https://github.com/Azure/azure-functions-powershell-worker/issues/232#issuecomment-536744760.

Here is a full example: https://github.com/eamonoreilly/ManageAzureActiveDi

[2021-06-17 08:38] Shadoxity commented on #644
Great idea, and it seems to work! Just need to work out getting the right output from it!
Genius! Thanks so much for sharing that, that will get me out of trouble for now.

[2021-06-17 17:26] Francisco-Gamino commented on #644
Great to hear the workaround is working. I will follow-up with the PowerShell Team on the serialization issue. Thanks.

[2021-06-21 18:41] Francisco-Gamino opened #648 "Document possible workaround for modules that only run on Windows PowerShell"

[2021-06-23 20:45] Francisco-Gamino commented on #611
Hello @tameemansari and @brandber -- Do you know if the issues above are fixed in the latest version of the MicrosoftTeams module (https://www.powershellgallery.com/packages/MicrosoftTeams/2.4.0-preview).

[2021-06-23 20:59] Francisco-Gamino commented on #647
Use Find-Module to try to find the version required by the app. If not match is found, write a warning with the available versions.

For V4, the warning will be an error (breaking change).

[2021-06-25 01:36] Francisco-Gamino opened #649 "Update profile.ps1 to include the Environment (if available) in Connect-AzAccount"
This change will be required in all Functions' clients.

This is the current template:

[code]

Propose change:
[code]

[2021-06-25 14:29] kwill-MSFT opened #650 "$triggerMetadata.isReplaying is always True after the first Invoke-ActivityFunction"
In C#, the context.IsReplaying property would reflect the replaying status up to that line of code.  But in Powershell, once the first activity function is called, then the value of $triggerMetadata.isReplaying is always true for every line of code executed after that.

IsReplaying is critical for logging - without it I can only effectively log from the very beginning or the very end of an orchest

[2021-06-25 19:09] AlexHimself commented on #545
I installed all of the prereq's and followed the steps and I have the same issue. No clue, it's pretty vanilla. Seems like there's an issue with the instructions.

[2021-06-28 14:42] kwill-MSFT opened #651 "Improve error when input binding is missing"
If you have the default input binding for an Activity Function:
[code]

But the run.ps1 is expecting an input parameter of a different name (ie. $InputObject):
`param($triggerMetadata, $InputObject)`

Then a generic error is thrown when running the project in the local emulator:
[code]

**Expected:**
The error message should indicate the name of the function that failed to load.  "function id 8c71

[2021-06-28 22:18] AlexHimself commented on #221
I'm trying to use Azure Functions (PowerShell) + App Configs, but I cannot enumerate the Key/Value pairs in the config store using the Azure PowerShell, so I can't use the config store unless I do the entire workaround...

[2021-06-28 23:41] Francisco-Gamino commented on #649
Can we use a variable from the Sandbox to figure out the environment?

[2021-06-29 05:16] Szeraax commented on #332
I was chatting with Jaykul about this tonight and we confirmed that this doesn't work in Pwsh:

[code]

But this does work fine in pwsh:

[code]

[2021-07-01 08:37] heglund commented on #555
I can second this - I seem to be having the same exact issue.

[2021-07-01 16:21] Francisco-Gamino opened #652 "Consider purging before installing function app dependencies in required mode"
Currently, the PowerShell worker has two dependency installations modes:
1) Required – this is when there are no dependencies installed for the function app
2) Optional – this takes place when there are dependencies already installed for the app. In this case, the PowerShell worker downloads a new set of dependencies and checks if these dependencies are newer that the ones currently installed. If

[2021-07-01 17:23] AnatoliB commented on #652
Alternatively, consider changing the background purge schedule here: https://github.com/Azure/azure-functions-powershell-worker/blob/c3ca16e0750089741f5dcb63d7fdbe0047553e13/src/DependencyManagement/BackgroundDependencySnapshotMaintainer.cs#L45

If we pass something like 1 minute to the `dueTime` parameter, this is when the first purge will happen. If we do this, we will avoid impacting cold start

[2021-07-04 19:33] vonbartas commented on #545
Hi,
I have the same issue.

[2021-07-07 17:29] Francisco-Gamino opened #653 "Add log statement that specifies how long it took to download a module from the PowerShell Gallery"
This would be useful to setup alerts if downloading modules from the PowerShell Gallery is taking too long.

[2021-07-07 20:38] Francisco-Gamino commented on #652
We should add an app setting, e.g., `MDDelayBeforePurge` to specify how long to wait before the first purge. One minutes seems like a good default value.

[2021-07-07 20:43] Francisco-Gamino commented on #653
Consider appending to the existing log message that indicates that we are done downloading a module.

[2021-07-10 03:29] Francisco-Gamino opened #654 "The dependency snapshot name is not unique enough"
Currently, a snapshot name contains a timestamp with 3 digits precision for a second.

Consider increasing the fraction of a second to 7 digits precision.

[2021-07-14 01:14] #654 closed, assigned to Francisco-Gamino

[2021-07-20 18:21] stvpwrs opened #656 "Question - Loading Modules and PS Sessions"
This is a general question. Is there any documentation on best practices for importing modules? Can modules be imported through the profile.ps1? Does each function call get its own session or can we hot cache the importing of a large module before a function runs?

[2021-07-20 20:51] AnatoliB commented on #656
@stvpwrs I will assume you are talking about importing modules into PowerShell sessions, not about installing them to the file system from the PowerShell Gallery etc. (the latter is covered by https://aka.ms/functions-powershell-managed-dependency).

You can import modules explicitly in profile.ps1. This is rarely required though, as you can also rely on the PowerShell module autoload feature: jus

[2021-07-20 21:09] stvpwrs commented on #656
@AnatoliB thanks for the reply. Yes importing modules was what I was referring too. Ideally I would like to use `using module` to also import classes from a module. Using `#requires` or `using module` ensures it's loaded first or that the classes are loaded as well.

Different functions will never share a session through correct?

My understanding is:
The profile.ps1 will get executed with each fu

[2021-07-20 22:18] AnatoliB commented on #656
@stvpwrs _Function app_ is the boundary here, not individual _functions_. For the first function invocation, a PowerShell session is created, profile.ps1 gets executed in this session, and then the function code gets executed. When this invocation completes, the session returns to the pool. At this point, if you invoke another function _in the same function app_, this invocation _may_ get the exis

[2021-07-21 12:33] stvpwrs commented on #656
@AnatoliB thanks again for the reply. This information was very helpful. Without the natural scoping of class it seems there would a decent chance of getting race conditions on a Function App that's calling several different PowerShell functions with them using the default `$Request` variable.

If `$Request` isn't copied right away will referencing that potentially see a different `$Request` that

[2021-07-21 16:38] AnatoliB commented on #656
@stvpwrs Are you talking about the `$Request` _parameter_? Parameters are naturally safe to use because every function invocation gets its own instance. Furthermore, PowerShell _variables_ are also safe because they belong to a PowerShell session. Sessions can be reused for multiple invocations, but not concurrently: every function invocation gets exactly one thread and one session assigned, and t

[2021-07-21 17:40] stvpwrs commented on #656
@AnatoliB tremendous thanks for answering these questions. When sessions are returned to the pool for another invocation is it always for the same function or could another function get that session? It seems the threat of "polluting" variables or carrying over state is slim, but I'm trying to understand what should be coded defensively for that session reuse case.

So all sessions will always hav

[2021-07-21 18:05] AnatoliB commented on #656
@stvpwrs The session pool is shared across the entire _function app_. Any session returned to the pool can be reused for running any _function_ within the same _function app_. Also, the worker performs some automatic cleanup before reusing sessions (such as removing all new global variables): https://github.com/Azure/azure-functions-powershell-worker/blob/b3983f3044cdbbc3f6dafadd7d7d82cc7ff6f34a/s

[2021-07-21 19:50] stvpwrs commented on #656
@AnatoliB Thanks for all the time to answer these questions. I'm going to close the comment/issues out. This has been immensely helpful.

[2021-07-21 19:50] #656 closed, assigned to nobody

[2021-07-23 00:55] iyerusad opened #657 "Use local `node_modules/.bin` (not global)?"
Env: VS Code, Win10

Is there a way to use the local version of `func` rather than using global npm? I tend to prefer to keep each project's dependencies self contained rather than requiring user/machine wide package availability.

tasks.json
[code]

[2021-08-03 00:48] AnatoliB opened #658 "Durable function templates still use old command names"
Tracking https://github.com/Azure/azure-functions-templates/issues/1075

[2021-08-09 09:58] kk921dbg commented on #221
Any update on this enhancement as will be available to use in automation runbooks soon?

[2021-08-11 13:52] Jacob-Steentoft opened #666 "Invoke-ActivityFunction doesn't pass a depth of higher than 1"
Hi,

I've been trying to compare 2 arrays using Durable and been struggling a bit.

I have 2 arrays $msList and $dids that I want to compare in a function.

My previous code is as follows:
[code]

When the input has been passed to "Activity_Compare-NumbersToList" both arrays are both converted to a single item.

To resolve this, I do the following:
[code]

Then in the function "Activity_Compare-Nu

[2021-08-13 00:17] AnatoliB opened #667 "Upgrade PowerShell SDK to 7.0.7"
See https://github.com/PowerShell/PowerShell/releases/tag/v7.0.7

[2021-08-14 14:08] 4c74356b41 opened #669 "Runtime fails to serialize json into hashtable"
#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a powershell function with the following parameters
![image](https://user-images.githubusercontent.com/16194643/129448733-fef8d7e3-2d6a-4ee9-92f9-f46f2efbf156.png)
2. add an http trigger function with following code:
[code]
3. call the function with something like this:
[code]

#### Expected behavior

returns `System

[2021-08-16 19:23] kwill-MSFT opened #668 "Can't trace orchestrator function execution in AI logs - customDimensions.prop__instanceId always null"
I am trying to use https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-diagnostics?tabs=csharp to trace my Powershell durable functions, but the instanceId is always* null so these queries don’t work, and it is extremely difficult to trace a full orchestration execution.

* instanceId does seem to be populated when an activity function exceeds the 10 minute timeout per

[2021-08-19 16:44] v-anvari commented on #669
Hi @4c74356b41 , the payload that would not be automatically handled by the runtime or PowerShell in this case with a type conversion to hash table. Currently this behavior is by design. The simple payload example uses just the string, but your actual code example uses both string and an Array, which will need to be casted.

Transferring this issue to the appropriate repo for more insights

[2021-08-19 17:37] 4c74356b41 commented on #669
fix the docs in this case ;) but I don't understand why is it an issue at all, if `convertfrom-json` handles this np

[2021-08-20 21:55] AnatoliB commented on #669
I suspect this is because of: https://github.com/Azure/azure-functions-powershell-worker/blob/23de458d7c4271870bb0126d8deb5e92ab4ed4e3/src/Utility/TypeExtensions.cs#L145

We need to either increase it or make it configurable (or both).

[2021-08-21 04:44] 4c74356b41 commented on #669
I doubt thats the case, my json is only 2 levels "deep" and I'm using `ConvertFrom-Json` without `-Depth` parameter (its default is 3). so there is something else in play here most likely.

[2021-08-24 20:47] Francisco-Gamino opened #671 "Upgrade to PowerShell SDK 7.0.7"
See https://github.com/PowerShell/PowerShell/releases/tag/v7.0.7

[2021-08-25 06:09] OlafD commented on #316
I'm still seeing this issue in my Function App running with PowerShell. MDMinBackgroundUpgradePeriod is set to "7.00:00:00", MDMaxBackgroundUpgradePeriod is set to "14.00:00:00". FUNCTIONS_WORKER_PROCESS_COUNT is set to 5.
I see new folders for the managed dependencies hourly in data/ManagedDependencies, 74 new folders since yesterday evening.
Yesterday, I stopped the function app, removed all fol

[2021-08-25 09:35] 4c74356b41 commented on #669
I'm observing the same behaviour when passing an object with an array as an input between durable functions. If I use an hashtable where one of the properties contain an array I get this as input:

[code]

instead of:

[code]

[2021-08-25 09:37] 4c74356b41 commented on #669
sample repro:

[code]

so inside my durable activity I have to do:

[code]

instead of:

[code]

[2021-08-25 09:43] 4c74356b41 commented on #669
basically I'm suggesting something is wrong with how you try and parse arrays

[2021-08-25 09:57] 4c74356b41 commented on #669
forgot to add: if I'm passing a hashtable like this (between durable activities):

[code]

so all properties are strings - it gets passed fine

[2021-08-25 17:33] 4c74356b41 opened #673 "The term Stop-DurableTaskTimer is not recognized"
#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a powershell function with the following parameters
![image](https://user-images.githubusercontent.com/16194643/129448733-fef8d7e3-2d6a-4ee9-92f9-f46f2efbf156.png)
2. add an durable activity function with following code:
Sample from the [docs](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-fun

[2021-08-25 21:52] haneef95 commented on #503
For those still experiencing this issue, [this might do the trick](https://github.com/MicrosoftDocs/office-docs-powershell/issues/8242#issuecomment-905897625)

[2021-08-27 11:28] thielj commented on #649
I can't find the link but there was a recommendation to get rid of the` -and ( Get-Module -ListAvailable Az.Accounts )` clause to reduce cold start delays

[2021-08-27 12:31] thielj opened #674 "Pushing output to AppendBlob"
I'm trying to push data to an append blob, but keep getting the same error: _"Cannot bind to page or append blobs using 'out string', 'TextWriter', or writable 'Stream' parameters."_

My understanding is that this has been implemented in Azure WebJobs SDK ([#865](https://github.com/Azure/azure-webjobs-sdk/pull/865), [#859](https://github.com/Azure/azure-webjobs-sdk/issues/859)); that the SDK locat

[2021-08-28 05:41] AnatoliB commented on #316
@OlafD You seem to be hitting issue #647. Please note there is no version `1.7` for the `PnP.PowerShell` module on the PowerShell Gallery. You probably want to use version `1.7.0`, please specify it.

[2021-08-28 05:48] AnatoliB commented on #673
This is a typo in the doc: the actual command name is `Stop-DurableTimerTask`.

@stefanushinardi We need to fix https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-timers?tabs=powershell

[2021-08-28 06:46] 4c74356b41 commented on #673
hey, thats charming. how about a page that specifies all the available cmdlets and their contracts? how am I supposed to figure that out without raising an issue?

[2021-08-28 06:47] 4c74356b41 commented on #673
oh sorry, while we are at it, is there a way to cancel an activity?

[code]

[2021-08-28 19:19] AnatoliB commented on #673
@4c74356b41 Today, the primary way to discover the cmdlets and their contracts is via concepts documentation and tutorials, starting from use cases instead of a list of commands. But I see what you mean, we'll add a reference as well.

The framework does not provide any way to cancel an activity that already started. Depending on what this activity is doing, you may be able to do something to canc

[2021-08-29 05:27] 4c74356b41 commented on #673
@AnatoliB cant you just publish a module to psgallery and link it? that would be more than enough to explore it

[2021-08-30 23:59] stefanushinardi opened #675 "[FeatureRequest] Increase the upper limit of number of modules in requirements.ps1 to 50"

[2021-08-31 06:38] #647 closed, assigned to Francisco-Gamino

[2021-08-31 18:33] AnatoliB commented on #673
@4c74356b41 This is the plan, but this is not a trivial thing to do right now: these commands are currently tightly coupled with the worker internals, so there is no standalone module that can be loaded into a regular (not hosted by the worker) PS session. This coupling will have to be resolved, or we'll use #577 as the last resort.

[2021-08-31 18:35] AnatoliB commented on #673
The typo in the docs has been fixed, so I'm closing this. For other topics, please create separate issues.

[2021-08-31 18:35] #673 closed, assigned to stefanushinardi

[2021-09-01 20:46] Francisco-Gamino commented on #667
This issue has been fixed. Please see https://github.com/Azure/azure-functions-powershell-worker/pull/672 for more info.

[2021-09-01 20:46] #667 closed, assigned to Francisco-Gamino

[2021-09-01 20:51] Francisco-Gamino commented on #669
Set up a local repo without Durable Functions. If this issue is present, this will be a breaking change.

[2021-09-01 20:56] Francisco-Gamino commented on #674
First check if this is PowerShell specific.

[2021-09-02 19:50] Francisco-Gamino commented on #671
This issue is fixed by PR https://github.com/Azure/azure-functions-powershell-worker/pull/672.

[2021-09-02 19:50] #671 closed, assigned to Francisco-Gamino

[2021-09-02 21:37] #675 closed, assigned to Francisco-Gamino

[2021-09-03 02:09] Francisco-Gamino commented on #669
Hello @4c74356b41 -- I am still looking into this; however, as a workaround you can specified the `Content-Type` header in the request to be `'application/json'`. This will ensure that the request body is deserialized to a hashtable if the content is a valid JSON.

[2021-09-03 06:30] 4c74356b41 commented on #669
okay, that seems to work, what about when passing data in between activities?

[2021-09-03 17:52] Francisco-Gamino opened #678 "Runtime fails to serialize json into hashtable for Durable activities"
#### Repro steps

Provide the steps required to reproduce the problem:

1. Create a powershell function with the following parameters
![image](https://user-images.githubusercontent.com/16194643/129448733-fef8d7e3-2d6a-4ee9-92f9-f46f2efbf156.png)
2. add an http trigger function with following code:
[code]
3. call the function with something like this:
[code]

#### Expected behavior

returns `System

[2021-09-03 17:56] Francisco-Gamino commented on #669
@4c74356b41 -- I've created a separate issue to track the Durable activities scenario: [Runtime fails to serialize json into hashtable for Durable activities](https://github.com/Azure/azure-functions-powershell-worker/issues/678).

[2021-09-08 23:20] Francisco-Gamino commented on #669
To close on this, to deserialize the body into a hashtable, the request should specify the `Content-Type` header to be 'application/json'. We will update the docs to reflect this.

[2021-09-08 23:24] Francisco-Gamino commented on #468
We should include a new section for this in the PowerShell developer reference: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal

[2021-09-09 05:41] davidljuba15031979 commented on #221
I need Azure CLI to download Azure Universal Package from Azure Function App in Powershell.

I need to execute: `az artifacts universal download ...` command to download artifact from Azure DevOps, due to limitation with Azure Powershell mentioned here:

https://github.com/MethodsAndPractices/vsteam/issues/151

In local environment Azure Function (debugging in Ubuntu) is working correctly (I have

[2021-09-09 18:55] Francisco-Gamino commented on #678
Hello @4c74356b41 -- Could you please explain your scenario in which you are trying to pass data between Durable activities and you are facing the deserialization issue? Thanks.

[2021-09-10 05:26] 4c74356b41 commented on #678
orchestrator function
[code]

cleaner function:
[code]

[2021-09-14 12:34] stefs987 commented on #646
Just ran into the same issue. It also does not work with a queue as an output binding in an orchestrator and using Push-OutputBinding in the orchestrator. No errors, but queue message is not created. I could also replicate with an activity function as reported by the OP. Any news on this?

[2021-09-14 22:21] soninaren opened #684 "Using specific version in requirements.psd1 for managed dependencies can still cause auto version updates"
Using specific version in requirements.psd1 for managed dependencies can still cause auto version updates. This is particularly true for Az module. Az module has a dependency on Az.Accounts that is specified as >=2.2.6. (https://www.powershellgallery.com/packages/Az/5.6.0)  This would cause updates to Az.Accounts to be downloaded automatically. This can break customers function app.

@{
    'Az' =

[2021-09-15 21:07] Francisco-Gamino commented on #684
The customer function app was working with Az.Accounts version `2.2.6`. However, after the worker updated the function app dependencies on 9/13, when the Az module was installed, it downloaded Az.Accounts version `2.5.3` (which is the latest). As a result, the function app stopped working. The question here is does Az.Accounts version `2.5.3` has a breaking change? There has been multiple releases

[2021-09-16 19:59] anirudhgarg commented on #684
Looks like the workaround is to specify Import-Module exact version in profile.ps1

Import-Module Az.Accounts -RequiredVersion '1.9.5'

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#target-specific-versions

[2021-09-17 15:31] amazingidiot opened #685 "RaiseEvent-Call doesn't transmit content/body to Orchestrator"
Hello,
I'm running a durable function with the human interaction pattern like in [the human interaction example](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/examples/durable/DurableApp/HumanInteractionOrchestrator/run.ps1) . I successfully raise the event in a separat azure function via a HTTP call according to the [documentation](https://docs.microsoft.com/en-us/azure/azur

[2021-09-20 17:15] v-anvari opened #687 "No Record of unhandled failure in AZ function Monitor UI"
This is regarding an issue logged in Functions-Host. https://github.com/Azure/Azure-Functions/issues/1939

We wanted to understand if there is an exception while using the Powershell worker that is not logging the unhandled exception in the Monitor Tab in the Azure portal, but, the logs are logged failure in App insight logs. We don't see this behavior while using C#.

[2021-09-23 22:25] gcmlpfaltaher commented on #309
also running into this issue.  has there been any updates from the team regarding passing userproperties/systemproperties?

[2021-09-24 10:06] LuckyLub commented on #531
@enoorden  Thanks for sharing your solution! This is super confusing. Especially because the string that $mySbMsg produced was Systems.Collections.Hashtable

[2021-09-25 06:32] Francisco-Gamino opened #688 "Create PowerShell 7.2 language worker"

[2021-09-27 22:43] #688 closed, assigned to nobody

[2021-09-27 22:57] Francisco-Gamino commented on #658
This work item has been completed. For more information, please see https://github.com/Azure/azure-functions-templates/pull/1105. Closing issue.

[2021-09-27 22:57] #658 closed, assigned to Francisco-Gamino

[2021-09-29 20:41] Francisco-Gamino commented on #684
The documentation already describes how to work around this issue. For more information, please see https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#target-specific-versions.

[2021-09-29 20:45] Francisco-Gamino commented on #687
Hello @v-anvari -- Could you please provide the repro steps, expected behavior and actual behavior? Thanks.

[2021-09-30 09:26] Jacob-Steentoft opened #689 "Unable to run Set-Mailbox cmdlet"
Hi,

I would love some help with the problem below. I've been struggling for quite a while running some simple code that keeps giving errors.

### Problem
My Durable activity fails when executing the 'Set-Mailbox' cmdlet from Exchange Management module.
I've tried to pipe input to the cmdlet and using static information instead of variables, but I still get same error.
I've also tried to run the c

[2021-09-30 09:48] v-anvari commented on #687
Hi @Francisco-Gamino , A sample code using powershell is provided here -https://github.com/Azure/Azure-Functions/issues/1939#issuecomment-887874742.

Repro steps:
Any trigger trying to get an unhandled exception in the code.

Expected behavior:
1. These unhandled exception should report as failure in the monitor tab in the Azure functions (portal)

Actual behavior:
1. The unhandled exception doesn

[2021-09-30 18:10] AnatoliB commented on #687
@v-anvari Could you please provide more details on the unhandled exception: what is this exception, how do you observe it, what makes you think there is actually an unhandled exception (and not just the function timing out)?

I tried to run the code from https://github.com/Azure/Azure-Functions/issues/1939#issuecomment-887874742, and I do see it timing out (most likely because of the very high ser

[2021-09-30 19:31] pragnagopa opened #690 "Update Nuget package versions to be incrementally higher"
Current versioning does not align with Nuget package version compariosion:

[code]

Need to ensure new packages produced are higher than older versions

[2021-10-01 15:33] louis77 commented on #538
Adding my five cents to this issue. I experience the same problem with the most recent versions of VS Code and the Azure functions extension. Restarting the debugging session breaks it with an error message "There is no process with the given ID". I must wait for 3-5 seconds until I can successfully restart debugging with F5.

I just started with Azure Functions and this makes it cumbersome to dev

[2021-10-01 17:46] ejizba commented on #538
This could be related to https://github.com/PowerShell/PowerShellEditorServices/issues/1295. The original comment describes "sluggishness and dead locks" which is representative of the comments in this issue, right? See this comment for latest update and how this affects VS Code: https://github.com/PowerShell/PowerShellEditorServices/issues/1295#issuecomment-733237434

It appears the (large) PR li

[2021-10-04 10:21] v-anvari commented on #687
Thank you @AnatoliB , Thank you for the details, I wasn't able to repro using powershell.
Tagging @chughesvf for further details as this issue is user specific

[2021-10-06 06:36] amazingidiot commented on #685
Hi,
any news on this issue? Do you need more information from me?
Thanks!

[2021-10-06 13:37] NikoMix commented on #646
Also affected by this. There is no Error/Warning/Message showing up,  the Queue Item simply does not show up. Application Insights also tracks no calls towards the Storage Account. It's added to Sprint 105 which is showing 3 Months past due - is this still under investigation? Any further information needed?

[2021-10-08 18:51] jformacek opened #692 "Problems instantiating X509Certificate2 in Azure Powershell function app"
#### Investigative information

Please provide the following:

- Timestamp: 2021-10-08T18:45:00.01Z
- Function App version:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 12766586-1fa9-4de6-8b14-1b35a4ba869e
- Region: west europe

#### Repro steps
Hello,
let's have simple powershell code running inside PowerShell function app:
[code]

Code above generally works during b

[2021-10-12 22:25] davidmrdavid commented on #685
Hi @amazingidiot,

No updates yet, sorry to keep you waiting. I've assigned this ticket to me to help track it and I'll start looking into it as soon as possible. It seems to me, from looking at the description, that this is a bug in the SDK implementation, but I'll need a few days of exploration before being able to make that determination. We'll update this thread as soon as possible.

[2021-10-13 07:17] amazingidiot commented on #685
Hi @davidmrdavid,
thank you for the reply! Again, if I can provide more information, please tell me.

Best regards!

[2021-11-05 21:35] tristan-earl opened #698 "Unable to install large module as managed dependency"
In my PowerShell Azure Function, I'm including the [MicrosoftTeams module](https://www.powershellgallery.com/packages/MicrosoftTeams/2.6.0) v2.6.0 as a required module (in requirements.psd1 file).

EXPECTED
MicrosoftTeams module is able to be successfully installed.

ACTUAL
After deploying, when I try to execute my Function, it fails with the following error:
[code]

With some help from the Azure

[2021-11-08 16:58] JustinGrote opened #699 "7.2 LTS Support"
Powershell 7.2 is GA, is there a roadmap for when it will be available on Functions?
https://devblogs.microsoft.com/powershell/general-availability-of-powershell-7-2/

[2021-11-10 21:34] stefanushinardi commented on #699
We expect to have Powershell 7.2 in Early 2022

[2021-11-10 21:34] #699 closed, assigned to nobody

[2021-11-10 21:44] stefanushinardi commented on #698
Hello,

Unfortunately we do not have much control over the size of the tmp directory that is used to download the module.

The workaround could be found here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#function-app-level-modules-folder.

[2021-11-10 21:52] stefanushinardi commented on #690
As per @Francisco-Gamino and @AnatoliB, this is an expected behavior if Az Functions Core Tools references an older version of any of the language workers

[2021-11-10 21:52] #690 closed, assigned to nobody

[2021-11-10 21:59] stefanushinardi commented on #689
As per our testing, the module is not PowerShell Core compliant thus won't be able to run on Azure Functions PowerShell.

Could you verify that your code run locally using PowerShell 7.0?

[2021-11-10 22:00] #687 closed, assigned to v-anvari

[2021-11-10 22:58] Francisco-Gamino commented on #692
@jformacek -- Could you please take a look at [Best X509Certificate2 Practices](https://github.com/projectkudu/kudu/wiki/Best-X509Certificate2-Practices#overview) in App Service?

@panchagnula -- Do we have any other guidance on best practices when reading/loading a cert from keyvault?

[2021-11-11 09:37] Jacob-Steentoft commented on #689
Hi @stefanushinardi,

Running the cmdlet locally outside of Azure Functions works fine which is also how we're currently making my script work:
[code]

According to the Microsoft Documentation the module should be [compliant with 7.0.3 and above](https://docs.microsoft.com/en-us/powershell/exchange/exchange-online-powershell-v2?view=exchange-ps#supported-operating-systems-for-the-exo-v2-module) if

[2021-11-11 18:16] tristan-earl commented on #698
Thanks, we're using that workaround for now.

[2021-11-14 23:00] ghost commented on #692
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-11-18 00:01] #692 closed, assigned to Francisco-Gamino

[2021-11-18 22:33] lchave-icims opened #701 "Powershel core 7 not able to connect ExchangeOnlineManagement module"
Hello, we are trying to run a PS query to modify a few settings on a mailbox with a Function App, we have set the stack to Powershell Core, the version is 7.0 running on a 64 bit platform. We are using a certficate and and app registration to authenticate, however, we are getting the errror listed below. If we could get any guidence it will be greatly appreciated.

`2021-11-18T22:02:12  Welcome, y

[2021-11-19 09:33] Jacob-Steentoft commented on #701
Hey @lchave,

I currently have this working for my automation in my Function App. I have had it working using PowerShell 7.0 and version 3 and 4 of the Azure Functions Core Tools with the following setup:

### requirements.psd1
[code]

### profile.ps1

[code]

### Azure Function App

![image](https://user-images.githubusercontent.com/7100044/142599402-bb702be3-1b5f-458b-bf01-d197e6ece410.png)

[2021-11-19 15:24] lchave-icims commented on #701
@Jacob-Steentoft thanks for the update! this worked as expected at first, however, after testing a few more times I started to get an exception error.

`[Error] EXCEPTION: Exception of type 'System.OutOfMemoryException' was thrown.Exception             :Type       : System.OutOfMemoryExceptionTargetSite : Void .ctor()StackTrace :at System.Collections.ObjectModel.Collection`1..ctor()at System.Manag

[2021-11-22 23:17] #646 closed, assigned to stefanushinardi, davidmrdavid

[2021-11-23 10:22] Jacob-Steentoft commented on #701
Hi @lchave,

Glad to hear that it was working for a bit, but the issue that you're facing is now a bit harder to tackle as you're running out of memory.

From what I can see there could be two causes.

1. The improbable cause. Your application consumes more than the 1.5 GB that is allocated to the Azure Function, which would be extreme, but plausible if you store a lot of functions in the same Azu

[2021-11-23 16:28] Francisco-Gamino opened #705 "Update the PowerShell language worker to SDK 7.2.0"
Please see https://github.com/PowerShell/PowerShell/releases/tag/v7.2.0 for more information.

[2021-11-23 23:43] #705 closed, assigned to Francisco-Gamino

[2021-11-24 13:59] jorgefdezsa-zz commented on #273
Thank you, Me too

[2021-11-29 22:07] JustinGrote commented on #577
As a workaround, I usually just import the Powershell Worker DLL module from the func tools worker and then I get intellisense. I've considered making a module that generates proxy commands that enable intellisense but when run just simple output warning "In order to test this function you must run it using func start"

![image](https://user-images.githubusercontent.com/15258962/143950596-c9145b99

[2021-11-30 05:04] 4c74356b41 commented on #577
where can you get that module?

[2021-11-30 16:55] JustinGrote commented on #577
It's buried in the azure functions core tools. I imported it here, you can find it relative to the `azure-functions-core-tools` part of the path.
`ipmo "C:\Users\JGrote\scoop\apps\nodejs-lts\current\bin\node_modules\azure-functions-core-tools\bin\workers\powershell\7\Microsoft.Azure.Functions.PowerShellWorker.dll"`

[2021-12-03 19:50] #594 closed, assigned to nobody

[2021-12-03 21:37] Francisco-Gamino commented on #545
Hello all -- If you are still having this issue, we will need to look at the app configuration/content. For this, please open a support case via the Azure Portal and we will follow-up there.

[2021-12-03 21:39] #644 closed, assigned to Francisco-Gamino

[2021-12-03 21:47] Francisco-Gamino commented on #689
Hello @Jacob-Steentoft -- Could you please try installing PowerShell `7.0.7` which is the version we host in Functions and run your code locally? When you do this, do you see any errors? Thanks.

[2021-12-03 21:51] Francisco-Gamino commented on #701
Hello @lchave -- For the OutOfMemoryException, please open a support case via the Azure Portal as we might need to look into the app content and configuration. We will follow-up with you there.

[2021-12-03 21:51] #701 closed, assigned to nobody

[2021-12-07 17:01] sayertherebel commented on #650
Any news on this, in particular how to determine if the orchestrator function is replaying in a PowerShell context? Can't find any documentation no this point. Thanks!

[2021-12-07 23:01] ghost commented on #689
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-07 23:01] ghost commented on #545
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-09 08:25] stefanstranger opened #1100 "Store http body request information in App Insights for PowerShell Azure Functions"
#### What problem would the feature you're requesting solve?

I would like to store the http body request information for a PowerShell http triggered Azure Function in Application Insights.

Here is a link to an article that shows how that can be done in C# "[How to log request & response body to Application Insights](https://www.azureblue.io/how-to-log-http-request-body-with-asp-net-core-applicat

[2021-12-09 19:09] Francisco-Gamino commented on #1100
/cc @AnatoliB @gzuber @RohitRanjanMS

[2021-12-11 00:01] #689 closed, assigned to nobody

[2021-12-11 00:01] #545 closed, assigned to nobody

[2021-12-14 00:18] davidmrdavid commented on #650
@sayertherebel: Unfortunately, there's no updates at the moment, but I've taken over this feature and I should be able to prioritize this shortly after the end-of-year holidays.

[2021-12-14 11:25] jochemdevos opened #717 "Failed to create function app dependencies destination path"
Possible duplication of #327 ,which has no resolution.

No config and code changes made, invocations resulting in errors since December 1th. Last success December 5th. Contents of requirements.psd1:
`
@{
    'Az.KeyVault' = '3.*'
}`

Error message:
Result: Failure
Exception: Failed to install function app dependencies. Error: 'Failed to create function app dependencies destination path 'C:\home\da

[2021-12-15 12:07] jochemdevos commented on #717
Most likely found the root cause. I was also not able to deploy the function app. A storage key was regenerated resulting in these errors:
12:31:35: Error:  Server Error in '/' Application.

 The user name or password is incorrect.

Exception Details: System.IO.IOException: The user name or password is incorrect.

Updated AzureWebJobsStorage and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING fixed the d

[2021-12-15 12:07] #717 closed, assigned to nobody

[2021-12-17 00:56] Francisco-Gamino opened #719 "Port SBOM generation to v3.x/ps7"

[2021-12-17 02:47] Francisco-Gamino opened #721 "Port SBOM generation to v3.x/ps6"

[2021-12-17 20:01] Francisco-Gamino opened #722 "Port SBOM generation to v4.x/ps7.0"

[2021-12-17 20:06] bachuv opened #724 "Clarify how to set $Context.Input in Durable Functions docs"
A customer (from IcM 277661225) followed [this documentation for handling External Events](https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-external-events?tabs=powershell) and was confused about how to set $Context.Input. We clarified that they would need to set the `-InputObject` parameter when they started an orchestration (example below) in the starter function.

[2021-12-20 15:00] haripraghash commented on #646
Is this issue sorted? I seem to be having the same issue with the same repro attached above.
I am using an actual storage account as opposed to azurite.

Azure Functions Core Tools
Core Tools Version:       4.0.3971 Commit hash: d0775d487c93ebd49e9c1166d5c3c01f3c76eaaf  (64-bit)
Function Runtime Version: 4.0.1.16815

[2021-12-20 18:00] davidmrdavid commented on #646
Hi @haripraghash, @NikoMix, @stefs987, and @kwill-MSFT.

Sorry for the poor communication here, I didn't realize the issue auto-closed when I merged my PR, that was a mistake on my part. This issue was patched in PR  #702 and will be included as a part of the next PowerShell Azure Functions worker release. Unfortunately, I don't have much control over the speed of that process, but I understand it

[2021-12-20 18:50] haripraghash commented on #646
@davidmrdavid Thank you for clarifying that.

[2021-12-22 03:40] ghost commented on #685
@amazingidiot I was also having the same issue as you so I decided to look in to the issue.

When Wait-DurableTask is used with the -Any parameter a task is returned to PowerShell not the resulting job status, output or event. This is a different behaviour to Wait-DurableTask without the -Any parameter. In this case it returns an array of all the results. This is why you and I were both seeing {}

[2021-12-22 07:30] amazingidiot commented on #685
Thank you a lot for the information!

[2021-12-24 19:51] anushkakda opened #727 "Context.InstanceId cannot be accessed"
With PowerShell Durable Functions we aren't able to use/pass the instance id in the Orchestrator Function.
We do see that this is due to the instanceid having an internal access level as defined [here](https://github.com/Azure/azure-functions-powershell-worker/blob/2f47e2e421ba525e30cbdfde734f0a3d94932cc6/src/Durable/OrchestrationContext.cs#L23)

But the instanceId can be accessed with dotnet dura

[2021-12-27 21:24] Francisco-Gamino opened #730 "Fix 1ES Hosted Pool image demand for the PowerShell worker pipeline"
See PR for reference: https://github.com/Azure/azure-functions-core-tools/pull/2883

[2021-12-28 18:06] bachuv commented on #727
cc @AnatoliB @davidmrdavid

[2022-01-03 10:11] Agazoth opened #733 "Custom module with 3. party dependencies assembly load error"
I am using a custom module for importing and exporting parquet data. The module can be found here: [PSParquet](https://www.powershellgallery.com/packages/PSParquet/0.0.67)

The module works on PowerShell 7.x on both Windows and Linux, but on WindowsPowerShell the module generates this error:
[code]

I want to run the module in Azure Functions PowerShell Worker, but there I get the exact same error

[2022-01-03 22:25] oobepladmin commented on #685
@ConnorMcMahon @davidmrdavid Happy new year.
Are you able to provide any timeframes on when this might (or an appropriate fix) may be pushed to Azure production?
I need to understand the impacts for our production deployment capabilities.

Thank you

[2022-01-03 22:27] ghost commented on #685
@ConnorMcMahon @davidmrdavid Happy new year.
Are you able to provide any timeframes on when this might (or an appropriate fix) may be pushed to Azure production?
I need to understand the impacts for our production deployment capabilities.

Thank you

[2022-01-03 22:43] AnatoliB commented on #733
@Agazoth This module seems to need PowerShell 7.2, which is not supported on Functions just yet (expected in a few weeks, perhaps in February).  If you are in control of the module, would you be able to rebuild it and target .NET Core 3.1 instead of .NET 6? This is probably the only reason why it does not work in PowerShell 7.0.

[2022-01-04 15:35] Agazoth commented on #733
Hi @AnatoliB , Thanks for getting back to me. Really good news about the upcoming  7.2 support!

I tried re-building in .NET Core 3.1. That changed the error somewhat. The module still works in PS7, but in Windows PowerShell I now get:
[code]

4.2.2.0 seems to be .NET Core 3.1 related.

In the Azure Function this looks different. There I get:
[code]

The Azure Function error looks like this:
[code

[2022-01-05 17:32] davidmrdavid commented on #727
Hi @anushkakda,

Thank you for reaching out. I'll add this to our list of ToDos for triaging in our upcoming meeting, this should easy to patch.

[2022-01-05 17:54] davidmrdavid commented on #685
Hi @oobegreg,

Thank you for reaching out. I'll bring this up for triaging today and I should be able to get back to you with an update, apologies for our delay here.

cc/ @AnatoliB, for context.

[2022-01-06 00:52] davidmrdavid commented on #685
Hi @oobegreg,

I want to make sure we have the same starting context: when using the `-Any` flag, the result of a `Wait-DurableTask` should return a Task object instead of the result.  You pointed this out in your description, but I wanted to make sure we were in the same page on this being the _intended_ behavior :) .

With that in mind, the missing step would then be to obtain the result data fr

[2022-01-06 01:38] ghost commented on #685
Hi @davidmrdavid,

Thanks for the quick response and assistance. Not only is it great, it's very much appreciated too.

I think using the `-Any` flag with `Wait-DurableTask` should return a task. That way it's easy to determine which task responded by the statement `if ($CompleteRunningTask -eq $DurableTimeoutEvent) {`.

Thanks for trying to find alternative options in the existing code too. I tri

[2022-01-06 07:50] AnatoliB commented on #733
Hi @Agazoth,
The error you are getting on Functions looks like your assembly is still targeting a different .NET version. Do you think you can share your csproj file?
Please also note that we don't use _Windows_ PowerShell in Functions (except for the experimental support in v1 - not recommended).

[2022-01-06 18:17] Agazoth commented on #733
Hi @AnatoliB - sure, here it is:
[code]

[2022-01-09 22:10] ghost commented on #646
@davidmrdavid are you able to provide the build number that will be pushed to Azure so I can know when it's been deployed? Thanks!

[2022-01-14 15:51] khaloud40 opened #738 "Object type meesing using MSOnline Powershell Module"
Hello everyone,

I'm working on Azure Functions to enable MFA per user using MSOnline Powershell module.
I was able to connect using Connect-MsolService , but an error occurred stating that this object type was missing "Microsoft.Online.Administration.StrongAuthenticationRequirement" .
I tested this on my local machine and this type is only available when we connect using Connect-MsolService.
I'm

[2022-01-19 20:04] Francisco-Gamino commented on #730
This issue has been fixed. Closing.

[2022-01-19 20:04] #730 closed, assigned to nobody

[2022-01-19 20:09] Francisco-Gamino commented on #733
We are in the process of enabling PowerShell 7.2; However, this is several weeks away. We will update this issue as soon as 7.2 is available so you can try it. Thanks.

[2022-01-20 00:02] Francisco-Gamino opened #742 "Update PowerShell 7.2 to SDK 7.2.1"

[2022-01-20 00:03] Francisco-Gamino commented on #742
This issue has been fixed. For more info, please see https://github.com/Azure/azure-functions-powershell-worker/pull/741.

[2022-01-20 00:03] #742 closed, assigned to Francisco-Gamino

[2022-01-20 00:04] Francisco-Gamino opened #743 "Update PowerShell 7 to SDK 7.0.8"

[2022-01-20 00:05] Francisco-Gamino commented on #743
This issue has been fixed. For more info, please see https://github.com/Azure/azure-functions-powershell-worker/pull/740.

[2022-01-20 00:05] #743 closed, assigned to Francisco-Gamino

[2022-01-20 12:10] YgrekIx opened #744 "ServiceBus Output binding vs Durable functions"
Can't Push-OutputBinding to ServiceBus topic from any Durable Function(DurableOrchestraton, DurableActivity).
I'm using Azure ServiceBus Connection String, because according to [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference?tabs=servicebus#configure-an-identity-based-connection) article "Identity-based connections are not supported with Durable Functions."

Examp

[2022-01-20 22:19] AnatoliB commented on #733
@Agazoth You can also try out PowerShell 7.2 support locally right now:

- Make sure you have the latest Core Tools **v4.x** installed.
- In local.setting.json, set `FUNCTIONS_WORKER_RUNTIME_VERSION` to `7.2`

[2022-01-20 22:39] Francisco-Gamino commented on #733
@Agazoth -- You can install the V4 Core Tools from here: https://github.com/Azure/azure-functions-core-tools#installing. In addition, you will also need to install .Net 6, which is available at: https://dotnet.microsoft.com/en-us/download/dotnet/6.0

[2022-01-21 15:33] Agazoth commented on #733
Just tested locally. I get the same error with 7.2 and V4 Core Tools

[2022-01-24 19:31] mikeburns7 opened #745 "Get-DurableStatus 401 error"
I am attempting to run the powershell command the following "Get-Durablestatus" command and getting the following 401 error. I believe the command is not including the systemkey for the storage url?
**Command**
`$Status = Get-DurableStatus -InstanceId $InstanceId -ShowHistory -ShowHistoryOutput -ShowInput -ErrorAction SilentlyContinue`

**Error output**

`2022-01-24T19:19:17.355 [Error] EXCEPTION:

[2022-01-24 21:04] mikeburns7 commented on #745
Note - this runs fine in my local vscode environment

[2022-01-25 10:44] smholvoet commented on #221
@AnatoliB @anirudhgarg Is Azure CLI support for PowerShell-based Azure Functions coming any time soon? 👀

Similar to @davidljuba15031979's request, we have a use case which _heavily_ relies on the [`az devops`](https://docs.microsoft.com/en-us/cli/azure/devops?view=azure-cli-latest) module. This module doesn't have any good alternatives apart from reinventing the wheel using the [Azure DevOps REST

[2022-01-25 21:03] AnatoliB commented on #221
cc @stefanushinardi @Francisco-Gamino

@smholvoet Have you tried to deploy Az CLI to the storage account associated with your Functions app (for example, using the instructions at https://github.com/Azure/azure-functions-powershell-worker/issues/221#issuecomment-546039332) or even include Az CLI binaries into your app content?

It is true that we don't currently provide Az CLI _by default_, but we

[2022-01-26 02:03] Francisco-Gamino commented on #733
Hello @Agazoth -- Could you please share what version of the Core Tools you are using?

Here is my environment configuration:

[code]

To figure out the PowerShell worker version, I've created a simple httptrigger function.

<img width="320" alt="image" src="https://user-images.githubusercontent.com/12720858/151090463-8d1812a4-dac4-4604-84d2-e71897f82705.png">

To target the PowerShell 7.2 worker,

[2022-01-26 06:10] Agazoth commented on #733
@Francisco-Gamino I can confirm the following:
Language version: 7.2.0-preview.9
FUNCTIONS_WORKER_RUNTIME_VERSION: 7.2
func version:. 4.0.3971
dotner version: 6.0.101

AND: now it works! Guess a reboot fixed it ...

Thank you for your support. Any update on when will this be available in Azure?

[2022-01-26 18:11] smholvoet commented on #221
@AnatoliB Appreciate the quick response and honesty 💪

I did manage to copy my `CLI2` folder to the storage account using Azure Storage Explorer client. The Azure Storage Explorer in the portal, as well as uploading via Kudu both failed (some folders were not getting unzipped properly):

![image](https://user-images.githubusercontent.com/13507392/151219964-fe62efb6-dbaa-4b56-a629-40889cd5f2ca.png)

[2022-01-26 20:09] Francisco-Gamino commented on #722
This issue has been fixed.

[2022-01-26 20:09] #722 closed, assigned to Francisco-Gamino

[2022-01-26 20:09] Francisco-Gamino commented on #721
This issue has been fixed.

[2022-01-26 20:09] #721 closed, assigned to Francisco-Gamino

[2022-01-26 20:09] Francisco-Gamino commented on #719
This issue has been fixed.

[2022-01-26 20:09] #719 closed, assigned to Francisco-Gamino

[2022-01-26 20:11] Francisco-Gamino commented on #640
Hello @davidmrdavid -- I am tagging you in this issue given you are our Durable Functions SMA. This test case was disabled because it was randomly failing. Next time you are working on this area, could you please take look? Thank you.

[2022-01-26 21:05] AnatoliB commented on #221
@smholvoet Have you tried to use the `--debug` switch as the first error message suggests? In any case though, the error message is produced by Az CLI, so I think this is where the investigation should start. Depending on the results, we _may_ be able to adjust the Function execution environment if Az CLI requires something special, but we need Az CLI diagnostics to understand the problem first. S

[2022-01-26 21:42] Francisco-Gamino commented on #733
@Agazoth -- A tentative ETA is between 4-6 weeks.

[2022-01-26 21:43] Francisco-Gamino commented on #738
/cc @stefanushinardi

[2022-01-26 21:48] Francisco-Gamino commented on #698
Closing given that there is a workaround.

[2022-01-26 21:48] #698 closed, assigned to nobody

[2022-01-27 04:36] Agazoth commented on #733
Thanks. I'm looking forward to it 😊

[2022-01-27 04:36] #733 closed, assigned to stefanushinardi, Francisco-Gamino

[2022-01-27 21:50] davidmrdavid commented on #640
Thanks @Francisco-Gamino. Will do.

[2022-01-31 04:26] ghost commented on #685
Hi @davidmrdavid have you been able to progress this? Thanks

[2022-02-03 19:11] YaroBear opened #748 "Durable activity failures are not propagated to orchestrator in fan out/fan in pattern"
At one point #572 was fixed with this pull request https://github.com/Azure/azure-functions-powershell-worker/pull/571.

If I do a single activity execution, the exception is propagated back up to the orchestrator. Good 👍

If I implement a fan out/fan in pattern like below, I don't get errors and only the activities that succeeded populate the `$tasks` variable.

[code]

[2022-02-03 20:02] Francisco-Gamino opened #749 "Need to add E2E test coverage for Service Bus trigger"
Need to add E2E test coverage for Service Bus trigger.

See sample Java language worker tests for SB: https://github.com/Azure/azure-functions-java-worker/blob/dev/endtoendtests/Azure.Functions.Java.Tests.E2E/Azure.Functions.Java.Tests.E2E/ServiceBusEndToEndTests.cs

[2022-02-03 20:03] Francisco-Gamino commented on #749
/cc @sidkri @alrod

[2022-02-04 21:49] ejizba opened #751 "Switch to new gRPC package"
Per [this readme](https://github.com/grpc/grpc/tree/master/src/csharp#grpc-c) and [this blogpost](https://grpc.io/blog/grpc-csharp-future/), the `Grpc.Net.Client` nuget package is now the recommended gRPC implementation for .NET/C# as opposed to the `Grpc.Core` package. The old package is currently in maintenance mode and will be deprecated in May 2022

[2022-02-04 22:02] ejizba opened #752 "Support running on M1 Macs [PowerShell]"
I'm testing an arm64 build of core tools and the PowerShell worker cannot run. Note, I'm testing with PowerShell 7.2 as that is the first version that supports arm64 (see [here](https://docs.microsoft.com/en-us/powershell/scripting/install/installing-powershell-on-macos?view=powershell-7.2#installation-via-direct-download)).

This is the error I'm running into:

I tried updating the Grpc.Core pack

[2022-02-04 23:41] davidmrdavid commented on #685
Hi @oobegreg, so sorry for my delayed response, there's been a lot going on, so I actually do have quite a bit to share.

In short, the original issue described in this thread (external events not returning their input when the task completes) can be fixed independently on the `Get-DurableTaskResult` CmdLet you proposed. In fact, I have a working branch where I've included the fix here: https://gi

[2022-02-06 21:24] ghost commented on #685
Thank you @davidmrdavid. Everything sounds very exciting for the future of the platform. I appreciate everything you and the team have been doing.

[2022-02-07 01:17] ghost commented on #646
@davidmrdavid I can confirm this is now working for me with build 4.1.3.17473 in Azure. Thanks for fixing this one.

[2022-02-07 09:18] thunderstorm654 commented on #646
Good news, thanks for confirming. How do you check which build is live in Azure?

[2022-02-07 21:37] ghost commented on #646
@thunderstorm654 this is something I learnt from MS as it's not intuative at all.

Open your function app in the Azure portal and select the Overview tab.

After a slight delay (maybe 10 seconds) in the _Essentials_ section (at the top) you should see a _See more_ link under _tags_ (not the one next to properties. Click that and then _Runtime version_ should appear under properties on the right ha

[2022-02-07 22:16] thunderstorm654 commented on #646
Brilliant thanks so much for replying - been wondering how to check this for a long time! Turns out it was hiding in *almost* plain sight all along :)

[2022-02-08 14:33] PawelKaczanowski7N opened #754 "Invoke-DurableActivity -Input takes only objects nested max 1 level"
Orchestation function:
[code]

Hello1 function:
[code]

Output:
[code]

[2022-02-08 21:25] pkesseli opened #755 "`Import-AzKeyVaultCertificate` PFX in PowerShell Azure Function: Missing private key"
When I run the following script in PowerShell 7 locally (setting `$TriggerMetadata.FunctionDirectory` to `'.'`:

[code]

I get the following output:
[code]

If I run the same command in an Azure Function with PowerShell runtime on Windows, it outputs the following:

[code]

It appears the private key cannot be read by powershell. Equally, when trying to import the certificate into an Azure key vau

[2022-02-08 22:15] Francisco-Gamino commented on #755
@pkesseli  --  Could you please confirm that when you say locally you mean running the function locally (not just as stand alone script in a PowerShell window)? If this is the case, could you please share the Core Tools version you are using?

[2022-02-09 00:58] Francisco-Gamino opened #756 "Make throughput warning message visible for tooling diagnosis"

[2022-02-10 21:28] davidmrdavid commented on #646
Thanks @oobegreg for helping with the discussion here! Glad to hear the patch is finally out. Thanks all

[2022-02-10 23:35] #756 closed, assigned to Francisco-Gamino

[2022-02-11 07:50] ruankrWrk commented on #744
I got it to work by simply calling Get-OutputBinding after Push-OutputBinding, this is not documented as the process so not sure if this is correct, but it seems to work:

[code]

Also worth mentioning that if you provide any further output after it stops working again. i.e.

[code]

[2022-02-12 23:00] ghost commented on #755
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-14 22:26] davidmrdavid commented on #744
Thanks @ruankr for providing a workaround. This is certainly quite strange, and I'm surprised this works after calling `Get-OutputBinding`. We'll use that insight in our investigation, so it's very much appreciated

[2022-02-16 00:01] #755 closed, assigned to Francisco-Gamino

[2022-02-16 21:08] Francisco-Gamino commented on #751
Hello @michaelpeng36 -- I am assigning this to you since you are already working on it.

[2022-02-22 06:26] HoLengZai commented on #650
Any update on that issue please?
Using PowerShell 7. I don't even have the property "isReplaying" in the $triggerMetadata, I only have Input and nothing related to replay info.

I guess it's not a big development since I can see the replay status on the Host log file
[code]

Thanks

[2022-02-22 07:30] kwill-MSFT commented on #754
@PawelKaczanowski7N see https://github.com/Azure/azure-functions-durable-extension/issues/1922.  Specifically you will want to serialize your object to JSON before sending it to the activity function:

`Invoke-DurableActivity -FunctionName 'Test2' -Input ($result | ConvertTo-Json -Depth 5)`

@davidmrdavid as the owner of that other issue where docs are supposed to be updated.

[2022-02-22 08:21] PawelKaczanowski7N commented on #754
It's a dirty workaround but it will work in most cases(my also), side effect is that you loose objects type as everything is converted to hashtables and arrays.

Thank you

[2022-02-22 20:14] #751 closed, assigned to Francisco-Gamino, michaelpeng36

[2022-02-24 15:27] pascalnaber commented on #221
We need the az cli in our Azure Function as well.
We followed the steps and running az works. So that's great.
But unfortunately we are not able to login as service principal
az login --service-principal -u abc -p def --tenant ghi

It looks like the current version of the Azure CLI cannot be copied.
Can you please give us some guidance to make this work?

The error when running the az login --serv

[2022-03-02 14:03] alessiodecastro opened #771 "Error Importing dependency MicrosoftTeams module"
Hi, I have an Azure Function Powershell the function is in production and is correctly using commands belonging to the imported module requirement:
[code]
We receive the following trace, seems like it is trying to download the new version but get error:
[code]
The MicrosoftTeams module is available from the PS gallery, the PS core version used is 7.0
![image](https://user-images.githubusercontent.

[2022-03-02 22:10] Francisco-Gamino commented on #771
Hello @alessiodecastro -- Thank you for including the invocation id in the issue, this helped me find the logs for your function app. The main issue is the size of the `MicrosoftTeams` module, which is ~203 MB. As a workaround, you can include this module with your function app content. To do so, please add the module to `<functionAppRoot>/Modules` folder and republish.

[2022-03-03 08:14] alessiodecastro commented on #771
Hi @Francisco-Gamino thanks for your quick reply, I added the module as follow:
[code]
and removed the target from requirements.psd1 in order to avoid the download from the PSgallery.
This is working!

Thanks

[2022-03-03 08:40] weq commented on #359
It's been atleast 2 years now. Any update when pwsh is going to be treated like a first class citizen in Azure Functions...?

[2022-03-03 16:24] JustinGrote commented on #359
As of today, you can now run powershell functions on linux, you can also set up SSH as part of your cold-start in Windows to make ssh remoting work, and very soon (hopefully 7.3) the remoting functionality will be exposed to allow for custom remoting transports.

Being a user, I feel it is as well treated as any of the other isolated runtimes (javascript/go/etc.), but feature development has defin

[2022-03-03 18:44] Francisco-Gamino commented on #771
Hi @alessiodecastro -- Thank you for the update. I am glad the workaround unblocked your scenario.

[2022-03-03 18:44] #771 closed, assigned to nobody

[2022-03-03 20:10] weq commented on #359
PSremoting to Linux just works as intended when using it anywhere else than
an Azure function (making the assumption that the subsystem is configured
ofc). It is just super annoying that simple stuff still requires us to use
modules like posh-ssh instead of the native methods. Even more so when
we’ve gotten tools like scp in basically any modern os now.

It just falls between 2 chairs instead of a

[2022-03-03 21:27] JustinGrote commented on #359
This aspect isn't Azure Functions responsibility, this is Powershell SSH remoting subsystem itself. There was a big fight about it about a year back and the PS team decided not to remove the hardcoding and instead open up the transport. That work is coming along here:
https://github.com/PowerShell/PowerShell/pull/16923

[2022-03-04 07:02] weq commented on #359
So you are saying that psremoting from something like Ubuntu has `ssh.exe`
bundled and that is still what is being used? Or is it relying on just
`ssh` native executable on linux? I just find it oddly weird that what I'd
consider to be a base feature is not available in an azure function but
available everywhere else I use the same version of PS. Cause if so then
I'd sorta argue it could still be

[2022-03-04 09:28] snerte opened #773 "Deserialization converts JsonString to Object"
**Reproduction steps**

I am experiencing this issue while calling an `Invoke-ActivityFunction` from an orchestration function. I have taken control over serialization and deserialization.

Orchestrator:
[code]

Output from Write-Host in `Orchestrator`:

`INFORMATION: Calling ActivityFunction with: { (...) some long JSON string }`

So I know my deserialization works.

ActivityFunction:
[code]

**C

[2022-03-04 16:32] JustinGrote commented on #359
SSH remoting in Powershell relied on 'ssh.exe' being in the path, that is hardcoded into the code. A poor design decision IMHO but it is what it is.
https://github.com/PowerShell/PowerShell/blob/0302b1f48e250c9387f976b78c9f4b6434ac9420/src/System.Management.Automation/engine/remoting/common/RunspaceConnectionInfo.cs#L2180-L2184

[2022-03-04 16:33] JustinGrote commented on #359
So if you use the linux functions worker in consumption, it has SSH preinstalled. The windows one doesn't but you can install it yourself. IMHO function workers should be as lean as possible and you bring your own dependencies.

[2022-03-05 06:08] e-karlsson opened #772 "Push-OutputBinding Blob name"
Hi! Currently working on a function in Powershell with queue trigger. The queue item will contain some information, for example Blob name that a report should be saved as. However, I cannot find a way to set the Blob name during runtime.

The function.json looks like this:
[code]

Can I set the {blobname} inside the function? Cannot find any information about this scenario in any documentation.

T

[2022-03-06 07:35] e-karlsson commented on #772
I just want to add also that a scenario that might be applicable would be to output multiple blobs, and that would then also require to give it names from the function

[2022-03-07 10:34] weq commented on #359
I can now see that my remarks are totally unjust cause it is my own fault. I trusted my TF to deploy my function app to have correctly deployed a linux environment which it clearly has not. 😳

[2022-03-07 18:07] cgillum commented on #773
@davidmrdavid or @AnatoliB would either of you be able to move this to the appropriate PowerShell repository and triage accordingly?

[2022-03-08 11:14] snerte opened #774 "Invoke-RestMethod fails seconds after deploy: The system detected an invalid pointer address in attempting to use a pointer argument in a call."
After I've deployed my PowerShell azure function, I immediately automatically call a HTTP triggered function to check the sanity of the deployed instance (as a component test).

This function calls another azure function using `Invoke-RestMethod`. The call to the function fails:
[code]

When I retry seconds later the call succeeds.

I expect the HTTP call to always work. It seems like this behavio

[2022-03-09 21:42] JustinGrote commented on #244
Now tracked here: https://github.com/Azure/azure-functions-host/issues/6284

[2022-03-11 23:21] Francisco-Gamino commented on #774
Hello @snerte -- Could you please open a support ticket and we will take a look? Thank you.

[2022-03-11 23:27] Francisco-Gamino commented on #772
Hello @e-karlsson -- These two features are currently not supported. However, you can use the Az.Storage cmdlets inside the PowerShell function to write to blobs.

[2022-03-16 02:00] ghost commented on #774
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-03-16 17:36] Francisco-Gamino commented on #774
Hello @snerte -- This doc explains how to create a support ticket: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request

[2022-03-18 09:54] snerte commented on #774
I have created a ticket with id `2203180050000623`.

[2022-03-18 16:45] Francisco-Gamino commented on #774
Thank you @snerte.

Adding @michaelpeng36 who is on servicing this week.

[2022-03-18 17:59] davidmrdavid commented on #754
Thanks @PawelKaczanowski7N and @kwill-MSFT.

This is a tricky behavior to fix because it constitutes a breaking change, but we're aware of it **_and_** I've already included the fix in the code for the next major release of the Durable Functions for PowerShell SDK. I'm looking to release that as soon as possible, most likely in the next few months (since it's a breaking change release, it requires

[2022-03-18 19:48] Francisco-Gamino opened #778 "Disable automatic module upgrades for PowerShell 6 function apps"
The Azure PowerShell team release a new version (2.7.3) of Az.Accounts on 3/1/22, which is not compatible with PowerShell 6. As a result, existing PowerShell 6 function apps that installed this version Az.Accounts stopped working. To mitigate this issue, the customer has two options: apply a manual work around to pin the function app to the previous version of Az.Accounts or to migrate their funct

[2022-03-18 20:43] davidmrdavid commented on #773
Thanks @cgillum. As I've noted in another thread - this is a known problem in the Durable Functions for PowerShell SDK, but unfortunately we can't fix it without introducing a breaking change. I have fixed this in the code for our next major release, which we're currently preparing. I can't give an exact estimate for when this will be out, but if everything goes well it shouldn't be more than a ha

[2022-03-21 22:27] Francisco-Gamino commented on #778
This issue has been fixed.

[2022-03-21 22:27] #778 closed, assigned to Francisco-Gamino

[2022-03-30 20:28] Francisco-Gamino commented on #774
Hello @snerte -- I reviewed the notes for this support ticket and it looks like the issue is resolved. Could you please confirm? Thank you.

[2022-04-03 23:00] ghost commented on #774
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-04 17:03] FordycetheSecond commented on #774
I'm having exactly the same issue, I'm afraid.

[2022-04-04 17:05] FordycetheSecond commented on #774
I use Invoke-RestMethod to call a usually unproblematic REST API and on the first attempt it fails with the message as above, but on the second, with no changes to the parameters or the endpoint, it succeeds.

[2022-04-04 18:27] Francisco-Gamino commented on #774
Hello @FordycetheSecond -- I would also recommend opening a support ticket. Here are the instructions on how to do this: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request. Thank you.

[2022-04-05 22:41] Francisco-Gamino opened #784 "Update PowerShell 7.2 to SDK 7.2.2"

[2022-04-05 22:42] #784 closed, assigned to Francisco-Gamino

[2022-04-05 22:43] Francisco-Gamino opened #785 "Add WorkerStatus capability to PowerShell language worker"

[2022-04-05 22:44] #785 closed, assigned to nobody

[2022-04-06 01:06] Francisco-Gamino opened #790 "Update PowerShell 7.0 to SDK 7.0.9"

[2022-04-07 02:29] Francisco-Gamino commented on #790
This issue is fixed by https://github.com/Azure/azure-functions-powershell-worker/pull/792.

[2022-04-07 02:29] #790 closed, assigned to Francisco-Gamino

[2022-04-08 02:40] Francisco-Gamino commented on #221
Hello @smholvoet -- Could you please share the `--debug` logs for the `devops extension` issue? Thanks.

[2022-04-08 20:01] ghost commented on #774
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-04-11 21:00] #774 closed, assigned to michaelpeng36

[2022-04-18 17:56] #727 closed, assigned to davidmrdavid

[2022-04-18 18:11] davidmrdavid opened #797 "Document new `Get-TaskResult` CmdLet"
As in title, a PR should be made in the azure docs repo to document this new feature.
Follow-up to https://github.com/Azure/azure-functions-powershell-worker/pull/786

[2022-04-18 23:44] JustinGrote commented on #204
Breakpoints now work in 2022.4.1-preview FINALLY! Thanks to @seeminglyscience for the work on this. Closing this issue unless I come across a significant enough regression.

https://github.com/PowerShell/vscode-powershell/releases/tag/untagged-0b17b3c1ec11c7dda14a

[2022-04-18 23:44] #204 closed

[2022-04-20 14:58] JustinGrote opened #800 "Azure Function Parser doesn't take dependent modules into consideration"
If I have a module that implements a custom enum, I cannot use that enum in my run.ps1 even if I have `#requires -module myCustomModule defined`. This is because the function info AST parser does not load these modules/types prior to parse in the runspace.

https://github.com/Azure/azure-functions-powershell-worker/blob/c77e1b705b4c8cd4bb37d508dba7bbb9c6bfbd44/src/FunctionInfo.cs#L163

[code]

[2022-04-20 21:00] Francisco-Gamino commented on #800
Hello @JustinGrote -- Thank you for reporting this issue. Have you tried importing the module in the `profile.ps1` ?

[2022-04-21 00:27] JustinGrote commented on #800
@Francisco-Gamino No dice, I'm pretty sure your parser isn't taking the runspace context into consideration.

Profile.ps1
[code]

[code]

[code]

This works just fine locally, however in the functions host it's not recognizing the authorizationlevel enum that comes from the .dll loaded in the module because the parse statement I referenced isn't running in the relevant runspace context, so it's no

[2022-04-21 01:36] JustinGrote commented on #800
I should also note, as a workaround, I can use the string representation of the enum.

[2022-04-22 02:09] JustinGrote opened #801 "Feature Request: Attribute-Based Input/Output Bindings using Worker Abstraction Attributes"
# User Story
As a PowerShell developer, I want to write my azure functions like I write my PowerShell modules without a bunch of unintuitive folder, json, and run.ps1 abstractions.

# Synopsis
The dotnet isolated worker now provides abstraction attributes with no dependencies for use in defining functions.
https://docs.microsoft.com/en-us/azure/azure-functions/dotnet-isolated-process-guide#binding

[2022-04-27 00:47] Francisco-Gamino opened #803 "Log the script line number and the list of modules and versions that are loaded in the current session when a CommandNotFoundException is encountered in a function invocation"
Currently, it is difficult to diagnose an issue where a function invocation results in a CommandNotFoundException. To help with investigations like this in the future, we should log the script line number that caused the exception.

Also, consider printing the list of modules and versions that are loaded in the current session.

Related [CRI](https://portal.microsofticm.com/imp/v3/incidents/detail

[2022-04-27 20:38] Francisco-Gamino commented on #800
Hi @JustinGrote -- Great to hear that you found a workaround. We will investigate this issue and triage it accordingly.

[2022-04-30 00:23] draggeta commented on #454
I have to say that I would like this too. Having the runspaces ready to go would improve performance so much at the cost of a longer one-time initial startup.

[2022-05-02 21:19] Estyn commented on #221
I'm having the same issues as @smholvoet  here's my debug output from the the az extension add --name azure-devops command.

`az extension add --name azure-devops --debug
DEBUG: cli.knack.cli: Command arguments: ['extension', 'add', '--name', 'azure-devops', '--debug']

DEBUG: cli.knack.cli: __init__ debug log:

Cannot enable color.

DEBUG: cli.knack.cli: Event: Cli.PreExecute []

DEBUG: cli.knack

[2022-05-03 22:48] AnatoliB commented on #773
@snerte Could you please post the content of your $jsonInput, so that we can reproduce the issue? Thank you.

[2022-05-04 03:17] Francisco-Gamino commented on #221
Thank you @Estyn for the logs. I will forward them to the Az CLI team. In the meantime, have you tried using this module https://www.powershellgallery.com/packages/VSTeam for your scenario?

/cc @smholvoet

[2022-05-07 17:14] KoenVerbeeck opened #804 "Could not load module"
The issue is explained in the Q&A here:
https://docs.microsoft.com/en-us/answers/questions/838024/azure-function-with-powershell-could-not-load-modu.html

Basically an Azure Function with PowerShell sometimes fails with the error a module could not be loaded (dbatools in this case). But other parallel executions of the Function succeed just fine. I tried both managed dependencies and by uploading

[2022-05-07 17:16] KoenVerbeeck opened #805 "Azure Function with PowerShell - Bad Gateway error"
The issue is explained in this Q&A:
https://docs.microsoft.com/en-us/answers/questions/838007/azure-function-with-powershell-bad-gateway-error.html

Sometimes a Function called from Azure Data Factory fails with a bad gateway error, probably because ADF receives a response code it is not expecting. Other parallel executions succeed, or some fail as well. In the live log, it seems the Function App

[2022-05-07 23:00] ghost commented on #773
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-11 03:00] #773 closed, assigned to nobody

[2022-05-11 20:38] Francisco-Gamino commented on #804
Hello @KoenVerbeeck -- Could you please add this to the top of your run.ps1 script: `Import-Module <ModuleName> -ErrorAction Stop`? This should tell us why the module could not be imported to the current session.

[2022-05-11 20:41] Francisco-Gamino commented on #805
Hello @KoenVerbeeck -- Could you please open a support ticket so we can take a closer look? To do so, please follow this instructions: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request. Thanks.

[2022-05-15 23:01] ghost commented on #805
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-15 23:01] ghost commented on #804
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-05-16 10:59] KoenVerbeeck commented on #805
I don't have permissions to open support tickets myself, but I asked our IT team to create one. Keep you posted.

[2022-05-16 11:31] KoenVerbeeck commented on #804
I added the import statement at the top inside a try catch block. Again, most calls succeed, some fail. I got a lot of these errors in the log stream:

![image](https://user-images.githubusercontent.com/7213731/168582966-53249c25-c2ef-41a7-bb8a-7ad595f4b0c3.png)

In ADF I get for a failed call the following error:

![image](https://user-images.githubusercontent.com/7213731/168583098-8e258de7-0756-

[2022-05-17 09:57] KoenVerbeeck commented on #805
The support ID number is 2205170050000474

[2022-05-17 22:55] Francisco-Gamino opened #806 "Update PowerShell 7.2 to SDK 7.2.4"

[2022-05-17 23:09] Francisco-Gamino opened #808 "Update PowerShell 7.0 to SDK 7.0.11"

[2022-05-17 23:20] ejizba commented on #752
I tested `func start` with an http, timer, & queue function on v4.5.0 of the host (which includes the fix for https://github.com/Azure/azure-functions-powershell-worker/issues/751) and everything appears to be working now on an M1 Mac 🎉

As noted earlier, this only applies to PowerShell 7.2

[2022-05-17 23:20] #752 closed, assigned to michaelpeng36

[2022-05-17 23:22] #806 closed, assigned to Francisco-Gamino

[2022-05-19 18:18] #426 closed, assigned to Francisco-Gamino

[2022-05-19 19:54] Francisco-Gamino opened #812 "Log module installation time"
Use this log message to create an alert when installing the Az module from the PowerShell Gallery is taking too long.

[2022-05-19 22:06] #812 closed, assigned to Francisco-Gamino

[2022-05-20 09:00] nmwael commented on #771
So you just downloaded this https://www.powershellgallery.com/packages/MicrosoftTeams/4.3.0 and extracted the nupkg file? I must admit it seems a bit silly.. First, yaay there's a dependency management system.. Then ooh you want to use a dependency thats too large.. Well then do something else. :(

[2022-05-20 19:08] Francisco-Gamino commented on #653
This is a duplicate of https://github.com/Azure/azure-functions-powershell-worker/issues/812, which has been fixed.

[2022-05-20 19:08] #653 closed, assigned to Francisco-Gamino

[2022-05-20 19:10] Francisco-Gamino commented on #808
This issue has been fixed.

[2022-05-20 19:10] #808 closed, assigned to Francisco-Gamino

[2022-05-20 21:45] Francisco-Gamino commented on #800
This issue was also reported in this [CRI](https://portal.microsofticm.com/imp/v3/incidents/details/308954497/home).

[2022-05-20 21:50] Francisco-Gamino commented on #805
Closing this issue because there is a support ticket. Please reopen if your issue is not resolved.

[2022-05-20 21:50] #805 closed, assigned to nobody

[2022-05-20 21:51] Francisco-Gamino commented on #804
Hello @KoenVerbeeck -- Could you please share a short repro?

[2022-05-20 23:18] Francisco-Gamino commented on #771
Thank you for your feedback @nmwael. I have opened an issue in the PowerShell Get repo to [make the temp folder in Save-Module configurable](https://github.com/PowerShell/PowerShellGet/issues/650). Having this functionality will help us unblock this scenario.

[2022-05-31 18:15] bshea5 commented on #752
Is there an additional step I'm missing? I appears to error still for myself. I get the following output from `func start`

Azure Functions Core Tools
Core Tools Version:       4.0.4544 Commit hash: N/A  (64-bit)
Function Runtime Version: 4.3.2.18186

And I get the following error
[code]

[2022-05-31 18:28] ejizba commented on #752
No you're not missing anything. This will be included in v4.5.0 of the host which has not been released yet. The latest version of the host released is 4.3.2 as shown in your comment. I expect it to go out sometime in the next few weeks

See here for a list of core tools releases:
https://github.com/Azure/azure-functions-core-tools/releases

[2022-06-04 23:01] ghost commented on #804
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-05 11:14] knightian opened #819 "local.settings.json not being loaded into $env"
macos 12.4 (Intel)

Powershell 7.2.4 (Also tried with 7.1.7)

azure-functions-core-tools@4

When some environment variables are specified in the local.json.settings file to be used in local testing, they are not made available to the powershell functions when calling $env:variable_name it is just returning blank as if it is not set.

The settings file is definitely being parsed correctly as it is

[2022-06-07 00:49] Francisco-Gamino commented on #819
Thanks you @knightian for reporting this issue. Would it be possible for you to share a simple repro?

Hi @michaelpeng36 -- Could you please take a look? Also, should we move this issue to the Core Tools repro?

[2022-06-08 00:01] #804 closed, assigned to nobody

[2022-06-09 08:56] knightian commented on #819
@Francisco-Gamino yep:

powershell 7.2.4 installed on macos via brew

Install dotnet 6 SDK (also dotnet 5 SDK and dotnet 3.1 core SDK however unsure if these two are needed)

Clone this repo: [https://github.com/KelvinTegelaar/CIPP-API](https://github.com/KelvinTegelaar/CIPP-API)

I install the azure function tools and azurite like so (Using Node LTS (16.5.1)):

`npm install --global azure-functio

[2022-06-09 17:45] Francisco-Gamino commented on #819
Thank you @knightian for the repro.

@michaelpeng36 -- Could you please transfer this issue to the Core Tool repro and take a look? Thanks in advance.

[2022-06-09 17:52] kaldurak opened #820 "Function reloads all Az modules on every call"
I've had my FunctionApp running for awhile now - I went to add a new function and when testing the execution I noticed that it reloads all my Az modules everytime I call it.
I've tested with both the portal's test function and calling the function using the web end-point (http post)

Loading all the modules results in the call timing out which returns the nice little 'we are down - we are trying t

[2022-06-09 18:58] liliankasem opened #821 "Populate WorkerMetadata in WorkerInitResponse message"
The protobuf has been updated to include a `WorkerMetadata` property within the `WorkerInitResponse` message. The worker should include `WorkerMetadata` when sending the `WorkerInitResponse` to the host.

[PR](https://github.com/Azure/azure-functions-language-worker-protobuf/pull/76) for reference on how to fill in the fields.

You will need to pull in the latest protobuf version first (this [doc]

[2022-06-09 19:28] knightian commented on #819
@Francisco-Gamino I figured it out an appologies for the bumsteer. It seems that Windows does not care about case for the environment variables. So the team developing on Windows have `applicationid` in their local.settings.json file, and the code calls `$ENV:ApplicationId` and this works perfectly fine on windows, however on macOS it literally looks for `ApplicationId` which doesn't exists as it'

[2022-06-09 19:28] #819 closed, assigned to nobody

[2022-06-09 19:56] Francisco-Gamino commented on #819
Thank you @knightian for the update.

[2022-06-10 20:27] Francisco-Gamino commented on #820
Hello @kaldurak -- The PowerShell worker can create multiple runspaces as needed, depending on the function execution duration and the incoming request rate. Every runspace will have to load its own set of modules. Do you think this is what is happening?

[2022-06-10 22:04] potluri96 opened #822 "Unable to install Graph.API module & PnP in Azure Functions"
@{
# For latest supported version, go to 'https://www.powershellgallery.com/packages/Az'.
# To use the Az module in your function app, please uncomment the line below.
# 'Az' = '8.'
'Microsoft.Graph' = '1.'
'PnP.PowerShell' = '1.*'
}

2022-06-10T21:47:16.874 [Warning] The first managed dependency download is in progress, function execution will continue when it's done. Depending on the content of

[2022-06-11 03:25] kaldurak commented on #820
I've restarted the app, called the function,  and waited for it to timeout then tried again, each call loads the modules over again.   I get that the initial call might do this on a cold start, but every call?  Seems extreme.

[2022-06-13 19:30] Francisco-Gamino opened #823 "Log module installation time"
Use this log message to create an alert when installing the Az module from the PowerShell Gallery is taking too long.

[2022-06-13 19:30] Francisco-Gamino commented on #823
This issue has been fixed by https://github.com/Azure/azure-functions-powershell-worker/issues/812

[2022-06-13 19:30] #823 closed, assigned to Francisco-Gamino

[2022-06-14 20:51] andystaples opened #824 "Update protobuf to latest"

[2022-06-14 22:00] #824 closed, assigned to nobody

[2022-06-15 04:11] Francisco-Gamino opened #826 "Make PowerShell 7.2 the default when creating a PowerShell function app"
Make PowerShell 7.2 the default when creating a PowerShell function app.

This is the list of clients to be updated:
- Core Tools (update local.settings.json value to be `7.2`)
- Stacks API (this will update the UX, VSCode Extension, and Az CLI)
- Az.Functions cmdlets

[2022-06-15 16:41] ejizba commented on #752
FYI - The release of core tools with this fix finished a few days ago:

https://github.com/Azure/azure-functions-core-tools/releases/tag/4.0.4590

[2022-06-15 22:33] liliankasem commented on #821
Latest proto version is now [v1.5.8](https://github.com/Azure/azure-functions-language-worker-protobuf/releases/tag/v1.5.8-protofile)

Edit: I had to force push so please confirm the commit hash is `14b2ba5` when you pull the protobuf into your repo

[2022-06-16 18:36] Francisco-Gamino commented on #820
Hello @kaldurak -- Could you please open a support ticket so we can take a closer look? To do so, please follow this instructions: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request. Thanks.

[2022-06-16 18:40] Francisco-Gamino commented on #822
@michaelpeng36 -- Could you please set up a repro for this on Linux? Thanks.

[2022-06-16 18:42] Francisco-Gamino commented on #826
Work on this after `PowerShell 7.2` is GA.

[2022-06-16 22:59] michaelpeng36 commented on #822
@potluri96 Setting up a PowerShell function app on Linux (Focal) with the `requirements.psd1` you specified resulted in an error, but it does not quite match the messages you're seeing. In particular, here is the error message I'm receiving
[code]
Could you try adding an asterisk after the versions specified for `Az` and `Microsoft.Graph`?

[2022-06-17 22:13] Francisco-Gamino opened #827 "Update integration tests pipeline to use the same VM pool used for building the language worker"
Update integration tests pipeline to use the same VM pools we used for building the language worker.

linux: 'MMSUbuntu20.04TLS'
windows: 'MMS2019TLS'

[2022-06-18 02:44] Francisco-Gamino opened #829 "Update build script to install the required version of grpc tools if needed"
Currently, the build script it not installing the required version of grpc tools if it not found.

We should add another check here https://github.com/Azure/azure-functions-powershell-worker/blob/dev/tools/helper.psm1#L122 , and if the required version of grpc tools is not present, install it.

[2022-06-20 18:44] #829 closed, assigned to Francisco-Gamino

[2022-06-20 19:28] #827 closed, assigned to Francisco-Gamino

[2022-06-20 20:02] ghost commented on #820
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-20 23:02] ghost commented on #822
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-06-23 21:02] #820 closed, assigned to nobody

[2022-06-24 00:02] #822 closed, assigned to michaelpeng36

[2022-06-24 20:58] mcdonamw commented on #242
I just ran across this issue searching for an explanation of an issue I just experienced with a runspace.  This is the first time I've used them and I'm using it with pre-built code from PoshGUI.com.

I have a form, where a button calls a Microsoft.Graph cmdlet requiring the Microsoft.Graph.Identity.SignIns module.  This cmdlet is wrapped up in an Async { } code block (per PoshGUI's implementation

[2022-06-25 16:31] oising commented on #242
This seems more like a pure powershell question -- you should join one of the discord servers ( https://discord.gg/powershell ) and ask there. This repo is azure function specific.

[2022-07-01 16:06] cgillum commented on #572
I created a new PowerShell app using [this quickstart](https://docs.microsoft.com/en-us/azure/azure-functions/durable/quickstart-powershell-vscode), modified the activity function to throw an exception, and I'm observing the behavior described in this issue: activity failures are not propagated to the orchestrator function. An error is recorded in the activity function logs, but the activity funct

[2022-07-01 20:04] cgillum commented on #572
I have since learned that you have to explicitly enable exception propagation for cmdlets in PowerShell in order for things like try/catch to work properly. This was not documented in our error handling documentation for PowerShell, so I submitted a PR to add this critical information: https://github.com/MicrosoftDocs/azure-docs-pr/pull/203648.

Once published, the updated guidance can be found he

[2022-07-01 20:04] #572 closed, assigned to AnatoliB

[2022-07-01 20:05] cgillum commented on #748
Pinging @davidmrdavid for a quick triage.

[2022-07-07 09:55] jethrovaneetvelde commented on #557
You're not an idiot. I wasted 8+h until I found this here...

[2022-07-11 20:44] davidmrdavid commented on #557
This is something we should address. I'm going to re-open this issue for tracking. I'll look to make a sensible default.
Apologies for the confusion in the API.

[2022-07-19 22:42] Francisco-Gamino opened #840 "Add release tests to validate that modules can be imported in Windows compatibility mode"
We recently had a sev 2 incident when the PowerShell worker was updated to SDK version 7.0.11. This version of the SDK has a regression where modules could not be imported in Windows compatibility mode using the `-UseWindowsPowerShell switch. This work item is to add regression tests or OGFs to validate the top 5-10 most used modules in PowerShell Functions. The goal of these tests is to try to ca

[2022-07-21 00:57] invisibleaxm commented on #752
i know its an old issue but wanted to say thanks as this was a major blocker for me. Thumbs up!

[2022-07-22 20:09] Francisco-Gamino commented on #840
We should add two tests for this:
1) OGFs for Windows
2) PowerShell worker (only for Windows)

[2022-07-26 21:58] andystaples opened #841 "New Programming Model - override the new PM Module with managed dependency version"
When customer specifies a version of AzureFunctions.PowerShell.SDK in requirements.psd1, it should override the version that was bundled with the worker for indexing. Currently, it will not, as managed dependencies are not loaded until the first function invocation. This module must be available before or during the ProcessFunctionMetadataRequest call.

[2022-07-27 20:35] Francisco-Gamino commented on #841
For now, we will use the module that is bundled with the language worker.

A second part is to detect if the customer is trying to update `AzureFunctions.PowerShell.SDK` via requirements.psd1, and if this is the case, fail with an explicit error to the user that they cannot update the module this way.

[2022-08-04 11:08] Thunder-Ray commented on #545
I got this error because I was trying to run PowerShell script using the run button on top right corner. This kicks off a local PowerShell session using PowerShell extension.  HttpResponseContext is not available in a local PowerShell session.

Instead, we should kick off the debug using the "Run" icon in "Run and Debug" panel after installing "Azure Function Core Tools". This will kick of a local

[2022-08-05 23:55] Francisco-Gamino opened #842 "Update the VM image used for the PowerShell 7 worker in Functions V3 for integration tests"
2016 VMs are no longer supported in Azure Dev Ops. We should update the pipeline to use MMS2019TLS for Windows builds. For more info, please see: https://github.com/Azure/azure-functions-powershell-worker/blob/dev/azure-pipelines-e2e-integration-tests.yml#L9-L19

File to be updated: https://github.com/Azure/azure-functions-powershell-worker/blob/v3.x/ps7/azure-pipelines-e2e-integration-tests.yml#L

[2022-08-10 00:36] Francisco-Gamino commented on #842
This issue has been fixed. For more info, please see https://github.com/Azure/azure-functions-powershell-worker/pull/843.

[2022-08-10 00:36] #842 closed, assigned to nobody

[2022-08-17 00:08] yihchuang opened #869 "PowerShell global variable not retrieved correctly"
Variables are defined at the beginning of the PowerShell script; without the “global” keyword
Assuming these variables are in global scope.

[code]

Here is a function to renew the SQL access token and persist it to a JSON file.
In Get-SQLToken function, global variables were saved differently, with and without "global" keyword.
This was the workaround for the issue:
```$Global:accessToken = $toke

[2022-08-17 22:50] Francisco-Gamino opened #845 "Upgrade PowerShell 7.2 to SDK 7.2.6"
Upgrade PowerShell 7.2 to SDK 7.2.6

For more info, please see https://github.com/PowerShell/PowerShell/releases/tag/v7.2.6.

[2022-08-17 22:52] Francisco-Gamino opened #846 "Upgrade PowerShell 7.0 to SDK 7.0.12"
Upgrade PowerShell 7.0 to SDK 7.0.12

For more info, please see https://github.com/PowerShell/PowerShell/releases/tag/v7.0.12.

[2022-08-18 22:21] kshyju opened #847 "Add more samples for different triggers to the examples folder for reference."
Add more samples for different triggers (Ex: EventHub, Queue) to the examples folder for reference.

[2022-08-19 16:59] Francisco-Gamino opened #848 "Make PowerShell 7.2 default in all our docs"
This is the list of docs that need to be updated:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#powershell-versions

[2022-08-23 20:56] Francisco-Gamino commented on #826
The following clients have been updated:

- Core Tools (update local.settings.json value to be 7.2) --> https://github.com/Azure/azure-functions-core-tools/pull/3135
- Stacks API (this will update the UX, VSCode Extension, and Az CLI) --> https://github.com/Azure/azure-functions-ux/pull/6827
- Az.Functions cmdlets --> TBA

[2022-08-24 10:53] madrum commented on #545
Adding to Thunder-Ray's comment, the run/debug configuration must be "Attach to Node Functions", as opposed to "PowerShell Launch Current File" or "PowerShell: Interactive Session". It won't matter if you use F5 or click the Run button, so long as this configuration is selected.

My VSCode did not get automatically configured with an "Attach to Node Functions" configuration after installing the ex

[2022-08-24 20:29] Francisco-Gamino opened #850 "Create PowerShell 7.4 language worker"

[2022-08-24 20:29] Francisco-Gamino commented on #850
/cc @MadhuraBharadwaj-MSFT @AnatoliB @michaelpeng36

[2022-08-26 05:01] ruankrWrk commented on #685
I  am seeing some odd behaviour (also raised as a new issue [here](https://github.com/Azure/azure-functions-powershell-worker/issues/851) )

HttpTrigger
[code]

Orchestrator
[code]

Hello (Activity)
[code]

Bye (Activity)
[code]

It seems there is a breaking change in the latest version of PowerShell for the Wait-DurableTask functionality. Using the above code when I do:

"FUNCTIONS_WORKER_RUNTIME

[2022-08-26 07:27] ruankrWrk opened #851 "Wait-DurableTask broken in Powershell 7.2 functions"
It seems there is inconsistency and breakage with external event handling when using Powershell 7.2 in Azure functions.

HttpTrigger
[code]

Orchestration function
[code]

Hello (Activity)
[code]

Bye (Activity)
[code]

Using the above code when I do:

"FUNCTIONS_WORKER_RUNTIME_VERSION": "~7"

It works and will run Bye and produce the correct output. However, when I change it to:

"FUNCTIONS_WORKE

[2022-08-26 22:31] #845 closed, assigned to Francisco-Gamino

[2022-08-27 02:07] Francisco-Gamino opened #855 "Update PowerShell language worker protobuf version to 1.5.6"

[2022-08-27 02:08] Francisco-Gamino commented on #855
This issue has been fixed. For more info, please see https://github.com/Azure/azure-functions-powershell-worker/pull/825.

[2022-08-27 02:08] #855 closed, assigned to andystaples

[2022-08-29 17:39] sanalkr opened #856 "Powershell functions.. Connect-MsolService giving TLS error"
I am trying to use MSOnline in Azure Function Powershell to manage AuthenticationMethods for **Azure AD B2C Tenant**

[code]
But while running the function on Azure, I am facing the error _"You are using TLS version 1.0, 1.1 and/or 3DES cipher which are deprecated to improve the security posture of Azure AD."_
I have added the below statement but still, this error is occurring.

I can't seem to fi

[2022-08-30 05:15] davidmrdavid commented on #851
Thanks for the heads up @ruankr.
I also seem to be able to repro this with 7.2 but not with ~7.

I'll keep this thread updated on what happened - I'm putting this as a top priority item.

[2022-08-31 00:16] davidmrdavid commented on #851
Hi @ruankr - thankfully, the error and fix was easy to find. I've opened a WIP PR with the fix here: https://github.com/Azure/azure-functions-powershell-worker/pull/857

I'll let the CI run overnight, add a test for this tomorrow, and shortly after we ought to be able to merge and fix. Will keep you posted.

[2022-09-02 10:14] ruankrWrk commented on #851
@davidmrdavid

I noticed there's been a merge to revert the breaking change, but unsure as to how to target this change? At the moment I am desperately waiting for this to be resolved as need it for my functions...

Also, as a side note... I deployed my test code above to an app in Azure and messages are not even coming in at all.. Looking at the logging it appears this is due to authentication as

[2022-09-02 16:29] davidmrdavid commented on #851
Hi @ruankr,

Sorry for the inconvenience, we'll find your a solution.

If you're referring to these PRs ( https://github.com/Azure/azure-functions-host/pull/8694 and https://github.com/Azure/azure-functions-host/pull/8693) those are for ensuring this regression does not manifest in PowerShell 7 (which had not released yet), so that users continue to have that workaround.

For PowerShell 7.2 - we h

[2022-09-02 17:30] davidmrdavid commented on #851
I'm still experimenting with PowerShell 7.2 workarounds, but I can confirm that PowerShell 7.0 seems to work as expected. This is rather strange. Will continue this thread posted.

@ruankr: can you please confirm if PowerShell 7.0 is a viable temporary workaround for you?

[2022-09-02 17:36] ruankrWrk commented on #851
@davidmrdavid  Unfortunately I cannot use Powershell 7 due to some dependencies only available in 7.2. I'm looking at using storage tables as a temporary workaround in the mean time however it's getting messy so ideally would like to stick to external events.

My test code I am using to play around with is here: https://github.com/ruankr/azure-durable-funcevents

I've worked in a workaround in Hel

[2022-09-02 17:45] davidmrdavid commented on #851
Hi @ruankr:

Does your authentication workaround for Hello3 also resolve the original issue of the non-determinism exception? From my analysis so far, I am fairly certain that the core faulty component is non-deterministic loading of external events data in 7.2. As a result, even with the authentication solved, I am not certain that external events will work properly.

The external storage tables

[2022-09-02 17:47] davidmrdavid commented on #851
@ruankr: it would help me to understand when exactly this started failing for you. If you had an app that was working before, and then it started showing this error - can you please provide me the earliest timestamp of this issue in UTC?

[2022-09-02 18:04] ruankrWrk commented on #851
@davidmrdavid The authentication workaround works but the external events still do not get picked up.

It's a new issue as I've only recently had the need to report back from another long running instance and was looking what best to do, external events seems to fit for what I need, if it worked...

[2022-09-02 18:13] davidmrdavid commented on #851
Understood, that fits what I expected would happen as well.
The fact that this is a new requirement also explains why I'm having some trouble finding a recent Host version without this bug for 7.2.

My recommendation at this point would be to split your workflow into separate orchestrators, split by what would have been the external event call. Then, you can have your long running process simply f

[2022-09-02 18:31] ruankrWrk commented on #851
Yep, that's what I am doing already by means of storage queues. It is messy though as I have to use custom powershell to add/remove messages etc but its a workaround for now.

Appreciate your help with the events though, will be nice to get a solution at some point ;)

[2022-09-04 22:17] AnatoliB commented on #856
Modules imported with the `-UseWindowsPowerShell` are in fact loaded to a separate Windows PowerShell session in a separate process (see [about Windows PowerShell Compatibility](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_windows_powershell_compatibility)). Changing the `[Net.ServicePointManager]::SecurityProtocol` variable in the local process does not

[2022-09-07 23:16] yihchuang commented on #869
@Ved2806 any updates on this?

[2022-09-10 23:02] ghost commented on #856
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-09-14 00:02] #856 closed, assigned to nobody

[2022-09-21 18:36] Francisco-Gamino opened #863 "[Managed Dependencies] Remove empty spaces for entries in requirements.psd1"
Remove empty spaces for entries in requirements.psd1.

In the example below, the module `'Az.Aks     '` will not be installed because it has empty spaces to the right. We should trim the entries in the requirmenets.psd1 to avoid issues like this in the future.
[code]
Output of Save-Module when trying to install the modules define in `requirements.psd1`:
[code]

[2022-09-21 18:47] Francisco-Gamino commented on #863
/cc @AnatoliB @MadhuraBharadwaj-MSFT @michaelpeng36 @janegilring

[2022-09-22 00:03] Francisco-Gamino opened #864 "Remove unused yml files for Appveyor and Azure Dev Ops"

[2022-09-29 16:57] #640 closed, assigned to davidmrdavid, michaelpeng36

[2022-10-04 13:11] Ved2806 commented on #869
Hi @Francisco-Gamino Could you please help with this issue?

[2022-10-04 21:23] liliankasem commented on #821
@Francisco-Gamino can we prioritize this for the next sprint?

[2022-10-04 21:37] liliankasem commented on #821
Documentation to help with implementation: https://dev.azure.com/msazure/One/_git/AAPT-Antares-Docs?path=/TeamDocs/FunctionTeamDocs/Design/OOPWorkers/WorkerMetadata.md&version=GBmaster&_a=preview

[2022-10-05 18:12] Francisco-Gamino commented on #821
@liliankasem -- Yes, we will include this fix in the next sprint.

[2022-10-05 18:52] liliankasem commented on #821
Thank you!

[2022-10-05 20:14] Francisco-Gamino commented on #738
Hello @khaloud40 -- Are you still facing this issue? if you are, could you please open a support ticket so we can take a closer look? To do so, please follow this instructions: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request. Thanks.

[2022-10-07 22:44] Francisco-Gamino opened #871 "Update Quickstart: Create a PowerShell function in Azure using Visual Studio Code to use PowerShell 7.2 and .Net Core 6"
Update Quickstart: Create a PowerShell function in Azure using Visual Studio Code to use PowerShell 7.2 and .Net Core 6.

This document is located at https://learn.microsoft.com/en-us/azure/azure-functions/create-first-function-vs-code-powershell.

[2022-10-09 23:02] ghost commented on #738
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-10-12 20:24] Francisco-Gamino opened #872 "Write a warning when the user installs the whole Az module"
Write a warning when the user installs the whole Az module

[2022-10-13 00:02] #738 closed, assigned to Francisco-Gamino, MadhuraBharadwaj-MSFT

[2022-10-13 16:25] Francisco-Gamino opened #873 "[regression]: Need to register PSGallery repository for Linux Consumption in PowerShell 7.0"
Need to register PSGallery repository for Linux Consumption in PowerShell 7.0

[2022-10-14 20:13] davidmrdavid opened #874 "Create API-level docs for Durable Functions"
Other DF SDKs contain auto-generated API docs. For us, that's difficult to do since the SDK currently resides next to the worker itself, but we still should be able to manually provide some API docs.

[2022-10-14 20:14] davidmrdavid commented on #874
FYI @michaelpeng36

[2022-10-15 00:37] Francisco-Gamino opened #875 "Update PowerShell language worker protobuf to version 1.5.8"

[2022-10-15 03:07] Francisco-Gamino commented on #821
Adding prerequisite for this work item: https://github.com/Azure/azure-functions-powershell-worker/issues/875.

[2022-10-17 17:29] #875 closed, assigned to nobody

[2022-10-17 23:51] Francisco-Gamino commented on #821
prerequisite work item has been completed.

[2022-10-18 01:54] Francisco-Gamino commented on #821
@liliankasem - In order to populate the language worker `RuntimeVersion`, we need to initialize the worker to use the PowerShell SDK (either `7.2` or `7.0`). Currently, this initialization takes place in the first `ProcessFunctionLoadRequest` once we know the `functionAppRoot` and whether the customer has enabled `Managed Dependencies`. However, to complete this work item, we need to move the init

[2022-10-18 17:54] kshyju opened #877 "Send IncludeEmptyEntriesInMessagePayload capability to host to get empty entries in payload"
For trigger payloads of collection type(ex: event hub trigger payload with batched messages), host will [skip empty entries ](https://github.com/Azure/azure-functions-host/issues/8499)by default. We [recently made a host level change](https://github.com/Azure/azure-functions-host/pull/8642) so that host will not skip empty entries if worker includes `IncludeEmptyEntriesInMessagePayload` capability

[2022-10-19 20:02] Francisco-Gamino opened #878 "Update Managed Dependency documentation to mention that the Az module is commented out in the requirments.psd1"
Update Managed Dependency documentation (https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#dependency-management) to mention that the `Az` module is commented out in the requirments.psd1. Currently our documentation says that the Az module is included by default.

Here is what the requirements.psd1 file looks like after function app creation:
[code]

[2022-10-19 20:38] Francisco-Gamino commented on #869
Hello @Ved2806 -- The global variable is available within the same PowerShell session. Functions invocations might or might not use the same PowerShell session, depending on your hosting plan, concurrency settings and workload. As a result, one instance of this variable initialized by one function invocation might not be visible to the next function invocation. If you need to share data between fu

[2022-10-19 20:38] Francisco-Gamino commented on #864
This issue has been fixed.

[2022-10-19 20:38] #864 closed, assigned to nobody

[2022-10-19 21:54] mattchenderson opened #879 "Dev container does not work out of box"
Create a codespace
run build.ps1
See error complaining about dotnet SDK 6.0
`dotnet --list-sdks` will show a 3.x version
It looks like the wrong base image is being specified. We seem to be using a V3 version
https://github.com/Azure/azure-functions-powershell-worker/blob/5b2eaf5816f1b851d9b6d695ac987c1e2d812091/.devcontainer/Dockerfile#L6
I haven't tried it, but I suspect moving to mcr.microsoft.

[2022-10-20 18:02] yihchuang commented on #869
Hi @Francisco-Gamino, thank you for the reply.

In our case, the same global variable is used within the same PowerShell session.

Also, this issue started showing up in last June, were there any changes in PowerShell 7.x or Function App by that time?

[2022-10-20 20:45] Francisco-Gamino commented on #869
Hello @yihchuang -- Could you please open a support ticket so we can take a closer look? To do so, please follow this instructions: https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request. Please include your function code, the time stamp for when you observed this behavior as well as your function logs.

Lastly, I took a look at the code you shared,

[2022-10-20 22:19] yihchuang commented on #869
Hi @Francisco-Gamino,

Thank you for the reply, I will create a support ticket and provide the info as requested.

For those lines of code that you pointed out, were added just for providing the Support additional info.  Not in the production code.

[2022-10-21 16:19] senorezi opened #881 "Authenticating against Azure SQL via PowerShell Azure Function with User Managed Identities"
Summary: I am trying to authenticate to my Azure SQL Server in my PowerShell Azure Function App. My function app settings have managed identity turned on
![image](https://user-images.githubusercontent.com/65371233/197241838-cb684a75-e18b-42cd-affc-f9f1645efed7.png)

I have 2 users in the "User assigned" tab that I am trying to use to authenticate in my code. These 2 users are also listed as users

[2022-10-21 20:43] senorezi commented on #881
this is fixed. sorry forgot to add the system managed identity in sql

[2022-10-25 01:30] Francisco-Gamino opened #880 "Update Managed Dependencies to use Save-PSResource (PSGet v3)"

[2022-10-26 21:06] Francisco-Gamino opened #882 "[DependencyManagementTests] Remove module installation from log entry"
In the DependencyManagementTests, we validate that the expected logs are properly generated for a successful module download.  This is what the expected log entry looks like:
`Module name '{0}' version '{1}' has been installed. Module installation completed in {2} ms.`
source: https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/resources/PowerShellWorkerStrings.resx#L181-L182

[2022-10-26 21:45] #882 closed, assigned to Francisco-Gamino

[2022-10-27 19:49] Francisco-Gamino commented on #869
@yihchuang -- Sounds good, thank you. I will follow up with you via the support ticket. Closing issue.

[2022-10-27 19:49] #869 closed, assigned to Ved2806

[2022-10-27 19:52] Francisco-Gamino commented on #881
Thank you @senorezi for the update. Closing issue.

[2022-10-27 19:52] #881 closed, assigned to nobody

[2022-10-27 19:55] Francisco-Gamino commented on #873
This regression is only present in PowerShell 7.0 and not in PowerShell 7.2. PowerShell 7.0 is reaching EOL on 12/3/22. As a mitigation, we will ask our customers to migrate their PowerShell 7.0 Linux Consumption apps to PowerShell 7.2. Closing issue.

[2022-10-27 19:55] #873 closed, assigned to Francisco-Gamino

[2022-10-31 22:32] Eonasdan opened #885 "What does powerShellVersion "~7" actually mean?"
Sorry if this is the right place to ask this.

I am working on making sure my FA are all on the latest LTS version of dotnet and PowerShell. I'm update my arm template to deploy a PowerShell FA. I set the value of `"powerShellVersion": "~7"` under the `Microsoft.Web/sites/properties/siteconfig`

After deploying, I checked the app in Azure and was greeted with this message:

![image](https://user-i

[2022-11-02 20:02] Francisco-Gamino opened #886 "[Docs] Create troubleshoot guide: The term '<cmdletName>' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
We need a section in the [Azure Functions PowerShell developer guide](https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal) for troubleshoot the `CommandNotFound` exception. This would be similar to the one for the [Troubleshoot error: "Azure Functions Runtime is unreachable"](https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-

[2022-11-02 20:57] Francisco-Gamino commented on #885
Hello @Eonasdan -- `"~7"` in this case refers to `"7.0.x"`. When we first added support for PowerShell 7.0, this was under the assumption that there would be no breaking changes between Powershell 7.0 and 7.2. Unfortunately, this was not the case, and as a result, we could not directly update customers with ~7 as their PowerShell version to 7.2. Going forward we will require our customers to inclu

[2022-11-03 13:40] Eonasdan commented on #885
Thanks for the update.

[2022-11-03 13:40] #885 closed, assigned to nobody

[2022-11-05 04:22] #821 closed, assigned to Francisco-Gamino

[2022-11-07 03:04] rachelxj-ms opened #887 "How to debug azure-functions-powershell-worker on local machine?"
From readme, it mentioned "The PowerShell worker alone is not enough to establish the functions app, we also need the support from [Azure Functions Host](https://github.com/Azure/azure-functions-host). You may either use a published host CLI or use the in-development host. But both of the methods require you to attach to the .NET process if you want a step-by-step debugging experience."

But how t

[2022-11-08 01:36] Francisco-Gamino opened #888 "Upgrade PowerShell 7.2 to SDK 7.2.7"
Please see 7.2.7 release https://github.com/PowerShell/PowerShell/releases/tag/v7.2.7 for more information.

[2022-11-08 18:25] #888 closed, assigned to nobody

[2022-11-10 18:09] Francisco-Gamino opened #890 "Add docs that show the user how to get to the PowerShell Functions and PowerShell Managed Dependencies detectors in the Azure Portal"
Add docs to the `Azure Functions PowerShell developer guide` that show the user how to get to the `PowerShell Functions` and `PowerShell Managed Dependencies` detectors in the https://learn.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#dependency-management section.

[2022-11-12 02:39] Francisco-Gamino opened #892 "Update PowerShell language worker dependencies"
Update PowerShell language worker dependencies and include the latest version of Microsoft.Extensions.Logging.Abstractions.

[2022-11-15 01:11] #892 closed, assigned to Francisco-Gamino

[2022-11-16 21:12] Francisco-Gamino opened #894 "Set PowerShell 7.0 stack to deprecated after 12/3/22"
Set PowerShell 7.0 stack to deprecated before 12/09/2022.

[2022-11-18 22:26] Francisco-Gamino opened #895 "[Httptrigger] Add support for nullable types in query string"
Currently, for an httptrigger function, null or empty values cannot be passed in the query string.

Repro: create a default http trigger function. The name of my function is `ProcessData`. In the run.ps1 file, define the following:
[code]

The `$uri` below has a null value for `name` in the query string.
[code]

However, the `$Request.query.name` property will not be available. By default, the Fun

[2022-11-23 07:06] nrv-96 opened #896 "How to import Azure Function Module in Local Powershell?"
I am trying to find out the module of durable function of Local Powershell but unable to find the module in internet.

I got the error as below:

[code]

Is there any module or dependency to resolve this?

[2022-11-28 21:00] #894 closed, assigned to Francisco-Gamino

[2022-11-30 21:21] Francisco-Gamino commented on #895
We should consider fixing this for PowerShell 7.4 release.

[2022-11-30 21:23] Francisco-Gamino commented on #896
This cmdlet implementation is currently embedded into the PowerShell worker. There is no way to use it from a stand alone PowerShell session. What is your scenario? What are you trying to do?