[2018-08-09 23:06] asavaritayal opened #1 "[Programming Model] Entry Point"
## Script File

PowerShell support for Functions will support a run file of **.ps1** format. We'll use the workflow below to determine which file to run:

_If_ the **"scriptFile"** attribute is set in **function.json**
_Else if_ the project contains a single **.ps1** file
_Else if_ **run.ps1** is present
_Else_ throw an error

## Entry Point
Instead of running a plain script, we'll define a  metho

[2018-08-09 23:12] asavaritayal opened #2 "[Programming Model] Function Format"
## Summary
**TBD**  (general information about the function format)

## Binding to arguments

### Input bindings

1. Trigger input
**TBD**

2. Additional input
**TBD**

### Output bindings

1. $return type
**TBD**

2. Generic type
**TBD**

3. Multiple output values for a single binding
**TBD**

## Referencing external modules
**TBD**

## Logging
**TBD**

## Async
**TBD**

[2018-08-24 02:49] TylerLeonhardt opened #3 "Errors aren't logging"
[This function](https://github.com/Azure/azure-functions-powershell-worker/blob/master/src/Azure.Functions.PowerShell.Worker/PowerShell/Host/HostUserInterface.cs#L156-L159) never gets fired when you do a `Write-Error` so either we've got a bug in the PowerShell SDK or I've set up the host incorrectly.

Verbose, Warning, and regular logs work fine.

[2018-08-24 02:50] TylerLeonhardt opened #4 "Concurrency story"
Right now, I'm managing 1 runspace which isn't enough considering we want to handle multiple requests.

[2018-08-24 02:57] TylerLeonhardt opened #5 "Investigate why the Host sends Json bodies as Strings in the TypedData"
The host is packaging the Body from the request as a `String` rather than `Json` in TypedData

<img width="455" alt="image" src="https://user-images.githubusercontent.com/2644648/44562361-21029c00-a70e-11e8-899e-4378fd3d8128.png">

This is the data I get from the host:

[code]

I'm invoking the script with `Invoke-WebRequest` in PowerShell:

[code]

Is this a bug in the host or by design and I nee

[2018-08-24 03:10] TylerLeonhardt opened #6 "Tests needed"
Tests still needed:

#### Unit
- [x] Worker init request tests
- [ ] Function load request tests
- [ ] Invocation request tests

- [x] TypeConverter tests
- [x] ~Startup arguments tests~ using a library to parse these instead
- [x] FunctionLoader tests
- [x] Pester tests for module
- [x] PowerShell Manager tests
- [x] PowerShell extension tests

#### Integration
- [ ] Requests
- [ ] Logging

[2018-08-24 18:11] TylerLeonhardt opened #7 "CustomHost logs line by line"
This means a log is generated per line. This is not ideal. It should log with new line characters.

[2018-08-25 01:27] tylerl0706 opened #8 "Setup AppVeyor after open sourcing"
Need to figure out how to onboard the project to the Azure AppVeyor instance.

cc/ @asavaritayal @pragnagopa is this something you could help with?

[2018-08-27 22:42] tylerl0706 opened #10 "Container story"
Can we use the CloudShell image and work off of that or do we need to use some Azure Functions base image?

I'm thinking about authentication with Azure. How can a user's script manage azure resources without doing heavy authentication lifting in their function?

cc @asavaritayal @pragnagopa

[2018-08-29 05:32] TylerLeonhardt opened #15 "Analyze function.json and .ps1 at FunctionLoadTime to prevent issues"
See this TODO:
https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/Azure.Functions.PowerShell.Worker/Function/FunctionLoader.cs#L22

It would be nice if we can:
* Analyze the .ps*1 to make sure it has the right parameters for each input binding
* Make sure the ps*1 exists
* Make sure the entry point exists if defined

[2018-08-29 05:34] TylerLeonhardt opened #16 "Switch to module approach"
This involves:
* having everything run in the local scope
* using `AddCommand` as much as possible
* finishing up #14 which is the PR that adds the PowerShell module
* expose the module in the user's function

[2018-08-29 14:31] tylerl0706 opened #17 "Support .psm1s via an entry point?"
Previously, Functions only supported 1 file type for a worker. They've fixed this to support multiple file types.

We should give the user the ability to use a module (.psm1) and then specify an entry point that could be a function that the module exposes.

[2018-08-29 16:39] #7 closed, assigned to TylerLeonhardt

[2018-08-29 20:49] TylerLeonhardt opened #18 "revisit namespaces and module name"
We should make sure our namespaces are consistent and that the module name is what we want it to be.

[2018-08-29 20:59] TylerLeonhardt opened #19 "Don't initially initialize PowerShell until we receive WorkerInitRequest"
This includes the `using namespace` work that needs to be done.

That way we are more aligned with the protocol.

[2018-08-30 02:03] #3 closed, assigned to TylerLeonhardt

[2018-08-31 00:09] #16 closed, assigned to TylerLeonhardt

[2018-08-31 00:19] #19 closed, assigned to nobody

[2018-08-31 19:00] TylerLeonhardt opened #24 "build.ps1 to build and test"
`build.ps1 -Bootstrap` : tells you what you're missing on your system
`build.ps1`: does the dotnet publish
`build.ps1 -Package` : packages into nuget package
`build.ps1 -Test` : runs xUnit tests and Pester tests (for module)

[2018-09-04 16:41] pragnagopa opened #27 "Investigate using System.Net.Http.HttpRequestMessage"
Instead of defining [HttpRequestContext.cs](
https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/Http/HttpRequestContext.cs)
Investigate building a System.Net.Http.HttpRequestMessage from the [RpcHttp](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L348)

[2018-09-06 14:51] TylerLeonhardt opened #29 "Install Azure PowerShell and Archive module"
We need to do a `Save-Module` to put Azure PowerShell & Archive in the worker's modules folder.

[2018-09-06 14:53] TylerLeonhardt opened #30 "ToTypedData converts ints and doubles into byte[] s"
I think it's because of the use of LanguagePrimitives instead of just `as`

https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/Utility/TypeExtensions.cs#L130

[2018-09-07 20:26] TylerLeonhardt opened #37 "Change the module name to Microsoft.Azure.Functions.PowerShellWorker"
(drop the `.Module`)

So it's a bit more concise.

[2018-09-07 21:31] pragnagopa opened #38 "Prefix system logs with LanguageWorkerConsoleLog"
Prepfix Language Worker Console logs with LanguageWorkerConsoleLog to differentiate user logs vs system logs. Any console logs wihtout LanguageWorkerConsoleLog prefix will be written to user logs only
Also update info here:
https://github.com/Azure/azure-functions-host/wiki/Authoring-&-Testing-Language-Extensions#logs

[2018-09-07 23:06] #30 closed, assigned to TylerLeonhardt

[2018-09-07 23:07] #37 closed, assigned to TylerLeonhardt

[2018-09-07 23:27] #38 closed, assigned to TylerLeonhardt

[2018-09-07 23:38] #18 closed, assigned to nobody

[2018-09-07 23:41] #5 closed, assigned to pragnagopa, mhoeger

[2018-09-10 21:36] #27 closed, assigned to TylerLeonhardt

[2018-09-10 21:37] TylerLeonhardt opened #44 "Add to functions template repo"
Similar to C# and JavaScript, we want to provide function templates in Powershell for commonly used trigger scenarios -

- [x] Http Trigger ([JS example](https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/Templates/HttpTrigger-JavaScript))

- [x] Timer Trigger ([JS example](https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/Templates/TimerT

[2018-09-10 21:37] tylerl0706 opened #45 "Integrate PowerShell worker into Core Tools"
So that you can run a powershell function app.

[2018-09-11 21:44] tylerl0706 opened #48 "Autoloading the AzureRm module doesn't work in worker - but works fine interactively"
Have a function that just runs:

`Login-AzureRmAccount`

Note the error:
[code]

This same cmdlet works just fine in `pwsh`:
[code]

We can fix the above error by `Import-Module AzureRm.Netcore` but we should understand why this is needed.

[2018-09-12 21:12] tylerl0706 opened #49 "Understand authentication and authorization"
What does this mean for HttpTriggers vs other triggers?

How does this work with multi-tenants?

How do we give functions the ability to manage Azure resources? MSI? Service Principle?

[2018-09-12 21:31] #24 closed, assigned to TylerLeonhardt

[2018-09-12 21:52] TylerLeonhardt opened #50 "What does Durable Functions mean for the PowerShell worker?"
We have a general idea behind what Durable Functions are... but how do we make one for PowerShell.

[2018-09-12 21:59] #29 closed, assigned to TylerLeonhardt

[2018-09-15 02:27] pragnagopa commented on #50
cc: @kashimiz

[2018-09-17 18:31] kashimiz commented on #50
As part of getting Durable Functions to work in languages run out-of-proc in Functions v2, we are developing an [execution schema](https://github.com/Azure/azure-functions-durable-extension/wiki/Out-of-Proc-Orchestrator-Execution-Schema-Reference) which is used to communicate between the process running the Functions runtime and Durable Functions extension, and the process running the [language wo

[2018-09-17 21:33] tylerl0706 commented on #8
Alright. AppVeyor is all set up. @pragnagopa can you share with me the github badge link so I can add it to the readme?

[2018-09-17 21:34] tylerl0706 commented on #8
Also, is the nupkg going into an existing package feed that azure-functions-core-tools knows about?

[2018-09-17 21:54] tylerl0706 commented on #8
@pragnagopa took care of this in #53 😄 Thanks! Closing this now.

[2018-09-17 21:54] #8 closed

[2018-09-18 16:35] tylerl0706 commented on #17
I'm going to close this and we'll wait to hear feedback from customers.

[2018-09-18 16:35] #17 closed

[2018-09-19 21:36] tylerl0706 commented on #10
This is being addressed here:
https://github.com/Azure/azure-functions-docker/pull/27

[2018-09-21 00:59] daxian-dbw opened #62 "Lambda and other thoughts"
- Allow the user to declare assembly dependencies. (what UX?)
   - e.g. A function depends on a custom assembly, which will be loaded by `using Assembly ...` or `Add-Type ...`, or `Assembly.Load(...)`. Do we want to support that scenario? One solution would be the `AssemblyLoadContext.Default.Resolving`.

- ~Capture `Write-Host` to logging~ `Write-Host` also write the message to `Information` stre

[2018-09-21 03:45] tylerl0706 commented on #62
I like these thoughts. I have a few follow ups.

----

Can you give an example of this?

----

I liked our previous idea of having a Module path at the worker level and a module path a the user level.

[code]
If we go this route, then `#Requires -Modules` makes sense too because it could load the "correct" version if multiple are present.

This lets us ship things in the worker while allowing the

[2018-09-21 20:19] daxian-dbw commented on #62
I updated this bullet to give an example.

[2018-09-24 18:46] JustinGrote opened #63 "Testing on Consumption Plan or App Service?"
Hello Team,

Very much looking forward to this worker and thanks for your hard work. Is there a process for adding this worker to the v2 runtime on the Azure consumption plan or a private app service, or is it only possible to run on a functions runtime develop host today?

Just curious if it was possible to test "in production" so to speak along with integrations to app insights, etc. so thanks!

[2018-09-29 18:59] asavaritayal commented on #63
@JustinGrote unfortunately, we don't have an option to run on Azure today. The feature still has some ways to go before we can ask our customers to give it a try themselves. However, we'll make sure to keep the repo updated with the latest - please stay tuned!

[2018-09-29 18:59] #63 closed

[2018-09-29 19:05] asavaritayal commented on #1
@pragnagopa do you have an update on this?

[2018-09-29 19:06] asavaritayal commented on #2
Noticed the label. Is there a question here? :)

[2018-09-29 19:10] asavaritayal commented on #10
Sorry, just catching up on this. We'll need to extend the azure-functions-base image to add PS and the PS language worker. Noticed the PR - I've added @ahmelsayed to review.

[2018-09-29 19:13] asavaritayal commented on #44
Tweaked the description a little bit:) The right place for the templates is this repo - https://github.com/Azure/azure-functions-templates . @soninaren will be able to help with any questions!

[2018-09-29 19:14] asavaritayal commented on #45
https://github.com/Azure/azure-functions-powershell-worker/issues/8 is closed now. Also noticed the PR on the core tools repo. Can we go ahead and close this now?

[2018-09-29 21:58] tylerl0706 commented on #45
We can close it when that PR is merged in.

[2018-09-29 22:00] tylerl0706 commented on #44
I believe @daxian-dbw already has a PR out for this somewhere. So I'll let him respond. I like the new description! 👍

[2018-09-29 22:59] asavaritayal commented on #2
Ah, got it!

By `generic type`, I meant a standard output type. You already answered that question.

For `multiple output values for a single binding`, I mean the scenario where we need to write multiple values to the same output binding. For e.g. if our function were to write 10 messages to the same queue, we shouldn't need to declare it 10 times in the `function.json` file. In C# we use a collec

[2018-09-29 23:07] tylerl0706 commented on #2
So this is a bit confusing to me because tuple or array aren't valid grpc types (AFAIK). So does the worker look for this tuple and iterates over it and sends messages with the valid grpc types (int, string, bytes, json, etc) that are contained in the tuple?

[2018-09-30 01:08] asavaritayal commented on #2
I'm not certain about the implementation. @elprans can you please help out our PowerShell friends?

[2018-09-30 11:24] cmatskas opened #64 "Unable to publish locally on the Dev branch"
Hi team,

I'm following the instructions on my local machine trying to get a PoSH function running locally before running it on the cloud. I'm having issues with the publish process on the **DEV branch**.

Settings:
**OS:** MacOS High Sierra
**.NET Core Version**: 2.1.4
**PoSH version**:  6.1.0

Installed .NET Core and PoSH via HomeBrew. I can verify that both exist and run as expected. However, w

[2018-09-30 12:13] cmatskas opened #65 "Powershell worker finds no Powershell Functions"
Hi team,

I'm trying to run the sample code in the Examples folder but when I run it from the root level (Function App level) it fails to find any of the Azure Functions in the folder. I get the following output:

[code]
Any ideas what I could be missing?

[2018-09-30 12:57] tylerl0706 commented on #64
Sorry. The docs in the README need to be updated.

In the root of the project, can you run `build.ps1`?

[2018-09-30 13:32] cmatskas commented on #64
Hi @tylerl0706 sure.
I checked out Dev, I run build.ps1. It found a bunch of missing dependencies
Rerun `build.ps1 -Bootstrap` and I got this:

[code]
It seems that it's all good. However, I'm still unable to run any powershell functions locally as per #65 . I copied the new binaries of the Dev branch into the powershell worker directory but no joy

Thanks,
CM

[2018-09-30 13:36] tylerl0706 commented on #64
Just to confirm, you are copying the contents of:

[code]
Into

[code]

Is that correct?

[2018-09-30 13:40] cmatskas commented on #64
Should we move this thread to #65 and close this when the docs get updated?

[2018-09-30 13:41] tylerl0706 commented on #65
Just to confirm, you are copying the contents of:

[code]
Into

[code]

Note: you'll need to specify the correct version of what you have installed.

Is that correct?

[2018-09-30 13:42] tylerl0706 commented on #65
I can try to repro this within the hour

[2018-09-30 13:45] cmatskas commented on #65
I'm copying the following dependencies from `azure-functions-powershell-worker/src/bin/debug/netcoreapp2.1/publish` into `usr/local/Cellar/azure-functions-core-tools/2.0.3/workers/powershell`

### Source Directory
[code]

### Destination Directory

[code]

[2018-09-30 13:57] cmatskas commented on #65
If you could have a look and let me know, that would be great :)
I guess I'm doing something silly but would be great to validate that it's me and not the worker.

Also, any chance you could explain how to run it on the Azure portal? As it seems, if I switch the Function settings to use `powershell` as the worker

[2018-09-30 14:01] tylerl0706 commented on #65
Let me give a repro a try, I'll report back.

Right now, you can only run the PowerShell worker locally. This project is still new (announced at Ignite last week) and has not been implemented in Azure yet.

[2018-09-30 14:04] cmatskas commented on #65
I understand :) I know it's super new but I was hoping we were a bit further ahead.
It's OK for now to run locally as I have a couple of weeks ahead of me before needing it on Azure (get it?)...

And thanks for helping out with the repro!

[2018-09-30 19:57] tylerl0706 commented on #65
Sorry for the delay. Had some trouble with hotel wifi. Will try within the hour since I'll be bored in the airport 😊

[2018-09-30 20:49] tylerl0706 commented on #65
Sadly, I'm unable to repro this. Here's what I did:

[code]

double check that the `func` you're running is the correct `func`. In other words this:

[code]

should be:

[code]

[2018-09-30 20:53] tylerl0706 commented on #65
also since you originally ran `dotnet publish` because of our docs I would recommend doing a:

[code]

[2018-09-30 21:03] tylerl0706 commented on #64
Updated the docs! Thanks @cmatskas :)

[2018-09-30 21:03] #64 closed

[2018-09-30 22:58] cmatskas commented on #65
Thanks @tylerl0706 I'll take it for a spin tomorrow and report back. I appreciate you looking into this today.

[2018-10-01 17:41] tylerl0706 commented on #1
I tested this out and the host gives the path of the single ps1 in the directory. So that works as expected.

So we really have all scenarios except for:

`Else if Run() is present` which would be tedious to implement and I don't think makes a lot of sense for powershell since you can very easily declare parameters of a script by putting a param block at the top.

[2018-10-01 17:52] tylerl0706 commented on #1
I'd like to close this issue if we all agree that that last scenario doesn't really make sense for PowerShell.

[2018-10-01 18:32] daxian-dbw commented on #44
The template PR is out there for a while: https://github.com/Azure/azure-functions-templates/pull/736

[2018-10-01 18:44] soninaren commented on #44
@daxian-dbw, Had forgotten to tag templates PR as blocked. It was left as is because we had to wait for announcements related to PowerShell at Ignite. I should be able to review and merge the templates PR.

[2018-10-01 20:34] pragnagopa commented on #1
Yes. Either use the default run.ps1 or let users specify an entry point.

[2018-10-01 20:34] #45 closed

[2018-10-01 20:41] tylerl0706 commented on #10
We can close this since that PR is merged 😄

[2018-10-01 20:41] #10 closed

[2018-10-01 22:04] tylerl0706 opened #68 "How do create a new Function App in Azure from the func CLI?"
In other words, I'm ready to deploy my function. What do I do to do that?

cc @asavaritayal, @pragnagopa

[2018-10-01 22:15] daxian-dbw commented on #44
Thanks @soninaren. The template PR currently only contains the HTTP trigger template. We will submit PRs for templates of other triggers when we get to them.

[2018-10-01 22:31] asavaritayal commented on #1
Agreed that it may not make sense in the case of PowerShell since we can run the script directly. I'm good to go ahead and close this issue.

[2018-10-01 22:31] #1 closed

[2018-10-02 16:18] tylerl0706 opened #69 "Dependency story"
How will the user package up module dependencies in their function app?

We will have the user package up their modules to a `Modules` folder either at the `function` level or at the `function app` level. We will also modify the PSModulePath so it looks like (in order):

`/path/to/function/Modules` - modules that apply to a specific function
`/path/to/functionapp/Modules` - modules that apply to a

[2018-10-02 16:51] #48 closed

[2018-10-03 17:31] tylerl0706 commented on #44
Spoke to @asavaritayal offline about this. We should have HttpTrigger and TimerTrigger templates for Private Preview

[2018-10-04 22:51] daxian-dbw commented on #69
The module folder in a specific function level might be a bit overkill. I suggest we go with FunApp level module folder and worker level module folder. This will make it easy to pack.

If we get a feedback requesting the specific function level module folder, we can revisit.

[2018-10-04 23:17] daxian-dbw opened #71 "PSObject returned from function gets in the way of serialization to JSON"
Objects returned from function run is warpped into `PSObject`. Further more, the objects in a container object such as array/hastable may also wrapped into `PSObject`. This makes it not possible to directly use `Newtonsoft.Json` in the language worker to serailize object to JSON. We need to consider to use `ConvertTo-Json` for serailizatoin. For deserialization, it should be fine to directly use `

[2018-10-05 06:23] daxian-dbw opened #73 "Disable .ps1 support in entryPoint"
When working on the refactoring, I found that although `Import-Module -Name script.ps1` does import the script file as a module, the module doesn't expose anything, and functions from the script are actually loaded in the global scope.

This unexpected behavior will leave those functions around to pollute the Runspace.
~We could use `New-Module -ScriptBlock` to replace the current approach.~
`New-

[2018-10-05 06:59] daxian-dbw commented on #73
I guess our choices are:
- Don't support `entrypoint` at all.
- Copy the `.ps1` file to a temp file and rename the extension to `.psm1`, then `import-module` the `.psm1` file. This doesn't seem worth the effort.

I'm inclined to the first option. @tylerl0706 what's your thought?

[2018-10-05 20:52] tylerl0706 commented on #73
Entrypoint is a functions concept and I think we should honor it if we can.

cc @asavaritayal @joeyaiello

[2018-10-05 20:55] tylerl0706 commented on #73
If we dot source and then run the function in the local scope, wouldn't that work?

[code]

[2018-10-05 22:59] #71 closed

[2018-10-08 22:50] daxian-dbw commented on #73
Then we cannot use `AddCommand`, which means we cannot differentiate between a hard exception (the script is broken) and an expected error because all kinds of errors will be written to error stream.

[2018-10-08 22:52] daxian-dbw commented on #73
I think it depends on whether it adds any value. What would be the scenarios for people to use an entry point along with a `.ps1` file? A `.ps1` file always has a default entry point.

[2018-10-08 22:53] tylerl0706 commented on #73
I thought we had `pwsh.HasErrors` available to us? Or is that set to true when there are errors in the error stream?

Also, using `AddCommand(...).AddStatement()` also has this problem with hard exceptions.

[2018-10-08 22:57] daxian-dbw commented on #73
As far as I understand, `pwsh.HasErrors` will be set to `true` if there is any error written to the error stream, which means the expected error will make it set to `true` too.

Didn't know the same issue happens to `AddStatement()` too. That's a shame 😦

[2018-10-08 22:58] daxian-dbw commented on #73
By the way, doing this will make passing the arguments hacky and error prone.

[2018-10-09 00:18] tylerl0706 commented on #73
So get this, that actually does throw it looks like?
![screenshot_20181008-171704](https://user-images.githubusercontent.com/2644648/46639958-19605080-cb1e-11e8-94a3-f5f642044855.jpg)

[2018-10-09 01:05] tylerl0706 commented on #73
Same with dot sourcing actually.

![screenshot_20181008-180451](https://user-images.githubusercontent.com/2644648/46641120-b4f4bf80-cb24-11e8-968a-b919cf842444.jpg)

[2018-10-09 01:38] tylerl0706 commented on #73
I might be holding on to nothing here.

Feel free to change it (remove the EntryPoint support) if you think this is something user's won't want and we can get feedback later.

Please confirm with PMs though.

cc @asavaritayal @joeyaiello

[2018-10-12 16:44] pragnagopa opened #75 "Add E2E tests using CLI from storage account"
CLI builds hat include the latest functions runtime  are available on

[code]

where platform in `linux-x64, osx-x64, win-x64, win-x86`

You can also get the version from

[code]

Update CI to use latest CLI.

[2018-10-12 16:45] pragnagopa commented on #75
cc: @soninaren
@tylerl0706 / @daxian-dbw  - Let me know if you have any questions

[2018-10-12 17:43] daxian-dbw commented on #75
@pragnagopa We don't use `func` CLI in our CI yet.
But we should write some E2E tests for PowerShell functions with the CLI (not sure how nodejs worker does E2E testing) -- is that what you are asking for in this issue?

[2018-10-12 20:44] pragnagopa commented on #75
How do you run E2E tests?

[2018-10-12 21:00] daxian-dbw commented on #75
I don't know 😄 that's why I was asking if that's what you want for this PR. We are not using `func` CLI in our CI today.

[2018-10-12 21:03] pragnagopa commented on #75
Yes. Please see https://github.com/Azure/azure-functions-java-worker/blob/dev/appveyor.yml for reference

[2018-10-12 22:15] pragnagopa commented on #75
Also, please see https://github.com/Azure/azure-functions-java-worker/tree/dev/endtoendtests/Azure.Functions.Java.Tests.E2E if you can just reuse that project

[2018-10-12 22:33] daxian-dbw commented on #75
Great, I will take a look at the project. A quick glance tells me it's using `dotnet xunit` runner, which has been deprecated recently (https://xunit.github.io/releases/2.4). You possibly will need to update it to use `dotnet test`.

[2018-10-12 23:12] SteveL-MSFT commented on #62
`func` CLI as a global tool makes sense but is orthogonal to this and I suspect many PowerShell scripters won't have dotnetcli installed.

From a packaging standpoint, I think it would be interesting to have a generic way to package a script and dependencies so that ITPros can easily distribute them in their environment even outside of AzF.  This can simply be a zip with a well known extension and

[2018-10-12 23:46] tylerl0706 opened #76 "Add FunctionApp "modules path" to PSModulePath"
We need to do the work that will add the FunctionApp's "modules path" to the `PSModulePath` so that we enable a way for users to leverage modules in their functions.

The path that gets added to the `PSModulePath` will be a we'll-known `Modules` folder. That exists in the FunctionApp directory.

If my FunctionApp exists at `C:\Temp\MyFuncApp` then the following path will be added to the beginning

[2018-10-13 05:15] JustinGrote commented on #62
As a user, I am partial to @tylerl0706's plan of having some common base modules like Az in the worker image but "further right" in the PSModule path so we can optionally supply a newer one. It would be the most user friendly and performant without sacrificing ability to bring more "bleeding edge" modules if you need them for certain new features/functionality.

[2018-10-13 06:42] tylerl0706 commented on #62
Yeah that would play nice with #76. 😊

[2018-10-15 22:42] daxian-dbw commented on #62
Thanks @KirkMunro for sharing your experiences. For the last two points, it's doable by loading a module to a separate [`AssemblyLoadContext`](https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md). Both code and data (statics) from a module can be isolated in that way.
The idea is to add a new flag `-Isolated` to `Import-Module` to explicitly make powershe

[2018-10-16 14:11] pragnagopa commented on #75
cc: @paulbatum

Thanks I will look into it. Here is the flow E2E tests
- Add E2E tests that cover supported triggers and bindings
- Build powershell worker
- Download CLI from the URL above. CLI will be updated before every functions runtime release
- Copy powershell worker to CLI\workers directory
- Use CLI to install extensions
- Start functions host via CLI **func host start**
- Run tests again

[2018-10-16 14:14] KirkMunro commented on #62
@daxian-dbw That's great to hear.

In addition to that work, on my second point, above, I think it would also be well worth the time for the PowerShell team to implement runspace-local storage, and that probably merits another RFC. The idea for runspace-local storage is straightforward: provide a thread-safe storage model for PowerShell modules that allows for runspace isolation of cached data in

[2018-10-16 18:06] daxian-dbw commented on #62
Binary module authors can already do this today, using `ThreadStatic` or `ThreadLocal` object. A `ThreadStatic` member is stored in the thread local storage, and is isolated for each thread. `Runspace` itself is also stored in a `ThreadStatic` member `Runspace.DefaultRunspace`. So when the same binary module is loaded in another `Runspace` running in a different pipeline thread, the `ThreadStatic`

[2018-10-16 19:39] KirkMunro commented on #62
I know each runspace has its own thread, but isn't it possible to have multiple threads using a single runspace? In which case ThreadStatic/ThreadLocal wouldn't be appropriate, correct?

[2018-10-22 15:33] asavaritayal opened #77 "Durable Functions Support for PowerShell"
New Feature - Looking for votes and/or user input to gauge traction.

[Tweet-sized description and examples](https://twitter.com/TylerLeonhardt/status/1054710089544679424?s=19) by @tylerl0706

[AB#4652662](https://msazure.visualstudio.com/9912b5ff-89a4-4651-bae2-9452eb7992a8/_workitems/edit/4652662)

[2018-10-22 21:46] ctmcisco commented on #77
Does really need a vote 😜. Definitely would love this to happen.

[2018-10-22 22:30] obilogic commented on #77
Yes ...yes please!

[2018-10-22 23:14] guidooliveira commented on #77
yes absolutely!

[2018-10-23 04:09] johnmccrae commented on #77
OOh, yes please. Love that idea. Plus 1 to JustinGrote's comments.

[2018-10-23 04:45] #76 closed

[2018-10-23 05:06] stefanstranger commented on #77
Yes please, we need this at a customer of mine. 👍

[2018-10-23 06:01] omiossec commented on #77
Yes !!!

[2018-10-23 13:46] johnnliu commented on #77
I think people are going to hate me, I want to discuss this in terms of priority.

First, we need to get PowerShell support onto AzureFunctions 2.0 and GA.

Then, there are several much nicer to haves:

- Import from PS Gallery
- Object, streaming arguments (not serialized strings)
- Managed Service Identity support
- Azure KeyVault support, like Azure Automation - would this be a binding that's c

[2018-10-23 14:22] Agazoth commented on #77
Yes, please!

[2018-10-24 04:28] SteveL-MSFT commented on #77
I would be interested in getting feedback from people who have tried durable functions supported in AzF today (C#, for example) and are familiar with the development experience.  Essentially, your orchestrator script maintains state while the activity functions are stateless.  However, there are other ways to maintain state across multiple functions to replace the need for a single monolithic scri

[2018-10-24 20:11] tylerl0706 commented on #73
ping PMs @asavaritayal @joeyaiello

[2018-10-25 01:52] vmsilvamolina commented on #77
Yes!! We need PowerShell support!

[2018-10-25 03:46] JustinGrote commented on #77
For implementation, what seems most logical to me is to expose the orchestrator object in a variable, just like $req, initially. Later powershell functions as wrappers around the methods could make it more user friendly.

[2018-10-25 18:05] tylerl0706 opened #81 "Add an $IsAzureFunctions"
Similar to `$IsWindows`, `$IsMacOS`, `$IsLinux`

Just a helper global variable that says whether a script is running in Azure Functions

cc/ @joeyaiello @SteveL-MSFT

[2018-10-25 19:52] tylerl0706 opened #82 "How should the PowerShell worker implement $returns (if at all)?"
# Background

In Azure Functions, there is a concept of "output bindings" which are essentially the output of your function. You define these outputs in the bindings section of the `function.json`. Here's an example `function.json` for an HttpTrigger and response:

[code]
notice the binding `Response` has a `direction` of `out`.

There exists a "special" output binding called `$returns` which woul

[2018-10-25 20:02] JustinGrote commented on #81
While there's other ways to check for this in general, I agree it's low
impact and low effort, no valid reason not to have it other than backlog
(and unlikely but possible variable conflicts for those new to the
platform)

On Thu, Oct 25, 2018, 11:05 AM Tyler James Leonhardt <
notifications@github.com> wrote:

[2018-10-25 20:10] tylerl0706 commented on #81
Alternatively, if Azure Functions already exposes an Environment variable, we could possibly leave it at that.

@asavaritayal @pragnagopa and idea if this is a thing?

[2018-10-25 20:10] dfinke commented on #81
Was thinking about how to get that the other day. I want to test my PS code locally but emit the results to `$res` if I'm running as an Azure Function.

[2018-10-25 20:30] swngdnz commented on #82
Every single time I've used "write-output" for logging, I've ending up regretting it.

Just say no.

However, returning tuples from functions is useful, extremely useful. I would be very disappointed to see that capability gone from any implementation (I've taken to commonly using something I first saw in golang: $ret, $err = function-call).

So I vote for Solution 1.

[2018-10-25 20:35] tylerl0706 commented on #69
fixed in #76

[2018-10-25 20:35] #69 closed

[2018-10-25 20:36] tylerl0706 commented on #65
Any luck @cmatskas? I recommend grabbing the latest. A lot has changed:

`./build.ps1 -Clean`

[2018-10-25 20:38] cmatskas commented on #65
Will do :-)

CM

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Tyler James Leonhardt <notifications@github.com>
Sent: Thursday, October 25, 2018 13:36
To: Azure/azure-functions-powershell-worker
Cc: Christos Matskas; Mention
Subject: Re: [Azure/azure-functions-powershell-worker] Powershell worker finds no Powershell Functions (#65)

Any luck @cmatskas<https://g

[2018-10-25 22:03] dfinke commented on #82
First blush, I like option 2.

[2018-10-25 22:51] tylerl0706 commented on #82
Care to elaborate, @dfinke? 😊

[2018-10-25 23:07] dfinke commented on #82
I like the notion that all the output in the function gets logged, and I'm guessing to the trace console, and no extra work on my part I can expect the last line to be returned to the caller.

I'm guessing a majority of functions can leverage that. Most of the http triggers I've built, I emit info to the pipeline for logging/tracing and then then the last statement I have is `$result > $res`.

For

[2018-10-25 23:51] KirkMunro commented on #82
Would leveraging PowerShell classes be out of the question? Explicit return, and attributes to control bindings of functions to methods. Plus in C# functions I have an explicit way to log information I want logged, and would like the same in PowerShell. Lazier approaches (return everything), and return the last thing don't feel right to me.

[2018-10-26 00:05] tylerl0706 commented on #82
Just to add some context:

We are planning on just leveraging PowerShell logging that already exists. All of the `Write-*` cmdlets.

[2018-10-26 00:40] rjmholt commented on #82
Not advocating these, but other possibilities might be a special variable:

[code]

Or even a cmdlet similar to the ones for output bindings:

[code]

(That dollar in the function name would probably break things, but I thought it was a cute idea).

Neither of these strike me as *great*, but they might avoid some of the pipeline collection flattening problems...

[2018-10-26 00:55] tylerl0706 commented on #44
Timer, Blob, Queue trigger coming soon - https://github.com/Azure/azure-functions-templates/pull/794

Cosmos DB trigger verified but found a bug in the worker. fixed in #83.

[2018-10-26 01:29] tylerl0706 commented on #73
I just saw that we got some chatter about classes support. If we keep entryPoint, we can leverage it with classes no? That seems like a reasonable use case?

[2018-10-26 14:00] Jaykul commented on #82
@rjmholt oddly enough, `Push-$Return` is a perfectly legal function name:
[code]

Having said that, magic variables and extra functions **are not* the answer. That's the problem we had before: dealing with weird/odd ways of getting values in and out (by reading and writing files) put me off using PowerShell in Azure functions completely (frankly, put me off Azure functions completely as something

[2018-10-26 14:43] SteveL-MSFT commented on #82
In our team discussion, the logical PowerShell way of aligning with AzFunctions semantics for `$returns` is either only support it via classes which has a 1:1 mapping or return everything that is sent to the pipeline.  However, we already have the need for a custom cmdlet to send output to any arbitrary output binding since you can have multiple output bindings in an AzFunction.  So you would do s

[2018-10-26 15:22] TimCurwick commented on #82
It should be easy to move code from one platform to another. It should be easy to move scripters from one platform to another.
Wherever possible, code should behave the same way wherever it runs. Moving a working script to Functions should largely be a matter of copy/paste.
So Solution 1.

[2018-10-26 16:03] rjmholt commented on #82
@Jaykul, don’t worry I also think pipeline output is the way to go. It means that PowerShell concepts will support users everywhere, rather than having to relearn things. (And yes I thought that might be a legal function name, but it did break syntax highlighting already, and it would probably break a bunch of tooling).

While there is a risk of having to serialise a large number of pipeline objec

[2018-10-26 19:20] #6 closed, assigned to TylerLeonhardt

[2018-10-27 01:04] tylerl0706 commented on #75
Something weird is happening with the downloaded `Azure.Functions.Cli.zip` on macOS... I can't quite figure it out.

[code]

This opens the binary as a text file for me in PowerShell:
![image](https://user-images.githubusercontent.com/2644648/47597883-d63d1480-d948-11e8-81ea-ac8f5ea5529c.png)

but in bash, it works once... but now I'm just getting a bunch of:

[code]
It.. shouldn't require sudo...

[2018-10-27 01:31] tylerl0706 commented on #75
`chmod -x ./func` was needed 🤦‍♂️

[2018-10-29 14:18] Jaykul commented on #82
@rjmholt which is why I suggested class semantics because in classes there's already no leaking output.

@SteveL-MSFT can OutputBindings be handled as simply as setting a `$global:outputname` variable, or is it actually something where you need to be able to call `Push` over and over for the same name?

[2018-10-29 14:58] SteveL-MSFT commented on #82
@Jaykul the author of the Azure Function can define multiple output bindings, you would call `Push` for each binding once

[2018-10-29 18:37] joeyaiello opened #86 "Add docs for programming model"
This should describe how our triggers, input/output bindings work, `$return`, capturing different streams, `Push-OutputBinding`, etc.

[2018-10-29 18:38] joeyaiello opened #87 "Add docs for authing to Azure with service principal"
We have a basic demo that authenticates into Azure using a service principal. We should doc this example and explain how/why it works.

[2018-10-29 18:39] joeyaiello opened #88 "Add docs: `func` CLI quickstart"
We should have a quickstart doc outlining how to:
* create a function app
* create a function
  * timer trigger
  * HTTP trigger
* add a module dependency
* pack/publish to Azure
* show it working

[2018-10-29 18:39] joeyaiello opened #89 "Add docs: Portal quickstart"
We should have a quickstart doc outlining how to do the following from the Azure portal:
* create a function app
* create a function
  * timer trigger
  * HTTP trigger
* add a module dependency
* pack/publish to Azure
* show it working

[2018-10-29 18:40] joeyaiello opened #90 "Investigate adding `func` CLI to Cloud Shell"
Just making a placeholder for myself to look into this

[2018-10-29 20:32] joeyaiello opened #91 "MSI support for Azure PowerShell"
Make `Connect-AzAccount -Identity` work the same way that it works in Azure Cloud Shell.

For now, this is non-blocking on the prototype, but we should work to make it happen.

[2018-10-29 20:34] joeyaiello commented on #49
Closing as this is captured in other issues.

[2018-10-29 20:34] #49 closed

[2018-10-29 20:35] joeyaiello commented on #68
Leaving open with one remaining open question: how do we deploy a new function app?

[2018-10-29 20:36] joeyaiello commented on #44
Prototype only blocked on timer and HTTP, we can remove the milestone once timer is merged into the other repo.

[2018-10-29 20:43] SteveL-MSFT commented on #82
@Jaykul I misunderstood what you were asking.  Setting the variable per output binding was something that was considered, but we'd have to have it namespaced to avoid conflicts, so something like: `$output:outputname` and because of scoping, we'd need `$global:output:outputname`.

[2018-10-30 05:02] Jaykul commented on #82
It's a little confusing to have a function called `Push` that I can only call once ...

I still like the idea of global variables, or even returning a hashtable with a key for each named output ;-)

Or `$global:PsAzureOutput` could have a property on it for each named output ...

I don't know. Don't listen to me -- I feel like I need to take another look at how this stuff is done in other language

[2018-10-30 05:32] tylerl0706 commented on #82
The `$return` feature of Functions in other languages was used as a shorthand for functions that only have one output binding. It's really a convenience feature more than anything else.

In those other languages, they take advantage of the fact that "returning" would associate that return value to the only output binding of the function (in which the `name` is set to `$return`).

That prompted the

[2018-10-30 05:33] devblackops commented on #82
Is `Push` the correct verb here? I think it is rarely used and may lead to confusion. It implies adding to a stack where order matters. Does it in this case? Wouldn't `Set-BindingOutput -Name foo -Value bar` make more sense?

[2018-10-30 05:35] tylerl0706 commented on #82
The verb can be changed but that's a separate question we can bring up in another issue.

[2018-10-30 05:42] devblackops commented on #82
On the topic of `$returns`, to me taking all output of the function make sense. IMHO the output stream should not be used for logging purposes. If you want to log, use Write-Verbose/Debug/Information.

[2018-10-30 13:57] markekraus commented on #82
If an azure function was analogous to PowerShell Function, in my mind `$returns` would use option 1 and "take everything". I honestly wish we could do things more like C# functions, but those ways are a bit anti-pattern for PowerShell, IMHO.

When I first heard about Azure Functions and PowerShell Support, I expected I could basically port an advanced function or script. Instead I found some reall

[2018-10-30 15:26] tylerl0706 commented on #44
Timer, blob, queue have been merged 😊

[2018-11-01 23:48] tylerl0706 commented on #87
Eamon's doing this, yeah?

[2018-11-01 23:53] tylerl0706 commented on #89
Today, you can't create a function in the Portal. You only have the ability to publish a local function so for now, the docs for this are:

* create a function app in the portal
* push a local function app
* edit and run that function app in Azure

[2018-11-01 23:54] tylerl0706 commented on #90
Probably should get Danny in here, yeah?

[2018-11-01 23:54] tylerl0706 commented on #91
Blocked on this for now. Marking as external while we wait.

[2018-11-01 23:55] tylerl0706 commented on #87
@eamonoreilly :wave:

[2018-11-02 02:06] tylerl0706 opened #92 "Bundle .NET runtime with PowerShell worker"
I _just_ realized that if a user does not have the .NET Core runtime on their computer and on their PATH, they will be unable to run the PowerShell worker and the error message that the Functions host throws is not very informative.

I think for the the prototype milestone this is not a blocker but certainly is for the next milestone.

[2018-11-05 19:45] tylerl0706 commented on #44
Just want to verify that Timer has been released before moving this out of Prototype

[2018-11-05 19:46] tylerl0706 commented on #68
I think we have a good understanding with this now. Closing...

[2018-11-05 19:46] #68 closed

[2018-11-05 19:47] tylerl0706 commented on #86
I think this is where we should go over dependencies. Not in #88;
I'm calling this "Anatomy of a PowerShell function"

[2018-11-06 17:30] tylerl0706 commented on #86
Addressing this in https://github.com/MicrosoftDocs/azure-docs/pull/18273

[2018-11-06 18:18] TylerLeonhardt opened #93 "Don't require casting of [HttpResponseContext]"
Right now, we require you to cast a hashtable to `[HttpResponseContext]` in order to send a response for `http`.

[code]

this casting shouldn't be needed.

[2018-11-09 07:45] rwaal commented on #77
I agree with @johnnliu. In my opinion, Powershell support for Azure Function V2 would come first and then other things like Durable Functions.

Please make PS support for Azure Functions V2... please...

[2018-11-14 18:27] RanjeetKumar27 opened #96 "PowerShell stream order needs to be maintained"
https://github.com/Azure/azure-functions-powershell-worker/blob/293f6086a763233977fcfd07e89c23930e204a2d/src/PowerShell/PowerShellManager.cs#L144-L147

The logging of output streams after the execution at L134 completes means that output streams will always be logged after other streams types, even if output stream is generated before other stream types in the actual script.

Beside, the wacky tab

[2018-11-14 18:38] TylerLeonhardt commented on #96
Seems reasonable to me :+1:

[2018-11-19 22:48] eduardomourar commented on #76
I believe PSDepend and Powershell 6.1 should be part of the powershell azure functions docker image. Here is a way to work with the example PSCoreApp and install dependencies:
[code]

[2018-11-20 00:14] TylerLeonhardt commented on #76
So this would be to have the container do the installing of the Modules and allow the user to specify them in the `requirements.psd1` rather than having to bundle their modules themselves?

[2018-11-20 09:48] eduardomourar commented on #76
As you guys can see in the python and Nodejs docker image, at least one package management is available (pip and npm, respectively). They are not doing the dependencies installation as far as I know, but makes everything easy to start if you have them available.
If none of this makes sense, do put a dockerfile in the example folder so that even people without powershell installed in their local ma

[2018-11-20 15:47] JustinGrote commented on #76
A package manager is included, PowerShellGet and Package Management for
psgallery and nuget repositories, respectively.

The worker itself doesn't use PSDepend, just the build script. And the
example is just that, an example, the Readme explains multiple options for
handling dependencies. I think it could be more clear that it expects you
to bring PSDepend in either through your deoloyment package

[2018-11-21 23:55] TylerLeonhardt commented on #65
Gonna close this. Feel free to reopen if you're still seeing this.

[2018-11-21 23:55] #65 closed

[2018-11-21 23:57] TylerLeonhardt commented on #81
Good point @dfinke something like this could enable users to write scripts that would work locally and in Azure Functions.

[2018-11-24 15:14] NatiSayada opened #100 "Any guidelines on how to build a docker image"
I have download the docker image and add it to my function folder, but when I'm trying to run the image, I can access the function home page but can't access my function app under /api/

Running the function locally works great.

I have clone the docker powershell file from:
https://hub.docker.com/r/microsoft/azure-functions/

Any idea what I'm doing wrong?

[2018-11-25 17:46] NatiSayada commented on #100
Changing the Function authentication level to
"authLevel": "anonymous" solved my issue :(
Now the function runs on docker as expected.

[2018-11-25 17:46] #100 closed

[2018-11-28 19:14] joeyaiello commented on #91
If anyone is actively investigating this one (either @daxian-dbw or @TylerLeonhardt), could you please assign yourself here?

Status is currently housed in Azure/azure-powershell#7876

[2018-11-28 19:23] joeyaiello commented on #4
Can we get an enumeration of our current status on this one? I know this was some discussion around:

* 24 simultaneous incoming connections (sounds like this isn't a hard requirement, but we should do some validation around the "graceful upscaling" of Windows consumption)
* "parallel foreach" from within a function (if we think this is important, we should open another issue around it)

[2018-11-28 19:59] joeyaiello commented on #50
Going to close this in favor of #77 where more discussion has occurred

[2018-11-28 19:59] #50 closed

[2018-11-28 20:01] joeyaiello commented on #62
Next steps to generate work items out of the discussion here.

[2018-11-28 20:03] joeyaiello commented on #73
I'm not sure we care about entrypoint right now, but I'll spin up an issue to discuss it, and then we can close this out if we determine it's useless over there.

[2018-11-28 20:05] joeyaiello commented on #75
What's the proper scoping of this work item? What do we need to achieve for preview?

[2018-11-28 20:11] joeyaiello commented on #82
At the very least, we need to close on this by the time we go to preview.

[2018-11-28 20:11] joeyaiello commented on #87
Not sure that this is actually needed once we have MSI support, throwing it on the backlog.

[2018-11-28 20:22] TylerLeonhardt commented on #75
We have these now for HttpTrigger. We can probably close this. Although I don't know if the expectation is having tests for every trigger... And how we'd do that (how do we trigger a blob trigger without Azure?)

@pragnagopa any thoughts?

[2018-11-28 22:42] joeyaiello opened #101 "Close on script/module entry point"
According to #1, we're definitely starting with `run.ps1` as the default entry point.

Two open questions then:

* have we already implemented `entryPoint` in `function.json` for scripts (e.g. foo.ps1)
* per the question posed in #17, does it make sense to implement `entryPoint` for .psm1?

This is something we should decide we are or are not doing for the Preview milestone.

[2018-11-28 22:45] joeyaiello opened #102 "Investigate/understand the WindowsCompatibility scenario"
Today, there are limitations in the Windows consumption sandbox that prevent us from using the [WindowsCompatibility](https://github.com/powershell/windowscompatibility) module, namely that we don't have the ability to establish a WinRM connection to do implicit remoting over localhost.

I've heard a couple threads of investigation floated that we should pursue:
* Move WindowsCompatbility to use n

[2018-11-28 22:50] joeyaiello opened #103 "Investigate live objects for trigger objects and input bindings"
Today, the only trigger type or input binding that gets a live object (as opposed to a dead object with a bag of static properties) is the `Http` trigger.

For additional triggers, it may be more useful for live objects to come in via the trigger. E.g. users may want "re-hydrated" live objects via the [blob binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-

[2018-11-28 22:51] joeyaiello opened #104 "Enumerate additional documentation requirements for Preview"
We've already got a bunch of `documentation` issues. We should figure out what other docs need to be written for Preview.

[2018-11-28 23:59] joeyaiello opened #105 "Better dependency / module management"
Some older context in #69.

Our current experience (include `./Modules` as part of the `PSModulePath`) will remain until Azure Functions offers functionality to manage dependencies in a more programmatic way.

Things we'd like to see from that implementation:

* the ability to query a function app for it's module dependencies
* the ability to provide a manifest of some kind (e.g. PSDepends' `requi

[2018-11-30 23:38] dfinke opened #107 "The remote server returned an error: (404) Not Found"
**Update** Saw the message in the log and did:

[code]
Still get the error

![image](https://user-images.githubusercontent.com/67258/49320259-adbbb380-f4ce-11e8-82be-1dd79f1198e7.png)

# Transcript
[log.txt](https://github.com/Azure/azure-functions-powershell-worker/files/2635324/log.txt)

[2018-12-01 16:00] dfinke commented on #107
When I did the `func start` there was a message saying `FUNCTIONS_WORKER_RUNTIME` needs to be set and gave `dotnet` as an option.

I upgraded `dotnet` from 2.1.403 to 2.1.500.

It looks like .NET Core is in my path. This is run under `6.2.0-preview.2`

[code]

[2018-12-01 18:16] TylerLeonhardt commented on #107
Thanks for the extra info. One more question. How did you create the function app to begin with?

[2018-12-01 18:56] TylerLeonhardt commented on #107
Doug and I synced offline. For some reason, his local.config.json had `IsEncrypted` set to true. I need to investigate this more with the Functions team.

[2018-12-01 18:56] #107 closed

[2018-12-03 23:40] daxian-dbw commented on #91
I have done the investigation on Azure/azure-powershell#7876. Now the root cause is clear and it's up to the Azure PowerShell to resolve the issue.

[2018-12-04 02:49] TylerLeonhardt commented on #91
as far as we are concerned - this will be fixed in #108. Once Azure PowerShell fixes `-MSI` we can modify our worker to use that new code path

[2018-12-04 23:52] TylerLeonhardt commented on #89
I think we can call this closed, right @joeyaiello?

[2018-12-04 23:53] TylerLeonhardt commented on #88
I think this one can be closed now too, right @joeyaiello?

[2018-12-04 23:53] TylerLeonhardt commented on #86
Can we close this one too?

[2018-12-05 00:00] TylerLeonhardt commented on #62
I think we got some good info out of this. We can continue to discuss here or in other issues but I think the original issue can be closed.

[2018-12-05 00:00] #62 closed

[2018-12-05 17:42] joeyaiello commented on #104
Should include migration docs from the 1.0 runtime.

[2018-12-06 19:04] joeyaiello commented on #86
Possibly refer to #2 for some of this info

[2018-12-06 19:09] joeyaiello commented on #86
In a private doc repo as 57447

[2018-12-06 19:09] #2 closed

[2018-12-06 19:18] joeyaiello commented on #4
Wrt the first one, let's get a design started for runspace pooling with possible implementation to come later.

Wrt the second one, let's put `ThreadJob` back in the worker.

[2018-12-06 19:33] joeyaiello commented on #101
We've decided that, for the time being, we're going to support `entryPoint` when you `scriptFile` is a .psm1, but not when it is a .ps1. We can revisit this in the future, but we currently think a shareable set of functions to be package as a module.

[2018-12-06 19:34] joeyaiello commented on #75
Let's sync with them on this next week.

[2018-12-06 19:36] joeyaiello commented on #81
Let's talk to the AzF team about adding an environment variable to the host that tells you you're in an Azure Function.

[2018-12-06 19:37] joeyaiello commented on #82
Given that Durable Functions requires `$returns`, our decision should be driven by the design and validation of our Durable Functions design.

[2018-12-06 20:08] pragnagopa commented on #75
Apologies I missed last weeks ping on this issue.

Yes. We do need tests for the supported triggers. Please see [Azure.Functions.Java.Tests.E2E](https://github.com/Azure/azure-functions-java-worker/tree/dev/endtoendtests/Azure.Functions.Java.Tests.E2E) for a sample E2E test project.

This is a requirement for any release. Without test coverage, there is a huge risk of regressions both ways
 - Host

[2018-12-06 23:22] daxian-dbw opened #110 "Add support to Profile.ps1 in PS function app."
Support `Profile.ps1` in PS function app. `Profile.ps1` will be run on `FunctionLoad` stage to initialize the runspace.

[2018-12-11 03:10] sspage commented on #87
This is in direct conflict with #112 where you say you are removing support for service principals.  Which is it?  Hope you are not removing it or will provide guidance on another method for AzureRM auth.

[2018-12-11 05:43] TylerLeonhardt commented on #87
Please see my response in #112.

[2018-12-12 20:09] #96 closed

[2018-12-13 05:17] #110 closed

[2018-12-13 23:04] daxian-dbw commented on #93
Closed via #113

[2018-12-13 23:04] #93 closed

[2018-12-14 21:49] #15 closed

[2019-01-02 19:49] joeyaiello commented on #89
Let's leave this open as an updated version of this for our preview release. Might just be a validate pass, but this should be gone over before we ship publicly.

[2019-01-04 18:02] daxian-dbw commented on #73
Closed via #116

[2019-01-04 18:02] #73 closed

[2019-01-04 18:04] daxian-dbw commented on #101
Closed via #116

[2019-01-04 18:04] #101 closed

[2019-01-04 18:11] daxian-dbw opened #120 "Investigate local debugging story for PowerShell Function Apps"
This includes func CLI based debugging and VSCode for local Function App development. We can leverage `Enter-PSHostProcess` for this.

[2019-01-07 23:09] asavaritayal commented on #89
/cc @ggailey777 as FYI

[2019-01-07 23:09] asavaritayal commented on #88
/cc @ggailey777 as FYI

[2019-01-07 23:10] asavaritayal commented on #87
/cc @ggailey777 as FYI

[2019-01-07 23:10] asavaritayal commented on #86
/cc @ggailey777 as FYI

[2019-01-07 23:10] asavaritayal commented on #104
/cc @ggailey777 as FYI

[2019-01-10 20:25] daxian-dbw opened #127 "Investigate throughput result when targeting a single powershell worker"
The throughput tests targeting a single powershell worker doesn't show cheering results:
- When targeting a PowerShell worker deployed in a dedicated Azure sandbox, we see around 30 RPS regardless the size of `PowerShellManager` pool.
  The average response time shown in WCAT is between 3300ms to 3500ms.
- When targeting a PowerShell worker running locally on my dev machine, we see around 46 RPS w

[2019-01-10 20:40] pragnagopa commented on #127
Tracking issue on the host to collect more data on the invocation: https://github.com/Azure/azure-functions-host/issues/3934

[2019-01-11 18:16] TylerLeonhardt commented on #75
Talked to @paulbatum about this in the sync this week - he said that we can probably get some help setting these E2E tests up (creating the resources in Azure, supplying the subscription).

Ideally, we should be able to grab the E2E tests from Java or Node and run them with a PowerShell Function App.

cc @fabiocav

[2019-01-18 18:49] daxian-dbw opened #132 "Make the worker able to pass and accept string for blob input/output"
When playing with the AzF PS function use from https://devblackops.io/using-a-powershell-azure-function-to-send-automated-blog-post-tweets/, I found it's hard to use blob input when the blob is actually a text file. Currently byte array is passed in for blob input, so the user needs to convert the bytes to string in order to use the text, ~and in the end convert the text back to bytes in order to

[2019-01-21 05:32] daxian-dbw opened #136 "Adding 'Convert-OutputBindingValue' broke the blob out binding scenario"
PR #113 added `Convert-OutputBindingValue` to make necessary transformation to the output value (e.g. `Hashtable` to `HttpResponseContext` implicit conversion). However, this broke the output binding for `blob` type.

Before making this change, `Push-OutputBinding` directly saves `$Value` to the `Hashtable` and thus preserves the true type of `$Value`.
After this change, `$Value` will be passed th

[2019-01-21 17:30] TylerLeonhardt commented on #136
I feel like there might actually be an issue opened somewhere...

[2019-01-21 17:32] TylerLeonhardt commented on #136
Aha! https://github.com/PowerShell/PowerShell/issues/5122

[2019-01-22 21:36] daxian-dbw opened #137 "POST request with a JSON body to an HttpTrigger function result in `$req.Body` being a case-sensitive Hashtable"
### Repro Steps

In the HttpTrigger function, we have:
[code]
and then trigger the function by the following POST request
[code]
You will find `$Request.Body.Name` gets evaluated to `null`, because `$Request.Body` is a case-sensitive Hashtable returned from `JsonObject.ConvertFromJson`.

[2019-01-22 23:00] #132 closed

[2019-01-22 23:00] #136 closed

[2019-01-22 23:01] #137 closed

[2019-01-29 21:06] TylerLeonhardt commented on #120
PowerShell Core shipped but I missed a small piece in the PowerShell extension for vscode. I'll need to ship another version of that.

Also, the F5 scenario (aka running and attaching to a function app by hitting "start debugging") will be difficult because for PowerShell the only way to attach to a process is by knowing the Process ID.

Since this changes every time the worker starts up, this is

[2019-01-29 21:11] TylerLeonhardt commented on #81
Today they rely on:

`WEBSITE_INSTANCE_ID`

It would probably be nice to have a more customer friendly env var.

[2019-01-29 21:12] TylerLeonhardt commented on #44
This is now complete and you can see the templates show up in core tools.

[2019-01-29 21:12] #44 closed

[2019-02-01 17:53] joeyaiello opened #143 "Doc for migrating from v1 PowerShell worker"
There is usage in the existing, experimental PowerShell worker on Azure Functions v1, and we should write a doc that helps with the transition onto v2.

[2019-02-01 18:11] SteveL-MSFT opened #144 "Using Format-* on an object that's sent to Push-OutputBinding sends the FormatRecord instead of the formatted object"
Repro:

1. Create HTTP trigger function
2. In run.ps1, have: `$body = Get-Process | Select-Object -First 1 | Format-List *`

Currently, without adding formatting to the pipeline, `$body` contains the default formatting which is likely a subset of the properties (like for Get-AzVM).  Expectation is that there should be some way to get all the properties to return.  The example above serializes the

[2019-02-02 02:15] #75 closed

[2019-02-02 04:31] TylerLeonhardt commented on #144
Simpler repro:

[code]

We take `$body` and throw it through `ConvertTo-Json` if it's a type we don't recognize... which gives this same result. We probably want to handle these types correctly in the worker:

The types in `Format-*`:
[code]

[2019-02-03 01:54] SteveL-MSFT opened #145 "Automatically log ErrorRecords instead of just Exceptions"
It seems that the log should be like the PowerShell transcript log to make debugging easier.  Currently, if there is a non-terminating error or terminating error it is not automatically logged.  For example, was using Invoke-RestMethod in my function to call a REST API but it failed.  I had to wrap that in a try..catch and Write-Host the exception to understand what was failing.  But this means th

[2019-02-05 16:17] SteveL-MSFT commented on #145
@TylerLeonhardt you're right!  Not sure what is different here, had to wrap `Invoke-RestMethod` in try..catch to understand why it was failing.

[2019-02-06 00:35] TylerLeonhardt opened #146 "Clean up Jobs after Function invocation"
We should stop all PowerShell Jobs after invocation for cleanup purposes.

[2019-02-06 04:57] SteveL-MSFT commented on #145
If it's non-terminating, the try..catch would have no effect

[2019-02-06 18:32] TylerLeonhardt commented on #145
So maybe we're not cleaning up terminating errors properly.

[2019-02-06 23:33] TylerLeonhardt commented on #145
I actually can't repro this issue at all - had a local function call a function in Azure and the error that `irm` got back was logged:

[code]

The code that's sending the `irm`:
[code]

[2019-02-07 01:00] SteveL-MSFT commented on #145
The problem is you are only getting this in the logs:

[code]

We should be logging the entire ErrorRecord to make it useful

[2019-02-20 01:43] daxian-dbw opened #148 "Consider supporting other request/response types defined in the function protocol"
`FunctionEnvironmentReloadRequest` and `FunctionEnvironmentReloadResponse` were added in the latest protobuf. There are also some other request/response types that we currently don't support. Need to look into what they do and see if we should support them in PS worker.

[2019-02-20 01:46] daxian-dbw opened #149 "Use the dataType from function.json to do more pre-validation at the function load phase"
`dataType` field was added to `BindingInfo` to reflect the `dataType` entry specified in `function.json` when using blob related input bindings.
We can use this information to do more pre-validation at the function load phase.

[2019-02-20 02:07] daxian-dbw opened #150 "'RpcClaimsIdentity' was added to 'RpcHttp' in the Azure Function protocol and we need to translate it properly"
`RpcClaimsIdentity` was added to `RpcHttp` in the Azure Function protocol to support the claim-based authentication in Azure Functions. We need to translate it properly to `ClaimsPrincipal` or `ClaimsIdentity`.

[2019-02-22 00:40] daxian-dbw commented on #146
This is the best we can do. But if a new process is spun up via .NET API, then we won't be able to clean it when cleaning up the Runspace, because it could be spun up from a different Runspace by another running function, and there is no way to know for sure.

[2019-02-23 20:05] benjaminhowarth1 opened #151 "Attaching storage through Portal fails"
Chrome gives this error when trying to attach file storage to a function app:

[WebsitesExtension]  20:02:15 Websites.BaseFrameBlade Websites.BaseFrameBlade: EventMessage message type not supported: RECEIVED_BYOS_SELECTIONS

My use case is trying to load some standalone binaries into the function to execute (think command-line utilities). Has anybody got good documentation/experience of this?

[2019-02-25 23:09] joeyaiello commented on #91
This works now!

[2019-02-25 23:09] #91 closed

[2019-02-25 23:11] joeyaiello commented on #104
* troubleshooting
* debugging with/without VS Code
* managed dependencies

[2019-02-26 02:27] daxian-dbw commented on #4
Closed via #123

[2019-02-26 02:27] #4 closed

[2019-02-26 05:05] TylerLeonhardt commented on #151
Hmm this seems like an issue with the Functions portal experience than the PowerShell worker...

@pragnagopa and pointers here?

[2019-02-26 20:31] SteveL-MSFT opened #152 "Support multiple calls to Push-OutputBinding to same `-Name`"
Currently, there is a limitation that if you want to push two items to the same storage queue, you must call `Push-OutputBinding` only once with an array of those items.  It's more natural in the script to call `Push-OutputBinding` multiple times at the time of creation of that queue item rather than collecting them and then pushing at the end.

[2019-02-26 21:51] devblackops commented on #152
This limitation is also present when working with table storage. Would this be an issue with **ALL** the output bindings?

[2019-02-27 08:51] bytemech commented on #77
Can we even just have the ability to have Activity functions in PowerShell?

I can see why the orchestrator function might have to stay out of PS due to the stuff it does with "await". However, I think that the biggest utility for PS would be in the Activity function especially when dealing with Azure automation.

[2019-03-02 19:06] pragnagopa opened #154 "Implement all the message types in StreamingMessage"
Functions host will start sending various messages defined under StreamingMessage: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L20

To avoid breaking language worker, please implement all of them otherwise grpc will start throwing errors.
Note: only dummy implementations needed for now to avoid breaking changes

[2019-03-03 16:14] TylerLeonhardt commented on #152
@devblackops yeah it kinda applies to all... except `http` out binding.

I think the question here is... What's the behavior for arrays in output bindings?

Today you can:

[code]

which, if MyArray goes to a Queue, it will add X items to the Queue

But what you can't do is:

[code]

and have it keep an array of things you want to send out.

Maybe we need like a `-Append` switch that will basicall

[2019-03-03 16:19] TylerLeonhardt commented on #154
@pragnagopa I think the bare-minimum work we need to do here is just trigger a build since the build will generate all the code from the protobuf and I'm pretty sure it no-ops what we're not explicitly implementing. @daxian-dbw to confirm since he worked on that part.

That said, I see some messages that I would love to have implemented (function cancel is one of them). So we'll get those properly

[2019-03-03 16:45] pragnagopa commented on #154
@TylerLeonhardt - great if its a no-op. We should definitely try this out just to be sure.

[2019-03-03 18:25] pragnagopa commented on #154
I have test sending the new message FunctionEnvironmentReloadRequest https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L70

Powershell worker crashes with following error
[code]

[2019-03-03 19:06] TylerLeonhardt commented on #154
Interesting... what about one that we don't handle today like `WorkerStatusRequest`? AFAIK, that's a valid message type that the worker could receive with what's live now, right?

[2019-03-03 19:56] daxian-dbw commented on #154
@TylerLeonhardt What is asked is to make the worker to support all messages defined in the protobuff.

[2019-03-03 20:08] pragnagopa commented on #154
Support all messages explicitly. For any messages that have response message, for example: FunctionEnvironmentReloadResponse send success  as host will use this information. This is the first step. Next, when host starts sending these messages to take advantage of the new support, language worker needs to be updated to handle messages best suited for that language.

This is an explicit ask to avoi

[2019-03-04 00:17] dfinke opened #155 "Push-OutputBinding should emit a message to the log if the binding name is not found"
If the binding is named `Response` in the `function.json` and you do:

[code]
It will silently fail. If `Push-OutputBinding` cannot find the name `res` in the bindings, it should post a warning to the log for easier debugging.

[2019-03-04 07:58] devblackops commented on #152
I suppose there are legit use cases when I would like to return multiple items to the same output binding, with some of them being arrays and not others. It would be natural to allow calling `Push-OutputBinding` multiple times throughout the function without having to build up an array to provide at the end.

Something like:

[code]

Would it make sense to store the values in `$script:_OutputBindi

[2019-03-04 21:46] pragnagopa commented on #151
@benjaminhowarth1 - Can you give us exact repro steps?

[2019-03-06 18:53] SteveL-MSFT commented on #152
My preference is by default, multiple calls will queue up the objects to be pushed at the end (since this appears to be a limitation with Functions).  We can optionally have a `-Clobber` switch if needed.  Building the array to push at the end is a workaround and requires everyone to have that code.

[2019-03-08 10:08] bgelens opened #159 "LogStream not working after re publishing"
Observation:

I'm working on a function which I publish using `func azure functionapp publish <name>`.

I'm sending in small changes as I'm trying to debug some things and every time I publish my function again, the logstream does not work anymore (just, No new trace in the past x min(s)). I connect to the logstream using `func azure functionapp logstream <name>`

When I call the function it still

[2019-03-08 15:18] TylerLeonhardt commented on #159
Thanks for this @bgelens! This would be a greater Azure Functions issue.

@SteveL-MSFT has already opened an issue on them for this. Please give your feedback here:
https://github.com/Azure/Azure-Functions/issues/1143

[2019-03-08 15:59] toddysm opened #160 "Write-Debug not showing up in App Insights/Console Logs"
We are trying to use Write-Debug and Write-Verbose for debug messages but none of the messages appear on the console or in App Insights. The host.json is configured as follows:
[code]
The following statements:
[code]

result in the following logs on the Console and in App Insights:
[code]

Do we need to do anything else as configuration or should this be enough to log the messages?

[2019-03-08 18:46] TylerLeonhardt commented on #160
@toddysm can you try something for me?

Can you change your:

[code]
to
[code]
and see if this repros

[2019-03-08 19:26] #154 closed

[2019-03-08 20:08] TylerLeonhardt commented on #152
I suppose something with a verb of `Push` makes sense for what you're saying too.

[2019-03-08 23:31] daxian-dbw commented on #152
Does it really apply to all out bindings? What about blob?

I think one way to solve this is to have the worker share the output binding information with the module, so within `Push-OutputBinding`, it knows what type of binding the `Name` is, and then behave differently based on that information. For example, if the `Name` is actually a queue or table output, then `Push-OutputBinding` allows repea

[2019-03-09 00:59] daxian-dbw opened #162 "Add `Write-AzFuncLog` cmdlet to the helper module to allow writing Azure Function user logs in an explicit way."
This is a feedback from the tech review within PowerShell team.

Currently PowerShell built-in `Write-*` cmdlets are redirected to the Azure Function log in the following mapping:

Write-* cmdlet (the target stream) | Log level
-- | --
Write-Verbose     (verbose stream) | Trace
Write-Progress    (progress stream) | Trace
Write-Debug       (debug stream) | Debug
Write-Information (information strea

[2019-03-09 05:16] TylerLeonhardt commented on #162
So for this cmdlet, we will not honor the Azure Functions log streams?

[2019-03-09 05:24] TylerLeonhardt commented on #152
I mentioned in Dongbo's PR... I'd like to get more customer feedback on this... It could be a bit too magic-y that certain out bindings behave differently with `Push-OutputBinding`

[2019-03-10 00:57] daxian-dbw commented on #152
I thought about it when mentioning this possible UX enhancement in Teams, and believe that the behavior can be well documented.
The behavior changes based on the output binding you are targeting when calling `Push-OutputBinding` -- the argument for `-Name` explicitly indicates the output binding. When incorrect usage is caught, the error message can be made very clear why you cannot do it with tha

[2019-03-10 01:01] daxian-dbw commented on #152
A not very accurate analogy: it's like the relationship between provider cmdlets such as `Set-Item` and various providers.
`Set-Item` might have different behavior depending on the argument to `-Path`, which explicitly indicates the target provider.

In our case, different output binding types are the providers, and `Push-OutputBinding` is `Set-Item`.

[2019-03-10 01:08] daxian-dbw commented on #162
Today, we already handle information stream differently depending on the tag -- if the tag is `__output__`, then we prepend `OUTPUT:` to the message. Otherwise, we prepend `INFORMATION:`.
We can do similar things for `Write-AzFuncLog`, for example, `Write-AzFuncLog blah -Level critical` maps to `Write-Information blah -Tag __critical__`.

[2019-03-10 07:08] TylerLeonhardt commented on #162
Well the downside to it as well is that, if they do:

`Write-AzFuncLog blah -Level trace`

It will show up in the logs as:

`TRACE: blah`

Regardless of the trace level you set in the host.json.

So if you set your host.json to exclude trace/Verbose level logs and just have information and error logs, these logs will still show up since you're always writing to the information stream.

[2019-03-10 20:22] daxian-dbw commented on #162
No, you missed my points. We will have to change the even handler for the information stream. When the tag is __trace__, we don't write the message to the information level log, but to the trace level log. Same to other tags like __warning__ and etc.

[2019-03-11 00:09] TylerLeonhardt commented on #162
Is there a reason for `Write-Information -Tag __trace__` when we can do `Write-Verbose` under the hood?

[2019-03-11 00:09] TylerLeonhardt commented on #162
as in...

[code]

[2019-03-11 02:41] daxian-dbw commented on #162
Ideally, that would be better. But we don't have an existing cmdlet mapping to `Critical`, so we still need to do something as I mention above.

[2019-03-11 05:00] TylerLeonhardt commented on #162
I see. That makes sense. I agree It would be nice to cover all of the Azure Functions log levels.

I guess my biggest question is... Do we know customers want this? Or will the normal `write-*` cmdlets suffice?

I remember @dfinke and a couple others mentioning that they want an environment variable to test for so that they can share code between an Azure Function and just running a script with `p

[2019-03-11 06:10] daxian-dbw commented on #162
This was brought up by Jim in the review dry run. There are two concerns:
1. User cannot write `critical` level log.
2. User has to do extra configuration to see `verbose/debug` messages written from the script, because, IIRC, the `information` and above levels are enabled by default.

For 1, I agree that `critical` level should be supported for completeness.
For 2, a proposal was: make all built-

[2019-03-11 17:16] TylerLeonhardt commented on #162
Another one of those "Functions is different than PowerShell" issues 😄

[2019-03-11 17:58] TylerLeonhardt commented on #162
For number 1 on your list, I think it would be better to fill that gap a different way with a `Write-Critical` cmdlet that does what the others do. That way it's consistent with what's already in PowerShell. I don't think it's really... critical... personally though. Hence the request for feedback.

Also for number 2... I think it's a shift in mindset from someone writing a script interactively vs

[2019-03-11 18:12] TylerLeonhardt commented on #152
I see what you're saying...

Things that should throw:
* http
* blob?

Things that should add to an array:
* queue
* event grid
* event hub
* cosmos db
* table
* service bus
* all the Microsoft graph ones

There's [just so many out bindings](https://docs.microsoft.com/en-us/azure/azure-functions/functions-triggers-bindings#supported-bindings)... we'd need to decide which does which and what the de

[2019-03-11 18:39] daxian-dbw commented on #162
I think the `critical` concept in logging is determined by the business logic of a Function implementation. Maybe it's not an error in script running, but the state of something makes a `critical` log necessary.

For number 2, the way I'm thinking is that, when I'm using `Write-Verbose -Verbose` in my script, I don't necessarily mean to have my verbose message written to the trace level log. Inste

[2019-03-11 18:45] daxian-dbw commented on #152
Agreed. We will have to play with them ourselves first anyways.

I personal opinion is: start conservatively -- assuming no collection support for new out bindings.

[2019-03-11 20:04] bgelens commented on #159
Thanks for the info @TylerLeonhardt!

[2019-03-11 20:04] #159 closed

[2019-03-11 20:11] bgelens opened #163 "Question: Can we already use other triggers like eventgrid?"
Curious on how this would look like. With C# you would add additional library, will this be the same with PowerShell? And is it already possible?

[2019-03-11 21:07] toddysm commented on #160
Yes. This works. It sounds redundant though.

[2019-03-11 21:07] #160 closed

[2019-03-11 21:37] TylerLeonhardt commented on #160
Thanks for the feedback! Alternatively you can set your `$VerbosePreference` and `$DebugPreference` for your function executing.

Although it seems redundant, it's actually consistent with `pwsh.exe`. If you don't use `-Verbose` nothing will show up when run interactively.

There's an ongoing discussion in #162 about supporting a log cmdlet called `Write-AzFuncLog` which takes a message and a log

[2019-03-11 21:46] TylerLeonhardt commented on #163
With C# you get a real EventGrid live object. This is because C# functions run in-process where PowerShell and Python and JavaScript run out of process in a separate worker process... because of this, we don't get those live object...

That said, it does still work! It'll just come in as a property bag hashtable similar to what JavaScript functions get.

[2019-03-11 21:47] TylerLeonhardt commented on #163
You still need to install the EventGrid extension to set up the host to receive EventGrid triggers.

[2019-03-11 21:48] TylerLeonhardt commented on #163
There's also an EventGrid template available. It's not all that complex as templates go... but it's something to work off of.

[2019-03-11 22:33] toddysm commented on #160
@TylerLeonhardt My expectation was that if the hosts.json has this setting, then the variables are automatically assumed to be set.

Regarding your question about the AzFuncLog, we prefer to use something that is not Function specific. I assume this will also work on a local machine?

[2019-03-11 22:52] daxian-dbw commented on #160
I don't think you want those preference variables to be set automatically by default. Otherwise, a lot relevant verbose messages will be spit out from `Import-Module` and other cmdlets to your trace log.

[2019-03-12 08:19] bgelens commented on #163
Nevermind :) `func new --language=powershell --template="Azure Event Grid trigger"`

[2019-03-12 17:18] TylerLeonhardt commented on #163
just so you know, the language here is optional if your Function _APP_ is already a PowerShell Function App.

Also, if you're curious what the available templates are, run:

[code]

and you'll see them all 😄

[2019-03-12 17:19] TylerLeonhardt commented on #163
Ok to close this now?

[2019-03-13 06:33] bgelens commented on #163
Yes :) Thanks!

[2019-03-13 06:33] #163 closed

[2019-03-13 17:50] joeyaiello commented on #162
Per our discussion, we should talk to the Functions team about how `critical` is used in another languages.

/cc @asavaritayal @fabiocav

[2019-03-13 19:02] joeyaiello commented on #152
Given that no output bindings actually support this output yet (except HTTP, but that requires a wrapper object):

[code]

I think this should probably work such that line 2 unrolls the items and appends them to the binding (for bindings like queues where collections are supported).

[code]

If collections aren't supported, we should continue to throw an error and suggest that the user try `-Force

[2019-03-13 19:03] joeyaiello commented on #155
According to @daxian-dbw, the work in #152 will give us the information we need from `host.json` about the output bindings that will allow us to throw a better error message here.

[2019-03-13 19:07] joeyaiello commented on #148
Just to capture what we discussed, this is really to track usage of all of these request/response types. It's more of an investigation right now than anything.

[2019-03-13 22:32] pragnagopa commented on #150
cc: @kashimiz - as FYI

[2019-03-14 00:11] kashimiz commented on #150
It may be useful to reference [this PR ](https://github.com/Azure/azure-functions-nodejs-worker/pull/183/files#diff-b083ab95615a87ee6cae7e07f740cacd) from the Node worker, specifically the `Converters.fromRpc()`, to see how it's done there.

@ConnorMcMahon and I would like to keep the language worker representations as close to the .NET version as possible. PowerShell may actually be able to use t

[2019-03-15 21:52] daxian-dbw commented on #144
Users can simply append `Out-String` to the pipeline: `$body = Get-Process | Select-Object -First 1 | Format-List * | Out-String`.
I don't think the worker should do anything special here, given that all those formatting types are internal.

[2019-03-16 02:58] TylerLeonhardt commented on #144
Yeah that's fair. Maybe wait for feedback to see if users fall into this situation often?

[2019-03-16 21:13] daxian-dbw commented on #144
Sure. I personal think that it would be extremely rare for users to capture the format data objects as the output binding value.
If they want to inspect the properties, remember that they can leave the results from `Format-List` to the output stream, which will then be rendered through `Out-String` automatically and show up in the information log.

[2019-03-18 22:59] Francisco-Gamino opened #169 "Handle lack of internet connection when installing function app dependencies"
In PR #166, we check for the latest version of a module in the PSGallery. We should add some logic to handle when the user does not have an internet connection so function app can still work locally.

Example: Running a function app locally while you are in an airplane.

[2019-03-20 19:34] daxian-dbw commented on #155
Fixed via #168
Calling `Push-OutputBinding` on a non-existent output binding will error out.

[2019-03-20 19:34] #155 closed

[2019-03-20 19:34] daxian-dbw commented on #152
Fixed via #168

[2019-03-20 19:34] #152 closed

[2019-03-23 04:46] markekraus opened #173 "Consider function.proj or something similar for .NET Core Assembly Inclusion"
One key to success for csx functions is the ability to include a [function.proj](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-csharp#using-nuget-packages) to added .NET Core assemblies to the runtime. I realize it would be possible to build a custom module that includes the desired assemblies and deploy it with the function, but I think that's probably not the right p

[2019-03-23 04:57] markekraus opened #174 "Web Cmdlet Socket Exhaustion Concern"
One thing we do not handle well in the web cmdlets in PS Core is the singleton nature of HttpClient. HttpClient is intended to be instantiated once and then reused. In PS Core we instantiate a new HttpClient on every call to IWR/IRM. This is somewhat OK for a shell and scripting language, but could be problematic for Functions. A common pattern is to create a azure Function to combine data from mu

[2019-03-25 16:13] joeyaiello commented on #104
* (at least a nod) to enabling MSI support

[2019-03-25 16:26] joeyaiello opened #175 "`profile.ps1` not generated when creating from the Portal"
When creating a 2.0 PowerShell function app using `func`, a `profile.ps1` gets created that's pre-populated with MSI authentication and some comments about using `Enable-AzureRmAlias`.

When creating a 2.0 PowerShell function app in the Portal using the feature flag, this `profile.ps1` does not get created. This creates issues where a user would incorrectly assume after enabling MSI support that t

[2019-03-25 22:01] daxian-dbw commented on #174
Back in the days we started to port `Invoke-WebRequest` and `Invoke-RestMethod` to dotnet core, we considered adding a parameter set to those two cmdlet to accept an `HttpClient` to work with, and maybe also a new cmdlet like `New-HttpClient` to help with that. It was the same idea -- to allow the user to reuse the `HttpClient` as she/he sees appropriate. I thought it was a good idea but we didn't

[2019-03-25 23:21] markekraus commented on #174
I have toyed with the same idea.

One thing that makes that a bit painful is that the HttpClientHandler is where most of the features are applied. They would need to provide us both the HttpClient and HttpClientHandler. At some point, managing that with the existing cmdlets becomes awkward and from a user perspective, maybe more painful than the direct .NET API calls.

Even if we move the web cmdl

[2019-03-25 23:45] daxian-dbw commented on #174
A PowerShell session is reused by Azure Function calls, so yes, a singleton is initiated at the function worker boot-up time, and last until the worker is spun down.
But a function worker process may have multiple Runspaces dealing with incoming requests concurrently, so if the web cmdlet is going to carry the singleton, it should have a `ConditionalWeakTable<Runspace, HttpClient>` instead.

[2019-03-26 02:59] markekraus commented on #174
I'm not sure I understand that.

The problem is that HttpClientHandler is required for most of the advanced features of the web cmdlets. You can only attach a single HttpClientHandler to an HttpClient singleton. If thread A modifies the HttpClientHandler if can impact HttpClient in thread B and if both modify the HttpClientHandler in both thread A and thread B you get a race condition. Both types

[2019-03-26 18:38] daxian-dbw commented on #174
Sorry that I wasn't clear enough with my thoughts.
A singleton instance of `HttpClient` and `HttpClientHandler` won't work because it would cause race conditions when web cmdlets are used in parallel from multiple Runspace, so we need a singleton per Runspace. When the web cmdlet is running, it's easy to find out which Runspace we are running in by `Runspace.Default` (or other ways through `PSCmdl

[2019-03-26 19:06] markekraus commented on #174
Ah that's clear, thanks. It's certainly better than one per call to iwr/irm. This is a model I had considered before with a different type. I was also considering a lazy<t> for it to instantiate on demand.

[2019-03-26 21:57] TylerLeonhardt commented on #173
This is something I've been thinking about.

In one of my Functions I needed to parse a multipart form data which, in most languages, is a solved problem because there already exists a library that does so...

PowerShell doesn't have as much experience being a web server so the proper modules are not available to do basic web server tasks.

I didn't want to include ASP.NET because of its size and

[2019-03-27 12:26] markekraus commented on #173
@TylerLeonhardt The Multipart form-data .NET APIs should already be in PS Core due to them being used in the web cmdlets. But yea.

Even the C# compiled and CSX runtime doesn't include all of ASP.NET. It does however, include a decent chunk of it by default and allows you to add what you want with the function.proj or project.csproj files.

Even if a bunch of modules started to be authored by the

[2019-03-29 12:08] bgelens opened #177 "Az modules not there when starting with core-tools"
I had to ```Save-Module -Path ~\AppData\Roaming\npm\node_modules\azure-functions-core-tools\bin\workers\powershell\Modules\ -Name Az``` before I could start with local development where interaction with Azure was needed. Maybe add to the docs or have additional install routine?

[2019-03-29 14:21] TylerLeonhardt commented on #177
This is currently being addressed by @Francisco-Gamino.

Francisco, would you like to explain the plan? 😊

[2019-03-29 15:59] bgelens opened #178 "table input binding example"
I'm trying to use table storage as an intermediate data store between functions and have queue triggers in place to tell the next function which table row it should read l (and actually update using output again) like [in this example](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-table#input---c-script-example---one-entity). Are there any examples / templates o

[2019-03-29 17:51] SteveL-MSFT commented on #173
I wonder if this is something that should be part of PackageManagement which already has a Nuget provider?

[2019-03-29 19:44] TylerLeonhardt commented on #178
@bgelens Can you open this in the https://github.com/Azure/azure-functions-templates/ repo and cc me and @joeyaiello?

Looks like they don't have templates for Table in _any_ language:
https://github.com/Azure/azure-functions-templates/tree/dev/Functions.Templates/Templates

[2019-03-29 19:53] markekraus commented on #173
@SteveL-MSFT That works too. The idea would be whatever the analog is, it runs once on runtime init and the assemblies are available as long as the instance session persists.

[2019-03-30 18:21] daxian-dbw commented on #173
`dotnet` is available in the sandbox, so we can adopt the same `function.proj` convention as C# script function does, and restore the package referenced in that file by `dotnet restore funciton.proj --packages <package-store-path>`.
We will have to duplicate the function-host code that handles `function.proj` in the PowerShell worker, for example [InitializeAssemblyRegistry](https://github.com/Azu

[2019-03-30 18:35] bgelens commented on #178
Done! I'll close this one here. Thanks @TylerLeonhardt

[2019-03-30 18:35] #178 closed

[2019-03-30 18:36] daxian-dbw commented on #173
The unnatural part of supporting `function.proj` file is that, the PowerShell worker will have two deps configuration files: `requirements.ps1` and `function.proj`.
This seems redundant, and it's feasible to support NuGet packages in `requirements.ps1` -- we would need one more step in the flow above: extract the package name/version, and generate the `.proj` file by `dotnet add`.
However, I see t

[2019-03-30 18:56] daxian-dbw commented on #177
@bgelens Just in case you don't know, you can also create a `Modules` folder in the root directory of your Function App, and save the `Az` module there. PS worker automatically adds that folder to the module path.
But I understand have `Az` module in a common location makes sense if you have multiple Function Apps that all depend on that module.

@Francisco-Gamino is working on a feature called `d

[2019-03-30 19:01] daxian-dbw commented on #146
Close via #171

[2019-03-30 19:01] #146 closed

[2019-03-30 19:14] bgelens commented on #177
@daxian-dbw I know (using this for my own custom modules), but don't want to publish Az module when running ``` func azure functionapp publish```  as they are already installed (on Azure worker) by default. This is also the reason I added this issue as I expect local development to behave the same as it would using editor in portal.

[2019-03-30 20:20] daxian-dbw commented on #177
Ah, I see what you mean. But I'm afraid that will change with the newest deployment of the PS worker due to #166, you can see the change that affects this behavior [here](https://github.com/Azure/azure-functions-powershell-worker/pull/166/files#diff-343a7bfdf47ea4e8011e6b0c8f7d0167L21). Basically, there is a design change in the `dependency management` feature, and the `Az` module will be deployed

[2019-04-01 17:30] Francisco-Gamino commented on #177
Hello @bgelens, we just introduced a feature called Managed Dependencies in which the user specifies that you function app has a dependency in the Azure Az modules.

Here is how it works, at function app creation, using the func CLI, the user has the option to opt into Managed Dependencies for PowerShell function apps using the --managed-dependencies switch. Managed dependencies enables modules to

[2019-04-01 17:46] bgelens commented on #177
Thanks @Francisco-Gamino! I noticed the Az modules where gone today and tried to puzzle this together from your PR but your explanation here makes it all so much easier :)

[2019-04-01 18:10] Francisco-Gamino commented on #177
Great, thanks bgelens! Feel free to reach out to me if you have issues setting this up for your function app.

[2019-04-02 03:26] ljtill opened #181 "PSJobs - Unable to receive jobs"
In the process of building several prototype PowerShell functions and as part of the execution I'm looking to utilize PSJobs. I've hit a error which I'm trying to remediate and determine if it's an issue with my code syntax or the worker. Testing the process flow outside of the function host doesn't seem to throw any errors and returns the expected behavior.

Operating System: _macOS 10.14.4_
Powe

[2019-04-02 06:54] daxian-dbw commented on #181
`Start-Job` doesn't work in the application-hosting-powershell scenario by design. This is because the out-of-process background job requires `pwsh` to be available under `$PSHOME`. For an application that hosts PowerShell, it's using the NuGet packages and won't have `pwsh` shipped with it. You can use `Start-ThreadJob` from the `ThreadJob` module. PowerShell Function worker has that module in mo

[2019-04-02 13:58] ljtill commented on #181
Thanks @daxian-dbw appreciate the quick response!

[2019-04-02 13:58] #181 closed

[2019-04-03 06:46] bgelens commented on #177
Hey @Francisco-Gamino! Right now you can only say, I need 1.* version of Az module. I need to fix it to 1.6.* so I'm assured nothing breaks when 1.7.0 comes out.

Example, `Az.Storage` changed to make use of `Microsoft.Azure.Cosmos` (1.6) instead of `Microsoft.Azure.Storage` (1.x-1.5) library which I was dependent on.

Would it be possible to have the minor fixed as well?

[2019-04-03 07:12] TylerLeonhardt commented on #177
At the start, Managed Dependencies only allows you to lock to a Major version (1.*) but just as you suggested, locking to a Minor version is also important... that will come later, but it will addressed.

cc @anirudhgarg @eamonoreilly

[2019-04-03 08:37] bgelens opened #184 "Imperative binding patterns"
I don't know if it is possible but I would like to have a named parameter in my outputbinding like this:

[code]

And have the code decide what queuename to use. Scenario is, rest call in -> route to correct queue which will trigger corresponding function.

Right now I have to add all queue's declaratively, as you can imagine, it can grow exponentially so having the ability to define the desired q

[2019-04-03 15:49] eamonoreilly commented on #177
If you need to lock to a specific version, I would recommend saving that specific module to the modules folder and not opting in to managed dependencies for the moment until we look to add these capabilities.
Thanks,
Eamon

[2019-04-03 22:30] TylerLeonhardt commented on #184
@bgelens This to me seems like a feature request that isn't specific to PowerShell but could be applied to _all_ languages. Correct me if I'm wrong!

If so, can you open this over on the [azure-functions-host repo](https://github.com/Azure/azure-functions-host)?

[2019-04-03 22:30] TylerLeonhardt commented on #184
cc @pragnagopa @asavaritayal

[2019-04-04 01:08] pragnagopa commented on #184
We already have support for binding expressions. Please see here: https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns

[2019-04-04 05:48] bgelens commented on #184
I tried the pattern where the queuname is set as an appsetting, then overwrite using ```$env:queuename = 'someothername'```. Unfortunately, the queue name doesn't seem to be overwritable like this.

An interesting bit is that in C#, binding info can be created at [runtime](https://docs.microsoft.com/en-us/azure/azure-functions/functions-dotnet-class-library#binding-at-runtime) which are called, im

[2019-04-04 06:08] TylerLeonhardt commented on #184
@pragnagopa do language workers that are out of process have a mechanism for imperative bindings?

[2019-04-04 16:05] pragnagopa commented on #184
@bgelens - As long as function.json follows the binding pattern like ` "queueName": "%input-queue-name%",` it should work. Can you please share function code and the function.json?

@TylerLeonhardt  - Language worker layer design requires function.json. As of now we do not have an equivalent of imperative bindings for out-of-proc languages

[2019-04-04 19:01] joeyaiello commented on #104
* Move debugging all up into the reference doc
* Not blocking preview on non-Code debugging
* troubleshooting: case-sensitivity, variable table cleared

[2019-04-05 00:25] eamonoreilly opened #187 "TriggeredMetadata object: Add function directory and invocation id so it is consistent with Python"
We should be consistent with Python https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-python#context and add the function directory and invocation id to the object. We already have the function name in the methodname property.

[2019-04-05 07:00] bgelens commented on #184
@pragnagopa I have this in the function.json

[code]

I have a queueName defined in the application settings.

{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "powershell",
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "queuename": "queue1"
  }
}

This works fine but now I want to have the code at the PowerShell worker to define another queuename. As the appl

[2019-04-05 16:23] TylerLeonhardt commented on #184
@bgelens that's because the Azure Functions Host and the Azure Functions PowerShell worker are 2 separate processes.

The [Azure Functions Host](https://github.com/Azure/azure-functions-host) is responsible for sending the data from the worker to the queue. If you mutate the `queuename` environment variable in the worker, this doesn't get applied to the Functions Host process since changing enviro

[2019-04-05 17:08] bgelens commented on #184
Yeah I figured as much. Just responding to the inquiry of @pragnagopa.

Would definitely be great if something would happen to make this possible!

[2019-04-05 18:31] pragnagopa commented on #184
You will not be able to set queuename for an output binding from within the function code. But Binding expressions allow you to use result from an input binding. Following sample shows how specify queuename from an output binding from queueTrigger data

[code]
Sample queue trigger data from queue with name `queue1`
[code]
Now, you can set value for `outputQueueItem` outputbinding which will be pus

[2019-04-05 19:12] bgelens commented on #184
Thanks! I will definitively give this a try. Would it be possible if the queue would contain a json body, to refer to a key / nested key?

[2019-04-05 20:55] TylerLeonhardt commented on #184
I'm curious about this as well @pragnagopa but from the perspective of [this comment](https://github.com/Azure/azure-functions-host/issues/4207#issuecomment-479722629). If the host does deserialize the queue data if it's json so it can compute Binding expressions, then the worker should probably receive the json as `TypedData.Json` instead of `TypedData.string`?

[2019-04-05 22:26] #187 closed

[2019-04-05 22:34] pragnagopa commented on #184
@TylerLeonhardt  - I have reopened https://github.com/Azure/azure-functions-host/issues/4207. yes, host should set typedData.json if the input data is infact json.

@bgelens -

yes, you can. Please see https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns#dot-notation

Here is an extension to the above example:
Sample input data in `queue1`

[code]
Correspo

[2019-04-05 22:38] TylerLeonhardt commented on #184
That's awesome 😃

[2019-04-08 05:52] bgelens commented on #184
Thanks @pragnagopa! This works perfectly!

[2019-04-08 14:24] TylerLeonhardt commented on #184
Awesome!

We should maybe close this in favor of opening a new issue on the host to support imperative bindings for out-of-proc languages?

[2019-04-08 19:13] bgelens commented on #184
@TylerLeonhardt Done!

[2019-04-08 19:13] #184 closed

[2019-04-08 19:19] bgelens commented on #177
@Francisco-Gamino I've noticed that dependency management in azure core tools version 2.5.553 is trying to download the modules, placing them in a DependencyManagement folder in the Azure Function app root but this path is not appended to PSModulePath causing an indefinite loop. Not sure this is due to work in progress so I thought I would address my findings

[2019-04-08 22:52] Francisco-Gamino commented on #177
@bgelens: Let me look into this. I will report back.

[2019-04-08 23:02] eamonoreilly commented on #175
This is now created by the host in the service if the language worker is PowerShell.

[2019-04-08 23:02] #175 closed

[2019-04-09 02:48] Francisco-Gamino commented on #177
@bgelens: Thanks for reporting this issue. I have an repo. I need to do a bit more debugging as there are multiple moving pieces (CLI, PowerShell worker and Host). I will update this issue once I have more information. Thanks.

[2019-04-10 15:52] Francisco-Gamino commented on #177
@bgelens: This issue will be resolved in the next release of the CLI. The problem was that for the local development scenario, we were downloading the function app dependencies to the functionAppRoot\ManagedDependencies. However, whenever there are file changes under the function app root folder, the Process Host gets restarted. To fix this, we will be placing the function app dependencies for the

[2019-04-10 15:52] #177 closed

[2019-04-10 17:26] TylerLeonhardt commented on #177
@Francisco-Gamino where does this go on non-Windows?

[2019-04-10 17:43] daxian-dbw commented on #177
It's using `Environment.GetFolderPath(Environment.SpecialFolder.LocalApplicationData, Environment.SpecialFolderOption.DoNotVerify)`, which will be `~/.local/share` on Linux (or Ubuntu, more specifically).

[2019-04-11 05:55] bgelens commented on #177
Thanks!

[2019-04-15 16:07] pragnagopa commented on #127
@daxian-dbw  - Can you please share locustfile.py where you saw  46 RPS?

[2019-04-15 17:01] daxian-dbw commented on #127
@pragnagopa Sure, please see the zip file attached below. Note that, measurement in this issue was not done in a 1-processor affinity environment, while the measurement in #189 is done in a setup that is mostly the same as in the sandbox (1-processor -- both Host process and the worker process were using the same core; default Runspace pool size). So I believe #189 is more useful for reference.

[

[2019-04-26 01:46] TylerLeonhardt commented on #90
@maertendMSFT has @joeyaiello talked to you about this?

[2019-04-26 01:47] TylerLeonhardt commented on #120
This is done now.

[2019-04-26 01:47] #120 closed

[2019-04-26 02:11] TylerLeonhardt opened #195 "Investigate removing dependency on `dotnet` executable in the path"
Right now, because the Azure Functions host calls the worker using:

[code]

`dotnet` has to be in the path... Ideally, we shouldn't have to do this and either bundle the runtime with the worker or share the runtime with Azure Functions Host.

Firstly, we need the host to give us a way to run single executables:

Today we have to specify an executable path and a worker path:
[code]

Ideally those

[2019-04-26 17:34] maertendMSFT commented on #90
Not that I recall, but Edwin and I have a meeting on Tuesday to discuss this with some other folks who reached out.

[2019-04-29 16:50] TylerLeonhardt opened #196 "REGRESSION: Local debugging fails - vscode and console"
Status: Current suspect is the ManagedDependencies feature which leverages PowerShellGet which uses the Microsoft.PowerShell.Utility module.

Will report here with more information.

[2019-04-29 16:56] pragnagopa opened #197 "Update grpc dependencies"
Update grpc to 1.20.1

[2019-04-29 17:58] pragnagopa opened #198 "Add OGFs for powershell functions"
Tracking item to update OGFs for powershell functions.

cc: @anirudhgarg

[2019-04-29 18:19] TylerLeonhardt commented on #196
temporary workaround:

npm:
[code]
chocolatey:
[code]

[2019-04-29 18:27] dfinke opened #199 "requirements.psd1 - Needs a note that it is only for Azure modules"
I tried to add a module that is published on the PowerShell Gallery. That did not work.

[2019-04-29 18:43] TylerLeonhardt commented on #198
What is an OGF?

[2019-04-29 18:45] pragnagopa commented on #198
Overall Goodness Factor (OGF) - Manual E2E tests that are part of release testing. They include portal, CLI and VS. We will start tracking VSCode from now on.

[2019-04-29 23:24] TylerLeonhardt commented on #199
cc @anirudhgarg, @Francisco-Gamino, @SatishRanjan

[2019-04-30 01:11] pragnagopa commented on #195
@TylerLeonhardt  - following should work. Did you try it?
[code]
Validation of worker config: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.Grpc/Abstractions/WorkerDescriptionExtensions.cs does not impose requirement for defaultWorkerPath

To support various platform, you can use profiles. Please see profiles section here for an example: https://github.com/Azure/azure-f

[2019-04-30 01:22] daxian-dbw commented on #195
I'm afraid we cannot use an executable because that would mean we have to ship many more packages for each release of PowerShell worker -- windows (x64 and x86), macOS, Linux (maybe more than 1 for different distros).

For https://github.com/Microsoft/vscode-azurefunctions/pull/1204 mentioned by @TylerLeonhardt, does it really remove the dependency of dotnet sdk? What will the azure function vscod

[2019-04-30 01:30] pragnagopa commented on #195
Microsoft/vscode-azurefunctions#1204  - improves extensions installation experience for non dotnet languages and avoid packaging extensions binaries as part of the user code. For debugging, you still need dotnet core.
@daxian-dbw is right. If you do decided to remove dotnet core dependency to run powershell worker, you need to figure out right packaging for all the platforms

[2019-04-30 05:29] TylerLeonhardt commented on #196
We have released a workaround for Core Tools by rolling back the worker that ships in Core Tools so we are back to a good state.

This issue will track the actual implementation of the fix.

[2019-05-01 21:07] burkasaurusrex commented on #196
This is probably a better chocolatey command: `choco install azure-functions-core-tools --version 2.6.1048 --allow-downgrade`

[2019-05-01 21:20] burkasaurusrex commented on #196
I'm still having some issues with local debugging - here's the console output (after deleting the `bin` and `obj` folders as well as `extensions.csproj`:

(You'll notice the three `Language Worker Process exited. dotnet exited with code -2147450740` errors, in addition to the errors at the bottom)

[code]

And the Powershell output:

[code]

Did I misconfigure something here?

[2019-05-01 22:50] burkasaurusrex commented on #196
Actually, I think I found the solution here: https://stackoverflow.com/a/55120037/4338308

Apologies for mucking up this issue. Appears to be unique to using an x64 machine, VSCode, and Chocolatey.

[2019-05-02 09:59] BrianTJackett commented on #77
@bytemech I had the same idea for mixing a C# client + orchestrator but calling into a PowerShell ActivityTrigger.  Have you tried this yet with the preview release?

[2019-05-02 13:27] eamonoreilly commented on #199
@TylerLeonhardt  @anirudhgarg, @Francisco-Gamino, @SatishRanjan
Thanks. This is called out on https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json#manageddependency but I'll update https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#dependency-management with a note also. We might want to add a comment to the requirements.psd1 also for now.

[2019-05-02 16:24] mgeorgebrown89 opened #202 "using module shows error in vscode, but works when debugging locally"
I have a module in the Module folder at the root path of my Azure Functions App. Locally, to get these to import, I have to use the full path or a relative path. No problems there. When I debug it locally and call my function, it doesn't load it.

Since these modules are added to `$env:PSModulePath` at runtime, I can just say `using module ModuleName` and it works when I call the funciton, but VSC

[2019-05-02 18:17] Francisco-Gamino opened #203 "Function app dependencies need to be downloaded to a common location for local developement"
Currently, for the local scenario, we are downloading the function app to LocalApplicationData\AzureFunctions\FunctionAppName\ManagedDependencies. However, we should redesign this to behave more like a Nuget cache.

The proposed location could be:
LocalApplicationData\AzureFunctions\<Feature>\<Language>, e.g.,
LocalApplicationData\AzureFunctions\ManagedDependencies\PowerShell

I

[2019-05-02 19:19] JustinGrote opened #204 "Discussion: VSCode Debug Experience Improvement"
The "wait-debugger" method seems fraught with issues and slows down the write/test loop, for instance if I place one and forget to take it out, suddenly my code will "freeze" in production (assuming it misses a code review or I'm just testing).

Due to BreakAll, I understand the need for it, but perhaps when the function host is running in "vscode debug mode", an environment variable can be set to

[2019-05-02 19:30] bgelens commented on #204
I use this for my Http Triggered functions

[code]

By checking the environment I cannot accidentally trigger Wait-Debugger on a published function.

This of course does not work for non http triggered functions.

E.g. calling a timer triggered function locally:

[code]

Would be nice if I could control through query params or headers to signal I want to hit `Wait-Debugger`

[2019-05-02 19:32] bgelens opened #205 "Request.RawBody is not a string anymore"
Locally $Request.RawBody is still a json string. Since today, in my published function this has changed to a hashtable. I have no clue why.

[2019-05-02 19:59] JustinGrote commented on #204
Good idea on the query parameter.

BTW it appears my functions environment starts in PRODUCTION by default with core tools, although this code change from 2018 says it should start as DEVELOPMENT
https://github.com/Azure/azure-functions-core-tools/commit/6e190f9f2a6c11e8d2d959968f41f1af5930c1c6

[code]

@bgelens did you do anything special or is yours development out-of-the-box?

[2019-05-02 21:54] anirudhgarg commented on #199
Assigned to Francisco to add a comment in the requirements.psd1 in too

[2019-05-03 11:12] bgelens commented on #204
Is shows Production  when I start the host as well, but the environment variable AZURE_FUNCTIONS_ENVIRONMENT has Development.

[2019-05-03 21:36] JustinGrote opened #206 "Why [httpresponsecontext] and not just [httpresponsemessage]?"
I couldn't see the answer to this in previous issue filings.

Is there a reason a custom httpresponsecontext class was created for the Push-OutputBinding for HTTP instead of just using a standard httpresponsemessage?

[2019-05-03 22:03] JustinGrote commented on #204
@bgelens OK so I'm not crazy then :).

There's another environment variable for detecting specifically the Core Tools environment, and I've started using that to detect for safety. I think I'll put in a separate issue to have the documentation updated to recommend doing this by default instead of Wait-Debugger by itself.

Should we settle on the workaround or is there plans for a more robust appro

[2019-05-03 23:11] JustinGrote opened #207 "[HttpResponseContext] Content-Type should be set to 'application/json' when an object is provided to Body"
When the HttpResponseContext autodetects the type and does a type conversion, if it converts to JSON then it should automatically mark the content as application/json and not text/plain

[code]
![image](https://user-images.githubusercontent.com/15258962/57169757-8b9bc980-6dbd-11e9-9623-6b7a513ea511.png)

### Workaround
Explicitly specify the content type.
[code]
![image](https://user-images.github

[2019-05-03 23:12] JustinGrote opened #208 "**Empty**"
I don't think #119 and #93 ever got fully implemented, you still have to provide an "ugly" .NET object to Push-OutputBinding for HTTP Responses.

Instead, the user should be able to pass pretty much any object directly or via the pipeline to Push-OutputBinding and it should "figure it out" the most appropriate way to output it unless the user explicity specifies what they want via optional paramet

[2019-05-04 00:07] JustinGrote commented on #206
Answered in https://github.com/Azure/azure-functions-powershell-worker/blob/7ac8a349b74400b3b64035f77b41786c29037cfa/docs/designs/PowerShell-AzF-Overall-Design.md#data-transformation

[2019-05-04 00:07] #206 closed

[2019-05-04 21:51] daxian-dbw commented on #204
Good discussion here!
There can be a more robust approach -- allow breaking points to be set in the script before hitting `F5`, and set those break points when the debugger attaches to the target Runspace.
@TylerLeonhardt has already done some work in PowerShell to help make this approach possible, see https://github.com/PowerShell/PowerShell/pull/8923

[2019-05-05 05:55] JustinGrote commented on #204
This actually works as of today in terms of the breakpoints, you just have
to add the wait-debugger to get there (sometimes, because of BreakAll it
often breaks earlier)

On Sat, May 4, 2019, 2:51 PM Dongbo Wang <notifications@github.com> wrote:

[2019-05-05 06:35] daxian-dbw commented on #205
Thanks for reporting this.
This is a regression caused by #186, which was supposed to be a temporary workaround for https://github.com/Azure/azure-functions-host/issues/4207.
Now that the issue has been reopened and we agreed the fix should be in the host, I will revert #186.

[2019-05-05 07:52] daxian-dbw commented on #204
As of today, breakpoints set before `BreakAll` won't be hit. Only the breakpoints set after `BreakAll` can be hit.

The desired UX would be similar to the local debugging:
1. Breakpoints can be set beforehand, before pressing `F5` to start the debugger.
2. Avoid `BreakAll` and `Wait-Debugger`. The breakpoints set beforehand can be hit as long as the execution flow in the target Runspace hasn't pas

[2019-05-05 08:12] daxian-dbw commented on #202
Thanks for reporting the issue.
Yes, the module path is currently a gap in the developer experience. There needs to be a way to update the module path of the integrated powershell console when working with a PS Azure function app.

/cc @TylerLeonhardt

[2019-05-06 16:38] #205 closed

[2019-05-06 16:44] antoniobriones opened #211 "PnP references in Powershell Azure function 2.0"
Hi,

How should I include references to SharePointPnPPowerShellOnline in 2.0 function? I read posts (for 1.0) that say about saving the module locally and then uploading it to the modules folder, but I don't see such folder in 2.0.

Thanks

[2019-05-06 17:00] TylerLeonhardt commented on #211
My understanding is that the PnP module does not work with PowerShell Core. Can you confirm that this module works with PowerShell Core 6.2 in a normal powershell console?

Here are the docs you are looking for:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#function-app-level-modules-folder

If a folder isn't there, you need to create it.

[2019-05-06 19:09] antoniobriones commented on #211
Thanks,@TylerLeonhardt, that did it, i was placing the Modules folder in an incorrect place, wwwroot is set as envpath so it needs to go in there.

Anyway, all PnP cmdlets now fail and the cause is that they don't run in Powershell core 6.2. Do you or anyone know if there will be support for it in the future? Or will Azure Functions 2.0 support normal Powershell? What's the approach that we should

[2019-05-06 19:51] TylerLeonhardt commented on #211
Yeah. I guess that's the work around for now. We were talking about this on Twitter the other day:

https://twitter.com/erwinvanhunen/status/1123644857094934530?s=19

It sounds like they're working on it.

[2019-05-06 22:02] JustinGrote commented on #211
@antoniobriones So this is probably
### SUPER UNSUPPORTED

but the current 2.0 worker in Azure still runs on Windows, and the 5.1 powershell.exe is still there. I tried using the wincompatibility module but as expected none of the WINRM remoting infrastructure that it requires works, so your other option is to put the logic or whatever you want to do with sharepoint into a separate script, export

[2019-05-06 22:17] TylerLeonhardt commented on #211
Actually yes. @JustinGrote is right and that's actually probably a more supported solution than using v1.

[2019-05-06 22:26] #196 closed

[2019-05-07 13:10] antoniobriones commented on #211
Thanks guys. Is there any chance that this approach you're suggesting may become unsupported for some reason? Like.. the worker stopping from running on Windows or anything like that? The solution we're preparing is for SP Site Provisioning and my company provisions around 100 sites per day, we couldn't be supporting an outage here.

[2019-05-07 13:15] JustinGrote commented on #211
Unsupported in that if you call MS support they won't have a clue what you
are doing probably, but it will "work"

Only reason I can think of is if the worker switches to Linux OS, but I'm
sure there'd be plenty of notice and a compatibility option for that.

On Tue, May 7, 2019, 6:10 AM antoniobriones <notifications@github.com>
wrote:

[2019-05-07 13:16] JustinGrote commented on #211
Also if you're that concerned about support you should use azure automation
instead for a more clear roadmap at this point.

On Tue, May 7, 2019, 6:15 AM Justin Grote <justin@grote.name> wrote:

[2019-05-07 14:45] antoniobriones commented on #211
@JustinGrote, i'm just trying to apply a pnp provisioning template after a site gets provisioned. For that, I'm calling a flow from the site design and that flow is calling the function. So you suggest replacing the function by a runbook and making a http request to it from the flow?

[2019-05-07 15:10] JustinGrote commented on #211
This is my non-Microsoft-employee-opinion, but if you are planning this for long term production support, it should run on a GA platform, and the only options in that regard at the moment are Azure Automation or a virtual machine.

That being said, in our company run production code that processes 15k tickets a week on the "experimental" azure functions 1.x powershell runtime and have experienced

[2019-05-07 15:33] antoniobriones commented on #211
Thanks @JustinGrote for taking the time! I'll go with 2.0 functions calling Powershell.exe for the time being.

[2019-05-07 18:30] mgeorgebrown89 opened #212 "Extension Bundle stopped working"
Registering Azure Functions bindings for local development has stopped working for me. I had a storage tabled bound to a function and was able to pull data from it to my local environment, but now when starting the function app, I get an error message that says it isn't registered.

[2019-05-08 00:18] daxian-dbw commented on #212
Did you run `func extensions install` in the function app directory? Sharing the error message would be helpful.

[2019-05-08 00:37] TylerLeonhardt commented on #212
Cc @pragnagopa this might be a general Functions issue

[2019-05-08 17:00] JustinGrote commented on #204
@daxian-dbw can this PR: https://github.com/PowerShell/PowerShell/pull/8923 be used for this? Instead of using BreakAll, capture the PSBreakpoints from VSCode and pass them to Debug-Runspace when it is called by the Attach task.

[2019-05-08 17:04] daxian-dbw commented on #204
@JustinGrote Of course, as I mentioned in https://github.com/Azure/azure-functions-powershell-worker/issues/204#issuecomment-489368383, that PR is the first step toward the desired experience.

[2019-05-08 17:11] JustinGrote opened #213 "$TriggerMetadata should include Client IP"
In 1.x I got this from the $REQ_HEADER_CLIENT_IP variable. In 2.x that's not visible as a variable nor is TriggerMetadata available (I checked all properties including headers):

![image](https://user-images.githubusercontent.com/15258962/57394099-9629da80-7192-11e9-8675-772f1b79765a.png)

As an aside, why do $request and Request properties both exist in TriggerMetadata? Is $triggermetadata.'$requ

[2019-05-08 20:31] rdbartram opened #215 "$env variables are being reverted to strings"
I haven't tested this from local install of the runtime but within azure I have a super strange bug. If I created a $env variable and assign it a hashtable for example. When call it immediately afterwards, it is a string and no longer a hashtable. I tried the same with a dictionary and somehow I always endup with strings. As soon as I change the scope to either global, normal or script...everythin

[2019-05-08 21:10] JustinGrote commented on #215
Hi @rdbartram,

Environment variables are not Powershell variables, they are an operating system concept and they are always strings. This is not specific to Azure Functions, try running this in your local powershell console:

~> $env:myTestVariable = @{test=3;test2=5}
~> $env:myTestVariable
System.Collections.Hashtable

$env: is a special syntax which reads the environment variable from the env:

[2019-05-08 23:06] TylerLeonhardt commented on #215
Thanks, @JustinGrote! That is correct. Environment variables are always strings. I'll close this now but if you have any questions, please let me know!

[2019-05-08 23:06] #215 closed

[2019-05-09 13:42] Agazoth opened #216 "Object Array received from HTTP response"
When returning an array of objects in a HTTP response, only one object is returned. The first element of this object contains the array of the objects expected as response.

When returning elements like this in the Powershell Azure Function:
[code]
the following is received , when calling the webhook and storing the result in a variable called result:
[code]
Ideally result should contain the objec

[2019-05-09 14:56] JustinGrote commented on #216
@Agazoth
I couldn't reproduce. Are you sure your original "Users" array wasn't double wrapped in another array?

Here's my test function:

[code]

"Raw" JSON Result from invoke-webrequest
[code]
Result from invoke-restmethod
[code]
Functions Log
[code]

[2019-05-09 17:16] mgeorgebrown89 commented on #212
[code]
That's the only error I get. I'm using VSCode and the function starts up, but when I try to add a connection to a Storage account, it doesn't register anymore. I'm not sure what changed. I installed a previous version of core tools but that didn't help. My host.json file looks like this:
[code]
I did notice that this line:
[code]
but there's nothing actually there. Not sure if that's the is

[2019-05-09 17:17] Agazoth commented on #216
Turns out this is only happens when I collect the result with the -OutVariable parameter. This seems to be a bug in Invoke-RestMethods OutVariable method:

[code]
I execute the function like this:

[code]

This is the result in the log file:

[code]

If I run one of these:

[code]
And the objects are different:

[code]
I guess this issue should be moved to PowerShell/PowerShell instead.

[2019-05-09 17:25] Agazoth commented on #216
Seems to be the same in both Windows PowerShell and PowerShell Core:

[code]

Get-Member handles the result from irm different then Set-Variable

[2019-05-09 17:27] pragnagopa commented on #212
@soninaren - are table bindings part of extension bundle?

[2019-05-09 17:29] Agazoth commented on #216
Hmm, stupid me - I guess: https://github.com/PowerShell/PowerShell/issues/9381

[2019-05-09 17:33] mgeorgebrown89 commented on #212
From what I see its part of the Microsoft.Azure.WebJobs.Extensions.Storage binding, but maybe it's not supported for PowerShell anymore? The change would have to be recent because I was _just_ doing this last week.

[2019-05-09 18:22] mgeorgebrown89 opened #217 "Default, out-of-the-box functions don't seem to work in the azure portal."
A brand new function app, a new function, returns a 404 error? This seems very odd. I don't have anything else to include, that's pretty much it. The logs don't always return information either.

[2019-05-09 18:39] JustinGrote commented on #217
Michael,

Can you step through your process for creating it? Did you use the web
portal, vscode, az cli, etc? And then how did you get the URL for it to
make sure you were accessing the right thing?

On Thu, May 9, 2019 at 11:22 AM Michael G. Brown <notifications@github.com>
wrote:

[2019-05-09 18:46] soninaren commented on #212
@mgeorgebrown89 can delete the folder in temp path and try again? Table binding is part of extension bundle

[2019-05-09 18:47] soninaren commented on #212
Also which version of core tools are you using?

[2019-05-09 18:52] mgeorgebrown89 commented on #217
In this particular case, I did everything in the portal. New Function App. New Function with just the default everything. HttpTrigger. I click run and get a 404 error.

[2019-05-09 19:05] mgeorgebrown89 commented on #212
@soninaren deleted that folder and restarting the Function worked! Thanks.

Also, I was running 2.6 because I was running into some Debug-Runspace issue, but I just upgraded to 2.7.1158 and things seem to be working as expected.

[2019-05-09 19:12] TylerLeonhardt commented on #216
No worries! Glad we got to the bottom of it 😊

Closing since it's not an issue with Azure Functions. Let me know if you feel otherwise.

[2019-05-09 19:12] #216 closed

[2019-05-09 19:15] TylerLeonhardt commented on #212
Thanks @soninaren for the assistance!

@mgeorgebrown89 I'll close this now since it seems like you're all set :) please let us know if you feel differently.

FYI, the Debug-Runspace issue was a regression that was fixed. 😊

[2019-05-09 19:15] #212 closed

[2019-05-09 19:16] JustinGrote commented on #217
Can't reproduce. Created a new one with these settings:
![image](https://user-images.githubusercontent.com/15258962/57479702-e10b2700-7252-11e9-9995-e10616d2f283.png)

Made a new function:
![image](https://user-images.githubusercontent.com/15258962/57479873-4d862600-7253-11e9-88ca-c1b35cdfef80.png)

Copied the function URL:
![image](https://user-images.githubusercontent.com/15258962/57479983-727a9

[2019-05-09 21:31] glennamanns opened #218 "Better error handling on saving Az modules"
I just received a CRI (119457109) from a customer whose application went down due to the following error:
_Exception: Fail to install function app dependencies. Restarting the app may resolve the error. Error: 'The running command stopped because the preference variable "ErrorActionPreference" or common parameter is set to Stop: Unable to save the module 'Az'.'_

Restarting 5 times fixed the error

[2019-05-09 21:40] SatishRanjan commented on #218
Assigning this to @Francisco-Gamino for adding retry when downloading and saving Az modules, currently the workaround is to restart the function app.

[2019-05-09 22:18] joeyaiello commented on #174
@daxian-dbw to open an issue in PowerShell/PowerShell and close this one

[2019-05-09 22:33] joeyaiello commented on #195
We agree that this isn't a GA blocker, but it would be nice to remove the dependency on .NET SDK for customers who don't need `dotnet restore` for Nuget dependencies (which I'd guesstimate at ~75% of PS customers, but that's really a guess).

[2019-05-09 22:33] #197 closed

[2019-05-09 22:43] joeyaiello commented on #202
The solution here is to do one of two things:
* `Install-Module`/`Update-Module` and `Save-Module` so that you have the module in both your `PSModulePath` and your local function app directory
* Add the local function app `Modules` directory to process-level `PSModulePath`

Realistically, we need something like a `venv` for PowerShell that gives you a "Functions dev environment" once you enter a f

[2019-05-09 22:51] joeyaiello commented on #203
Quoting @TylerLeonhardt, @SteveL-MSFT, and @daxian-dbw, this is infeasible as it is essentially equivalent to creating a GAC.

If you want to talk in more detail on it, find one of them offline.

[2019-05-09 23:04] joeyaiello commented on #211
Resolving as answered. Thanks for all the help, @JustinGrote!

[2019-05-09 23:04] #211 closed

[2019-05-09 23:05] joeyaiello commented on #213
This object is coming from the Functions host, so we'll work with them to see if we can get this info.

We'll look into the `$request` vs. `Request` problem as well.

[2019-05-09 23:08] joeyaiello commented on #218
Retry could succeed if it's a network problem, but ideally we should figure out root cause of the failure so it doesn't happen. A single download takes long enough as it is, 5 will be a little crazy.

[2019-05-10 06:50] rdbartram commented on #215
😳...how have I only noticed this for the first time, 7 years after using powershell. Thanks  for the info though.

[2019-05-10 18:21] mgeorgebrown89 commented on #217
Yeah, I'm not sure what was happening yesterday, but this doesn't seem to be a problem anymore.

[2019-05-10 18:21] #217 closed

[2019-05-10 18:25] mgeorgebrown89 opened #219 "FunctionApp root Modules folder doesn't work when the FunctionApp is running as package"
I can't seem to track down a pattern, but sometimes this works, and sometimes it doesn't.

As far as I understand, you're supposed to be able to put modules into a root-level folder called Modules and have it be accessible at runtime. I have both explicitly called this with using module ModuleName and without it, and it seems that sometimes it works, and other times it does not. Do I need to expli

[2019-05-10 18:29] mgeorgebrown89 commented on #219
And now I just switch it from read only to read/write, and my function started working correctly and was able to find the modules... am I just not waiting long enough?

[2019-05-10 18:38] mgeorgebrown89 commented on #219
aha. I figured it out (maybe). It seems that you can't run from package if you want to use the modules. You have to run from zip.

[2019-05-11 18:46] daxian-dbw opened #220 "Add-Type doesn't work properly in PowerShell Azure Functions"
`Add-Type` depends on a set of reference assemblies to properly compile C# code. PowerShell language worker currently doesn't ship the `refs` folder as what `pwsh` does.

[2019-05-11 18:47] daxian-dbw commented on #219
@mgeorgebrown89 I'm glad you figured it out (maybe 😄) But can you please share what didn't work and what worked (repro steps)?

[2019-05-12 19:42] TylerLeonhardt commented on #220
@vexx32 are you doing that at all in PSWordCloud? Maybe this could be related.

[2019-05-12 19:43] TylerLeonhardt commented on #220
@daxian-dbw would this be a _PowerShell_ issue? Does the SDK give us this `refs` folder?

[2019-05-12 20:10] vexx32 commented on #220
On a Windows-based platform, yes, `Add-Type` is necessary to execute the p/invoke to set the native assembly load path based on architecture. 🙂

[2019-05-12 21:42] daxian-dbw commented on #220
@TylerLeonhardt this should be a PowerShell SDK issue. Not just the language worker, any application that host PowerShell will have the same problem.

[2019-05-13 14:09] dariuszbz opened #221 "azure cli from azure function powershell"
How to run azure cli from azure function powershell?

[2019-05-13 14:25] TylerLeonhardt commented on #220
That makes sense, we should probably open this on PowerShell, right?

[2019-05-13 15:32] daxian-dbw commented on #220
Right, issue opened: https://github.com/PowerShell/PowerShell/issues/9587

[2019-05-13 20:15] mgeorgebrown89 commented on #219
I had an Azure Pipeline from my Azure Repo which contained my Function App. The pipeline builds the code and deploys it to a Function App (created originally via the portal). I had selected "auto-detect" for the Deployment Method section under Additional Deployment Options part of the Pipeline. This set it up to run from Package, which I've heard is better, but then when I tried to execute my func

[2019-05-13 20:44] TylerLeonhardt commented on #219
Interesting... @pragnagopa do you have any context here? How are running as Package vs running as Zip different?

[2019-05-13 21:28] daxian-dbw commented on #219
It looks to me running as package means the zip file is not extracted, and thus the module folder under the function app root doesn't exist.
It basically means PowerShell function cannot work as "running as package". @pragnagopa Can you please explain how things work when the zip file is not extracted?

[2019-05-13 21:32] pragnagopa commented on #219
Here are details on how run from package works: https://github.com/Azure/app-service-announcements/issues/84

When using run from package, all the files needed should be deployed as part of the zip file eigher under `d:\home\data\SitePackages` or should be part of the blob storage.

@SatishRanjan / @Francisco-Gamino  - This is a valid scenario. Can you please investigate what needs to be done to u

[2019-05-13 22:25] joeyaiello commented on #198
@Francisco-Gamino if this is done, please close this

[2019-05-13 23:21] daxian-dbw commented on #219
Quoted from Azure/app-service-announcements#84

If it's mounted to `wwwroot`, the FunctionApp root module folder should continue to work ... Need to investigate why it doesn't.

[2019-05-14 05:44] daxian-dbw opened #222 "Refactor `InvokeXXXXXWorks` test cases in PowerShellManagerTests.cs to a 'Theory'"
This issue is opened to track the review comment https://github.com/Azure/azure-functions-powershell-worker/pull/214#discussion_r283588130

Quoted:

[2019-05-14 05:50] daxian-dbw commented on #221
Can you use the Azure PowerShell module instead?

[2019-05-14 07:45] dariuszbz commented on #221
Not from functions. When I'm loading azurerm module for SQL scaling (thats
my task) and than login/connected nf to azure I'm getting error message.

On Tue, 14 May 2019, 06:50 Dongbo Wang, <notifications@github.com> wrote:

[2019-05-14 10:20] dariuszbz commented on #221
Btw. it works (4ex: Get-AzContext ) when running from vscode, but not after
deployment into azure function.

On Tue, 14 May 2019 at 06:50, Dongbo Wang <notifications@github.com> wrote:

[2019-05-14 12:19] dariuszbz commented on #221
Ok I found:
first on your VM/workstation:
Connect-AzAccount
Save-AzContext

copy context json file to your azure function file system.

in your functions:
Import-AzContext -Path "D:\\home\\site\\wwwroot\\<you function
name>\\azctx.json"
$az = Get-AzContext
write-host $az

works.

On Tue, 14 May 2019 at 11:19, Dariusz Bzówka <daribzow@gmail.com> wrote:

[2019-05-14 17:05] daxian-dbw commented on #221
Did you enable MSI for your FunctionApp? Once you enable MSI and assign the necessary roles to your identity object, the default `profile.ps1` will log you in Azure automatically.

[2019-05-14 17:21] mgeorgebrown89 commented on #219
One thing to note:

My module is in the root level Module folder, with a psm1 and psd1 inside another folder all with the same name, with Public and Private folders that contain the actual module functions as individual ps1 script files (which I believe is the current best-practice). Could the psm1 file grabbing the files from the folders be the issue? I suppose I could test just having everything

[2019-05-14 17:34] dariuszbz commented on #221
It didn't work.

I can try any step by step guide if you send me step by step instructions.

The only way it works for me is the one I described.

On Tue, 14 May 2019, 18:05 Dongbo Wang, <notifications@github.com> wrote:

[2019-05-14 18:14] daxian-dbw commented on #219
I don't think so. If your FunctionApp works locally (with `func start`), then it should work in Azure regardless of the deployment method.

[2019-05-14 18:20] mgeorgebrown89 commented on #219
Well, it works locally, but that’s because I’m explicitly importing those
modules. From what I understand and my experience , the Modules folder is
available at runtime from within Azure and doesn’t require importing, but
locally it doesn’t work the same way.

On Tue, May 14, 2019 at 11:14 AM Dongbo Wang <notifications@github.com>
wrote:

[2019-05-15 17:28] dfinke opened #223 "How to test a PS cosmosDB Trigger on my local box?"
Is it done through the `host.json` file? Don't know the syntax.

# cosomsDB Trigger fails
![image](https://user-images.githubusercontent.com/67258/57796237-de5a7700-7715-11e9-92fb-4fed6e671d59.png)

# Took a Guess

`func extensions install -p Microsoft.Azure.WebJobs.Extensions.CosmosDB`
`func extensions install --package Microsoft.Azure.WebJobs.Extensions.CosmosDB --version 3.0.0-beta6`

![image](

[2019-05-15 17:47] dfinke commented on #223
# Removed

[code]
`func extensions install --package Microsoft.Azure.WebJobs.Extensions.CosmosDB --version 3.0.0`

[code]

![image](https://user-images.githubusercontent.com/67258/57797213-eca99280-7717-11e9-99d4-daa7c7db6ec8.png)

[2019-05-15 17:52] daxian-dbw opened #224 "Throughput work continued: analyze gRPC message processing and make it more efficient"
This is a follow-up issue for the PR #214.
Quoted from the `Future work` section:

This PR focused on fixing the bottleneck in the PowerShell specific logic, and the future work should shift focus to the gRPC message processing in the PowerShell worker.

[2019-05-15 17:54] pragnagopa commented on #224
Thanks for opening tracking issue. Assigning this to myself for now and will update this issue when I have more information.

[2019-05-15 18:19] TylerLeonhardt commented on #145
Here's how I would solve this issue:

Modify this function:

https://github.com/Azure/azure-functions-powershell-worker/blob/dev/src/PowerShell/StreamHandler.cs#L30-L36

To print:

SCRIPT STACKTRACE
EXCEPTION MESSAGE
EXCEPTION STACK TRACE
INNER EXCEPTION MESSAGE
INNER EXCEPTION STACK TRACE
...etc

[code]
or something similar. P.S. this is untested code.

[2019-05-15 19:52] daxian-dbw commented on #223
I doubt if it’s possible to run CosmosDB trigger locally for any languages. @pragnagopa any ideas?

[2019-05-15 20:01] pragnagopa commented on #223
There is  a CosmosDB emulator: https://docs.microsoft.com/en-us/azure/cosmos-db/local-emulator. I haven't tried this myself but here is some useful info:
http://www.tobiaswright.com/2017/10/19/Getting-Locally-run-Azure-Functions-going-with-Azure-
CosmosDB-Emulator/

[2019-05-17 03:08] daxian-dbw opened #225 "Update documentations accordingly for the design change brought in by PR 214"
A design change was brought in by #214: function scripts are not deployed as actual PowerShell functions in memory. When an invocation request comes in, the in-memory functions are invoked instead of invoking the `.ps1` file directly. The purpose of this change is to avoid accessing the `.ps1` file on disk, which is very slow because it's actually the user's storage account mounted on the file sys

[2019-05-17 16:01] #223 closed

[2019-05-18 16:44] dfinke opened #226 "Testing locally, Invoke-RestMethod - ERROR: Response status code does not indicate success: 401 (Unauthorized)."
[code]

This works in a PS console. If I publish the Az Function, it works. If I try to test it locally, it fails.

![image](https://user-images.githubusercontent.com/67258/57972570-810b3380-796a-11e9-91ef-31b80dd65a87.png)

[2019-05-18 20:40] TylerLeonhardt commented on #226
@dfinke we're going to need a bit more information.

Are you interacting with GitHub's API?

My guess is that there might be an environment variable you're using in Azure but not locally. Did you mess with your Application Settings at all?

Does the function use Azure PowerShell at all?

[2019-05-18 22:35] dfinke commented on #226
I set `GithubPAT` in both the `local.settings.json` and the app settings on Azure.
Only using `Invoke-RestMethod` for the git api.
Not using Azure PS, and the managedDependency is not enabled.

Are there other logs I can look at?

[2019-05-19 15:14] TylerLeonhardt commented on #226
@dfinke can you paste the full `func start` console log?

You could also verify that the environment variable is being set by Write-Host'ing it in your Function to make sure it's set correctly.

@pragnagopa it sounds like his environment variables are not being set even though they're added to the `local.settings.json`. Any log locations he could upload here?

[2019-05-19 16:54] dfinke commented on #226
The downside of being consistent. I was doing a `Write-Host` on that env var, assumed the value being outputted was correct. I have a `$env:GithubPAT` in my `$PROFILE`, that took precedence.

[2019-05-19 17:17] TylerLeonhardt commented on #226
Ahh. That's because any environment variables defined in the `local.settings.json` will only be applied if the environment variable is not already set.

[2019-05-19 17:22] #226 closed

[2019-05-19 21:38] aws-scripting-guy opened #227 "PowerShell worker: Honor console output messages from profile.ps1"
**Issue description**
When running ```func host start``` _INFORMATION_ messages are being emitted only for run.ps1.

Example from the run.ps1 script:
Write-Host "PowerShell HTTP trigger function processed a request."

Worker log:
_[5/19/2019 1:41:53 PM] INFORMATION: PowerShell HTTP trigger function processed a request._

**Expected behavior:**
Console-output messages would be honored also from pro

[2019-05-19 21:54] aws-scripting-guy commented on #227
Did find the solution here.
https://docs.microsoft.com/en-us/azure/azure-functions/functions-host-json

In **host.json** I would add section
[code]
This way I can see ```write-debug```, ```write-host``` messages from my **profile.ps1** in the log of the powershell worker.

[2019-05-19 21:54] #227 closed

[2019-05-19 23:40] TylerLeonhardt commented on #227
@aws-scripting-guy this is also mentioned here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#logging

See the "important" call out.

[2019-05-19 23:42] TylerLeonhardt commented on #227
@aws-scripting-guy trying Azure Functions 🤔 hope the experience helps change your name to azure-scripting-guy 😊

[2019-05-20 12:03] Atul-2509 opened #280 "Error while connecting D365 CRM from Azure function Powershell"
Error : Exception calling ".ctor" with "1" argument(s): "Could not load type 'System.Web.HttpRuntime' from assembly 'System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'."

#### Investigative information

Please provide the following:

- Timestamp:
- Function App version (1.0 or 2.0): 2.0
- Function App name: DSSFrameworkIntegration
- Function name(s) (as appropriate):
-

[2019-05-20 16:08] aws-scripting-guy commented on #227
:) Thank you. Once Azure is on par with AWS - portal/quality of SDKs/reliable execution - I will consider!

[2019-05-20 22:30] ahmadabdalla opened #228 "Different behavior between local execution and published execution for an HTTP input binding ($HttpRequest.body)"
On the V2 Functions, we're experiencing different behavior when looking into the body of an HTTP input binding:

I’m sending the following BODY: (@{OperationType='ScaleIn';OperationId='Test11'} | ConvertTo-Json)

param
(
    $HttpRequest,
    $TriggerMetadata
)

_$HttpRequest.body_ gives the following output:
--------------------------------------------------------

**LOCAL EXECUTION**
[20/05/2019

[2019-05-22 01:44] #127 closed

[2019-05-22 02:09] burkasaurusrex opened #229 "Updated Azure SDKs?"
In v1 functions, I had no problem calling into the `Microsoft.ServiceBus.Messaging` namespace without loading any DLLs. I just tried to call into the `Microsoft.Azure.ServiceBus` namespace in a Powershell script and received the following error:

[code]

So I went looking for the update Azure SDK on the environment drive and couldn't find the newer SDKs. It seems like the older SDKs are there thou

[2019-05-23 20:19] Francisco-Gamino opened #231 "Test needed for function app dependencies installation logic"
We need to add tests mocking Save-Module and file system operations.

[2019-05-23 20:23] Francisco-Gamino commented on #231
For file system operations take a look at https://github.com/System-IO-Abstractions/System.IO.Abstractions

[2019-05-23 20:38] abigailbuckholdt opened #232 "Using AzureAD module requires an awkward workaround"
I've created a powershell function app on a consumption plan and I'm trying to use the AzureAD module in my project. I'm getting this error

[code]

I've set the platform settings to 64 bit, restarted the app, and ran the following commands in a http trigger

[code]
and got the following output

[code]
Is there any reason why setting the platform settings to 64 bit would not convert the platform t

[2019-05-23 22:21] TylerLeonhardt commented on #232
This is because the PowerShell worker relies on the dotnet.exe that's available in the App Service sandbox. The dotnet.exe is always the 32bit executable. You can set your Function App to use a 64bit OS but the dotnet.exe is still 32bit.

cc @eamonoreilly @anirudhgarg The AzureAD module seems like a very good reason to speak to the App Service team about updating the dotnet.exe to the 64bit on the

[2019-05-23 22:47] TylerLeonhardt commented on #232
Actually... @abigailbuckholdt I don't think the AzureAD module works in PowerShell Core yet which is what the PowerShell worker uses...

@edyoung + @maertendMSFT : do you guys no anything about the AzureAD module working in Core?

[2019-05-24 16:27] artisticcheese opened #233 "How do I use Search-AzGraph in function?"
Hello,

That cmdlet is part of Az.ResourceGraph module and I'm confused how do I make use of it. I tried to update requirements.psd1 but it did not work.

https://docs.microsoft.com/en-us/powershell/module/az.resourcegraph/search-azgraph?view=azps-2.1.0

[code]

`ERROR: The term 'Search-AzGraph' is not recognized as the name of a cmdlet, function, script file, or operable program.`

[2019-05-24 17:10] maertendMSFT commented on #232
A preview AAD module for PowerShell is available in Azure Cloud Shell.  We are working with the module owners to update the version on the gallery after validating with partner teams.

[2019-05-24 17:14] dfinke opened #234 "Grpc.Core.RpcException"
Works with smaller files, is there a way to up the message size on gRPC?

[code]

[code]

[2019-05-24 19:52] TylerLeonhardt commented on #234
@pragnagopa any ideas?

[2019-05-25 01:31] #233 closed

[2019-05-25 01:33] artisticcheese opened #235 "Getting error when using User Assigned MSI"
Trying to use managed identity to access Azure resources and getting error below during profile script run.
How is it supposed to work in a first place when sandbox code runs in is not supposed to have access to 127.0.0.1 IP address in a first place? (https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox#local-address-requests)

[code]

[2019-05-28 04:20] hypatia1729 opened #236 "Typo in publish from VS"
Hi,

When publishing a .NET Core Functions V2 project from Visual Studio, the publish logs include the entry "`Overwritting extensions.json file with one from build`", in which the word overwriting is misspelt.

Cheers,
Sonja

[2019-05-28 15:01] dfinke commented on #234
Going to pivot to using a blob trigger. Much faster and looks like the way to architect these approaches.

Lots more to implement, more moving pieces, and might need to provide the user a SAS token with a TTL so they can upload files.

[2019-05-28 15:01] #234 closed

[2019-05-28 22:30] AnatoliB commented on #236
Please move to the right team

[2019-05-28 22:39] anirudhgarg commented on #235
We have done the work for MSI scenario to work with our Sandbox. What is the code you are running in the profile ? Did you give the right access to the MSI to the resource ? Also, confirming that you are using this in the Windows consumption plan ? It is not supported in Linux consumption.

@mattchenderson  feel free to add any comments.

[2019-05-28 22:46] anirudhgarg commented on #229
Yes you have to get the Nuget package and load the assembly yourself. In V1 they were available out of the box. Please make sure to use the .Net Core version.

[2019-05-28 22:46] #229 closed

[2019-05-28 22:48] anirudhgarg commented on #225
Assigning to @eamonoreilly  to take care of this in documentation.

[2019-05-28 22:49] artisticcheese commented on #235
I don't run anything inside profile, PS just try to use what is already in profile and get access to MSI account. MSI account already have neccessary permissions to subscription. Issue is not accessing resources but getting access to MSI account which fails with error specified above.
Entire content of function is below

[code]

Complete error

[code]

[2019-05-28 22:53] anirudhgarg commented on #221
az cli is not available currently tut of the box in the functions powershell environment. This is a feature ask and we are looking into it.

[2019-05-28 22:58] anirudhgarg commented on #213
@SatishRanjan follow up with @fabiocav

[2019-05-29 09:13] aws-scripting-guy commented on #235
Getting the same issue.

This issue can be reproduced in the Azure portal:
1. Create a new 2.0 functionapp choosing powershell language
2. Choose HTTP trigger
3. Assign user assigned MSI identity to the functionapp
4. Modify run.ps1 in the console to include 'get-azcontext' in the body of the function.

As soon as you execute the function, it will try to load profile.ps1 with default code for assu

[2019-05-29 12:45] Matiston commented on #232
@maertendMSFT, if I correct understant, Azure AAD module is already available on Azure Cloud Shell.
When you said that you are working to update the version on the gallery, does it means that the module AAD will be also available on function App ?
I have the same issue as described by @abigailbuckholdt

[2019-05-29 20:18] aws-scripting-guy commented on #235
I am also experiencing this issue. I did detailed analysis - in my case the root cause is the User Assigned MSI. When I switch to System Managed MSI, I am not getting the error.

Steps to reproduce the issue:
1. Create new function app (v2.0) with powershell runtime
2. Create new vanilla Function
2. Select new HTTP Trigger
4. Update default code: include ```get-azcontext -verbose``` in **run.ps1**

[2019-05-30 18:59] Francisco-Gamino commented on #219
@mgeorgebrown89 :  I took a look, and run from zip work as expected for a PowerShell function app. First, I created a PowerShell function app locally using the Core Tools.

Here is my function and folder structure:
[code]
As you can see, I have a custom module name MyProcess which contains two files MyProcess.psm1 and MyProcess.psd1.

In MyProcess.psm1, I have a function named Get-MyProcess, which

[2019-05-30 20:26] Francisco-Gamino commented on #219
@mgeorgebrown89 : Closing issue. Please reopen if you have any further questions.

CC: @pragnagopa @daxian-dbw @tylercmsft @anirudhgarg

[2019-05-30 20:26] #219 closed

[2019-05-30 20:51] Francisco-Gamino commented on #203
@joeyaiello : Yes, we should talk more. This feature/enhancement was requested by @pragnagopa.

In the current implementation, we do multiple downloads (one per function app). I think we can do a better. I will reopen the issue so we can discuss it.

cc: @TylerLeonhardt @SteveL-MSFT @daxian-dbw @anirudhgarg @eamonoreilly

[2019-05-30 20:52] Francisco-Gamino commented on #218
This issue has been addressed in PR #230.

[2019-05-30 20:52] #218 closed

[2019-05-31 17:12] anirudhgarg commented on #235
Thanks @aws-scripting-guy. @artisticcheese are you using User Assigned Identity ?

[2019-05-31 17:14] artisticcheese commented on #235
Yes, I'm using User Assigned Identity as well.

[2019-05-31 21:02] AnatoliB commented on #228
Thank you for reporting this. I can repro the issue and it does not look normal to me. When executed on Azure, the Body property contains a hashtable with values parsed out of the JSON payload. When executed locally, the same property contains the original JSON string.

While I'm investigating this, the following workaround seems to work: if you specify `application/json` in the `content-type` hea

[2019-06-01 06:01] AnatoliB commented on #228
The behavior of the published execution is intentional, and the local behavior you are observing is a bug. This issue has been fixed in [azure-functions-powershell-worker v0.1.102-preview](https://github.com/Azure/azure-functions-powershell-worker/releases/tag/v0.1.102-preview). This version is already deployed to Azure, but the latest release of azure-function-core-tools ([2.7.1158](https://githu

[2019-06-01 06:01] #228 closed

[2019-06-02 06:14] TylerLeonhardt commented on #236
This should be moved to https://github.com/Azure/azure-functions-host most likely

[2019-06-03 20:38] AnatoliB commented on #203
If you want to go ahead and discuss this further, please involve me in this conversation. I do have some concerns (probably similar to "equivalent to creating a GAC").

[2019-06-03 21:28] pragnagopa commented on #203
Here is my perspective:

This is an improvement work item. Size of ManagedDependencies folder for a single function app is about ~120MB.  If there are more dependencies or user is trying different function app this adds up over a period of time as we do not clean up these folders.  Also, when the ManagedDependencies feature  expands to other languages like python, javascript etc CLI will be downlo

[2019-06-04 03:38] JustinGrote opened #238 "[Feature Request] Application Insights Application Map Support"
Since Application Insights is now the "de facto" monitoring platform for Azure Functions, one of the most incredibly useful features is the [Application Map.
](https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-map)

However, all of my Azure Functions all show up under a single application currently, so it's basically an opaque single function. I want my application map to look like this

[2019-06-04 04:03] JustinGrote commented on #103
Posting here rather than a new issue as it is likely related: The timertrigger returns the Schedule and IsPastDue properties, but trying to call the ScheduleStatus property returns
[code]

Use Case: Measuring from when the function was scheduled to when it reached the environment, for benchmarking/monitoring cold/warm start times.

[2019-06-04 15:45] icpenguins opened #239 "Error: 'No 'requirements.psd1' is found at the FunctionApp root folder: D:\home\site.'"
The PowerShell function was working well a few days ago. Today I updated it, my changes being addition of comments, and now I am receiving this error message. I have made no changes to the location of the 'requirements.psd1' nor the file itself. Please fix as this is blocking.

Result: Failure
Exception: Fail to install function app dependencies. Restarting the app may resolve the error. Error: 'N

[2019-06-04 19:32] JustinGrote commented on #145
Related to this, currently in the Application Insights, the stacktrace doesn't show the script line, it just shows the PipelineBase.Invoke as the last entry. This makes it really hard to track down errors in a script. The stack trace should append the in-runspace stacktrace before logging it.

### Example

[code]
**Can't see what line of code it was. Right here should be something like `at run.ps1

[2019-06-04 20:53] AnatoliB opened #240 "Local debugging with VSCode does not work reliably when PSWorkerInProcConcurrencyUpperBound is greater than 1"
This is a known issue, we understand the root cause. Fixing this will require some effort, but the use case is also not very common, so consider just documenting this limitation for now.

[2019-06-04 21:27] AnatoliB opened #241 "HTTP input binding Body property type depends on the request body content"
When a function is invoked via an HTTP trigger, the `$HttpRequest.Body` property type depends on the actual request body content. For example, when the request body contains a simple string like `Hello`, $HttpRequest.Body will contain `'Hello'` as a string. However, if the request body contains anything that _could_ be interpreted as a syntactically valid JSON (e.g. `{"Hello":"world"}`), $HttpRequ

[2019-06-04 21:35] JustinGrote commented on #241
It looks like a RawBody parameter is being added per this PR that probably addresses your use case where you want to avoid unexpected conversions.
https://github.com/Azure/azure-functions-powershell-worker/pull/210

[2019-06-04 21:37] AnatoliB opened #242 "No way to avoid runspace reuse"
PowerShell runspaces may be reused between function executions. This improves the warm start time, but may also lead to unexpected and undesirable consequences when a function execution encounters leftovers from the previous execution (such as modules imported, etc.). We can recommend function authors avoid any assumptions on runspace reuse as a general good practice. However, this guideline will

[2019-06-04 21:49] AnatoliB opened #243 "For blob input binding, blob content is assumed to be in the UTF8 encoding"
For blob input binding, blob content is assumed to be strictly in UTF8. No other encoding is allowed:
https://github.com/Azure/azure-functions-powershell-worker/blob/46bacf7b7203f0ce6a768126d61102ac5578a144/src/Utility/Utils.cs#L161
See also: https://github.com/Azure/azure-functions-powershell-worker/issues/132

Consider either giving the user an opportunity to specify a different encoding (bindin

[2019-06-04 21:57] AnatoliB commented on #241
@JustinGrote I agree RawBody can be used a workaround, so it is not that bad. However:
- it is not obvious for the user that this workaround _needs_ to be applied to begin with: the user who tested the function with `Hello` may not be aware that the behavior on `{"Hello":"world"}` will be dramatically different;
- it would still be nice to have the conversion applied or not applied (implicitly but

[2019-06-04 22:20] JustinGrote commented on #103
Additional Use Case: I have a function with a queue trigger that I want to "fail", but I don't want it to retry in the queue 5 more times (or whatever), say because the exception is a known configuration exception and not a transient exception such as the server temporarily offline. Currently I have no way to get at the queue object and dequeue it before throwing the error, and as soon as I throw

[2019-06-04 22:50] anirudhgarg commented on #207
Thanks for reporting. We will fix this.

[2019-06-04 22:58] anirudhgarg commented on #198
Francisco has done it.

[2019-06-04 22:58] #198 closed

[2019-06-05 00:20] JustinGrote commented on #162
At the very least, just allow the option to expose the TelemetryClient as a powershell variable, then we can call it directly to write whatever custom logs we want, in addition to the existing "iLogger" interface.

If telemetryclient is available then I can write critical there, and the community can write powershell functions for Write-Critical, or whatever, that leverage that interface, in addit

[2019-06-05 01:18] JustinGrote commented on #162
### Workaround
Turns out the TelemetryClient works just fine inside the powershell worker:
[code]
![image](https://user-images.githubusercontent.com/15258962/58923594-26f1c880-86f5-11e9-80e2-6ab76cc92525.png)

The only caveat I see so far is it doesn't support live metrics stream realistically as far as I can tell with limited testing, so exposing the defaultclient object is still a "good idea"

[2019-06-05 01:32] Francisco-Gamino commented on #239
Hello @icpenguins , could you please verify the following?

In a function app for an HttpTrigger function, the folder structure looks like this:
[code]

At the function app root, in this case E:\MyFunctionApp, could you please verify that these files are present?
[code]

If the files are present, could you please verify the following?

1) There should be an entry for `managedDependency` in host.js

[2019-06-05 01:53] icpenguins commented on #239
Hey Francisco,

Please note that I am using the Git deployment method to update my function. From my understanding, I have little control over where things go, correct?

Also, I don't believe that local.settings.json is required to be deployed to the site.

![2019-06-04 184357 - AzureFunc_Debug](https://user-images.githubusercontent.com/10984551/58924536-15122480-86f9-11e9-8001-972b741cc306.png)

[2019-06-05 02:05] JustinGrote commented on #162
As far as the native integration, I agree that using Write-Information tags makes the most sense to keep it "Powershell-y"

If I do write information with a tag, it should add that to the prefix (e.g. INFORMATION-MYEXCEPTIONEXTRAINFO for `write-information -tags MYEXCEPTIONEXTRAINFO`), or use the logging scopes function of iLogger since that comes through to application insights per: https://githu

[2019-06-05 05:37] JustinGrote opened #244 "All Exceptions Showing up as RpcException for innermessage"
Not sure if this belongs here or in the functions runtime repository, but when an exception is thrown in the Powershell Worker, when it reaches the logs/Application Insights, its innermost type is RpcException, meaning the exception type got lost in translation on the gRPC interface. This should pass through so that clear exceptions (InvalidOperationException, etc.) can be seen in application insi

[2019-06-05 17:50] Francisco-Gamino commented on #239
Hello @icpenguins,

You are correct, local.settings.json does not get deployed with the function app.

For deployments, we recommend using `run from package`. You can find a more information on this at  https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package.

Regarding your function app, everything you need seems to be there, so you should not be getting this

[2019-06-05 18:02] icpenguins commented on #239
@Francisco-Gamino, I appreciate the validation. I wish I could chat at 2, but can't today; tomorrow? One thing that I noticed in the exception was that it looks like function worker process is going one directory to high (root folder: D:\home\site.') It should only go to 'D:\home\site\wwwroot'. Would you know why it is searching in a higher root folder?

[2019-06-05 19:50] Francisco-Gamino commented on #239
@icpenguins, we can try talk tomorrow. In the meantime, could you please tell the following?

1) How did you created the function app, e.g., Core Tools, VS, etc?

2) I am going to take a look at the logs for your function app. What is the time range when you got this failure? To which region did you deploy your app? Do you have the invocation id? I need the invocation id to try to figure out your

[2019-06-06 01:58] icpenguins commented on #239
@Francisco-Gamino,

1. I created the function through VS Code
2. The time range is as current as of the posting of this response (DateTime.Now). It is hosted in 'West US 2' and I have pasted the most recent failure below which I believe has the id in it.

When I set "managedDependency": false the function runs. Unfortunately, as expected, the needed dependencies are not loaded.

**Sucess**
2019-06

[2019-06-06 21:32] AnatoliB opened #246 "Enable specifying non-Az modules from PowerShell Gallery in requirements.psd1"

[2019-06-06 21:33] AnatoliB commented on #199
This will be outdated after completing https://github.com/Azure/azure-functions-powershell-worker/issues/246.

[2019-06-06 22:06] AnatoliB opened #247 "Improve module version purge on managed dependencies auto-upgrade"
When `requirements.psd1` specifies a range of module versions (for example, `{ Az = 2.* }`), the PowerShell worker compares the currently installed module version with the highest version available on the PowerShell Gallery. If the Gallery contains a higher version, the worker removes the installed version and installs the one from the Gallery. For example, if v2.3 is installed and v2.4 is availab

[2019-06-06 22:20] AnatoliB opened #248 "Function start is blocked during auto-upgrading managed dependencies"
If a function execution request comes while managed dependencies are being auto-upgraded (for example, because a new module version has been published on the PowerShell gallery), the function will not start until the upgrade is complete. However, the upgrade can take long time. Since the upgrade has not been explicitly initiated by the user, so the delay looks unnecessary and unexpected to the use

[2019-06-06 22:48] AnatoliB opened #249 "Clarify managed dependencies auto-upgrade expectations from the user perspective"
Document the auto-upgrade behavior and guarantees from the user perspective, specifically:
- If a new module version appears on the PowerShell Gallery, when will function executions _start_ using the _new_ version?
- When exactly will function executions _stop_ using the _previous_ module version?
- When will the _old_ module version be automatically _removed_ from the storage?
- How can the user

[2019-06-06 23:30] Francisco-Gamino commented on #239
Hi @icpenguins,

I was able to find the logs and the info for your function app. I can see you are working with proxies. I will continue to investigate and report back.

Quick question: Could you please confirm if your function app was working before you added the proxies code?

Thanks,
Francisco

[2019-06-06 23:41] Francisco-Gamino commented on #239
Hi @icpenguins: I was able to reproduce the issue. This is a bug on the Host (runtime) when working with proxies. I will follow up on this and provide you with an ETA for the fix in the next couple of days.

[2019-06-07 11:49] dfinke opened #251 "[Question] Can you Invoke-RestMethod to another PS azure function in the same function app?"
I pulled the `$TriggerMetadata.Url` and munged it to point to another ps az fn in the same function app, it hangs. Wanted to confirm it is doing an irm` into the same runspace?

[2019-06-07 16:31] AnatoliB commented on #251
@dfinke The execution request may be routed to the same worker, and it will not be able to start until the processing of the previous request finishes (in your case, this means "never"). Increasing [PSWorkerInProcConcurrencyUpperBound](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/docs/designs/PowerShell-AzF-Overall-Design.md#concurrent-invocation-of-functions) may help.

[2019-06-07 17:47] AnatoliB opened #252 "Failures when auto-upgrading managed dependencies concurrently"
Two or more PowerShell workers may decide to auto-upgrade managed dependencies on the same Function app around the same time. As a result, they will be invoking Save-Module from different processes concurrently with the same target file system path. The problem is that Save-Module is not designed to handle this situation well:

- Some workers get warnings like **"Access to the path ... is denied"*

[2019-06-07 17:49] #251 closed

[2019-06-07 21:10] hihorika opened #253 "Failed on execution bat file which has combination stdin and pipe."
In executing bat file in PowerShell function, combination stdin and pipe doesn't work normally and we get following error.

[code]

(run.ps1)
[code]

(test.bat)
[code]

But both of following bat files works

(test2.bat)
[code]
(test3.bat)
[code]

And all bat files work well on local PowerShell core.

It seems that combination stdin and pipe on PowerShell-worker has some problems, or not supported.

[2019-06-07 21:35] divgo opened #254 "ERROR: Access Token missing or malformed. - using Get-AzAdServicePrincipal in Function"
**Language**: Powershell
**Binding**: EventHubs
**Function Identity**: Enabled - subscription-events is the name of the FunctionApp and the associated Service Principal

I am getting an **ERROR: Access Token missing or malformed.** Error when using **Get-AzAdServicePrincipal** in a Function App.

The pertinent code is as follows;
[code]

Not sure if this is the correct place to post this issue. I

[2019-06-07 23:43] icpenguins commented on #239
@Francisco-Gamino, thanks for digging in and getting a repro. I'm looking forward to the fix ;)

[2019-06-08 07:00] TylerLeonhardt commented on #199
Yes but do you see #246 addressed soon?

Given the performance concerns with #246 (wiping and downloading all the modules every time there's a new version) I would think that it's a bit far out and addressing #199 (this issue) is needed for the time being.

[2019-06-08 07:07] TylerLeonhardt commented on #246
Keep in mind the performance concerns here with the current ManagedDependencies implementation.

- querying the Gallery
- wiping if there are any updates
- Save-Module on all the dependencies

This takes a long time... Even just the querying part adds seconds to any cold start.

What scares me is that with ManagedDependencies in-proc with the worker in its current model, that the performance of th

[2019-06-08 07:10] TylerLeonhardt commented on #246
One of the things I've been suggesting is considering a scenario where the ManagedDependencies lived as a separate service outside of the worker. This would keep the worker fast, and also deal with "multiple works upgrading deps at the same time" like #252

[2019-06-08 16:09] AnatoliB commented on #199
We want to do https://github.com/Azure/azure-functions-powershell-worker/issues/246 for GA. No committed date at this point, but soon. I'm not against changing the doc in the meantime, just mentioning this because this change will have to be reverted.

[2019-06-08 16:29] AnatoliB commented on #246
Thank you, @TylerLeonhardt.

I expect the auto-upgrade performance to be significantly improved by https://github.com/Azure/azure-functions-powershell-worker/issues/247 and https://github.com/Azure/azure-functions-powershell-worker/issues/248. Specifically:

- We will not be wiping all local modules just because there is a newer version on the Gallery. Instead, we will install the new versions sid

[2019-06-08 16:33] TylerLeonhardt commented on #248
Small addition that might be obvious but wanted to call out...

This assumes there is at least _some_ version already installed. We'd probably need additional logic to verify the modules are available before actually invoking a function?

[2019-06-08 16:36] TylerLeonhardt commented on #247
The modules end up in the customer's storage account, right? We should be mindful to not keep too many versions around as it impacts the user's storage account space

[2019-06-08 16:49] TylerLeonhardt commented on #247
I could also see a potential race condition here...

If a worker is currently updating modules (let's take `Az` as an example which has many dependencies) And another worker starts an invocation... That that invocation will use a new version of 1 module and an old version of another. If those two modules are not compatible, that could result in potential breakages.

Example:

1. Worker A - updatin

[2019-06-08 16:56] TylerLeonhardt commented on #240
Yeah this would be very tough to debug... But I think the root cause here is that PowerShell doesn't offer an ability to debug multiple runspaces at the same time. If that were a thing, the PowerShell extension for VSCode could take advantage of it.

[2019-06-08 18:27] TylerLeonhardt commented on #241
I'd prefer option 2 because the convenience is so nice in not having to specify a header when invoking via `Invoke-RestMethod`.

[2019-06-08 18:32] TylerLeonhardt commented on #103
Do we get any sort of information as to what Queue the queue item data came from? Without that, this issue would need some help from the Azure Functions Host.

[2019-06-08 18:33] Francisco-Gamino commented on #239
Here is the issue I open in the Host (runtime) https://github.com/Azure/azure-functions-host/issues/4549 to track this.

[2019-06-08 23:29] npachal opened #255 "Managed Dependencies with Proxies do not work."
When deploying an Azure Function App with an ARM Template, when starting a function, a 500 error is generated:

_FailureException: Fail to install function app dependencies. Restarting the app may resolve the error. Error: 'No 'requirements.psd1' is found at the FunctionApp root folder: D:\home\site_

The function root folder should be D:\home\site\wwwroot

[powershellFunctionApp.txt](https://gith

[2019-06-09 02:12] Francisco-Gamino commented on #255
Hi @npachal , thank you for reporting this issue. Could you please provide a bit more information about your function app?

1) How did you created your function app? Did you use the Core Tools? or Visual Studio Code?
2) Are you using proxies in your function app?
3) What is the time range when you got this failure? To which region did you deploy your app? Do you have the invocation id? I need the

[2019-06-09 04:07] npachal commented on #255
Thank you for the reply. I'm using Dev Ops to deploy the function app (via a pipeline), but created it in VS Code. I am using a proxy in my function app to direct to a static page. The region is West US, and the invocation id is 67d069b4-2ac9-4081-ab12-447f07941ae7

[2019-06-09 14:20] mdrakiburrahman commented on #232
@abigailbuckholdt I was able to connect to AzureAD via a Powershell Azure Function to get a list of users back. It wasn't easy, but here are the steps:

As @maertendMSFT mentioned above, there is a secret "preview" AzureAD module available in Azure Cloud Shell today, that's supported on x86 (since Azure Shell uses PowerShell Core). There's no way to get the x64 version of AzureAD working on Azure

[2019-06-10 06:01] Francisco-Gamino commented on #255
@npachal ,
Thank you for the function app information.
If you are using a proxy, then this issue is being caused by https://github.com/Azure/azure-functions-host/issues/4549. As soon as I have an ETA for fix, I will let you know.

[2019-06-10 06:09] AnatoliB commented on #241
@TylerLeonhardt What are you referring to as "option 2"?

Here is what I'm proposing:

- When the request does _not_ have `Content-Type` specified, keep doing what we are doing now.
- When the request contains `Content-Type`, respect it:
  - Don't try to deserialize if `text/plain`
  - Always deserialize if `application/json`

[2019-06-10 06:35] AnatoliB commented on #247
@TylerLeonhardt Thank you, this is a valid concern. I do have some ideas on how to resolve it, but they will either impact performance or add complexity.

For example, I'm thinking about upgrading the entire module set atomically: download modules to a separate folder outside of PSModulePath, and then make the next worker instance point to this new folder instead of the previous one, so that each

[2019-06-10 06:41] AnatoliB commented on #248
Yes, we'll need to make sure the initial module installation is complete, otherwise we still need to block the function start. We will also need to make sure this logic is very efficient on the positive case, as it will run on every function invocation.

[2019-06-10 07:12] TylerLeonhardt commented on #241
Yes @AnatoliB's second option which plays along with what you're suggesting.

[2019-06-10 14:07] npachal commented on #255
Thank you.

[2019-06-10 15:38] daxian-dbw commented on #253
This feels like restriction of the sandbox where the Function App runs in ...
/cc @Francisco-Gamino @AnatoliB @anirudhgarg

[2019-06-11 06:15] AnatoliB opened #256 "Allow specifying exact module versions in requirements.psd1 as opposed to x.* convention"

[2019-06-11 17:33] AnatoliB commented on #247
We've been thinking and discussing different scenarios around this area. We will definitely want to address them better soon, most likely before GA. I will file a separate issue for this.

[2019-06-11 18:17] Francisco-Gamino opened #257 "Update tooling when enabling managed dependencies and the PSGallery is down or the user has no internet connection."
The PowerShell worker has a dependency in the PSGallery (https://www.powershellgallery.com/) to download function app dependencies from. We need to provide the correct guidance (via error messages and troubleshooting documentation) to the user when the PSGallery is down.

[2019-06-11 22:00] anirudhgarg commented on #87
We have MSI support, closing this out.

[2019-06-11 22:00] #87 closed

[2019-06-11 22:01] anirudhgarg commented on #86
This is done. Closing this out.

[2019-06-11 22:01] #86 closed

[2019-06-11 22:02] anirudhgarg commented on #235
@mattchenderson Do we support User Assigned MSI in Azure Functions

[2019-06-11 22:13] anirudhgarg commented on #253
Hey, this might be an issue with our restrictive runtime environment, we see that you do have a workaround. I am closing this for now, let us know if you are blocked.

[2019-06-11 22:13] #253 closed

[2019-06-11 22:21] anirudhgarg commented on #255
Assigning to @Francisco-Gamino to do the work of making sure that PowerShell is working with proxies

[2019-06-11 22:25] anirudhgarg commented on #81
There are a number of this including WEBSITE_INSTANCE_ID.

[2019-06-11 22:26] anirudhgarg commented on #89
This is done.

[2019-06-11 22:26] #89 closed

[2019-06-11 22:29] anirudhgarg commented on #88
We do have one.

[2019-06-11 22:29] #88 closed

[2019-06-11 22:31] anirudhgarg commented on #102
Current workaround is to use powershell.exe, if we get customer feedback we will re-look at it.

[2019-06-11 22:31] #102 closed

[2019-06-12 06:39] TylerLeonhardt commented on #256
This should probably also include `x.x.*` since Azure PowerShell is allowed to introduce breaking changes at the `x.*` level.

[2019-06-12 06:46] TylerLeonhardt commented on #232
@mdrakiburrahman Windows PowerShell is available in the sandbox so you could call out to Windows PowerShell like:

[code]

[2019-06-12 17:57] AnatoliB commented on #256
@TylerLeonhardt This specific issue is about allowing _precise_ module versions, without `*` on any level. We may want to make the specification rules more flexible than they are now, but there is no issue currently filed on this, and we are not considering this for GA at this point.

By the way, Az module owners claim that they officially allow breaking changes only on new major versions (e.g. al

[2019-06-13 06:39] TylerLeonhardt commented on #256
How do individual module (`Az.Aks` for example) versions impact the version of `Az` the meta model version? I think I've heard from @joeyaiello that what you're saying use to not be true in the 1.x days of Azure PowerShell... But if you say that is not the case today, I believe you.

Still, once managed deps is opened to all modules on the Gallery, we can't guarantee that any module is following t

[2019-06-13 15:12] JustinGrote commented on #213
FYI I found that the "client-ip" is available within the Request object itself when running in production as the 'x-forwarded-for' attribute (doesn't seem to show up on the core tools for some reason at least on my machine). Client-IP is a 10 address that is either the function host itself or an intermediate load balancer, so it's not useful.

[code]

Result:
[code]

So I think this can be closed

[2019-06-13 16:24] JustinGrote opened #258 "[Discussion] Format objects sent to Log Streams with "out-string" by default"
Since Output/Verbose/Debug/etc. streams are considered log channels for the powershell worker, it should by default format objects in the same way a powershell console host would.

For instance:
`get-childitem | fl` returns

whereas the expected output to a typical powershell developer would be the equivalent of
`get-childitem | fl | out-string`

Since these are only log entries, I wouldn't consid

[2019-06-13 18:15] AnatoliB commented on #256
I don't know if the individual Az.* modules are strictly following these rules. The overall Az releases should. Taking a dependency on the entire Az is the primary use case we want to address right now, while also allowing precise versions, and this is what we are currently planning for GA. I can definitely see the value of providing more flexible version specifications, including prerelease versi

[2019-06-13 18:34] TylerLeonhardt commented on #258
My two cents... I think how this issue is addressed should not be decided on until https://github.com/Azure/azure-functions-powershell-worker/issues/82 is decided on.

[2019-06-13 22:52] Francisco-Gamino commented on #244
We will look into this. We will check to ensure we are consistent with other language, e.g., C#.

[2019-06-13 22:56] Francisco-Gamino commented on #243
We will look into this if there is any customer reported issues. Closing for now.

[2019-06-13 22:56] #243 closed

[2019-06-14 00:11] eamonoreilly commented on #238
Adding Ahmed as he is collecting feedback related to monitoring so we can prioritize the work. I can see the benefit of this, particularly when functions are used for different scenarios within the function application that might become more popular in automation scenarios.

[2019-06-14 00:39] eamonoreilly opened #259 "ConvertTo-SecureString hangs PowerShell host when run in the VS Code debugger"
If you run the below code without using Wait-Debugger then it will run correctly without issue:

`
param($Request, $TriggerMetadata)

Wait-Debugger
$EncryptString = "eamon"
Write-Output $EncryptString

$TestSecure = ConvertTo-SecureString -String $EncryptString -AsPlainText -Force

$TestSecure
`

If you run it with Wait-Debugger enabled, it will not complete and hang in VSCode.

[2019-06-14 02:28] TylerLeonhardt commented on #259
Are you sure that it's not just waiting for the debugger to break?

[2019-06-14 15:50] JustinGrote opened #260 "Auto Import Related Types for Output Bindings (e.g. Sendgrid)"
While trying to work with the SendGrid output binding, the JSON example works, but I'd prefer to use the SendGrid C# object because it provides a lot more functionality and a lot less boilerplate work.

However, I found the sendgrid types were not natively available in my session. As a workaround, I did this (in Azure Functions Core Tools):
[code]
And now I can work with a sendgrid object like the

[2019-06-14 16:22] JustinGrote commented on #258
@TylerLeonhardt wasn't sure if that was still an active discussion item or not, had assumed since it hit preview that the way it is now is going to be how it is. I agree, this is blocking on #82

[2019-06-14 17:36] AnatoliB commented on #258
@TylerLeonhardt, @JustinGrote Could you please clarify why you consider this decision blocked on https://github.com/Azure/azure-functions-powershell-worker/issues/82? To me, they look somewhat related, but I don't yet see why one of them should strictly depend on another. This one is about formatting objects as text for logging purposes, which looks quite orthogonal to deciding which objects will

[2019-06-14 17:48] JustinGrote commented on #258
@AnatoliB only in the sense that depending on the outcome of #82, output may considered another "Output Binding" path, and thus no longer the purview of logging.

That said, even though I said "Output" objects in my title, I meant any object in a log stream, so I will revise. With that revision I'd say it can be independent of #82

[2019-06-14 17:57] AnatoliB commented on #258
@JustinGrote Please note though that logging of Output objects in the regular PowerShell console is special. Out-String is automatically applied to the objects written to Output, but not to other streams. For example:
[code]
will print:
[code]

[2019-06-15 06:16] TylerLeonhardt commented on #260
This is the result of PowerShell function apps running out of process in the PowerShell worker while C# functions run inside the Azure Functions Host process itself. This means that:

* PowerShell functions don't have access to the types you want
* Any object must be serialized to JSON before the PowerShell worker process sends the response back to the Azure Functions Host process... And since we'

[2019-06-15 06:16] TylerLeonhardt commented on #260
I'd like to see what @AnatoliB thinks

[2019-06-15 06:22] JustinGrote commented on #260
@tylerleonhart this was less about the grpc serialization, and more about auto adding the dll assemblies relevant to the loaded output bindings so they don't have to be hunted down like my awkward workaround. Maybe it's too case-by-case, I don't know if the extension bundles have any kind of "hints" in this regard.

[2019-06-15 07:02] TylerLeonhardt commented on #260
Right, this issue is two fold though for the complete user experience

1. The types should be available if you add the extension to your Function App
2. You shouldn't have to call a method like `.Serialize()` in order to get an output binding working.

This, to me, is how we properly support types pulled in by func extensions

[2019-06-17 15:05] daxian-dbw commented on #260
The `"adding assemblies relevant to declared output binding"` part can be helped with by implementing the `function.proj` support (#173). Then we probably can update the host to generate the appropriate `funciton.proj` that references to the nuget package corresponding to the output bindings declared in `function.json`.

[2019-06-17 17:29] JustinGrote commented on #260
Related for Posterity, if you're using the output binding in table storage, it has to be in JSON format, though it comes in from the table as a hashtable (probably because it was auto-converted from JSON), not intuitive but it works.

Basically, my operating philosophy on working with output bindings has been to follow the Javascript example and replace `context.bindings.myOutputBinding.push` with

[2019-06-17 18:41] daxian-dbw commented on #260
I assume the NodeJS worker does the same (auto-convert the JSON string to an object), no?

[2019-06-17 20:32] JustinGrote commented on #260
Probably, I have no idea honestly :)

Also confirmed at least for table output that just passing a hash table
works, you don't have to convert to json first (assume the worker does it
on the backend)

On Mon, Jun 17, 2019, 11:41 AM Dongbo Wang <notifications@github.com> wrote:

[2019-06-18 22:53] anirudhgarg commented on #213
Closing this as this is present in the Request Object

[2019-06-18 22:53] #213 closed

[2019-06-20 21:34] Francisco-Gamino commented on #231
Unit test has been added for Managed Dependencies for the Save-Module code path.

[2019-06-20 21:34] #231 closed

[2019-06-20 22:15] #207 closed

[2019-06-20 22:16] AnatoliB commented on #207
Fixed.

[2019-06-20 22:27] anirudhgarg commented on #104
Closing this issue.

[2019-06-20 22:27] #104 closed

[2019-06-20 22:38] anirudhgarg commented on #151
Closing this issue as we havent heard back from the customer.

[2019-06-20 22:38] #151 closed

[2019-06-21 04:31] Francisco-Gamino commented on #239
@icpenguins : I will have a fix for this tomorrow. However, we need to wait for the next release of the Host (runtime) which will take about two weeks or so.

[2019-06-21 04:32] Francisco-Gamino commented on #255
Hi @npachal : I will have a fix for this tomorrow. However, we need to wait for the next release of the Host (runtime) which is in about two weeks or so.

[2019-06-21 13:13] npachal commented on #255
Thank you

[2019-06-21 13:20] npachal opened #264 "Concurrent Connections"
This might be expected behaviour. I've created a logic app which runs the following every ten minutes:

`{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "HTTP": {
                "inputs": {
                    "body": {
                        "warmup": true

[2019-06-21 16:12] icpenguins commented on #239
@Francisco-Gamino Thank you for the update!

[2019-06-21 21:59] Francisco-Gamino commented on #169
Currently, after https://github.com/Azure/azure-functions-powershell-worker/pull/250, if the user has not internet connection, here are the options:
1) Scenario 1: Function app dependencies (Managed Dependencies) are being installed for the first time. For this case, the function app execution will be stopped. However, the user can update host.json to disable managed dependencies.
2) If there is a

[2019-06-21 22:57] Francisco-Gamino commented on #174
I've opened an issue in the PowerShell repo. Please see https://github.com/PowerShell/PowerShell/issues/9977.

[2019-06-21 22:57] #174 closed

[2019-06-22 09:12] bgelens commented on #239
FYI, I have the same issue with profile.ps1 not found when having a proxies.json defined

[code]

@Francisco-Gamino I'm guessing this is the same issue but wanted to report to make sure

[2019-06-22 14:07] janegilring opened #265 "Failed to start Language Worker Channel for language PowerShell"
Get-History output:
[code]

When the function starts, the following error is logged:
[code]

Full log until the error occurs:
[code]

$PSVersionTable:
[code]

[2019-06-23 17:42] TylerLeonhardt commented on #239
This fixed in https://github.com/Azure/azure-functions-powershell-worker/pull/261

@bgelens that's probably related and this fix will with that too.

Just waiting on a deployment

[2019-06-23 17:43] TylerLeonhardt commented on #265
@janegilring do you have the .NET SDK installed?

[2019-06-24 01:07] snapfisher opened #277 "Azure Functions PowerShell 2.x fails if arguments are read from a PowerShell variable"
#### Investigative information

Please provide the following:

- Timestamp: 2019-06-24 00:47:15.694
- Function App version (1.0 or 2.0): 2.0
- Function App name: RGReadResources
- Function name(s) (as appropriate): readresourcenames
- Invocation ID: c6d5a301-b7fa-42f0-847e-cf324be70dd4
- Region: East US 2

#### Repro steps

Provide the steps required to reproduce the problem:

This is a PowerShell

[2019-06-24 17:30] Francisco-Gamino commented on #265
Hello @janegilring: The issue might be dotnet. What version do you have?

You can run this from the cmd line to check:
[code]

[2019-06-24 20:43] jrudley commented on #234
Interesting enough, you can reproduce this using a blobtrigger as well.

[2019-06-25 01:56] Francisco-Gamino commented on #239
Hi @bgelens, thanks for reporting this issue. Yes, this looks related.

I have updated the PowerShell worker in both the Core Tools (https://github.com/Azure/azure-functions-core-tools/pull/1407) and the Host (https://github.com/Azure/azure-functions-host/pull/4606).

This version of the PowerShell worker will be available in the Host (runtime) release (in about 2 weeks).

[2019-06-25 04:47] TylerLeonhardt commented on #259
This looks like an issue in the PowerShell extension. It happens as soon as you step over into `ConvertTo-SecureString`. I'll have to look into this further but please open an issue on https://github.com/PowerShell/vscode-powershell

[2019-06-25 05:26] janegilring commented on #265
Hi,

No, I haven't:

C:\>dotnet --version
'dotnet' is not recognized as an internal or external command,
operable program or batch file.

[2019-06-25 05:34] TylerLeonhardt commented on #265
@janegilring it's a prerequisite. Please see the quick start guide here:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-powershell#prerequisites

And install the [.NET Core 2.2 SDK](https://dotnet.microsoft.com/download).

[2019-06-25 16:22] Francisco-Gamino commented on #265
Hi @janegilring, please let us know if installing dotnet fixed the issue. Thanks!

[2019-06-25 18:16] eamonoreilly commented on #203
I think for now we should add a warning if the size of LocalApplicationData\AzureFunctions is > 1GB when a new PowerShell function app is created (func init). The warning could say the following:

" The size of <path>\AzureFunctions is currently greater than 1GB for managed dependency downloads. Please delete any unused function app folders from this location to recover space."

[2019-06-25 20:38] anirudhgarg commented on #144
Closing this.

[2019-06-25 20:38] #144 closed

[2019-06-25 23:34] AnatoliB commented on #258
So, here is my proposal: apply `Out-String` automatically when tracing objects written to the **Output** stream, but not to any other stream. This will make the content of traces match the PowerShell console.

@eamonoreilly What do you think?

[2019-06-26 00:23] eamonoreilly commented on #258
I agree with this proposal @AnatoliB  It will keep it consistent with PowerShell.

[2019-06-26 00:28] eamonoreilly commented on #264
You can set the concurrency of the function app by following the documentation on https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#concurrency

You could create the app setting PSWorkerInProcConcurrencyUpperBound and perhaps set this to 10.

Thanks,
Eamon

[2019-06-26 00:37] JustinGrote commented on #258
I'm cool with that :). Thanks!

On Tue, Jun 25, 2019, 5:23 PM eamonoreilly <notifications@github.com> wrote:

[2019-06-26 01:13] eamonoreilly commented on #254
I believe you are hitting this issue https://github.com/Azure/azure-powershell/issues/9502

[2019-06-26 05:57] janegilring commented on #265
Ah - that was it, thanks. I just got a new laptop and haven't installed .NET Core SDK, which obviously was installed on the previous one where the function was working locally.

Would it be possible to add a prerequisite check to make it easier for the user to realize what is missing?

[2019-06-26 14:54] TylerLeonhardt commented on #265
@Francisco-Gamino @pragnagopa this is something that could only be added on the https://github.com/Azure/azure-functions-host side.

It has not been the first time users have gotten confused about this.

I'll let them make the call

[2019-06-26 16:50] npachal commented on #264
Thanks for the note. I did do that as follows:
![snip](https://user-images.githubusercontent.com/24705984/60198902-8bd1a780-97f7-11e9-9a01-1a2f05824d7e.PNG)

Not to turn this into troubleshooting my code, but the first request will happen in once 1 second, than the subsequent requests 2..n will all complete after 40 seconds. I'm wondering what is happening behind the scenes with resource provision

[2019-06-26 17:34] TylerLeonhardt commented on #264
The Azure Functions sandbox in the Consuption Plan only has 1 CPU core. WIth concurrency turned on, you will be able to process messages concurrently... but since the handlers of those messages are sharing 1 core, you have decreased performance because of context switching between threads.

@eamonoreilly will have to take this to the Functions team about how to help out with this but Consumption h

[2019-06-26 17:57] AnatoliB commented on #264
Please note though that PowerShell workloads are rarely CPU-bound, so the number of CPU _cores_ usually does not matter that much. What actually matters is the number of _threads_/_runspaces_, and this is what `PSWorkerInProcConcurrencyUpperBound` is helping with (to some extent). When this limit is reached, getting more concurrency requires spawning more workers, and this story is not very transp

[2019-06-26 18:54] TylerLeonhardt commented on #264
@AnatoliB just to clarify, I wasn't speaking about PowerShell workflows (as in PowerShell actually executing).

I was speaking about the PowerShell worker process all up. That process's performance, which has the ability to spin up multiple threads/runspaces, will be worse if it does due to the single logical core having to context switch between threads.

That is to say, to get the fastest perfor

[2019-06-26 18:56] Francisco-Gamino commented on #265
@TylerLeonhardt: I agree that we should add a check. However, this validation should take place in the Core Tools. I have opened an issue to address this. For more info, please see
https://github.com/Azure/azure-functions-core-tools/issues/1410

[2019-06-26 18:57] #265 closed

[2019-06-26 19:47] JustinGrote commented on #264
Just like to note on this thread that this is an excellent use for queues
in fan out situations. Just throw all your requests in a queue and have a
queue trigger function. The worker will then gradually spin up more
instances to handle the queue and each will have a dedicated core per
processor. Parallel execution without the fuss.

On Wed, Jun 26, 2019, 11:54 AM Tyler James Leonhardt <
notificati

[2019-06-26 23:26] npachal commented on #264
Is there a way to tell what will cause another function system to be provisioned as opposed to just using the additional run space on the same system (if concurrency is set more than 1)?

[2019-06-26 23:54] eamonoreilly commented on #254
This issue is resolved with the latest Az accounts module (1.5.3). Please make sure the requirements.psd1 is now using 2.* as this will get the latest module that has the fix.
Thanks,
Eamon

[2019-06-26 23:54] #254 closed

[2019-06-27 17:25] Francisco-Gamino commented on #265
@janegilring and @TylerLeonhardt : The check to ensure that dotnet is installed as a prerequisite for PowerShell function apps (in func start) has been merged.

[2019-06-28 13:10] divgo commented on #254
Thank you for the update @eamonoreilly

I just updated my Requirements.psd1 file as follows;

[code]

And I am testing the Azure Function now. Just need to wait 5-10 minutes for some events to flow in and show up in the monitor tab.

[2019-06-28 15:00] divgo commented on #254
this is the error I am getting now after updating my Requirements.psd1 file;

[code]

This was after performing a Stop\Start on the Function App. I had to CD into the directory mentioned above and run a `RMDIR /Q /S Az`, then `RMDIR /Q /S Az.Account` - then Stop\Start again.

Now, it looks like it is working as expected;

INFORMATION: EventCreator was a Service Principal | Information
-- | --
2019

[2019-06-28 15:05] eamonoreilly commented on #254
Thanks for validating. I'll have look at what might have caused the module upgrade error and see if we can address also.
Thanks,
Eamon

[2019-06-29 01:20] ZanattaMichael commented on #259
Hi. I have some more information on this. ConvertFrom-SecureString fails as well. Here is my tests:

### Test 1 - ConvertTo-SecureString: Pass (However debugger cannot step past the cmdlet)
[code]
### Test 2 - ConvertTo-SecureString: Failure
[code]
### Test 3 - ConvertFrom-SecureString: Failure
[code]