[2019-06-29 01:28] ZanattaMichael opened #266 "PSDebugger Hangs on Get-AzKeyVaultSecret"
Running Get-AzKeyVaultSecret will cause the debugger to hang:
[code]
I do suspect this is a secure string issue (related in #259 ), however the debugger hung when trying to run the following commands:

[code]

The debugger hung at: Debugger Hangs at Line: 120 -> Az.KeyVault.psm1

[code]

[2019-07-01 20:50] AnatoliB commented on #252
Addressed by https://github.com/Azure/azure-functions-powershell-worker/pull/267

[2019-07-01 20:52] AnatoliB commented on #247
Addressed by https://github.com/Azure/azure-functions-powershell-worker/pull/267

[2019-07-01 20:52] AnatoliB commented on #248
Addressed by https://github.com/Azure/azure-functions-powershell-worker/pull/267

[2019-07-01 21:08] AnatoliB commented on #231
Addressed by https://github.com/Azure/azure-functions-powershell-worker/pull/267

[2019-07-02 22:49] Francisco-Gamino commented on #266
@eamonoreilly @TylerLeonhardt : Could you please take a look?

[2019-07-03 04:20] TylerLeonhardt commented on #266
Does `Get-AzKeyVaultSecret` use SecureString at all? I feel like it could be related to #259.

[2019-07-03 15:25] bgelens opened #269 "Add response headers doesn’t seem to work"
running core tools 2.7.1373 on macOS and published on Azure Function App

When trying to add response headers, they do not get appended correctly.

[code]

[code]

Expecting $result.Headers[“foo”]

[2019-07-04 17:37] bgelens commented on #269
setting content-type by assigning via headers also doesn’t work

[code]

[code]

[2019-07-05 09:18] markscholman commented on #160
@daxian-dbw  But if you set them by default, the host.json determines the actual logs that are send to Application Insights. I agree, Trace and Debug logging mode is chatty, but I believe in a debugging scenario that's desired. When setting host.json on error, warning or informational these chatty messages are left out anyway.

[2019-07-06 03:47] ZanattaMichael commented on #266
Yep. (Get-AzKeyVaultSecret -VaultName Vault -Name Name).SecretValue -eq "SecureString"

[2019-07-07 17:54] bgelens opened #270 "Http output binding FileContentResult"
I need to respond to a request with a application/octet-stream content type (sending a byte array of a file. I’ve found this [stackoverflow](https://stackoverflow.com/a/52706799) answer suggesting I need to use FileContentResult. AFAICT, this is not available for PowerShell.

Can this be made available?

[2019-07-08 14:38] artisticcheese commented on #235
Is there any move on this front? My project is on hold for several month waiting for this resolution.

[2019-07-09 07:24] januschr opened #273 "Issue with exporting certificate from key vault"
Hello,

I am trying to export a certificate from a key vault in a powershell function app using this code:
[code]

This code works if I run it in a powershell locally, but when running in the function app it throws this error:

[code]

It seems to expect that `$certSecretBytes` is a file in the `$certCollection.Import()` call?

Is there a work around for this?

[2019-07-09 21:57] AnatoliB commented on #145
It looks like we have two separate issues here, and I propose fixing both:

**Issue 1: Terminating errors are not reported to the user in the same way as non-terminating errors**

By design, PowerShell terminating errors are _not_ written to the Error stream automatically. The regular PowerShell console makes terminating and non-terminating errors look similar, and this decision has advantages and

[2019-07-09 22:44] Francisco-Gamino commented on #270
Hi @bgelens, have you tried setting the content-type to application/octet-stream in the ```Push-OutputBinding```? If this does not work, we will look into it.

[2019-07-09 23:16] anirudhgarg commented on #273
Can you please try this:
https://github.com/projectkudu/kudu/wiki/Configurable-settings#add-user-profile-support-for-a-site

The system cannot find the file specified issue with X509Certificate2
If you new up X509Certificate2 instance from a pfx file or cert encoded containing private key, you may run into CryptographicException: The system cannot find the file specified.. The reason is Windows st

[2019-07-10 00:45] AnatoliB opened #274 "Function outputs data from a previous invocation"
If a PowerShell function invokes Push-OutputBinding and then throws an exception, the next invocation response contains data passed to Push-OutputBinding on the previous invocation.

Repro function:

[code]

Invocation:

[code]

[2019-07-10 06:06] bgelens commented on #270
Yes I tried. It doesn't work unfortunately

[2019-07-10 07:02] januschr commented on #273
Thank you! That solved the issue.

[2019-07-10 07:02] #273 closed

[2019-07-10 20:09] AnatoliB commented on #258
I was going to make the change we agreed on, but it looks like this is already the current behavior. When running on Azure and locally (using the PS Worker from _dev_ and _master_ branches), `get-childitem | fl` produces the following traces:

[code]

Please note that I'm looking specifically at the Output stream, as this is the only stream where we wanted to apply `Out-String` automatically.

I'm

[2019-07-10 20:09] #258 closed

[2019-07-10 20:58] AnatoliB commented on #269
It looks like we have a problem when the `Body` property is not specified. So, the workaround is to assign any string to `Body` - an empty string will do, _but not_ `$null`. This code:

[code]

produces the following raw output:

[code]

@bgelens This is still a bug that we want to fix, but please try the workaround in the meantime.

[2019-07-10 21:20] Francisco-Gamino commented on #169
This issue has been fixed and released in the latest version of the PowerShell worker,

[2019-07-10 21:20] #169 closed

[2019-07-10 21:23] Francisco-Gamino commented on #239
Hello @icpenguins and @bgelens,--this issue is fixed in the latest version of the PowerShell worker which was release on  7/8/19. Please let me know is you see any other issues. Thanks!

[2019-07-10 21:23] #239 closed

[2019-07-11 08:01] bgelens commented on #269
On holiday right now. Will try next week. Thanks!

[2019-07-11 17:03] Francisco-Gamino commented on #255
Hello @npachal, this should be fixed now. Please let us know if you find any other issues. Thanks.

[2019-07-11 17:03] #255 closed

[2019-07-11 20:14] AnatoliB commented on #270
@bgelens This code seems to be achieving what you want:

[code]

We may want to provide a more convenient wrapper that takes care of all these details automatically. In the meantime, please validate that this actually achieves your goal.

[2019-07-12 06:08] #252 closed

[2019-07-12 06:09] #248 closed

[2019-07-15 19:46] AnatoliB opened #276 "Occasional failures on function load requests"
Occasionally, the PowerShell worker receives function load requests with the same FunctionId more than once:
[code]
As a result, subsequent function invocations fail and the user needs to restart the app to mitigate the issue.

This seems to be a recent regression: either this message duplication started happening recently, or the PowerShell worker was able to tolerate duplicates before.

[2019-07-15 21:33] mattchenderson commented on #235
I'm not as familiar with the PowerShell side of things here, but in order to request a token from a user-assigned identity, you need to pass the client ID as a query string parameter on the request.

I would expect to see something like
`Connect-AzAccount -Identity <clientID>`

[2019-07-15 21:33] mattchenderson commented on #235
https://github.com/Azure/azure-powershell/issues/9479

[2019-07-15 22:45] Francisco-Gamino commented on #280
Hello @Atul-2509,

The PowerShell worker uses PowerShell Core 6.2.1 (https://github.com/PowerShell/PowerShell/releases). The best way to figure out if a module is supported by PowerShell in Functions, please download the module using PowerShell 6, and try to import and run some command.

At the present time, it looks like this module is not supported in PowerShell 6.

[code]
In https://www.powersh

[2019-07-15 23:54] AnatoliB commented on #277
@snapfisher Even though the result of `$Request.Body | Out-String` looks very similar to the original string (`"PSFuncLogicDemo*"`), it is actually very different because line ending characters are appended to the end of it:
[code]
The resource group names do not have line ending characters, and this is why `-like` does not match any of them.

I'm closing this issue, please feel free to reopen and

[2019-07-15 23:54] #277 closed

[2019-07-16 00:13] JustinGrote commented on #277
@snapfisher as a recommendation, always use .trim() on your inputs to
ensure there isn't any whitespace floating around. That's just good
practice in general :)

On Mon, Jul 15, 2019 at 4:54 PM Anatoli Beliaev <notifications@github.com>
wrote:

[2019-07-16 14:43] TylerLeonhardt commented on #280
Just for testing purposes, can you also download PowerShell 7 preview (same url that Francisco posted) and run through the same steps?

This will help us understand if your scenario will be fixed when Functions moves to PowerShell 7 (won't happen till after PowerShell 7 is GA but it's good data)

[2019-07-16 16:22] JustinGrote opened #282 "Null Input Bindings: Need a Method to Trap or Handle them"
Given the following function.json:
[code]

Which finds a table row "test" if https://myfunction/api/HttpTrigger/test is invoked, this works fine. However, if the table row doesn't exist, there's no way to trap the error and handle it gracefully as the command processor fails to bind the parameter at the worker level, not the script level.

[code]

### Notes
Interestingly, this open happens if you

[2019-07-16 16:32] JustinGrote commented on #282
### Workaround
This works, surprisingly:
[code]
Maybe the underlying processor already knows if it is null before it tries to bind the variable. Magic.

So I guess this can be de-emphasized, but it still doesn't solve the "intentional null" issue.

[2019-07-16 16:52] Francisco-Gamino commented on #280
Hi @TylerLeonhardt,

I've downloaded PowerShell 7 preview and I was not able to import the module either. I am, however, getting a different error.

[code]
I am not sure if this is a known issue. If it is not, I will file an new one.

[2019-07-16 18:21] Francisco-Gamino commented on #257
This work needs to be completed across all the different clients:

Core Tools - work completed (https://github.com/Azure/azure-functions-core-tools/pull/1434)
Host -- https://github.com/Azure/azure-functions-host/issues/4672
VSCode Extension -- https://github.com/microsoft/vscode-azurefunctions/issues/1379

[2019-07-17 00:23] TylerLeonhardt commented on #280
SnapIn's predate modules. The module author should not rely on this type at all. Then, it might work in PowerShell 7

cc @SteveL-MSFT

[2019-07-17 22:07] invisibleaxm commented on #259
I can confirm this behavior on my end as well are there any known workarounds ?

[2019-07-17 22:59] invisibleaxm commented on #259
One more piece of info to expand on the example provided by @ZanattaMichael as I *think* this could be related to assignment of a secure string vs the actual converto-securestring cmdlet ? Take for example the following slightly modified scenarios which are both working inside azure functions / debugged locally:

This example has an error (empty string), however the debugger is able to continue on

[2019-07-18 00:57] TylerLeonhardt commented on #259
This just means it _launches_ the script and runs it in the Integrated Console below with debugging.

From my experience, this issue only serviced in the _attach_ debugging scenario.

[2019-07-18 19:45] bgelens commented on #269
Just checked, this workaround does the trick!

I’ll leave the issue open for bug tracking

[2019-07-18 19:58] bgelens commented on #270
Thanks! I got this working with a simple function! I’m going to try with a more complex one later. If I find any more issues I’ll report them here. For now I’m closing.

[2019-07-18 19:58] #270 closed

[2019-07-19 19:11] JustinGrote opened #284 "Push-OutputBinding Should Throw Exceptions at Script Scope"
Tried pushing an output binding to a table today, and it errored with the following:

[code]

Unfortunately I can't try/catch or trap{} it, so my script just dies. As a workaround I just fetch a table object directly, but I shouldn't have to, I should be able to follow the output binding pattern and practice, but be able to handle any issues that might crop up.

[code]

[2019-07-20 01:13] 1ccb opened #285 "$Host"
$Host.Name is currently "Default Host".  How about something more meaningful like "Azure Functions Host"?  Or perhaps allow this to be configurable from host.json.

[2019-07-22 19:02] canoas opened #301 "Inconsistent folder behavior in Powershell"
One of my colleagues is getting different path when using
[code]
In my case I get the folder where my function is located (run.ps1) but a newer machine is getting the Functions folder

Did some search and found these variables in the wiki https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function

but running with the vars got me null values on l

[2019-07-23 20:53] AnatoliB commented on #199
This PR enables non-Az modules: https://github.com/Azure/azure-functions-powershell-worker/pull/287. As soon as this is committed/deployed, the doc update will not be required.

[2019-07-23 23:03] dfinke commented on #199
This mean that `Save-Module` does not have to be used if the module is in the PowerShell Gallery?

[2019-07-23 23:58] AnatoliB commented on #199
@dfinke This is correct: if the Managed Dependencies feature suits your needs, you will not need to invoke `Save-Module` anymore (after this PR is committed/deployed). Just specify the module in `requirements.psd1`, and it will be installed and upgraded for you automatically by the PowerShell worker.

[2019-07-24 00:35] #247 closed

[2019-07-24 21:22] yojagad opened #292 "Support "RpcHttpBodyOnly"capability"
Host has a "RpcHttpBodyOnly" capability where it does not send duplicated data through gRPC. It only sends the "body" property which is either bytes or string.

Reference PR: https://github.com/Azure/azure-functions-host/pull/4660

Powershell needs to make modifications on the worker side accordingly in order to decode it whenever necessary.

[2019-07-25 19:29] Francisco-Gamino opened #296 "Move azure-functions-powershell-worker to azure pipelines"

[2019-07-30 21:34] #246 closed

[2019-07-30 21:49] AnatoliB commented on #276
The fix is deployed.

[2019-07-30 21:49] #276 closed

[2019-07-30 22:49] Francisco-Gamino opened #300 "Need doc for Add-Type workaround"

[2019-07-30 23:44] eamonoreilly commented on #285
Thanks for the feedback on this. Is there a specific scenario you have in mind where you would depend on this value?
Thanks,
Eamon

[2019-08-01 04:08] rphoon opened #304 "Powershell Az commands stopped working after latest runtime update"
Getting the following error now calling "Get-AzResource" since the runtime was updated 2 days ago. It was running fine before then.

ERROR: The term 'Get-AzResource' is not recognized as the name of a cmdlet, function, script file, or operable program.
Check the spelling of the name, or if a path was included, verify that the path is correct and try again.

[2019-08-01 18:50] JustinGrote opened #302 "Inconsistent VSCode Func Start for troubleshooting, where is Env variable set?"
I've noticed when doing a "func start" outside of using the attach task, it doesn't start a named pipe, it only does it when the debug task is run.

I checked the functions host and vscode extension repos and I cannot for the life of me find where this environment variable is set. Doesn't appear to be set anywhere in the functions host.

https://github.com/Azure/azure-functions-powershell-worker/b

[2019-08-01 18:55] JustinGrote commented on #302
Found it:
https://github.com/microsoft/vscode-azurefunctions/blob/1200241b475bad976204892b68c3949f33a7db8b/src/debug/PowerShellDebugProvider.ts#L28

[2019-08-01 18:55] #302 closed

[2019-08-01 19:41] #256 closed

[2019-08-01 20:26] 1ccb commented on #285
Yes, I have a library of PowerShell functions in a script that I include in both my Azure Functions and my regular PowerShell scripts that run on a VM.  As I migrate to Azure Functions I can exclude certain functions from this library that don't work or are obsolete in the Azure Functions environment based on the $Host that is running.

[2019-08-01 20:45] JustinGrote commented on #285
There are a number of environment variables you can test for to determine
if you are in Azure functions or not.
https://docs.microsoft.com/en-us/azure/azure-functions/set-runtime-version
https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings

FUNCTIONS_EXTENSION_VERSION
FUNCTIONS_WORKER_RUNTIME
AZURE_FUNCTIONS_ENVIRONMENT

I personally test functions_worker_runtime for power

[2019-08-01 21:28] eamonoreilly commented on #285
Thanks guys. You can also use WEBSITE_INSTANCE_ID as described on [stackoverflow](https://stackoverflow.com/questions/45026215/how-to-check-azure-function-is-running-on-local-environment-roleenvironment-i)

I'm going to close this issue given we have a way to determine this. Thanks for opening.
Eamon

[2019-08-01 21:28] #285 closed

[2019-08-02 08:07] spaelling opened #303 "Push-OutputBinding for table storage does not overwrite existing entities"
If the rowKey already exists in the table the entity is not overwritten, but an error is raised. This makes `Push-OutputBinding` a _one-trick-pony_ wrt. table storage and any workaround defeats the purpose of making integration with _Azure Table Storage_ easy and straightforward.

[code]

I would suggest adding a `-Force` parameter that means overwrite existing entries. This should be trivial as i

[2019-08-03 19:07] AnatoliB commented on #303
@spaelling Have you tried the `-Clobber` switch (see [Push-OutputBinding syntax](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#push-outputbinding-syntax))?

[2019-08-05 07:27] spaelling commented on #303
Still the same error. Also I do not believe that `-Clobber` works like this. In some cases `Push-OutputBinding` only accepts a single output, ex. Http (Wouldn't really make sense to output an array of html objects/code). In this case you can use `-Clobber` to overwrite the existing value, whereas if it was a queue it would simply just add another object to the queue, or overwrite if using `-Clobbe

[2019-08-05 16:08] brettsam commented on #304
@Francisco-Gamino -- FYI just moved this over to the powershell worker repo.

[2019-08-05 17:44] AnatoliB commented on #304
@rphoon Do you have `managedDependency` enabled in `host.json`? What do you have in `requirements.psd1`? Do you do anything else to have Az modules installed?

[2019-08-05 17:58] AnatoliB commented on #303
@spaelling Thank you, I see what you mean, `-Clobber` is not supposed to solve this. We'll need to think how to make this configurable, as the current behavior is also desirable sometimes: either use `-Force` as you suggested, or come up with another parameter.

[2019-08-05 21:20] rphoon commented on #304
Yes, managedDependency is enabled by default.

requirements.psd1 has Az = '2.*' by default as well.

From: Anatoli Beliaev
Sent: Tuesday, August 6, 3:44 AM
Subject: Re: [Azure/azure-functions-powershell-worker] Powershell Az commands stopped working after latest runtime update (#304)
To: Azure/azure-functions-powershell-worker
Cc: Raymond Phoon, Mention

@rphoon<https://github.com/rphoon> Do you h

[2019-08-05 22:25] AnatoliB commented on #304
@rphoon Thank you, the configuration looks correct. I'll have to ask you a few more questions. Are you running this app locally or on Azure? Do you see this error intermittently or every time? Any other errors or warnings in the logs?

[2019-08-05 22:34] rphoon commented on #304
On Azure. Error happens every time. No other errors.

It seems that it stopped working after the Az module was updated to 2.5.0. I could try changing the requirements.psd1 to set Az = '2.4.0' to see if it fixes the problem.

From: Anatoli Beliaev
Sent: Tuesday, August 6, 8:25 AM
Subject: Re: [Azure/azure-functions-powershell-worker] Powershell Az commands stopped working after latest runtime updat

[2019-08-05 23:19] AnatoliB commented on #304
@rphoon No need to try `Az = '2.4.0'`: specifying exact versions is not allowed yet, you can specify only `Az = '<MajorVersion>.*'`

This problem does not seem to be related to Az 2.5.0. I'm able to run an app with Az 2.5.0 without issues. However, we know that the current implementation of managed dependencies is prone to intermittent problems on module version updates. We are going to release a

[2019-08-06 05:13] rphoon commented on #304
Hi Anatoli,

Stopping the app and removing the /data/ManagedDependencies directory fixed the problem.

Thanks very much.

Regards,
Raymond

From: Anatoli Beliaev <notifications@github.com>
Sent: Tuesday, 6 August 2019 9:20 AM
To: Azure/azure-functions-powershell-worker <azure-functions-powershell-worker@noreply.github.com>
Cc: Raymond Phoon <rphoon@macquarietelecom.com>; Mention <mention@noreply.g

[2019-08-06 07:31] spaelling commented on #303
Perhaps make it work like `Out-File` where `-NoClobber`:

In the case of table storage the default behavior could be to overwrite an existing row, but one could work around this using the `-NoClobber` switch.

But it would probably be best to adopt the two _upsert_ operations already established in table storage
- [Insert or replace](https://docs.microsoft.com/en-us/rest/api/storageservices/insert

[2019-08-06 17:28] jagdishrajan opened #305 "A task was canceled"
I have a PowerShell Azure Function running on a timer trigger hourly.  Every so often (perhaps once every 3 days) it throws the following error.  Any ideas why?
[code]

[2019-08-06 22:53] Francisco-Gamino commented on #304
Closing issue as new reliability enhancements will be release in the next update.

[2019-08-06 22:53] #304 closed

[2019-08-07 20:54] bingbing8 opened #306 "Azcontext object does not returned to caller azure function"
I have below azure ps function. The object returned to caller is $null.
if run the script not in ps function environment, the caller can receive the object.
[code]

output in ps azure function:
2019-08-07T20:45:54.688 [Information] Executing 'Functions.bugrepro' (Reason='This function was programmatically called via the host APIs.', Id=06a022c9-5b62-47c5-8dca-ea1d53adf0c6)
2019-08-07T20:46:05.237

[2019-08-07 22:17] JustinGrote commented on #306
You need to use Push-Outputbinding in Azure Functions, not return. Return
and anything to the output stream basically just ends up as logs. Read up
on it :)

On Wed, Aug 7, 2019, 1:55 PM Yanbing <notifications@github.com> wrote:

[2019-08-07 22:18] bingbing8 commented on #306
@JustinGrote, log is what I want

[2019-08-08 01:57] JustinGrote commented on #77
I think following the javascript worker's example is a good first step: https://github.com/Azure/azure-functions-durable-js

[2019-08-08 05:34] JustinGrote commented on #306
Did you try piping it to format-list -prop * | out-string? It may have a default tostring of null or something.

Maybe also try.gettype() on it

[2019-08-08 19:06] bingbing8 commented on #306
@JustinGrote , if you look into my code, you will find out:
1. "$cxt | out-string"  logs fine
2.  Write-Out $cxt does not log
3. Write-Host "cxt name: $($cxt.Context.Name)" does not log
4. if the same script run in normal powershell prompt (not in ps function), write-output print out $cxt

Why does it like this?

[2019-08-09 16:25] JustinGrote commented on #282
@AnatoliB related to this, there's no way to set a default value or anything if a binding expression doesn't exist.

As an example, consider this function.json to simply get a table row based on a passed ID path
[code]

Works fine as long as an ID is specified, however if one isn't, there's no way to set a default like "nospecified", or allow it to just silently fail and not return a table row.

I

[2019-08-09 19:39] JustinGrote opened #307 "UrlEncoded POST is not parsed but GET query parameters are."
Related behavior to: https://github.com/Azure/azure-functions-nodejs-worker/issues/146

# Reproduction
## GET Method (works as expected)
[code]
### $TriggerMetadata Query property has "to" as well as a new direct "to" property
[code]

## POST Method
[code]
### $TriggerMetadata doesn't have a query property. Expected behavior is same as GET
[code]

# Impact
As an example, if you have an Output Bind

[2019-08-12 21:34] Francisco-Gamino opened #308 "PowerShell worker does not support InOut binding type"

[2019-08-15 18:58] invisibleaxm opened #309 "Unable to set custom properties on a ServiceBus message when using push-outputbinding"
When working with Azure Functions V2 (Powershell) ServiceBus output binding we are not able to add any user attributes to the  servicebus message since the push-outputbinding cmdlet takes the object passed in "value" as the message body (it will serialize the object and submit that as the message text/body). ideally one could craft a Service Bus message of type Microsoft.Azure.ServiceBus.Message a

[2019-08-17 14:09] artisticcheese opened #310 "Consistent timeouts working with Queues"
Hello,

My jobs consistently timeout without even starting job processing when pulling messages from the queue. Failure process rate is above 50%.
The very first step of processing is `Write-Host "PowerShell queue trigger function processed work item: $($TriggerMetadata["VMName"])"` which never makes it to output stream as you can see below since it times out before it even hits it.
It appears tha

[2019-08-19 14:18] JustinGrote commented on #310
Out of curiosity, why are you using a boot diagnostics storage account? Why not just use the default queue (leave it blank).

I haven't seen this behavior in my queue usage, as troubleshooting steps I would remove your custom queue settings and remove the connection line to use the default function storage account for your queues.

[2019-08-19 16:02] artisticcheese commented on #310
Bootdiag is just used because it was in the same location as my Function. It has nothing to do with an issue though. The only way to make it work was  to increase `FUNCTIONS_WORKER_PROCESS_COUNT` and `PSWorkerInProcConcurrencyUpperBound` and stop using consumption app service plan. Looks like on consumption plan it actual spins up so many worker nodes that queue show empty but none are being proce

[2019-08-19 21:15] artisticcheese commented on #235
Apparently support for User Assigned Identities is GA now in Azure functions. Does it mean this issue is resolved?

https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity

[2019-08-20 17:52] Francisco-Gamino opened #312 "Need to update .NetCore 2.1.x runtime/SDK for Host, PowerShell worker, and tooling"

[2019-08-21 00:27] Francisco-Gamino commented on #301
Hello @canoas, here are a couple of ways to get the folder location of your executing function:

If you take a look at https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function, you can use ```FunctionDirectory```, e.g.,
```write-output "Directory: $($TriggerMetadata.FunctionDirectory)"```. Alternatively, you can the PowerShell built-in variable

[2019-08-22 20:48] Francisco-Gamino commented on #199
Managed Dependencies now supports downloading any module available on the PSGallery, so this work item is no longer needed, closing issue.

[2019-08-22 20:48] #199 closed

[2019-08-22 20:53] Francisco-Gamino commented on #280
Hello @Atul-2509,

The problem with Microsoft.Xrm.Data.PowerShell is that this module has a dependency on a PS Snap-In, which are not supported in .NetCore. Unless the module author removes this dependency, this module will never be able to run on PowerShell Core 7.

I've opened https://github.com/seanmcne/Microsoft.Xrm.Data.PowerShell/issues/372 to track this. Closing this issue.

[2019-08-22 20:53] #280 closed

[2019-08-22 20:54] #301 closed

[2019-08-22 20:55] Francisco-Gamino commented on #308
This was opened for completeness. However, PowerShell does not support InOut parameters, so closing issue.

[2019-08-22 20:55] #308 closed

[2019-08-28 00:17] artisticcheese opened #316 "Managed dependencies are continiously being downloaded untill all space is used"
Looks like each time function either being executed or deployed a new set of dependencies being downloaded. I have single function and there is 476 folders created under ManagedDependencies folder each 126 MB in size

![image](https://user-images.githubusercontent.com/13176884/63816835-4026a180-c8ff-11e9-8827-aee0b8d6c3f1.png)

[2019-09-01 05:11] AnatoliB commented on #316
This is fixed by https://github.com/Azure/azure-functions-powershell-worker/pull/311, the fix is being deployed now. In the meantime, here is the workaround:

1. Stop the app.
2. Remove the entire ManagedDependencies folder.
3. Start the app.

[2019-09-01 17:28] artisticcheese commented on #316
Impossible to delete those due to a volume and big number of small files. Took 3 hours and still was not done. Had to move to new AppServicePlan but good that it's fixed

[2019-09-01 17:28] #316 closed

[2019-09-01 21:07] AnatoliB commented on #316
I recommended removing the entire ManagedDependencies folder for simplicity. In fact, removing the entire content is not required. The following command would remove just a few folders with names that interfere with the new dependency management logic, and this should be enough to solve the problem:

[code]

This command should be invoked **from the ManagedDependencies folder**.

[2019-09-06 17:13] jnevins-gcm commented on #77
any update on this?

[2019-09-06 20:09] AnatoliB commented on #77
We'll be working on this very soon. Not ready to commit to any specific date yet. Thank you for your votes!

[2019-09-09 20:47] FinVamp1 opened #321 "Log PowerShell Worker version on Startup"
Similar to the Python Language Worker issue https://github.com/Azure/azure-functions-python-worker/issues/512 it would be good if we log a version number on Startup to help diagnose issues.

[2019-09-11 18:04] #292 closed

[2019-09-13 22:24] TravisEz13 opened #325 "The body for HTTP responses should be allowed to be null for 3XX responses"
The body for HTTP responses should be allowed to be null for 3XX responses

I get a null reference exception if I leave the body null.

Here is my workaround

[code]

[2019-09-16 14:48] nnekaede opened #327 "Managed dependency download Error"
I am running a Powershell core function through the Azure Web Portal. When I run a function I get the following error:

2019-09-16T14:37:51.707 [Error] Executed 'Functions.UiPath_New_User_Email' (Failed, Id=557d0895-1765-4558-9dc6-2346ddaa1841)
Result: Failure
Exception: Fail to install FunctionApp dependencies. Error: 'Fail to create FunctionApp dependencies destination path 'D:\home\data\Managed

[2019-09-17 01:09] AnatoliB commented on #327
@nnekaede This error indicates problems with the file storage associated with the app. I can see from the logs that your app was having troubles installing Az modules, but then they were successfully installed at 2019-09-16 15:04:33 UTC. Is the issue resolved for you now?

[2019-09-17 01:19] TylerLeonhardt commented on #259
This is going to be a very strange sounding workaround...

But when you see this hang, can you just press `Ctrl+C` _twice_ and see if it gets out of a bad state?

[2019-09-17 19:08] #145 closed

[2019-09-17 19:14] #321 closed

[2019-09-18 20:01] kevin-secrist opened #332 "Sharing context across runspaces"
Hi there,

Just started using PowerShell functions as a PoC for a new project and I've run into something that I think would be very helpful for my use case. My team works on managing and provisioning multi-tenant Office 365 products. Currently, we're working on making a service to interact with MS O365 PowerShell services (Exchange, for example) using remote PS sessions. For performance reasons,

[2019-09-18 20:19] AnatoliB commented on #332
Thank you, @kevin-secrist. If I understand your use case correctly, this can be easily achieved by authoring a simple PS module in C# exposing a C# static variable (perhaps via Get/Set cmdlets). We often advise against this kind of sharing between runspaces because this is a frequent source of problems caused by _unintended_ state sharing. However, if you want to share state _intentionally_, are a

[2019-09-18 21:36] kevin-secrist commented on #332
Thanks for the quick response @AnatoliB

I originally tried setting up a variable in my profile.ps1, as well as setting variables in the global scope in a .psm1 module to no success but I did not try a C# binary module.

[code]

I loaded that simple module within my function app, imported the module in my profile.ps1, and put this in my run.ps1 for my test function

[code]

Initially it did not wo

[2019-09-19 22:12] invisibleaxm commented on #259
@TylerLeonhardt, gave this workaround a try but unless i am doing something wrong (i.e. my focus is on the wrong vscode window) I dont think pressing `Ctrl+C` twice helped getting me out of this bad state.

I tried this while my focus was on the main terminal window and the result was that my debug session was terminated (pipe was broken).

[2019-09-20 00:31] TylerLeonhardt commented on #259
@invisibleaxm what OS are you using?

[2019-09-23 17:43] AnatoliB opened #333 "Measure and optimize cold start time"
Tracking all issues affecting cold start performance:
- #443
- #401
- #365
- #452
- #453
- #454

[2019-09-23 22:07] nnekaede commented on #327
Yes it was resolved! Thank you.

[2019-09-23 22:07] #327 closed

[2019-09-24 18:37] mattsmall1972 commented on #301
Will you please update the previous documentation at  https://github.com/Azure/azure-functions-host/wiki/Retrieving-information-about-the-currently-running-function?  It does not work, at least for the function app that I am executing.

[2019-09-24 19:53] AnatoliB opened #337 "Write-Host, Write-Verbose, Write-Error etc. invoked from profile.ps1 cause error 500"
When `Write-Host`, `Write-Verbose`, or `Write-Error` are invoked from `profile.ps1`:

- Function invocation requests get error 500 response.
- The function code is not executed.
- The messages passed to `Write-Host`, `Write-Verbose`, or `Write-Error` are not logged anywhere.

Instead, the following internal exception is logged:

[code]

Note: `Write-Output` does not cause this error, but the data

[2019-09-24 21:55] Francisco-Gamino commented on #301
Hello @mattsmall1972, thank you for reporting this. I have opened an issue to track this: https://github.com/Azure/azure-functions-host/issues/4969

[2019-09-25 21:18] Francisco-Gamino commented on #332
Adding issue from the PowerShell repo to provided more context. https://github.com/PowerShell/PowerShell/issues/4170

[2019-09-25 21:44] eamonoreilly commented on #202
Will document this and also look to add to the VS Code extension.

[2019-09-27 19:40] rscottwatson opened #343 "contents of ConvertTo-CSV not being written to Blob properly"
When I convert my object to a csv using the convertto-csv cmdlet the blob that gets written using the output binding has all the double quotes escaped and all the newlines have been removed and replaced with a comma.   Is this because convertto-csv creates a collection of strings?  I don't see the same behaviour with convertto-json.

eg.
[code]

[2019-09-27 19:59] AnatoliB commented on #343
@rscottwatson If you invoke the first line from a regular PowerShell console, what do you get in `$csvtring`? I'm trying to understand if your question is about anything specific to Azure Functions, or this is about the `ConvertTo-CSV` cmdlet behavior (and perhaps PowerShell as a language in general).

[2019-09-27 20:38] rscottwatson commented on #343
When I run in a regular PS console I get the output as a typical csv file.  My question is about writing a csv file to blob storage using an azure function with an output binding.
[code]

[2019-09-27 22:34] anirudhgarg commented on #232
Turns out we *do* have the 64 bit version of dotnet.exe in the Sandbox but there looks like there is a bug where-in if we change the platform to 64 bit the path *does* not change to point to the 64 bit version. We are going to look to fix it, meanwhile since we know the location of the 64 bit version of dotnet in the Sandbox we are going to see if we can first check if we are on 64 bit and invoke

[2019-09-27 23:45] AnatoliB opened #345 "Blobs larger than 4 MB cannot be handled by blob trigger functions implemented in PowerShell"
Root cause: the PowerShell worker does not configure the gRPC channel with the host correctly. Normally, the maximum message size for out-of-process language workers is controlled by the Functions host, and it currently sets this limit to 120 MB. However, the PowerShell worker ignores this config value and uses the default gRPC channel configuration (4 MB).

The fix is in progress.

[2019-09-28 00:58] AnatoliB commented on #343
@rscottwatson The `$csvstring` variable in your first example contains an array of strings (**not** a single string with newline characters). When `Push-OutputBinding` receives an array, it serializes it into JSON and writes the result into the blob. When `Push-OutputBinding` receives a single string, this JSON serialization does not happen.

The decision to serialize arrays to JSON is somewhat qu

[2019-09-28 01:19] rscottwatson commented on #343
@AnatoliB That did it!  Thank you for that.  Now I have a file that looks like a csv file.

Much appreciated.

[2019-09-28 02:19] #345 closed

[2019-09-28 02:24] AnatoliB opened #347 "No PowerShell examples in the documentation on triggers and bindings"
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob and other topics under "Triggers and bindings" have examples for every language except PowerShell.

[2019-09-30 12:45] #343 closed

[2019-09-30 20:46] eamonoreilly commented on #232
Until we fix this, I have been putting the following code into my profile.ps1 and then using it to run the AzureAD cmdlets.

[code]

[code]

[2019-10-01 20:01] jsandersrocks opened #348 "Document Firewall dependencies for ILB ASE implementations"
We need to add Firewall dependencies for ILB ASE implementations.  For example, I found a dependency here:  https://github.com/Azure/azure-functions-powershell-worker/blob/5d39f798a41ba29bf47c89ca39977c4aa7330177/src/DependencyManagement/PowerShellGalleryModuleProvider.cs

This seems to be the only HttpClient call currently:
https://www.powershellgallery.com/*

[2019-10-01 20:10] Francisco-Gamino commented on #312
Our project targets ```<TargetFramework>netcoreapp2.2</TargetFramework>```, so our app will use whatever latest patch version of 2.2 is available on the machine. I've verified that we are running 2.2.7 on the backend. Closing issue.

[2019-10-01 20:10] #312 closed

[2019-10-02 22:34] JustinGrote commented on #244
With the recent update that added the TraceContext, I wanted to revisit this item again. Now that the parent ID trace context is provided, can errors be passed to Application Insights with the appropriate context IDs? I know I could "roll my own" solution here but ideally this would be native to the worker, so that viewing exceptions in application insights is more rich and insightful.

[2019-10-02 23:11] AnatoliB commented on #232
The https://github.com/Azure/azure-functions-host/pull/5011 PR resolves the problem literally stated in the title of this issue. As a result of this fix, the bitness of the PowerShell worker will match the bitness of the Host, which matches the Platform setting on the Function app (when running on the cloud). As a result, PowerShell functions will be able to use x64-only **PS Core** modules.

Unfo

[2019-10-02 23:27] AnatoliB commented on #244
@JustinGrote If you are talking about exceptions thrown by the function code, do you think https://github.com/Azure/azure-functions-powershell-worker/pull/328 addressed this problem? Or you are talking about exceptions thrown by the PS Worker internal code?

[2019-10-02 23:28] AnatoliB commented on #232
Adding @eamonoreilly for documenting the AzureAD workaround.

[2019-10-03 04:50] JustinGrote commented on #244
Talking about function code exceptions. They all show up as RPCException in
Application Insights, so it's hard to do any kind of fault analysis at all.

On Wed, Oct 2, 2019 at 4:27 PM Anatoli Beliaev <notifications@github.com>
wrote:

[2019-10-04 18:55] brettsam opened #349 "Validate Functions v3 Preview"
Details will be coming soon. Opening issues right now to track.

Functions v3 preview (on .NET Core 3) is coming soon and we'd like the language worker owners to take it for a spin first and let us know if there are any issues.

Initial plan:
- Build details coming early Mon Oct 7, with a CLI build and a private site extension links.
- Would like some kind of signoff by EOD Wed Oct 9
    - That si

[2019-10-04 20:45] eamonoreilly commented on #264
Scaling of new hosts is determined by the trigger type. For http, as requests come in that cause load on a host, additional hosts are created to meet the load. For triggers like queues, service bus, etc, the scale controller looks for request build up and scales new hosts as needed.
Closing this issue as the concurrency behavior is documented in https://docs.microsoft.com/en-us/azure/azure-functio

[2019-10-04 20:45] #264 closed

[2019-10-04 21:00] eamonoreilly commented on #235
Yes - I validated this on the latest Az module in Azure Functions. You can see an example on https://docs.microsoft.com/en-us/powershell/module/az.accounts/connect-azaccount?view=azps-2.7.0#examples (Example 7).

[2019-10-04 21:00] #235 closed

[2019-10-05 05:59] AnatoliB opened #350 "Missing dependency modules after initial deployment"
**Impact**
If the first app deployment is followed by a rapid sequence of function invocations, some function invocations may not have the required modules available until all the workers restart. Background auto-upgrades after that are not impacted.

**Root cause**
In this situation, multiple PowerShell workers may start around the same time. By design, since there is no installed acceptable snap

[2019-10-07 17:29] eamonoreilly commented on #249
This is now documented on https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#dependency-management so closing issue.

[2019-10-07 17:29] #249 closed

[2019-10-07 17:30] eamonoreilly commented on #240
Added note to https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-powershell-local#debug-in-visual-studio-code about setting this value to 1 when debugging locally in VSCode.

[2019-10-07 17:30] #240 closed

[2019-10-07 17:32] eamonoreilly commented on #232
Added sample to https://github.com/eamonoreilly/ManageAzureActiveDirectoryWithPowerShellFunction for AzureAD. Will work on documentation and publish this to serverlesslibrary.net

[2019-10-07 21:46] eamonoreilly commented on #348
Added note to https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#dependency-management to discuss adding powershellgallery.com to any firewall requirements.

[2019-10-07 21:46] #348 closed

[2019-10-08 23:10] brettsam commented on #349
Some directions and links have been added to https://github.com/Azure/azure-functions-host/issues/5041.

[2019-10-09 23:21] rscottwatson opened #353 "Push-outputbinding for table using wrong type"
Is there anyway to request a field be  int64 instead of a int32?   I am selecting some azure resources and storing them in a table.  When I call Push-OutputBinding -Name OutTable -Value $tableRows  for a table that does not exist the function creates the column as INT32 and of course it blows up.  Is there anyway to provide some details about the columns that should be created?  Or do i need to pr

[2019-10-09 23:41] AnatoliB commented on #353
@rscottwatson Are you in control of $tableRows content? What is the type there? Perhaps you could explicitly create values of the type you want. In PowerShell, you can use `[long]` or `[int64]` prefixes, like this:

[code]
[code]

[2019-10-09 23:57] AnatoliB commented on #349
I performed a basic validation: tried HTTP triggers, blob triggers, managed dependencies, using Az module from functions, using both the private site extension and the CLI. Everything worked as expected, no obvious problems.

[2019-10-10 01:00] rscottwatson commented on #353
Thanks @AnatoliB, Yes I am in control of that object.  You just made me think of something.  Maybe my function app is using 32bit.  I will do some more digging otherwise I will try to add the [long] cast.

Thanks.
Scott.

[2019-10-10 01:08] rscottwatson commented on #353
I think this might be causing the issue, but at this point it is just a hunch

    "use32BitWorkerProcess": true,

From resources.azure.com

![image](https://user-images.githubusercontent.com/19327943/66531200-f83b9280-ead8-11e9-8946-e0663440bfe5.png)

[2019-10-10 01:13] AnatoliB commented on #353
@rscottwatson PowerShell in Functions currently always runs in a 32-bit process. We are going to fix this soon to make this match the App platform configuration. However, this may or may not be related to your issue, as it depends very much on how exactly you create this data. For example, `$a = 1` will **always** result in an int32 value, and `$a = [long]1` will **always** give you an int64 value

[2019-10-10 13:51] rscottwatson commented on #353
So I did further testing and the table that gets created is always created with Int32 regardless if the object that I am passing in my array is a [long] or even an Int64 type.

![image](https://user-images.githubusercontent.com/19327943/66574964-26ee5300-eb43-11e9-8090-9d50ef2d0296.png)

[code]

Produced the following output
[code]

[2019-10-10 15:46] sunnydewangan commented on #232
Hi,

Is there any ETA on fixing this issue for 64-bit dotnet.exe in the Sandbox?

[2019-10-10 17:05] AnatoliB commented on #232
The fix I mentioned (https://github.com/Azure/azure-functions-host/pull/5011) should be deployed by October 30.

@sunnydewangan Let's make sure it addresses your actual issue, though. Please be aware that the AzureAD problem is _not_ caused by the dotnet.exe bitness. The [fix](https://github.com/Azure/azure-functions-host/pull/5011) will help the situation when someone want to use **64bit-only .NE

[2019-10-11 00:51] fabiocav opened #356 "Test"
test

[2019-10-11 01:09] rscottwatson commented on #353
@AnatoliB  Tried to make this as simple as possible with the following azure function.

[code]

Seems even the datetime column didn't get interpreted correctly.

![image](https://user-images.githubusercontent.com/19327943/66617194-1ae5ae00-eba2-11e9-8fed-1341818f58b9.png)

[2019-10-11 17:37] AnatoliB commented on #353
Thank you @rscottwatson, we'll need to take a closer look.

Could you please clarify this (from your original post):

What do you mean by that? Do you have something else reading from the table and it breaks because int64 is expected?

I realize this behavior looks surprising, and we will investigate this, but I'm trying to understand which problems this actually causes so that we come up with a r

[2019-10-11 17:57] rscottwatson commented on #353
Hi @AnatoliB

So my original process is reading information about the size of our databases created in azure and I am saving that information to a storage table.  One of the columns returned from search-graph is the size of the database in bytes ( which is returned in an int64 variable ) yet the load into the table fails because it tries to save the property as an int32 while push-outputbinding sh

[2019-10-12 17:00] alwaysharsha opened #357 "Powershell shell missing in the container mcr.microsoft.com/azure-functions/powershell:2.0"
#### What language does your question apply to? Powershell

#### Question
In the docker image **mcr.microsoft.com/azure-functions/powershell:2.0** There is no powershell pre-installed due to which the powershell scripts aren't running.

CMD > **docker run -it mcr.microsoft.com/azure-functions/powershell:2.0  pwsh**
C:\Program Files\Docker\Docker\Resources\bin\docker.exe: Error response from daemon

[2019-10-14 20:16] AnatoliB commented on #353
The data is correctly propagated from the PowerShell worker to the Functions host, and then this code in the Storage extension breaks on int64: https://github.com/Azure/azure-webjobs-sdk/blob/ef265e20d4357f2a82871b63a778c99cb6aac8db/src/Microsoft.Azure.WebJobs.Extensions.Storage/Tables/Config/TablesExtensionConfigProvider.cs#L188

[code]

There are at least two issues here:
- This code tries to co

[2019-10-15 18:17] rscottwatson commented on #353
Thanks @AnatoliB I am looking into using the AzTable module to see if that will provide different results.

[2019-10-15 18:25] AnatoliB commented on #353
One more workaround idea: output these values as strings using any serialization you can (Json, .ToString(), etc.), and make sure the consumer of this data knows how to deserialize it.

[2019-10-16 21:18] AnatoliB commented on #357
@alwaysharsha This image contains the PowerShell worker for Azure Functions. In order to execute PowerShell code, the worker uses PowerShell SDK directly, so there is no need to invoke pwsh.exe or have it installed on the image just for the purposes of running PowerShell functions. I realize that there are scenarios where invoking pwsh.exe from PowerShell functions is also desirable, so we _may_ w

[2019-10-18 02:01] #356 closed

[2019-10-22 14:19] alwaysharsha commented on #357
I have downloaded a Powershell module from Powershell gallery and placed in modules folder.

In the run.ps1 i am just referencing the cmdlet to set the Bitbucket server url
https://github.com/i9shankar/ps-bitbucket/#set-server-url

When i build the docker image and execute its unable to identify the module and load, see the error message mentioned below.

If the same i execute outside the docker u

[2019-10-22 20:53] AnatoliB commented on #357
This error message is normally caused by one of these reasons:

- the module is not on PSModulePath, so PowerShell cannot find it (you can check this by tracing the `$env:PSModulePath` value at the beginning of your function, it normally contains something like `/home/site/wwwroot/Modules:/azure-functions-host/workers/powershell/Modules`, and then either adjust your module location on the containe

[2019-10-23 17:23] premaarya commented on #304
I am facing the same issue and deleting the ManagedDependencies directory is not helping.
Anyone found a solution.

[2019-10-23 17:25] anirudhgarg commented on #304
@premaarya what are you seeing ? Can you be more specific.

[2019-10-23 17:47] premaarya commented on #304
My function works perfectly in the local VS Code. After deployment the function is getting invoked getting follwing error:
[code]

[2019-10-23 17:53] AnatoliB commented on #304
@premaarya You are probably trying to use **az CLI** in your code (not the same as the **Az module**). Please note that **az CLI** is currently not installed on the functions sandbox on Azure. Is there a way to achieve what you want by using Az modules?

[2019-10-23 18:11] premaarya commented on #304
@AnatoliB  looks like this is the exact issue I took the Az Module same as az CLI ... looks like they are different. Thank for pointing that out.
I am learning ..will see if same commends avaiable in Az Module.

[2019-10-24 18:15] AnatoliB commented on #221
In the meantime, the following workaround has been verified:

- Deploy the content of the local "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2" folder to the app (e.g. upload it to the file share for the function app using storage explorer).
- Add an alias for the az command to this path in the profile.ps1:
`Set-Alias -Name az -Value "d:\home\data\CLI2\wbin\az.cmd"`

After that, the following f

[2019-10-24 18:17] AnatoliB commented on #304
Here are the instruction on how to use **az CLI** if this is what you need: https://github.com/Azure/azure-functions-powershell-worker/issues/221#issuecomment-546039332

[2019-10-29 21:01] #357 closed

[2019-10-31 05:42] janegilring opened #359 "Modifying TrustedHosts"
Scenario: An Azure Function connected to a VNet have access to on-premises Windows servers it needs to remote into.

To accomplish this, we would need to add the names/IP addresses of the target machines to the TrustedHosts property in the WSMan configuration.

I tried this from an Azure Function:
Set-Item WSMan:\localhost\Client\TrustedHosts -Value *

Which resulted in this error:
ERROR: Set-Item

[2019-10-31 05:44] janegilring opened #360 "Support for Azure App Configuration"
Is Azure App Configuration supported when using the PowerShell worker?

The [Quickstart: Create an Azure function with Azure App Configuration](https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-function-csharp) refers to using Visual Studio to add references to Microsoft.Extensions.Configuration.AzureAppConfiguration.

Is it as simple as adding a using statement refer

[2019-10-31 16:47] JustinGrote commented on #359
Remoting doesn't work at all in functions due to the sandboxing of the app
service runtime it runs on. Since you can publish fu cations into a
container now, it might be possible that way however, but it won't work on
the consumption plan in any way I've tried.

On Wed, Oct 30, 2019, 10:42 PM Jan Egil Ring <notifications@github.com>
wrote:

[2019-11-05 05:54] sunnydewangan commented on #232
Thanks, @AnatoliB

[2019-11-05 12:26] TylerLeonhardt commented on #232
Side note, the Azure AD module should "just work" in PowerShell 7 so once Azure Functions adopts PowerShell 7, this scenario should be fixed

[2019-11-05 18:16] anirudhgarg commented on #232
@TylerLeonhardt is this because in PowerShell 7 we have added additional support for API's that are being used by the Azure AD module ?

[2019-11-06 14:34] TylerLeonhardt commented on #232
Correct. The Azure AD module loads Windows GUI dll which was not possible to load in PowerShell Core 6.

Of course, a Function App can't do anything with Windows GUIs so the user needs to do whatever they need to do with a "non-interactive mindset" in mind.

This also applies to the Exchange Online module and a few others.

[2019-11-12 16:37] invisibleaxm commented on #259
@TylerLeonhardt once again thanks for your time at ignite, after coming back I tried with the Powershell (Preview) extension for vscode (on windows) and the work-around you mentioned seems to be working. It is not ideal but definitely helps me work-around this issue and will speed things up for us.

Thanks again!

[2019-11-12 17:04] TylerLeonhardt commented on #259
So glad that works for you @invisibleaxm! I hope our chat at Ignite has helped in understanding how non-trivial this bug is. That said, it's my top priority once the code in the PowerShell Preview ext has made it into the PowerShell stable one!

[2019-11-15 22:25] Francisco-Gamino opened #362 "Change wording and severity of the "Downloading managed dependencies message"."
Change wording and severity of the "Downloading managed dependencies message".

[2019-11-15 22:30] Francisco-Gamino commented on #362
Current message: "Managed dependency download is in progress, function execution will continue when it's done."

New message: " The first managed dependency download is in progress, function execution will continue when it's done. Subsequent updates will be performed in the background."

Change severity to warning from informational.

[2019-11-18 13:50] Boriszn opened #363 "Azure Powershell 2.0 Class support"
Hi Team,

First of all, Thank you so much for the **great job**.

I have 2 questions:

- Does PowerShell  Azure Function worker 2.* support Power Shell Classes ?
- If yes, will class based function be supported in the future ?
I didn't found this in the documentation.

Thank you a lot for the answers, in advance, and best regards,
Boris

[2019-11-18 17:13] JustinGrote commented on #363
@Boriszn it supports everything powershell core supports. That said, PowerShell Classes were primarily designed to make DSC easier, there's been no further development on them in years and they are quite limited, so ask yourself if you really need a class or if it can be accomplished either by an existing dotnet type or a series of functions.

[2019-11-18 21:19] AnatoliB opened #364 "Set $ErrorActionPreference to Stop in PowerShell function templates code"
**Problem**

By PowerShell design, the default value of `$ErrorActionPreference` is `'Continue'`. New PowerShell users who are not familiar with the concept of non-terminating errors often get confused by the result: the PowerShell function execution seems to be completed successfully but has not in fact performed what it was supposed to perform, and the only way to notice this is to look at the l

[2019-11-18 21:55] JustinGrote commented on #364
Makes sense to me and wouldn't be a breaking change unless someone has some edge case where they are doing code generation off the existing templates and expecting a certain behavior (pretty unlikely)

[2019-11-20 07:59] anirudhgarg commented on #364
@AnatoliB  are we planning to add this to the profile.ps1 ?

[2019-11-20 10:41] wstinkens commented on #77
Since PowerShell support for Azure functions is now GA, any updates on Durable Functions support for PowerShell?

[2019-11-20 14:00] AnatoliB commented on #364
@anirudhgarg I was actually thinking about `run.ps1` instead. Technically, both `profile.ps1` and `run.ps1` would work. However, the decision to use a non-default `$ErrorActionPreference` should normally be coupled with the content of a specific script, i. e. you would want to author your script differently depending on the `$ErrorActionPreference` value. Also, `profile.ps1` is more implicit and l

[2019-11-20 14:06] AnatoliB commented on #77
Currently work in progress.

[2019-11-20 14:55] AnatoliB opened #365 "PowerShell command analysis cache files are created at a wrong location"
After invoking a function on Azure for the first time, a PowerShell command analysis cache file is created at .../site/wwwroot/**Microsoft/PowerShell/**. This is a problem because:

1. Depending on the deployment options, this location may not be writable. In this case, PowerShell will not be able to take advantage of the cache, which may impact execution performance (the impact has not been measu

[2019-11-20 15:09] AnatoliB commented on #365
Also, if the function invokes Azure PS commands, the following file is created: .../site/wwwroot/**.Azure/AzurePSDataCollectionProfile.json**.

[2019-11-21 03:43] nerddtvg opened #373 "Azure Functions for PowerShell Fail to Load Custom C# with Add-Type"
When using Azure Functions for PowerShell, loading a custom assembly or DLL using Add-Type will fail because of the missing reference assembly directory. The offending code is in PowerShell when initializing the `Microsoft.PowerShell.Commands.AddTypeCommand` class. Specifying -ReferenceAssemblies in the parameters does not bypass the problem.

This is called out here: https://github.com/PowerShell

[2019-11-21 10:11] Boriszn commented on #363
Thank you a lot, now this is clear for me.

[2019-11-21 10:11] #363 closed

[2019-12-09 14:00] nnekaede opened #368 "Could not attach to process with CustomPipeName: 'AzureFunctionsPSWorker'"
I have a PowerShell Function App which I would like to build and test locally. Previously, I could run locally with no issue, but now this is no the case. When I type `func host start` or F5, I am prompted with the following error:

When I click install, I get the following error:

*** I have opened this issue in the vscode-azurefunctions repo as well. As I am not sure who can help me: https://git

[2019-12-09 14:45] Abdul-Sen commented on #77
Any update on this guys? Is MS planning on adding support for this?

[2019-12-09 17:57] anirudhgarg commented on #368
@nnekaede thanks for reporting. In the flow that you describe above are you using VSCode to build and test ?

[2019-12-10 18:22] nnekaede commented on #368
Yes I am

[2019-12-10 20:17] AnatoliB commented on #368
Thank you @nnekaede, could you please share your Azure Functions Core Tools version (`func --version`)?

[2019-12-10 21:56] AnatoliB commented on #368
@nnekaede Also, could you please check if your logs contain messages like this:

[code]

If they do, please check if you have .NET Core 2.2 installed on your machine and if not install it and try again.

[2019-12-11 00:50] anirudhgarg commented on #77
@Abdul-Sen please see Anatoli's comment above. https://github.com/Azure/azure-functions-powershell-worker/issues/77#issuecomment-556017475

 We can confirm that we have started to work on it. We have non-production supported early prototype implementation for the chaining pattern. If you would like to try it contact @AnatoliB

[2019-12-11 23:28] AnatoliB commented on #77
If you want to try this out, see the [instructions](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/docs/durable-experimental-instructions.md).

[2019-12-12 15:29] nnekaede commented on #368
Heres the thing. I have installed Azure Functions Core Tools v2, specifically 2.7.1948. I have done so using this command: `npm install -g azure-functions-core-tools`. But when I press F5 it still prompts me to install Azure Functions Core Tools.

So I click install. From there it installs the same exact package and gives me the error `Could not attach to process with CustomPipeName: 'AzureFunctio

[2019-12-12 15:30] nnekaede commented on #368
The json file I mention above says the following:

`{
    "version": "0.2.0",
    "configurations": [

        {
            "name": "Attach to PowerShell Functions",
            "type": "PowerShell",
            "request": "attach",
            "customPipeName": "AzureFunctionsPSWorker",
            "runspaceId": 1,
            "preLaunchTask": "func: host start"
        }
    ]
}`

[2019-12-12 20:00] Francisco-Gamino commented on #368
Hello @nnekaede, I was able to repro this issue.

To fix this, could you please try the following?
* Reinstall the latest version of the Azure Functions extension for VSCode
* Install the latest version of .Net Core **2.1** and **2.2**
* Install the latest version of the Core Tools. Based on your previous comment above, it looks like the Core Tools is not being added to your path. This should be r

[2019-12-17 11:36] Happycoil commented on #337
This sure does make debugging difficult. Is it possible to simulate this error locally? I'm currently debugging an issue like this by throwing stuff against the wall and running the publish pipeline, which is not productive.

[2019-12-17 13:12] Happycoil commented on #337
RE: local replication - looks like I was running an older version locally. I can repro the bug locally now for debugging!

[2019-12-17 16:51] OneCyrus opened #371 "manually specify powershell version (e.g. 7)"
is there a way to change the used powershell version? would like to give powershell 7 rc1 a try as we have some code which doesn't work with PS6.

[2019-12-17 17:14] Francisco-Gamino commented on #368
Hi @nnekaede, could you please let us know if installing the latest version of both .**Net Core 2.1** and **2.2** solve your issue? Thanks!

[2019-12-17 17:35] JustinGrote commented on #371
The azure functions core tools (the one you run locally) might be able to do it but you'd have to modify the source code, there's no built in option.

No roadmap's been published yet for upgrading the worker to 7, I imagine that will coincide with the upgrade from functions runtime v2 to v3.

[2019-12-17 18:26] AnatoliB commented on #371
We will allow switching to PS7 soon after PS7 goes GA.

Right now, the only way to use PS7 in Functions is to package/deploy the PS7 files together with your app and invoke pwsh.exe from your Function code (which I would recommend only if you have a very strong reason).

By the way, Functions runtime v3 is currently released, and it also uses PS6.

[2019-12-18 21:25] nnekaede commented on #368
Hi. I am sorry for the late reply.

I followed your steps. I reinstall azure functions vs code extension. I installed the .net core, and I installed azure core tools.

My .net is up to date:
[code]
With regards to Azure Core Tools, I still have no luck.
[code]

[2019-12-18 21:46] Francisco-Gamino commented on #368
Adding @ankitkumarr for FYI.

Hi @nnekaede. Are you installing the Core Tools via `npm`? Also, please install **.Net Core 2.1**. Lastly, what's your default shell in VSCode? Are you setting it to be `pwsh` (PowerShell)?

[2019-12-19 17:09] nnekaede commented on #368
Hi, @Francisco-Gamino I am installing Core Tools using npm specifically `npm install -g azure-functions-core-tools`.

My Default shell is Git Bash. But I also have Command Prompt, Powershell, Powershell Core (pwsh). When I am installing azure functions core tools I am using Powershell Integrated Console.

I have installed both .net core 2.1 and 2.2
[code]

[2019-12-20 08:52] Ba4bes opened #377 "PowerShell: can't load Microsoft.PowerShell.Utility."
I have the same error as mentioned in [this issue](https://github.com/Azure/azure-functions-core-tools/issues/1288).

`[Process:4688]: PS C:> The module 'Microsoft.PowerShell.Utility' could not be loaded. For more information, run 'Import-Module Microsoft.PowerShell.Utility'.
At line:0 char:0`

`[Process:4688]: PS C:> Debug-Runspace : The term 'Debug-Runspace' is not recognized as the name of a cm

[2019-12-20 18:26] Francisco-Gamino commented on #377
Hello @Ba4bes,

Are you getting this error when you run the function app using the Core Tools? Or when running the Core Tools via VSCode?

Could you please send me the the following outputs?

[code]

Thanks,
Francisco

[2019-12-20 18:52] Francisco-Gamino commented on #368
Thank you @nnekaede for the additional information. Could you please try the following?

1) Open pswsh (PowerShell) and run `func --version`. Do you get an output here? If you do, then move to step 2. If you don't, then let me know and we'll fix this first.

![image](https://user-images.githubusercontent.com/12720858/71283990-87a1c500-2316-11ea-9917-289f9bd74e70.png)

2) Open VSCode --> Open your

[2019-12-21 12:17] Ba4bes commented on #377
Hi @Francisco-Gamino , thank you for your time!
I use the core tools from VSCode, with the Azure Functions extension.
So I create a local Azure Function and try to run the debug mode, that is where the failure happens.

[code]

In an effort to get this to work I had removed all the .NET Core SDKs (and the Function Core tools) and start reinstalling them as needed, these 3 versions seemed to be the

[2019-12-23 22:02] Francisco-Gamino commented on #377
Thank you @Ba4bes for the additional information. Could you please try the following?

1) Open pswsh (PowerShell) and run `func --version`. Do you get an output here? If you do, then move to step 2. If you don't, then let me know and we'll fix this first.

![image](https://user-images.githubusercontent.com/12720858/71283990-87a1c500-2316-11ea-9917-289f9bd74e70.png)

2) Open VSCode --> Open your Po

[2019-12-23 23:26] Francisco-Gamino commented on #368
Hello @nnekaede, I am going to be out of the office for a couple of weeks, and I will not be able to look at this until I come back on 1/7/20.

Thanks,
Francisco

[2019-12-23 23:27] Francisco-Gamino commented on #377
Hello  @Ba4bes, I am going to be out of the office for a couple of weeks, and I will not be able to look at this until I come back on 1/7/20.

Thanks,
Francisco

[2019-12-24 14:09] Ba4bes commented on #377
hi @Francisco-Gamino ,
Thank you so much for your time and effort.

I did all the steps that you described, got all the output you described. But after step 3 the same thing happens. I have the feeling the function isn't even hit, so it doesn't hit Wait-Debugger.

What I do see, is that even if I put it in pwsh (which already is the default, it switches to the PowerShell integrated Console before

[2019-12-29 19:11] Ba4bes commented on #377
Alright I  have made  process. This might have been because I played around with the dotnet installation, but I got it working in VSCode now when I use Func Host Start.
The issues start when I use the debug-button in vscode. So the problem is not with the Function Core tools, but with either the PowerShell extension or the Azure Functions extension.

@Francisco-Gamino thank you for your help. I gu

[2019-12-31 22:01] mhoeger commented on #359
@alexkarcher-msft - mind weighing in?

[2019-12-31 22:26] anirudhgarg commented on #359
I can confirm that this will not work for Consumption plan. Have you tried using the Premium plan. Have a look at this doc article: https://docs.microsoft.com/en-us/azure/azure-functions/functions-hybrid-powershell and this video: https://www.youtube.com/watch?v=jwVyFgUeRaA

[2020-01-02 19:07] alexkarcher-msft commented on #359
I believe if Win-RM is not allowed in the Consumption plan it will not be allowed in any plans due to the sandbox restrictions. There is a pretty decent list of what is and is not supported in the sandbox here: https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox

If WinRM remoting is not supported it would be worth adding to that doc.

[2020-01-02 23:13] JustinGrote commented on #359
@alexkarcher-msft I think what he means is not using Premium directly, but rather having the premium Azure App Service host in turn reach out to an Azure VM or onprem system via the hybrid powershell connector and do the WinRM work there. It's ugly but it's a way.

Alternatively you could just reach out to an Azure VM directly from the function via other means, but doing remoting operations direct

[2020-01-06 14:16] nnekaede commented on #368
Happy New Year. When I run` func --version`, I get an error.

`func : The term 'func' is not recognized as the name of a cmdlet, function, script file, or operable program.`

[2020-01-06 22:47] Francisco-Gamino commented on #368
Adding @ankitkumarr (for Core Tools)

Hello @nnekaede, Happy New Year to you as well. Are you getting the error above from running ` `pwsh`? If you are, it looks like you could not passed step 1. Are you available tomorrow Tuesday 1/7 for a 30 minute call? This way we can debug your environment via video call. I am available from 11:00-11:30 am and 1:00-3:00 pm Pacific Standard Time. Let me know.

[2020-01-06 23:44] Francisco-Gamino commented on #377
Hi @Ba4bes, apologies for the delay, but I was OOF on vacation.

Sounds like this is an issue related to `pwsh` not being default terminal in the VSCode Extension.
Could you please remove all other shells (from the default terminal) and add only add `pwsh`?

![image](https://user-images.githubusercontent.com/12720858/71857108-21999980-309b-11ea-9acc-215471f444db.png)

If this does not fix the issu

[2020-01-07 17:07] shibayan opened #374 "[In Portal] EventGrid Trigger execution failed with NotImplementedException"
### Repro steps

1. Create new Function App with PowerShell Core stack
2. Add new function in portal
3. Select `EventGrid Trigger` function template
4. Confirm `Microsoft.Azure.WebJobs.Extensions.EventGrid` installing dialog
5. Select created function and click `Run` button

### Error log

[code]

### Addtional information

- Runtime version: 2.0.12888.0 (~2)
- Platform: Windows
- ASP Tier: Consum

[2020-01-07 18:16] nnekaede commented on #368
Yes I get this error in Powershell. I can meet at 1:00 which is my 3 pm.

[2020-01-07 18:26] Francisco-Gamino commented on #368
Hi @nnekaede, I will send you a meeting request to the main email address in your profile. I will sync with you at 1 pm PST.

[2020-01-07 18:36] nnekaede commented on #368
nneka.ede@chevron.com

[2020-01-07 18:41] Francisco-Gamino commented on #368
Hi @nnekaede -- meeting invite updated.

[2020-01-07 18:56] ankitkumarr commented on #368
Hi @nnekaede,

In the meanwhile, would you mind --
1. Running `%AppData%\npm\func --version` and see if that works.
2. If above works, you'd want to add to your `PATH` environment variable `%AppData%\npm` value. Then it should work as expected.

[2020-01-07 19:42] nnekaede commented on #368
@ankitkumarr unfortunately this did not seem to work either.

[2020-01-07 21:42] Francisco-Gamino commented on #368
Hi @nnekaede, thanks for attending the video call today. I am glad we were able to resolve this issue.

In summary, we needed to add `%AppData%\npm\func` to the `PATH` variable and make `pwsh` the default shell in the `Terminal` window in VSCode. After this, the debugger in the Azure Functions extension worked as expected.

I will go ahead and close this. Please do not hesitate to reach out if you

[2020-01-07 21:42] #368 closed, assigned to nobody

[2020-01-07 21:55] Francisco-Gamino commented on #373
Hello @nerddtvg,

This is a known issue (https://github.com/PowerShell/PowerShell/issues/9587), which has been fixed in PowerShell 7. For more info, please see https://github.com/PowerShell/PowerShell/pull/10587.

We are currently working on enabling PowerShell 7 in Functions. We do not have a ETA yet, but as soon as we do, I will update this issue.

Thanks,
Francisco

[2020-01-07 23:24] Francisco-Gamino commented on #360
Hi @eamonoreilly, do we plan to support this in PowerShell? If we do, we should added to the backlog. Here is the link to the C# quick start: https://docs.microsoft.com/en-us/azure/azure-app-configuration/quickstart-azure-functions-csharp.

[2020-01-08 14:57] Ba4bes commented on #377
I have pwsh as the default terminal and when I type "func host start" evertything works as expected.

When I use the debug button in vscode though, it opens up the PowerShell integrated console and that is when I get the error. This is why I suspect now that it is an issue with the PowerShell extension instead of the PowerShell Function Core tools.

This is what happens after I press the debug but

[2020-01-08 17:04] Francisco-Gamino commented on #377
Hi @Ba4bes,

What version of pwsh are you using? You can get this information by running `$PSVersionTable` in `pwsh`.

Are you available for a videocall? If you are, Here is my availability in Pacific Standard Time:
1/8/20: 9:30-11:30 am, 1-2:30 pm, 3-4 pm
1/9/20: 1-2 and 3-4 pm
1/10/20: 9-11:30 and 3-4 pm

Let me know what day and time works for you. Please share an email where I can send the mee

[2020-01-08 18:50] eamonoreilly commented on #360
This appears to be supported https://github.com/Azure/AppConfiguration/issues/232 but I'm not sure if it is complete for all scenarios. If there are specific capabilities missing in the module, I would update the above issue with the ask or perhaps open up a new issue on the repo.
Closing this issue as it is better tracked in the AppConfiguration repo unless a specific Azure Functions issue comes

[2020-01-08 18:50] #360 closed

[2020-01-08 20:57] Francisco-Gamino opened #375 "Enable remote debugging for PowerShell Function apps"
Remote debugging for C# functions apps is possible via Visual Studio. This work item is to track and figure out what pieces need to be enable to support this for PowerShell function apps.

[2020-01-08 21:01] Francisco-Gamino commented on #375
The work to enable this for the Node worker is being tracked by https://github.com/Azure/azure-functions-host/issues/5344.

[2020-01-08 21:07] Francisco-Gamino commented on #375
cc @pragnagopa

[2020-01-09 03:00] JustinGrote commented on #375
It seems to me trying to use any of the native c# stuff would be difficult, instead I would follow the PSES/VSCode Powershell Extension's lead and use the powershell host to trigger a debug, but rather than a pipe like PSES/VSCode uses it could be a remote session that shows up in the log with an IP, and then you can attach a debugger using the normal remote powershell methods. This might be diffi

[2020-01-09 07:32] Ba4bes commented on #377
Powershell version:
[code]

Powershell extension in vscode
[code]
Azure Functions Extension in vscode
[code]

I'm in Central European Time, so there are not a lot of time zone overlaps. Would between 11AM and 1PM PST work for you today (Thursday)?

[2020-01-09 19:02] Francisco-Gamino commented on #377
Hello @Ba4bes, I could do 11 am to 12 pm today. Let me know if you are available. Also, what's your email address?

If this does not work. Are you available tomorrow 1/10? If you are, this is my availability: 9am-12pm and 3-4 pm.

[2020-01-09 19:51] Ba4bes commented on #377
Hey @Francisco-Gamino ,
I'm sorry, something came up, I can't make it today. I can make 9AM work tomorrow
I have just followed you on Twitter, could you send me a private message? That way I don't have to put my email address on the internet :)

[2020-01-09 20:01] Francisco-Gamino commented on #377
Hi @Ba4bes -- 9 am works. Please send me your email address via private message.

[2020-01-09 20:04] Ba4bes commented on #377
Great! I can't send you a message though unless you follow me or you start the conversation 😉

[2020-01-10 01:11] eamonoreilly commented on #359
I'll investigate this using vNets and update the thread here. For now, you can also use hybrid connections to do remoting to VMs on premises (or in Azure or other clouds) from the function app. https://docs.microsoft.com/en-us/azure/azure-functions/functions-hybrid-powershell
Thanks,
Eamon

[2020-01-10 03:23] Francisco-Gamino commented on #377
Hey @Ba4bes, I sent you a private message. Please reply. I will talk to you tomorrow at 9 am. Have a good night.

[2020-01-10 18:00] pragnagopa commented on #375
FYI:
- Remote debugging tools for java functions: https://www.npmjs.com/package/cloud-debug-tools
- More docs: https://code.visualstudio.com/docs/java/java-azurefunctions#_remote-debugging

[2020-01-10 20:54] bwarren18 commented on #232
I modified this workaround a little to improve the speed (from 13 seconds to 1).

[code]

Is 64-bit Process: False
Is 64-bit Process: True

[2020-01-13 18:38] eosfor commented on #360
I did some quick and dirty implementation of some of our immediate needs: https://github.com/eosfor/psapcfg

However, implementing this as a binary module for Powershell did not go well: https://github.com/PowerShell/PowerShell/issues/11560

[2020-01-14 15:21] Ayanmullick opened #376 "PowerShell cmdlet to create a function"
There should be a PowerShell cmdlet to create a function in a FunctionApp. The PowerShell-equivalent of `func new --name HttpTrigger --template "HTTP trigger"`

https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-python#create-a-function

[2020-01-14 15:53] JustinGrote commented on #376
Here you go, free of charge 👍
https://gist.github.com/JustinGrote/d751dd1b05ef0db35921da01e375a5ab

[2020-01-14 21:24] Francisco-Gamino commented on #377
This issue is not caused by the Core Tools, so moving to the PowerShell Worker for tracking.

[2020-01-15 15:24] Ayanmullick commented on #376
The above applies only when creating a function thru the VSC extension. Not while creating a function directly in Azure thru PowerShell.

`New-AzAppServicePlan -Name <> -Location eastus -ResourceGroupName test -Tier Y1 -Verbose`
Creates a consumption tier plan
`New-AzFunctionApp -OSType Windows -Runtime PowerShell -ResourceGroupName test -Name <> -StorageAccountName <> -PlanName <> -SubscriptionId

[2020-01-15 16:38] JustinGrote commented on #376
@Ayanmullick that's different than what you're asking, func new doesn't create a function in Azure, it creates the relevant code in a project on your local machine.

The equivalent you're looking for is `func azure functionapp publish` or `az functionapp deployment`. The equivalent command in Powershell is `Publish-AzWebApp`.

You can also deploy via azure pipelines, github actions, the vscode ext

[2020-01-15 17:19] Ayanmullick commented on #376
I had created a support request [# 119110824003370]. The Microsoft PG asked to create an issue here.

[2020-01-15 22:01] JustinGrote commented on #376
@Ayanmullick  I'm not a Microsoft Employee but this repository covers the powershell worker itself, this team is not responsible for any cmdlets, that's the azure-powershell repository. Just saying it won't get fixed her so recommend redirecting it there :)

[2020-01-16 12:38] janegilring commented on #359
You understood the issue correctly.

I agree, it works but it is cumbersome.

That is also an alternative. Although, having to use a jumpbox via an SSH connection also feels cumbersome.

The scenario I am aiming for is to promote the idea of start using Azure Functions for hybrid automation scenarios, then it should work like people are used to in Azure Automation where regular PS Remoting just wo

[2020-01-16 20:41] eamonoreilly commented on #359
You can use VNets in an Azure Function premium (or app service plan) and do remoting to an on-premises or Azure VM connected to the vNet. If you follow the description on https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-vnet to set up a VM and a function app connected with the VM subnet.  You can follow the steps on https://docs.microsoft.com/en-us/azure/azure-functions/func

[2020-01-22 13:02] Ba4bes commented on #377
After extensive troubleshooting we have found no way to fix this issue, but also no way to reproduce.
I have reinstalled my laptop (while keeping files) and removed all my profile-folders that start with a dot.
This has fixed the issue. Thank you everyone for your time and effort. I will close this issue.

[2020-01-22 13:02] #377 closed, assigned to Francisco-Gamino

[2020-01-22 18:58] Francisco-Gamino commented on #377
You are welcome @Ba4bes. I am glad the debugging issue was issue was resolved. Please do not hesitate to reach out if you ever need help for PowerShell in Functions.

Thanks,
Francisco

[2020-01-22 21:20] AnatoliB opened #384 "For PowerShell 7, use the new Get-Error cmdlet instead of the custom error formatting logic"
Compare the content of error reports produced by the custom logic implemented in the PowerShell worker with the content the new Get-Error cmdlet produces. If all the relevant data is present, just replace the custom code with a Get-Error invocation. If something important is missing, consider filing a PowerShell issue instead.

[2020-01-24 07:31] VOVELEE opened #386 "Unable to use User Managed Identity in Azure Function"
Hi All,

I am trying to use managed identity to access Azure resources and getting error below during profile script run.
Has anyone managed to use user managed identity?

**hosts.json**
[code]
**requirements.psd1**
[code]

**Profile.ps1**
Contains only one command:
[code]

**Error:**
`2020-01-24T07:22:29.234 [Error] Executed 'Functions.HttpTrigger1' (Failed, Id=a664117f-0304-45f4-9aee-b46397b4551

[2020-01-24 07:47] #386 closed, assigned to nobody

[2020-01-27 17:41] asears opened #389 "HttpResponseContext included in tests, missing peter test examples"
The tests currently include the HttpResponseContext type in the binding.  Can someone provide sample Powershell Pester Test for verifying and for mocking the function below with HttpResponseContext included?

[code]

What happened to the code changes merged by this pull request to remove the dependency on HttpResponseContext / get rid of the import statement?

https://github.com/Azure/azure-functi

[2020-01-27 17:48] JustinGrote commented on #389
I see you're using Push-HTTPBinding, I don't think that's part of the Azure Functions code natively, it's a convenience function I wrote (assuming you're using the same thing) and showed in #208

Have you tried push-outputbinding natively?

[2020-01-27 22:23] TylerLeonhardt commented on #373
This has been backported to 6.2.4 version of PowerShell.

[2020-01-27 23:44] JustinGrote commented on #238
@anirudhgarg 6-month status check, is this still viable?

In my experience with Azure Functions Powershell, there's a lot that can be done to help correlate an exception to a series of traces, right now I have a very complicated join search in order to find them.

[2020-01-27 23:45] JustinGrote commented on #208
@Francisco-Gamino, @eamonoreilly looks like he no longer contributes as of October but this item is assigned to him. Perhaps get it re-evaluated and potentially re-resourced to @anirudhgarg  or @AnatoliB perhaps?

[2020-01-29 04:56] janegilring commented on #359
Thanks Eamon, I tried this out and it did work as intended.

Setting up HTTPS listeners on all target machines would be cumbersome and even difficult in some environments. I have a customer with ~1200 servers which is target by some scheduled runbooks, ranging from Windows Server 2008 R2 to Windows Server 2019.
Even though it is theoretically possible to enable HTTPS on all those servers it will p

[2020-01-29 16:03] eamonoreilly commented on #359
Thanks Jan for trying this solution out and for the feedback. I agree that generally it would make sense to have a couple of jump boxes configured in the environment and then use those to access the rest of the environment. You can see this in practice on https://docs.microsoft.com/en-us/azure/azure-functions/functions-hybrid-powershell#managing-other-systems-on-premises where we remote to a jump

[2020-01-29 22:51] Francisco-Gamino commented on #257
All Azure Function clients (Core Tools, Portal (Host code change), and VSCode Extension) support this now. Closing issue.

[2020-01-29 22:51] #257 closed

[2020-01-30 00:53] thierrybrunet2c commented on #359
PSRemoting from Powershell Function on consumption plan to Windows VM [over WSMan]  works great for us. Have to be careful in installing Powershell 7 rc2 everywhere and using -ConfigurationName "PowerShell.7.0.0-rc.2. We use this extensively on Prod and several lower environments. However, remoting to Linux VM [over SSH] does not work (we get ssh.exe not found error message. Under kudu, ssh.exe ru

[2020-01-30 22:40] eamonoreilly commented on #389
Push-HTTPBinding is not supported in the platform. We will keep #208 open to track improvements there.

[2020-01-30 22:40] #389 closed, assigned to nobody

[2020-01-30 23:00] eamonoreilly commented on #310
Closing this out given the usage of the app settings to control concurrency.

[2020-01-30 23:00] #310 closed

[2020-01-31 23:17] #384 closed, assigned to AnatoliB

[2020-02-03 20:55] asears commented on #389
Are there any pester test examples with the default Push-OutputBinding and HttpResponseContext?
I'm just trying to create a test and I think the HttpResponseContext is part of Microsoft.Azure.Functions.PowerShellWorker.Utility.  Probably I need to import the associated namespace, working on that.  I have not seen any example tests for https://github.com/Azure/azure-functions-powershell-worker/blob

[2020-02-04 11:15] santoshdwivedi90 commented on #309
Hi I am also facing same issue. please let us know when it iwll be fixed?

[2020-02-04 15:20] JustinGrote commented on #389
@asears Not sure how deep you're looking to go with the pester testing, but you generally can't go much beyond your Push-OutputBinding.

What I do is I mock Push-OutputBinding and then do Should tests against the parameters that are on Push-OutputBinding for my unit tests, but that doesn't test that Push-OutputBinding actually is returning what you're expecting.

If you wanted to get fancy, you co

[2020-02-04 18:33] eamonoreilly commented on #309
This would need to be updated in the Service Bus output binding code as it doesn't look like it currently supports it https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus?tabs=csharp#output

As an alternative, you can import the SDK and create the message and custom properties. I saw a sample on https://github.com/robotechredmond/Azure-PowerShell-Snippets/blob/mast

[2020-02-04 22:05] asears commented on #389
Thanks!  I'm getting a Type not found error on [HttpResponseContext] when importing run.ps1.  Doesn't seem to matter whether the function is mocked or not.  It sounds like I would need to move this into it's own separate module to ignore it.

[2020-02-05 06:09] JustinGrote commented on #389
You can mock the type:
https://github.com/pester/Pester/wiki/New%E2%80%90MockObject

On Tue, Feb 4, 2020, 2:06 PM Andrew Sears <notifications@github.com> wrote:

[2020-02-07 17:25] oising opened #398 "Consider avoiding the use of powershell anti-pattern "return $foo""
As per:

https://github.com/Azure/azure-functions-powershell-worker/blob/v1.0.197/examples/durable/FunctionChainingApp/SayHello/run.ps1

While  `return` accepts explicit retvals, it should only ever be used in naked form for exiting a function early. Returning a value is considered an anti-pattern in powershell because it gives the impression to people unfamiliar with the language that `return` is

[2020-02-07 18:07] oising commented on #242
There are some internals in powershell that are used by powershell workflow that may be of use to keep a pool of runspaces warm, but it has an issue currently: https://github.com/PowerShell/PowerShell/issues/11318

Additionally, while it will reset variables, eventing, debugger and the tx manager, I'm not certain it will unload modules nor clear out function definitions. Worth a look though.

[2020-02-07 22:11] #349 closed

[2020-02-07 22:34] AnatoliB commented on #105
I'm not very clear on the first item. How would this be used?

The rest seems to be covered by the Managed Dependencies feature, so I'm closing this for now.

[2020-02-07 22:34] #105 closed

[2020-02-10 22:33] JustinGrote commented on #204
I would mention that once PS7 is available on the function host, this can probably be closed because $ErrorActionPreference = 'Break' will be available, assuming it works as expected, which would be an acceptable workaround.

[2020-02-10 22:50] eamonoreilly commented on #204
Thanks Justin - @TylerLeonhardt  said he would have a look at this now that PS7 supports it better.
Eamon

[2020-02-11 18:59] TylerLeonhardt commented on #204
Yep. A change was merged in to have a much better debugging experience in PS7. When Azure Functions moves to that this experience will be improved greatly.

[2020-02-12 11:47] janegilring commented on #359
@eamonoreilly On the flip side, having jump boxes kind of invalidates the concept of "serverless" though :) Azure File Sync will soon get support for adding a storage account/file share to an Active Directory in order to enable a hybrid scenario where NTFS authentication will just work against an Azure File Share. If it would be possible to add an Azure Function worker to an Active Directory domai

[2020-02-12 20:35] JustinGrote commented on #359
Important to emphasize this is using Powershell **over SSH**, not **over WSMan**.

[2020-02-13 02:19] AnatoliB opened #400 "Managed Dependencies: Gracefully handle the situation when the file storage is read-only"
On the first function load request, PowerShell worker looks for the latest acceptable dependencies snapshot under D:\home\data\ManagedDependencies, and tries to update the timestamp on a special file (`.used`) within the snapshot folder. In certain scenarios, this file storage becomes temporarily read-only. Unfortunately, PowerShell worker treats a failure to update the timestamp as a failure to l

[2020-02-14 01:36] eamonoreilly opened #401 "Investigate having the Az modules available for first time run of a function"
Managed dependencies will keep the Az modules updated in the background after the initial function call but we should look to remove this initial wait time by having the Az modules available.

[2020-02-14 02:00] thierrybrunet2c commented on #359
I have edited my original text accordingly. Thanks for requesting this essential clarification. Btw, I confirm that our nested remoting invoke works flawlessly [Consumption plan]. Indeed will update our code when the ssh.exe issue is fixed and  run time  3.0 works with Powershell Functions

[2020-02-14 02:17] thierrybrunet2c commented on #359
In our workaround for the ssh.exe fail issue when attempting ssh PSRemote to a Linux VM from an AzPwshFunction, the Windows VM that performs the SSH proxy for the Linux box is not really a jump box as it already exists in each of our 7 environments. The Windows VM does not store any data or code, just need to have the Pwsh 7 registered for remoting and the trustedhosts file updated.

[2020-02-18 21:04] VictorioBerra commented on #221
@AnatoliB can you elaborate on where to to upload the CLI2 folder?

You said:

I am using SE and I do not see a file share.

[2020-02-19 01:38] AnatoliB commented on #221
@VictorioBerra When you create a PowerShell Function app, a storage account is normally created in the same resource group, and this storage account contains an automatically created file share. You can access it in multiple ways, for example:
1. Using Storage Explorer: In the Portal, find the Function app and click on the **Overview** tab, then follow the link to the resource group. You will find

[2020-02-19 02:05] VictorioBerra commented on #221
@AnatoliB I have no file shares in mine. Does it matter that i'm hosting an existing app service plan on Windows? As for Kudu, if I upload the CLI2 as a zip I assume I simply unzip using a PS command?

[2020-02-19 02:14] AnatoliB commented on #221
@VictorioBerra I see. Yes we use a different kind of file storage on app service plan, so it is not on Azure Files, you are right. In this case, the Kudu method should still work. When you drag-and-drop a zip file into the browser window, Kudu will automatically unzip the content into the current location, preserving the directory structure in the zip.

[2020-02-19 02:58] VictorioBerra commented on #221
@AnatoliB I must have done something wrong with Kudu, I zipped the CLI2 directory, dragged the zip into my browser, it uploaded successfully but never extracted. This was about 30 minutes ago now
![image](https://user-images.githubusercontent.com/2934507/74797716-5d767000-5291-11ea-9090-c230d629ee5e.png)

[2020-02-19 03:12] VictorioBerra commented on #221
I was able to unzip manually in the PS console by just using `unzip CLI2.zip`. Its not done unzipping yet but it seems to be working.

EDIT: No luck. When I tried to do `az login --identity` in my run.ps1 I got the following error:

[code]

I have `Set-Alias -Name az -Value "d:\home\data\CLI2\wbin\az.cmd"` in my profile.ps1

[2020-02-19 19:32] #400 closed, assigned to AnatoliB

[2020-02-20 15:55] VictorioBerra commented on #221
I gave up and used the REST API to accomplish my task. IMO the PS Functions are severely lacking without the AZ CLI. The Azure Powersehll Module is not enough. For example, what is the equivalent of this in APM? https://docs.microsoft.com/en-us/cli/azure/webapp/webjob/triggered?view=azure-cli-latest#az-webapp-webjob-triggered-list

@anirudhgarg what is the ETA of the feature ask? Do you have a lin

[2020-02-20 22:59] Francisco-Gamino commented on #362
This issue has been fixed and merged.

[2020-02-20 22:59] #362 closed

[2020-02-24 10:20] dariuszbz commented on #221
@VictorioBerra by now it looks like the only way. see:
anirudhgarg commented on 28 May 2019 •
az cli is not available currently out the box in the functions powershell environment. This is a feature ask and we are looking into it.

[2020-02-24 13:27] DixonDalmeida commented on #77
Any Update?

[2020-02-24 23:02] #337 closed

[2020-02-26 21:09] aws-scripting-guy commented on #401
Relates to https://github.com/MicrosoftDocs/azure-docs/issues/48704

[2020-02-27 01:20] AnatoliB commented on #365
Waiting for https://github.com/PowerShell/PowerShell/issues/11945

[2020-02-28 05:29] #269 closed

[2020-02-28 05:31] #325 closed

[2020-02-29 23:50] JustinGrote opened #414 "Allow Module Entrypoints in Sub-Files"
When using the module entrypoint e.g.:
[code]

The function has to be defined in the psm1 file directly, it can't be defined in a sub-file which is the common module development pattern. I assume the parser doesn't actually evaluate the psm1, it just reads that file directly to determine if the functions exist.

## Workarounds
### Stub Function
Define a "stub" function in the .psm1, and replace it

[2020-03-02 23:26] JustinGrote opened #415 "[FeatureRequest] Alternative Logging Implementation"
The current logging hierarchy puts Verbose "below" debug in the log level, which is counter to common Powershell convention:

- Verbose is for higher, user-level detail as to what a command is doing
- Debug is for lower level Developer output such as current variable states and method call tracing

As such, if you enable LogLevel for "Debug", you will get debug messages before you get verbose mess

[2020-03-05 03:15] AnatoliB opened #417 "Allow installing modules that require accepting a license"
### Problem
Some modules on the PS Gallery (for example, MSAL.PS) require the user to accept a license, either by confirming accepting the license interactively, or by providing the `-AcceptLicense` switch when invoking `Install-Module`. It is currently impossible to use these modules in PowerShell Functions by just mentioning them in `requirements.psd1`. The workaround is to include these modules

[2020-03-05 15:09] Ghodot opened #464 "Make Powershell 7 available on Azure"
#### What problem would the feature you're requesting solve? Please describe.
Powershell 7.0 was released yesterday, on the 5th of March. As of today, it's only possible to use Powershell Core 6.0 when creating an Azure function resource on Azure.

#### Describe the solution you'd like
It should be possible to choose between version 6 and 7 of Powershell when creating an Azure Function resource.

[2020-03-09 15:50] pragnagopa opened #423 "Increase gRpc channel message size to int.MaxValue"
Related issue https://github.com/Azure/azure-functions-host/issues/5650

Channel Message Size is set here: https://github.com/Azure/azure-functions-powershell-worker/blob/8cab08b1440afb775a2375ebf1c54785387d5387/src/Messaging/MessagingStream.cs#L22-L26

Need to set these values to int.MaxValue and ignore host settings.

[2020-03-09 15:51] pragnagopa commented on #423
@AnatoliB  - can you help with this?

[2020-03-09 17:18] AnatoliB commented on #423
Please see this comment: https://github.com/Azure/azure-functions-host/issues/5650#issuecomment-596663178

[2020-03-09 22:09] #423 closed, assigned to AnatoliB

[2020-03-11 04:28] g0pinath commented on #221
I am looking to use az cli for some features that are not available in PS yet.
https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-start
Please let me know if there is an alternate. Az PS commands works from within the functions.

[2020-03-13 00:16] daxian-dbw opened #426 "Remove downloading 'Utility.psd1' and 'Management.psd1' from build"
It's about this `TODO` comment:

https://github.com/Azure/azure-functions-powershell-worker/blob/9651c98fbe8e6a31286f68a1f8af06ef5211dc81/build.ps1#L80-L84

PR https://github.com/PowerShell/PowerShell/pull/11832, which is included in PS 7.0, makes the `Microsoft.PowerShell.SDK` package bundle built-in PowerShell modules (those that are not published anywhere) properly for both Windows and Unix pla

[2020-03-13 00:17] daxian-dbw commented on #426
/cc @Francisco-Gamino and @AnatoliB

[2020-03-13 17:14] dpolivy commented on #371
@AnatoliB Now that PS7 is GA, any timeline for being able to use this with Azure Functions v3 runtime? I see the code appears to be committed to the repo, but not sure how to use it either locally or in Azure Functions without building myself?

[2020-03-13 18:17] AnatoliB commented on #371
@dpolivy Right now, building the worker from the dev branch is the only way. Expect PS7 to be available on Azure between the end of March and the middle of April. I will be updating this thread with more precise ETA and status as soon as I have them.

[2020-03-13 21:43] JustinGrote commented on #371
@dpolivy you can also download the built nupkg from Appveyor, rename it to .zip, and then extract it from there
https://ci.appveyor.com/project/appsvc/azure-functions-powershell-worker/builds/31432379/job/0bend5twai5dkg3e/artifacts
![image](https://user-images.githubusercontent.com/15258962/76661437-ad66f080-6538-11ea-9c70-e7b8fe4257eb.png)

Extract it to your workers directory for core tools per

[2020-03-13 21:48] AnatoliB commented on #371
@dpolivy @JustinGrote Thank you, Justin. If you do this, you also need to set the following variable before starting the function host locally:
[code]
You will not have to do this when we release PS7 support officially.

[2020-03-15 06:41] AnatoliB commented on #77
Please [try this out](https://github.com/Azure/azure-functions-powershell-worker/blob/dev/docs/durable-experimental-instructions.md), and thank you for your feedback!

[2020-03-16 04:27] ZanattaMichael opened #430 "Nested JSON Objects are Case Sensitive Hashtables"
**Explanation:**
When parsing a nested object within the HTTP body of the request, the nested object is de-serialized as a case-sensitive hashtable in PowerShell. They top-level object is converted to a case-insensitive table, however nested object's aren't.

{
    "nestedObject":  {
                         "PropertyName":  "TEST"
                     },
    "id":  0,
    "PropertyName":  "TEST"

[2020-03-17 09:21] whaakman opened #432 "Link to PowerShell worker nupkg is broken"
https://github.com/Azure/azure-functions-powershell-worker/blob/dev/docs/7o8dueat6aj7d2qc/artifacts/Microsoft.Azure.Functions.PowerShellWorker.PS7.3.0.261.nupkg returns a 404

[2020-03-17 16:30] JustinGrote opened #433 "[DurableFunctions] Example should use Extension Bundle instead of extensions.csproj"
https://github.com/Azure/azure-functions-powershell-worker/blob/dev/docs/durable-experimental-instructions.md#3-install-the-required-extensions

Is this step really necessary? The current extension bundles have the matching durable functions package, so this step adds a lot of compile time and complexity vs. just including the precompiled into host.json.

I did this in my host json:
[code]

And al

[2020-03-17 18:10] Francisco-Gamino opened #434 "PowerShell worker .Net version will not longer match the Host (runtime) version"
Note: The next release after .Net 3 is .Net 5. For more info on .Net 5, please see https://devblogs.microsoft.com/dotnet/introducing-net-5

PowerShell 7.1-preview1 will be compiled against .Net 5, for more info, please  see https://github.com/PowerShell/PowerShell/pull/12140

As a result of this, the PowerShell worker .Net version will not longer match the Host (runtime) version

[2020-03-17 22:50] #432 closed, assigned to nobody

[2020-03-17 22:50] AnatoliB commented on #432
@whaakman Thank you, fixed!

[2020-03-18 07:30] AnatoliB commented on #433
@JustinGrote This is a good idea in general, and would work right now. Unfortunately, it will stop working when we migrate to Durable Functions v2 (soon), as the required DurableTask version is not in the bundle yet. On top of that, the latest DurableTask 2.* contains a bug preventing us from using it, so I want to specify an exact version for now, to make these examples self-sufficient. We can re

[2020-03-18 07:30] #433 closed, assigned to nobody

[2020-03-18 16:05] IanKemp opened #436 "VS Code debugging kills func start"
I don't know how I did it but I managed to break `func.exe` by debugging a PS Azure function via VS Code:

[code]

After that last log message, nothing ever happens again. Regardless of whether I press F5 in VS Code, or restart VS Code, or run `func start` from a completely different console - she's dead Jim.

Process Explorer shows the following for `func.exe` during this time:

![image](https://

[2020-03-18 18:50] pragnagopa opened #437 "Update grpc references to the latest"
cc @AnatoliB

FYI: Host moved the latest grpc packages: https://github.com/Azure/azure-functions-host/commit/bfc22dd07004a1d4ad4b537d088b40ee54ce3ba7. There were no breaking changes in server.

Plan to move to latest packages

[2020-03-18 20:05] visualjeff commented on #77
How soon until this feature for PowerShell support goes GA?  Could you provide a ball park date?  Thank you!

[2020-03-18 20:50] JustinGrote commented on #77
I made a quickstart to help get started with this:
https://gist.github.com/JustinGrote/63983c9a53b4085d4710befea17bc913

[2020-03-18 21:42] JustinGrote commented on #244
@AnatoliB to expound on this item:

Given the following HTTPTrigger function:
[code]

This is what I get in App Insights:
![image](https://user-images.githubusercontent.com/15258962/77009575-5f316300-6925-11ea-833a-b7d7a8a40dc9.png)

Notes:

1. All errors are RPCException errors. I should have the original type of this error shown which is System.Management.Automation.RuntimeException. I have no w

[2020-03-19 00:55] AnatoliB commented on #244
Thank you @JustinGrote, I understand the issue.

I just want to make sure you know that the data you are asking for is in a different table in Application Insights:
[code]
[code]
The format of this data is different from your example because I took it from a PS6 app. As soon as we deploy PS7 support to Azure, it will be using the Get-Error cmdlet to format exceptions, so it will match your example

[2020-03-19 02:14] JustinGrote commented on #244
I do have a solution that basically uses trap to intercept the errors. I'll prepare a module and an article as a workaround.

[2020-03-19 14:28] JustinGrote opened #439 "Non-Zero Powershell Exit Statuses should count as failures"
### Example
When performing a queue function, I may want it to initiate a retry without throwing/logging an exception. Currently a non-zero exit status from a function will cause it to consider to be completed normally, and it will not retry the queue.

[code]

[3/19/2020 2:27:17 PM] INFORMATION: PowerShell queue trigger function processed work item: TestMessage
[3/19/2020 2:27:17 PM] INFORMATION:

[2020-03-19 14:47] JustinGrote commented on #364
My vote is for `profile.ps1` by default in a new function. Most functions are so short lived you want them to "fail fast" and not generate a bunch of non-terminating exceptions

[2020-03-19 15:08] JustinGrote commented on #284
So this is not possible currently because there's no way to communicate with the worker while the operation is still ongoing, output bindings are all sent at once after the function is completed.

https://github.com/Azure/azure-functions-powershell-worker/blob/d08886b93a109b26e079a90c11bfe8f29d813321/src/RequestProcessor.cs#L446-L478

Hence this is blocking on the worker protocol having a proactiv

[2020-03-19 15:16] JustinGrote commented on #303
#284 would be ideal, but updating Push-Output Binding in spaellings way would at least provide a workable method to get around some Table API issues without having to resort to the Table API SDK directly.

[2020-03-21 01:31] JustinGrote commented on #244
I opened https://github.com/Azure/azure-functions-host/issues/5821 to hopefully resolve this at a more fundamental level where the worker can just log the exception via iLogger and the type will transparently pass down the grpc tunnel, that way all workers can take advantage.

If they don't implement, then "plan B" recommendation is either:
1. Add a handler for exceptions that logs the detailed Po

[2020-03-21 01:33] JustinGrote commented on #244
Also @AnatoliB  I was aware of that workaround, the problem is to correlate it to an actual exception when you're hunting for bugs requires a complex inner join Kusto query, and it just shouldn't be necessary to do that if the exception can just be richly logged natively.

[2020-03-21 01:36] JustinGrote commented on #244
Ultimately it would be rad to add support to the application insights vscode extension to do Codelens support for Powershell, so I can click on a line and see how many times it failed on that line.
![image](https://aidevtools.blob.core.windows.net/vscode-assets/codelens.gif)

https://marketplace.visualstudio.com/items?itemName=VisualStudioOnlineApplicationInsights.application-insights

[2020-03-22 16:44] floriankoch opened #440 "Azure Table Storage Input Query - Not Implemented"
Hi,

i try to use the Table Storage as Input Binding, wen i try to use the query parameter, i got the message "Not Implementet" , is this intentional?

regards

[2020-03-24 21:31] nerddtvg commented on #373
When including module ACME-PS, I no longer get crashes on Azure Functions running function runtime 3.0.13139.0 with PowerShell worker 3.0.216 which includes PS 6.2.4.

[2020-03-24 21:31] #373 closed

[2020-03-25 21:29] #437 closed, assigned to nobody

[2020-03-30 19:57] AnatoliB opened #443 "Unnecessary Get-Module call in profile.ps1"
The auto-generated `profile.ps1` contains the following code:

[code]

The `Get-Module` call creates two problems:

- The call takes ~2 seconds (on Consumption) when only Az modules are installed, and may take longer when there are more modules. This time becomes a part of the cold start time (at least in user perception).
- If the user enabled MSI but does not have Az modules installed, this code

[2020-04-01 17:54] eamonoreilly commented on #436
Does this continue to repro or was this a one time issue? If it is consistent, we can look further and get the memory dumps.
Thanks,
Eamon

[2020-04-02 21:52] bhushanI commented on #221
@g0pinath Which Az PS commands are working for you within the functions? I am trying this command "az login --identity", still does not work for me. I have followed the steps given by @AnatoliB

[2020-04-03 05:47] bhushanI commented on #221
@anirudhgarg could you please tell when this feature will be available?

[2020-04-04 21:15] ceylon23 commented on #232
This is still the best workaround. April 4, 2020

[2020-04-05 00:34] TylerLeonhardt commented on #232
I'd also like to recommend the Microsoft Graph module that has a lot of the same functionality as the Azure AD module:

https://developer.microsoft.com/en-us/office/blogs/microsoft-graph-powershell-preview-now-on-powershell-gallery/

[2020-04-05 07:03] AnatoliB commented on #232
Just remember about the issue and the workaround: https://github.com/microsoftgraph/msgraph-sdk-powershell/issues/113

[2020-04-05 20:00] ghost commented on #436
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-04-07 18:02] Francisco-Gamino opened #444 "Validate PS7 `Import-Module -UseWindowsPowerShell` in Azure Functions cloud environment"
Need to validate PowerShell 7 module compatibility feature ([`Import-Module -UseWindowsPowerShell`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_windows_powershell_compatibility?view=powershell-7)) in Azure Functions

[2020-04-08 20:25] AnatoliB opened #446 "Log DurableTask assembly version for Durable Functions troubleshooting"

[2020-04-08 21:00] #436 closed, assigned to nobody

[2020-04-14 02:44] ghclo commented on #264
Even `PSWorkerInProcConcurrencyUpperBound` is set to 10, my understanding is that there will be up to 10 runspaces/threads (in each worker process, specified by `FUNCTIONS_WORKER_PROCESS_COUNT`) sharing the same context of each worker process, so no performance decreased causing by context switching.

Please correct me if I am wrong.

[2020-04-14 02:48] JustinGrote commented on #264
@ghclo He is referring to low-level CPU context switching, which is the CPU switching from working on one thing to working on another.

CPU's (for the most part) can't do things in parallel in a single core, and each powershell worker is a single core instance. If concurrency is 10, picture a 10-lane highway that plenty of cars can drive but all the roads merge to a single lane for a toll booth. Y

[2020-04-15 17:48] AnatoliB commented on #264
@ghclo Please note, however, that the CPU context switching overhead may or may not be noticeable depending on what your function code does. Within the 10-lane highway analogy, a single toll booth will not create any traffic jam if the distance between cars on each lane is large enough. This is exactly what happens with I/O-bound workloads, which are quite typical for PowerShell.

For example, if

[2020-04-16 18:30] droushd opened #451 "Function App not visible in IAM"
Hi - i'm noticing that several function apps do not show up in search for adding them in IAM roles (e.g. give them permissions to keyvaults).  all items are in same geo location; resource group; etc.  Does the username who creates a function app need special permissions (e.g. create service principals in AAD)?

[2020-04-16 18:39] nerddtvg commented on #242
Hello,

I have a situation where I think the runspace reuse is causing us problems. We have functions that perform administrative work against Exchange Online, Skype for Business Online, and other remote PowerShell sessions. We have found that once a worker has connected to Exchange Online then attempts to connect to Skype for Business online, the SfB session fails with a 500 Internal Server Error

[2020-04-16 19:23] TylerLeonhardt commented on #444
@rjmholt has something for this I believe... Or at least has expertise.

Also cc @SteveL-MSFT @joeyaiello

[2020-04-16 19:26] rjmholt commented on #444
@Francisco-Gamino can you elaborate on what you need here? Do you need to evaluate what modules generally have different compatibility with PS 7 vs PS 6.2, or is this more specific to Windows modules or similar?

[2020-04-16 19:28] rjmholt commented on #444
Also what level of validation do you need? [PSCompatibilityCollector](https://github.com/PowerShell/PSScriptAnalyzer/tree/master/PSCompatibilityCollector) can build a list of modules for example, but based on successful import -- working on the PS AzF platform before I've needed to make particular tweaks in the past to make the output more accurate. But that's fairly easy to do. That module actual

[2020-04-16 20:07] AnatoliB commented on #444
@rjmholt The goal here is to validate that whatever is described on https://github.com/PowerShell/WindowsCompatibility actually works in Azure Functions on the cloud. At this point, we don't have any reason to believe that it does _not_ work, but we still want to validate it because this environment is special.

[2020-04-16 20:20] rjmholt commented on #444
Ah, I see. Well it's not quite what's described in that repo. The main difference is that rather than using PowerShell remoting, the built-in PS 7 windows compatibility feature communicates to a powershell.exe subprocess over stdio, making it more likely to work than the PSRP option

[2020-04-16 20:27] joeyaiello commented on #444
Unfortunately, that's going to be an extremely difficult exercise to do with any kind of real confidence. The effort to build that compatibility knowledge was extremely ad-hoc, manual, and time consuming, and relies on a lot of internal Windows tests. And I understand it'll be additionally difficult to know what may or may not get broken by the sandbox's security boundary, as well as to take those

[2020-04-16 20:35] Francisco-Gamino commented on #444
The main goal of this issue is to validate `Import-Module <ModuleName> -UseWindowsPowerShell` in the Functions cloud environment.

This would be an important scenario for our customers in order to use modules that are not PSCore compliant.

[2020-04-16 20:47] AnatoliB commented on #444
@joeyaiello @rjmholt I want to emphasize this:

The goal is _not_ to create and validate a comprehensive compatibility list. The goal is to validate that the `-UseWindowPowerShell` approach works on Azure Functions with PS7 _in general_. Because it starts powershell.exe and communicates with it, it may hit something unexpected on the Azure sandbox.

@Francisco-Gamino Perhaps we could edit the titl

[2020-04-16 20:50] rjmholt commented on #444
Oh forgot to tag @anmenaga. He should be able to give you any more info you need as to whether this feature should work in general

[2020-04-16 20:54] AnatoliB commented on #242
@nerddtvg Do you think you could reproduce this from a regular PS6 or PS7 console on your machine? It would be interesting to see if creating a new _runspace_ actually resolves the issue. Chances are that there is a problem that persists on the _process_ level, so avoiding _runspace_ reuse would not be enough.

[2020-04-16 20:59] nerddtvg commented on #242
@AnatoliB

So I tried doing some basic emulation where I would open those sessions simultaneously and in sequence without it being impacted.

However I haven't been able to try with the Azure Functions Host. I aim to test that next but we rely heavily on a managed identity, so I have to work around that before it will work.

I'll update you soon, I hope. Give me a couple days.

[2020-04-16 21:02] JustinGrote commented on #371
@anatolib we are now at mid-april, can you provide a revised ETA? :)

[2020-04-16 21:10] anmenaga commented on #444
FYI. General info.  https://github.com/MicrosoftDocs/PowerShell-Docs/blob/staging/reference/7.0/Microsoft.PowerShell.Core/About/about_Windows_PowerShell_Compatibility.md

Simple test if WinCompat is working:
[code]

PS. Please try to use the latest PS core build.

[2020-04-16 21:14] daxian-dbw commented on #444
The issue description was updated. (yay, I still got the permission 😄)
Also, the help doc @anmenaga referred to can be found here (also linked to in the PR description): https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_windows_powershell_compatibility?view=powershell-7

[2020-04-16 21:36] AnatoliB commented on #371
The situation is currently complicated by certain events beyond our control. The coding work is finished, but the deployment to Azure will probably happen around _the middle of May_. I'm sorry I don't have a more precise and reliable ETA, but this is the best I can do at this point. Thank you for your patience!

[2020-04-16 21:38] JustinGrote commented on #371
@anatolib Understood! Thank you for all your hard work and I appreciate the update, it just helps to know how far out I should be looking at refactoring.

[2020-04-16 21:42] AnatoliB commented on #444
We actually need to validate it with PS 7.0. Our primary goal is to understand whether we can/should advertise this when PS7 support in Azure Functions is officially released, as it will be using PS 7.0 (LTS). We can try the latest build as well just in case, but PS 7.0 is the first priority in this context.

[2020-04-16 21:54] anmenaga commented on #444
This is fine.
I said that because since 7.0 GA we made several fixes for some corner cases. They will be part of 7.0 servicing, however at this moment they are only sitting in master.

[2020-04-16 21:58] AnatoliB commented on #444
@anmenaga I see, so they are going to be in a 7.0.* release? This is good to know, thank you!

[2020-04-16 22:06] Francisco-Gamino commented on #444
Thank you all for your input. I will reach out if I have any questions once I start working on this.

[2020-04-17 14:15] nerddtvg commented on #242
@AnatoliB

I was unable to recreate it using a local function host. I was using the same version of the function runtime for both. The only changes I made to the code was to use hard-coded access tokens for some secrets.

[2020-04-17 17:07] AnatoliB opened #452 "Invoke Disable-AzContextAutosave from profile.ps1"
Invoking [Disable-AzContextAutosave](https://docs.microsoft.com/powershell/module/az.accounts/disable-azcontextautosave) before `Connect-AzAccount` saves 2-4 seconds. Also, from the functionality perspective, this seems to be the right thing to do in the Azure Functions context. Let's add it to the auto-generated `profile.ps1`:

[code]

[2020-04-17 22:00] AnatoliB opened #453 "Invoke profile.ps1 on function load request"
Currently, `profile.ps1` is executed on the first function _invocation_ request on a given PowerShell worker instance. When executing `profile.ps1` takes long time (for example, because of the first `Connect-AzAccount` call), this is perceived as a cold start issue affecting even apps on Premium and App Service plans.

If we invoke `profile.ps1` on the function _load_ request instead (immediately

[2020-04-20 21:35] AnatoliB opened #454 "Start pre-creating runspaces on function load request"
**Problem**

Creating and initializing a PowerShell runspace (potentially involving `profile.ps1` invocation) may take long time (for example, because of a Connect-AzAccount call). This is perceived as a cold start issue affecting even apps on Premium and App Service plans. Resolving just #453 will solve the problem for the first invocation per worker. However, when `PSWorkerInProcConcurrencyUpper

[2020-04-21 05:17] AnatoliB commented on #446
I've just found that it is already being logged by the Durable extension, for example:

[2020-04-21 05:17] #446 closed, assigned to nobody

[2020-04-25 01:57] plmcgrn opened #455 "Exception thrown with Push-OutputBinding"
I've been using non-HTTP bindings for the PowerShell worker for a while.  I recently created a new Function app that uses HTTP input and output bindings.  While the input binding does work, the output binding seems a bit dodgy.

If I define the binding as a "fake" name not defined in function.json, my worker will process as expected.  However, if I define the binding as the same name defined in fu

[2020-04-26 16:34] AnatoliB commented on #455
@plmcgrn First of all, you seem to be hitting #269. The issue is fixed in the code, but this has not been deployed to Azure yet (expect this to happen within the next 2-4 weeks). In the meantime, the workaround is to initialize the `Body` property of the object passed to `Push-OutputBinding` with anything but `$null`: see https://github.com/Azure/azure-functions-powershell-worker/issues/269#issuec

[2020-04-26 22:10] plmcgrn commented on #455
@AnatoliB thank you for the quick response and pointer to the workaround. Confirmed that setting Body to an empty string instead of $null is a valid workaround for me, as well.  Setting the binding name to the one noted in function.json now succeeds, and instead of failing, I'm able to respond with the desired HTTP 200 OK.  Now that I know this works, I can build more robust error handling in my t

[2020-04-26 22:10] #455 closed, assigned to nobody

[2020-04-27 20:32] yojagad opened #458 "Send WorkerStatusResponse when receiving WorkerStatusRequest. Send Capability "WorkerStatus" on Init"
When host sends a "WorkerStatusRequest" , the worker needs to return "WorkerStatusResponse". The latency from request to response is used for scale decisions for out-of-proc languages.

Reference Java commit: https://github.com/Azure/azure-functions-java-worker/commit/fbf0e4b62a1ddcb778cf7604c425082bdb743cb5

cc: @pragnagopa @mathewc

[2020-04-28 22:44] AnatoliB commented on #458
@yojagad PowerShell worker already responds to WorkerStatusRequest with WorkerStatusResponse: https://github.com/Azure/azure-functions-powershell-worker/blob/8c2ff063ef583c56891e506e24ea598d58ec5bc3/src/RequestProcessor.cs#L124

Is there anything else we need to do?

[2020-04-29 00:30] yojagad commented on #458
@AnatoliB Great! Can you send the capability on init as well so that the runtime knows ?

[2020-04-29 06:43] AnatoliB commented on #458
@yojagad Got it, thank you.

[2020-04-29 23:45] JustinGrote opened #461 "Log Messages Still emitted even if Logging Default is set to none"
When trying to troubleshoot via Azure Functions Core Tools, these items are still emitted even if logging is disabled

[code]

Which really clutter things up. These items should respect the "default" loglevel of the host.json.

[2020-04-30 01:08] JustinGrote commented on #461
After a lot of digging I found these are not actually basic logs because I could not find them *anywhere* but instead actually just console output
https://github.com/Azure/azure-functions-powershell-worker/blob/339025c2a19fae4c8a96eb4094f0e2ae53b684b5/src/Logging/RpcLogger.cs#L84

Since I assume the worker is not aware of the host configured loglevel, and this is only relevant for local developmen

[2020-04-30 02:14] JustinGrote commented on #461
Workaround was found downstream at the host level. Closing this for now but @AnatoliB it may be helpful to document this for reference in the official docs.

https://github.com/Azure/azure-functions-core-tools/issues/1440#issuecomment-621568760

[2020-04-30 02:14] #461 closed, assigned to nobody

[2020-05-01 18:20] mathewc opened #462 "Support capabilities RpcHttpBodyOnly and RpcHttpTriggerMetadataRemoved"
These enable performance improvements from the Functions host, allowing it to greatly reduce the amount of data sent over the channel.

See similar changes made for the Java worker here: https://github.com/Azure/azure-functions-java-worker/pull/364

[2020-05-03 14:57] itpropro opened #463 "Internal Server Error after activating Function Proxy"
In some scenarios, Azure Functions fail with the following error after creating an Azure Function Proxy:
[code]

#### Repro steps

1. Create new Function App with the following settings:
![image](https://user-images.githubusercontent.com/15030951/80917418-07c54600-8d5f-11ea-9ceb-fb5297cf5040.png)
2. Create a new Function called "getTest" with Authorization Level "Anonymous".
3. Create Function Pro

[2020-05-04 00:03] itpropro commented on #284
Is there any progress on this? It's impossible to implement proper HTTP error codes for functions without this being fixed. As there is also no functionality to choose an insert mode for table storage, it's impossible to return e.g. a 409 when the entity already exists.

[2020-05-04 00:23] JustinGrote commented on #284
@itpropro theres an upstream dependency here that has to be implemented: https://github.com/Azure/azure-functions-language-worker-protobuf/issues/47

I saw no comments on my request so I assume it's not a priority.

[2020-05-08 23:00] AnatoliB commented on #440
@floriankoch Could you please clarify what kind of queries you are trying to use, and perhaps share some code? If you are talking about filters (the `filter` property in `function.json`), they are supposed to work in general.

[2020-05-14 13:18] nerddtvg commented on #242
@AnatoliB

I am still having this issue with New-PSSession failing out and it is specifically only when a Function runspace has connected to Exchange Online. I have tried many different ways to emulate this on my local machine, but I just can't recreate the problem. Yet I have 3 different function apps that show this issue.

Do you have any thoughts on a way I can debug this to identify what part

[2020-05-20 19:06] AnatoliB commented on #333
All the relevant issues are labelled with "cold start", so I'm closing this one.

[2020-05-20 19:06] #333 closed

[2020-05-21 03:24] Francisco-Gamino commented on #300
This is no longer needed since Add-Type works on the latest version of PowerShell that we support in Functions.

[2020-05-21 03:24] #300 closed

[2020-05-21 06:01] Francisco-Gamino commented on #443
The `profile.ps1` template will be updated in the Core Tools, Host, and VSCode Extension.

This work will be tracked by:
https://github.com/Azure/azure-functions-core-tools/issues/2000
https://github.com/Azure/azure-functions-host/issues/6071
https://github.com/microsoft/vscode-azurefunctions/issues/2123

[2020-05-21 06:02] Francisco-Gamino commented on #452
The `profile.ps1` template will be updated in the Core Tools, Host, and VSCode Extension.

This work will be tracked by:
https://github.com/Azure/azure-functions-core-tools/issues/2000
https://github.com/Azure/azure-functions-host/issues/6071
https://github.com/microsoft/vscode-azurefunctions/issues/2123

[2020-05-21 14:13] prasanthchil commented on #221
Hi Team, I followed the above steps of uploading azure cli from mac book onto azure powershell functions and updated the profile.ps1, but still receive az command in not found. It would help if a detailed step by step instructions are provided for the workaround till the time microsoft provide inbulilt az cli support in azure functions.Thanks.

[2020-05-26 07:12] janegilring commented on #359
I also ran into the error you mentioned when trying to remote into a Linux VM from an Azure Function:
_The term 'ssh.exe' is not recognized as the name of a cmdlet, function, script file, or operable program_

So this means SSH-based remoting is not supported in Azure Functions due to ssh.exe not being available - is supporting this on the roadmap? Or will it be blocked for security reasons?

Also

[2020-05-26 22:00] AnatoliB opened #468 "Docs and samples for using user-managed identity (reference in profile.ps1?)"
Even though user-managed identity works after closing #235, we keep getting user complaints about it not working. It turns out that our users don't realize they need to do some extra work and get a cryptic error message.

Fixing #337 helps by exposing a more meaningful error message reported by Connect-AzAccount. However, consider also making this sample more discoverable, perhaps include a refere

[2020-05-27 09:15] akhilthomas011 commented on #371
@AnatoliB Is this in production now? Can you help me with the status?

[2020-05-28 04:37] AnatoliB commented on #371
The Functions runtime with PowerShell 7 is being rolled out to production now, I expect it to complete by June 5. I will update this thread when complete.

[2020-05-28 04:45] akhilthomas011 commented on #371
@AnatoliB, Really appreciate it! Thanks!

[2020-05-28 15:50] JustinGrote commented on #464
Dupe of #371, it's actually rolling out now. Follow there for status.

[2020-05-28 15:50] JustinGrote commented on #371
@AnatoliB FYI I saw this today I've never seen before, may be related to rollout:
https://twitter.com/JustinWGrote/status/1266033654016311296

[2020-05-28 18:28] jhealy opened #469 "Powershell Function return body with httpstatuscode::badrequest is always empty string / null"
I’m trying to get a ‘body’ out of a powershell function when it goes 400/HttpStatusCode::BadRequest, but I can’t seem to get the body string back out.
Works fine with HttpStatusCode::OK.
Function.json hasn’t been mucked with.

Demonstrated in this article – doesn’t seem to work for me – [https://www.wesleyhaakman.org/powershell-for-azure-functions-introduction/ ](https://www.wesleyhaakman.org/powe

[2020-05-29 18:12] vartika18 commented on #469
I have also experienced the same issue where 400 behaves in a weird  fashion and always returns empty strings where the expected result should return body ..Thankyou

[2020-06-04 11:31] SCOMnewbie opened #470 "$error not equal $null by default"
Hi,

It seems that (even for a prestine function) $error variable does not equal $null.

If you want to reproduce this, you simply have to create a new HTTP Powershell function through the portal and add where you want:

[code]
You will see that $error contains the error:
"Could not load file or assembly 'System.Threading.Tasks.Extensions, Version=4.3.1.0, Culture=neutral, PublicKeyToken=cc7b13ffc

[2020-06-04 13:26] shivashyavi opened #471 "Failing to load "MicrosoftTeams" PowerShell module in Azure Function App"
After copying "MicrosoftTeams" modules files into Azure Kudu environment and and tried to run the "Connect-MicrosoftTeams" and getting below error,

Could not load file or assembly 'Newtonsoft.Json, Version=10.0.0.0, Culture=neutral, PublicKeyToken=30ad4fe6b2a6aeed' in Azure Function

![image](https://user-images.githubusercontent.com/66424568/83762251-f7bdc080-a694-11ea-9bf1-87cff2cd7caf.png)

[2020-06-04 17:55] AnatoliB commented on #470
#242 seems to be the root cause. Invoking `$error.clear()` is a good workaround.

In general, it is a good idea to avoid any assumptions on whether you get a brand new PowerShell session or not. In order to improve function start time, we need to reuse PowerShell sessions, at least by default, which may carry over some state. We should be able to clear `$error` automatically to address this specif

[2020-06-04 19:23] AnatoliB commented on #242
@nerddtvg I would suggest investigating this from the other end:

The web server should not be directly affected reusing PS sessions or processes on the client. Apparently, a certain API call with a certain payload causes the 500 error on the server side. If we can find what exactly is special about this call, it will give us a better idea on what should not be reused.

As a workaround, do you thi

[2020-06-04 19:28] nerddtvg commented on #242
@AnatoliB

I realize the runspace reuse shouldn't have any bearing on the remote server, but clearly there is something bad in the request itself to generate that message.

Unfortunately I can't really break this app up like that. It would require a bit of work around the infrastructure supporting the function app and changes to the pipelines. For now, I've disabled the SfB requests as they are le

[2020-06-04 20:47] AnatoliB commented on #242
@nerddtvg What I'm suggesting is to investigate it from the SfB end. Where is it hosted? Do you have access to the logs? If it is hosted by Microsoft, can you submit a support request? The 500 error normally indicates a server-side defect (if the request was wrong, it should have responded with 4xx), so the service engineers may want to take a look and either fix this or at least tell us what is s

[2020-06-04 21:04] nerddtvg commented on #242
@AnatoliB

Sorry, I should have been more specific. This is SfB Online, so it's fully hosted by Microsoft.

I wish I could reproduce it locally but when I run the functions in a local context, I do not get the same issues. I'd be happy to try again if you have any suggestions on how I can better emulate an Azure environment locally instead of simply running 'func host start'.

The code generating

[2020-06-05 18:09] AnatoliB commented on #242
@nerddtvg Thank you. If you get this error from New-PSSession, it may be related to PS remoting, not SfB. Could you please also post the entire error message?

[2020-06-05 18:24] nerddtvg commented on #242
@AnatoliB

Unfortunately, the full error is not much better. The error is from remoting establishing the HTTPS session, but it returns the 500 error from the remote server and nothing PSRemoting specific. The HTTP error is just a generic IIS error message from the remote SfB WinRM server.

I have censored our internal module name and function names since they were identifiable.

The URL used in th

[2020-06-08 14:54] wsf11 commented on #371
Hi @AnatoliB , any update on when this will be in production? Thanks for working on this!

[2020-06-09 04:50] AnatoliB commented on #371
The runtime rollout is almost finished and PowerShell 7 is available in many regions now, expected to finish the rest tomorrow (6/9).

Portal and tools support will take a bit longer. In the meantime, in order to upgrade your app to PowerShell 7, set the `powerShellVersion` property on the `/subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{appName}/config/web

[2020-06-09 17:49] JustinGrote commented on #371
@AnatoliB great news, can you have them make a post on the Functions Blog about it when it's fully rolled out?

[2020-06-09 17:58] AnatoliB commented on #371
@JustinGrote We will announce this officially only after the Portal and tools support catch up. Until then, I will just leave these instructions here.

[2020-06-10 18:54] wsf11 commented on #232
AzureAD works out of the box with Powershell 7! Import AzureAD with the `-UseWindowsPowershell` switch.
`Import-Module AzureAD -UseWindowsPowerShell`

[2020-06-11 18:58] AnatoliB commented on #371
The rollout is complete now, PowerShell 7 is available in all the public regions. I'm closing this issue, but I will be updating it with the tools and portal status. In the meantime, please use the instructions above, and we will appreciate your feedback.

[2020-06-11 18:58] #371 closed, assigned to nobody

[2020-06-11 18:58] AnatoliB commented on #464
Closing as a dupe.

[2020-06-11 18:58] #464 closed, assigned to nobody

[2020-06-11 20:03] AnatoliB commented on #471
@shivashyavi The following workaround may help you:
- Switch your Azure Function app to PowerShell 7: https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuecomment-641026259.
- Import the module in the [compatibility](https://docs.microsoft.com/powershell/module/microsoft.powershell.core/about/about_windows_powershell_compatibility?view=powershell-7) mode using the following c

[2020-06-11 20:29] AnatoliB commented on #77
Durable PowerShell support (preview scope: **Function Chaining**, **Fan-Out/Fan-In**, **Async HTTP APIs** patterns) is deployed to Azure.

In order to try it out, please switch your app to PowerShell 7 by following these instructions: https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuecomment-641026259.

You can find the samples for Function Chaining and Fan-Out/Fan-In patt

[2020-06-11 21:45] AnatoliB commented on #371
The rough ETA for official GA (including portal and tools support) is the beginning of July.

[2020-06-11 22:15] burkasaurusrex commented on #309
Agreed that this would be very helpful. In addition to routing being difficult, it's also difficult to instrument application insights to track a request as it moves through queues.

I haven't looked at the `Push-OutputBinding` code, but seems having `Push-OutputBinding` detect a `ServiceBus.Message` object type and handles accordingly would be most helpful. Could also add a `-ServiceBusMessage` o

[2020-06-12 07:18] AnatoliB commented on #77
I've updated the instructions at https://github.com/Azure/azure-functions-powershell-worker/blob/dev/docs/durable-experimental-instructions.md with all the steps required to try this out on Azure.

[2020-06-12 08:26] Willem-J-an opened #476 "Adding header transfer-encoding= "chunked" to httptrigger causes body to be null"
When adding the header: transfer-encoding = chunked to the request, the body comes into the function as null. Ran into this issue as our API gateway adds this header by default.
Reproduce:
Create simple function which returns the body back to the user:
[code]
Invoke the function to see that it works:
[code]
Now add the header:
[code]
You can monitor the logstream, and see the body is null:
2020-06

[2020-06-12 20:55] AnatoliB commented on #242
@nerddtvg This may or may not help you, but you can try and switch your app to PowerShell 7 by using [these instructions](https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuecomment-641026259). Chances are, the problem is resolved in PowerShell 7.

@SteveL-MSFT Apparently, the user is experiencing intermittent PS remoting issues when accessing both Exchange Online and Skype

[2020-06-12 22:13] nerddtvg commented on #242
@AnatoliB

I actually have been running it in V7 for a bit after following that thread. Today I refactored the function to run inside a dedicated `[PowerShell]` object (hopefully a different runspace) and it still had the same problems after connecting to Exchange (which was not refactored).

That makes me wonder that it is not a runspace reuse issue and maybe related to the connection pooling (ev

[2020-06-15 07:17] bosens opened #477 "EXCEPTION: Durable function is not yet supported for PowerShell"
Hi Guys,

Trying to use the PowerShell Durable Functions and its failing with "**EXCEPTION: Durable function is not yet supported for PowerShell**" when running it.

The following code was generated when creating the function via the Azure Portal and would expect it to work and throw the error.

Could someone please advise as to the real issue?

Thanks
Peter

run.ps1------------->>

using namespac

[2020-06-15 16:53] anirudhgarg commented on #477
Durable Functions PowerShell only works with PowerShell **_7_** Azure Functions which you cant create from the portal.
Still if you would still like to try it see here for how to convert your app to a PowerShell 7 app.

https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuecomment-641026259

Here are the complete instructions: https://github.com/Azure/azure-functions-powershel

[2020-06-16 13:36] #470 closed, assigned to nobody

[2020-06-16 17:41] jugheadny opened #478 "Inconsistent results with Invoke-RestMethod inside of powershell azure function"
I'm experiencing a weird issue and I do not understand the root cause of it.  I have an azure function that leverages powershell v7.  Inside of this function it does a Invoke-RestMethod to the graph api.  Here is an example of the url:
"https://graph.microsoft.com/v1.0/sites/$siteId/lists/$listId/items"

Its getting the list items of a sharepoint list.  The call returns a json payload.  The issue

[2020-06-16 20:19] AnatoliB commented on #478
@jugheadny There should be no difference in the behavior, but there could be a difference in how you observe the results. Could you please share a code sample?

[2020-06-16 20:29] jugheadny commented on #478
So it seems to be an issue with the debugger.  If I do not have VSCode
debugger attached it deserialized the results properly.  So it is as you
stated an issue with how I observe the results.

Thanks

On Tue, Jun 16, 2020 at 4:20 PM Anatoli Beliaev <notifications@github.com>
wrote:

[2020-06-19 17:38] AnatoliB commented on #477
Please let us know if you hit this issue when following the instructions at https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuecomment-641026259. In the meantime, I'm closing this for now.

[2020-06-19 17:38] #477 closed, assigned to nobody

[2020-06-20 03:34] bosens commented on #477
Thanks guys. The information was what I needed.

[2020-06-22 14:43] jhealy commented on #469
25 days with no triage.  Had customer open a support ticket instead.  Support (Ravikamar N) acknowledged as a bug.  Fix has been rolled into old portal ( https://aka.ms/canary ) and will be implemented into upcoming revisions of new portal.

[2020-06-22 14:43] #469 closed, assigned to nobody

[2020-06-22 23:21] JeretSB commented on #232
Looking at previous comments - still unable to get things working.

@wsf11 - I got an invalid param for "-UseWindowsPowerShell" when running within my AzureFuntion.

@bwarren18 - Does your entire code go in the profile.ps1 or is it split up in some way?

Thanks in advance!

[2020-06-22 23:28] AnatoliB commented on #232
@JeretSB "-UseWindowsPowerShell" is a PowerShell 7 feature, and Function apps use PowerShell 6 by default. In order to migrate your app to PowerShell 7, please use these instructions: https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuecomment-641026259

[2020-06-23 00:00] JeretSB commented on #232
For anyone else who may stumble on this. (Until they've finished correcting this.) The following _finally_ got things working for me.

1. Setting the application to run as x64 bit: **Function App> Configuration > General Settings > Platform > 64 Bit**
2. Setting the app to run on Powershell 7 instead of 6 [on this thread](https://github.com/Azure/azure-functions-powershell-worker/issues/371#issuec

[2020-06-23 02:42] AnatoliB commented on #232
I'm closing this issue as we now have a reasonable and verified way of using AzureAD.

[2020-06-23 02:42] #232 closed

[2020-06-23 02:50] AnatoliB commented on #444
We've validated that -UseWindowsPowerShell switch does work in general: for example, it allows using the AzureAD module on Azure Functions with PowerShell 7 (https://github.com/Azure/azure-functions-powershell-worker/issues/232#issuecomment-647827971).

[2020-06-23 02:50] #444 closed, assigned to Francisco-Gamino

[2020-06-23 03:20] Francisco-Gamino commented on #444
Thanks @AnatoliB for validating this!

[2020-06-24 04:42] Windos commented on #77
Has anyone got this working in Azure?

I have trouble running Functions locally in general (laptop needs a re-image... my problem) so I'm jumping straight to Azure. With both the Chaining and Fan-Out/Fan-In examples I end up with a 404.

[2020-06-24 04:51] AnatoliB commented on #77
@Windos I've got this working in Azure :-) Please tell us more: how do you get a 404? Which function do you start and how? Are you using a correct URL (please keep in mind that the URLs in the instructions are for the local host only.

[2020-06-24 05:02] Windos commented on #77
I'm trying both FanOutFanInStart and FunctionChainingStart. Getting the 404 in the Test/Run pane in the Portal:

![Test Pane Example](https://user-images.githubusercontent.com/6955786/85502615-c5700500-b63b-11ea-9385-4e5fa73e4270.png)

Also using the function url (both in Windows PowerShell and PowerShell 7):

![Shell Example](https://user-images.githubusercontent.com/6955786/85502809-3f07f300-b63

[2020-06-24 09:24] Windos commented on #77
Welp, I don't know what I did differently on the third attempt, might have just required a break to avoid missing a step.

All working now (and working well!) Good job all that've worked on this.

[2020-06-24 10:02] dqureshi515 opened #497 "Azure function timing out before set value"
I have a PowerShell azure time trigger function triggering after every 5 minutes and the set timeout value is 4 minutes. However, the function exits after a minute or so and then re-triggers  without schedule.

Here are the logs for this:

2020-06-24T09:57:43.122 [Error] Timeout value of 00:04:00 exceeded by function 'Functions.AzCommandExecutor' (Id: '41854738-831f-4ba5-b8d1-e7c7edcfeff9'). Initi

[2020-06-24 17:42] Francisco-Gamino opened #479 "Unable to ignore information stream output for Azure cmdlets generated with the last tooling"
If you run the following commands to ignore the information stream, this works with no issues locally or if the user authenticates via service principal when running in Azure

[code]
However, when running in the Functions Service, this command throws an exception. Please see below:
![image](https://user-images.githubusercontent.com/12720858/85605766-55e02280-b607-11ea-84ba-535d43284823.png)

And w

[2020-06-25 22:05] dqureshi515 commented on #497
Adding to the previous query, the error that occurs is:
Singleton lock renewal failed for blob 'psscriptexecutor/host' with error code 409: LeaseIdMismatchWithLeaseOperation. The last successful renewal completed at 0001-01-01T00:00:00Z (-2147483648 milliseconds ago) with a duration of 0 milliseconds. The lease period was 15000 milliseconds.

This prevents my function from running. Once the functi

[2020-06-25 22:19] anirudhgarg commented on #479
This is a problem but probably a low priotiy for now.

[2020-06-25 22:20] #478 closed, assigned to nobody

[2020-06-25 22:24] anirudhgarg commented on #476
@anirudhgarg to check if this is an issue with the host itself

[2020-06-25 22:28] anirudhgarg commented on #471
We have already tested -UseWindowsPowerShell as @AnatoliB  and that work with PowerShell 7.

[2020-06-25 22:28] #471 closed, assigned to nobody

[2020-06-25 22:36] anirudhgarg commented on #468
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#using-azure-powershell-for-a-function-app

[2020-06-25 22:36] anirudhgarg commented on #468
This is to update the profile.ps1 as once

[2020-06-25 22:39] anirudhgarg commented on #468
eamon had a suggestion that if there is one user identity assigned we automatically take it.

[2020-06-25 22:54] anirudhgarg commented on #434
This is just a tracking thing. Closing this.

[2020-06-25 22:54] #434 closed, assigned to nobody

[2020-06-26 06:44] dariagrigoriu opened #481 "Provide a meaningful dependency resolution path when the managed dependencies feature is out of scope"
Provide a meaningful dependency resolution path in environments where the managed dependencies feature is out of scope.

[2020-06-26 06:50] spaelling opened #482 "(Queue) Push-OutputBinding support initialVisibilityDelay"
I need to put something into a storage queue with a delay before it will be processed next. Currently resorting to below which is obviously far from optimal. Am I missing something with `Push-OutputBinding` that could do this in a better way?

[code]

[2020-06-26 14:52] yuu045-ran commented on #479
Hi @anirudhgarg , this is Yuna from CSS team.

I recently have a support ticket on this issue and these generated Information is consuming customer's AI cost and affecting the readability when customer is trying to log their personalized information.

May I know if there's going to be an ETA on this problem?
Or at least, could we have any other mitigations that will have the same impact on `| Out-

[2020-06-26 16:18] anirudhgarg commented on #479
@yuu045- thanks for providing the data that this is actively affecting a customer. We will investigate if we can find any work around or fix in the upcoming week(s)

[2020-06-26 16:46] AnatoliB commented on #468
Here is what we need to document and/or add a comment to the profile.ps1 template: https://github.com/Azure/azure-functions-host/issues/5797#issuecomment-601864473

[2020-06-26 17:24] yuu045-ran commented on #479
Hi @anirudhgarg, thank you very much for keeping an eye on this issue:)
We will be waiting for any possible mitigates.
Hopefully we could help our customer as soon as possible.

[2020-06-27 00:23] AnatoliB commented on #481
@dariagrigoriu Could you please clarify this:
- Are you talking about scenarios where the managed dependencies feature cannot be used because the PowerShell Gallery is unavailable or not trusted?
- For these and similar situations, the user can include the desired module content into the app directly, as [documented](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powers

[2020-06-30 07:26] nemanja-jovic commented on #371
Hi! Very appreciated for taking the time to roll this out. At the moment I have tried to set the powershellVersion via Powershell cmdlet that @AnatoliB posted, I have also tried deploying the app service setting via ARM. Still I get the following error when trying to import one of my custom modules which require version 7.
`[Error] EXCEPTION: Import-Module : The version of PowerShell on this compu

[2020-07-03 09:57] neopsyon opened #483 "Push-OutputBinding is failing with the most basic usage"
Hello, I have configured the Azure Function to run Powershell 7, this are some of the config parameters of the function app.
`{ "name": "powerShellVersion", "value": "~7", "slotSetting": false },
{ "name": "FUNCTIONS_WORKER_RUNTIME_VERSION", "value": "~7", "slotSetting": false }`

The function itself has an HTTP binding.

At the end of the Powershell function, I have this block of code ( I tried m

[2020-07-05 04:49] AnatoliB opened #484 "Insufficient logs when failing to install a module via Managed Dependencies"
When a required module is mentioned in `requrements.psd1` and this module installation fails, PowerShell worker logs the error reported by the `Save-Module` cmdlet. However, this error message is often too generic: `Unable to save the module X`. This message is not helpful and not actionable. In the meantime, `Save-Module` may report more valuable messages to the Warning stream, but PowerShell wor

[2020-07-06 13:19] #483 closed, assigned to nobody

[2020-07-07 20:28] abhilashredd commented on #221
Its been more than a year and We still do not have this feature.

[2020-07-09 21:06] AnatoliB opened #485 "Warm up PowerShell Worker before receiving function load request"
When the worker starts on an Antares placeholder, it spends some time just waiting for requests, as it does not belong to any app yet. It could use this time to perform some app-independent warm-up: for example, create a PS runspace, load some app-independent modules and assemblies, open and read some files to make sure they are in the cache, etc. When the placeholder is assigned to an app and the

[2020-07-12 13:51] barakVaturi opened #487 "OSError: [Errno 30] Read-only file system"
hello,

I'm trying to create a file in Azure function APP python (3.6.8)
I create the file in the code:

f= open(upload_file_path, mode='wb+', buffering=1)

where: upload_file_path = os.path.join(local_path, fileName)

and trying to upload it to a blobstorage:
with open(upload_file_path,'rb') as data:
        blob_client.upload_blob(data)

then the error  OSError: [Errno 30] Read-only file system

[2020-07-15 22:53] Francisco-Gamino commented on #452
This work has been completed.

[2020-07-15 22:53] #452 closed, assigned to Francisco-Gamino

[2020-07-15 22:53] Francisco-Gamino commented on #443
This work has been completed.

[2020-07-15 22:53] #443 closed, assigned to Francisco-Gamino

[2020-07-15 22:53] Francisco-Gamino commented on #220
This issue is fixed.

[2020-07-15 22:53] #220 closed

[2020-07-15 22:54] Francisco-Gamino commented on #296
Done.

[2020-07-15 22:54] #296 closed

[2020-07-16 07:10] jmezach opened #490 "Queue triggered function takes long time to start"
As discussed on [Twitter](https://twitter.com/jmezach/status/1283487533364633601) I'm seeing some weird behaviour with queue triggered functions written in PowerShell, or at least behaviour that I'm failing to understand. Looking at the logs it seems that the message from the queue is being read, but after that it takes quite some time before my function is actually going to run. This period of ti

[2020-07-16 15:52] MasilamaniSeenivasan commented on #221
Hi All,

We able to run the Azure CLI commands from Function App (Powershell)
But we are facing PERFORMANCE issue, like "**az account set**" command take minimum **2** mins and "**az aks show**" command takes minimum **3** mins. we achieved our requirement by using these commands inside the loop. so it impacts much.

1. Why the Azure CLI commands taking long time in Azure Function App? because in

[2020-07-16 18:05] AnatoliB commented on #221
@MasilamaniSeenivasan 2-3 min sounds way more than expected.
How do you deploy Azure CLI? Do you include it in your app content, or upload it separately? What is the target location?
Also, how do you invoke it and how you measure the time? Could you please share the code?

[2020-07-17 04:54] MasilamaniSeenivasan commented on #221
- Manually upload CLI2 zip file from local machine to Function App (location:D:\home\data) through kudu and unzip file in using PowerShell command.

- In Profile.ps1
    Set-Alias -Name az -Value "d:\home\data\CLI2\wbin\az.cmd"

- Code snippet,

	az login --identity

	(Get-Date).ToUniversalTime()
        #set subscription of current AKS
        az account set -s <SubscriptionName>
        (Get-Dat

[2020-07-17 18:24] AnatoliB opened #491 "Issue an actionable warning on CommandNotFoundException"
**Problem**
When users try to invoke a command that cannot be found in any modules, they get just the standard PowerShell error: `The term 'xxx' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.` Sometimes they do get into this situation because of a typo,

[2020-07-18 08:06] AnatoliB commented on #490
@jmezach From our internal logs, both `FUNCTIONS_WORKER_PROCESS_COUNT` and `PSWorkerInProcConcurrencyUpperBound` seem to be at 1 between 2020-07-16 5:00 and 2020-07-16 6:30. If you believe you were actually trying to tweak them in this time interval, please let us know and we will focus on figuring this out.

Between 5:59 and 6:01, we detected 136 messages in the `repositories` queue. Each message

[2020-07-21 17:56] AnatoliB commented on #490
@jmezach Also, if performance is not your concern but you just need to reliably process all the queued messages, consider triggering your function on a timer, so that your function code can query the queue and process messages as appropriate, perhaps even one at a time if required.

[2020-07-21 19:41] NikCharlebois opened #492 "Add Support for PSDesiredStateConfiguration in Azure Function PS Worker"
We are working on a proof-of-concept that would require testing a Microsoft365DSC configuration from an Azure Function. We would like to request that the PSDesiredStateConfiguration module be added to the PS worker to allow us to run Test-DSCConfiguration from within the context of an Azure function. This would enable numerous new scenarios for our clients to be able to leverage Cloud Configuratio

[2020-07-22 18:45] pragnagopa opened #494 "Upgrade to Functions V3"
Please see: https://github.com/Azure/app-service-announcements/issues/266

[2020-07-22 19:18] AnatoliB commented on #494
@anthonychu @eamonoreilly @anirudhgarg @Francisco-Gamino

Regarding the statement at https://github.com/Azure/app-service-announcements/issues/266:

PowerShell can access .NET API as well, so the notes at [.NET API that was deprecated or changed in .NET 3.1](https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.1) are also applicable to PowerShell apps.

[2020-07-22 19:24] pragnagopa commented on #494
@AnatoliB  - Can you please share sample code that uses one of the deprecated APIs? I will investigate further if there is a way capture these in our logs.

[2020-07-22 19:27] AnatoliB commented on #494
@pragnagopa I'm talking about all the changes here: https://docs.microsoft.com/en-us/dotnet/core/compatibility/2.2-3.1. The entire .NET API surface is available to PowerShell. Any API can be invoked either from the PowerShell function code directly, or from modules.

[2020-07-22 19:33] pragnagopa opened #495 "Log Breaking API used by apps"
Functions host logs any breaking api from 2.2 --> 3.1 . Here is the relevant code: https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script.WebHost/BreakingChangeAnalysis/ChangeAnalysisService.cs

@AnatoliB - can you please investigate if powershell worker can do something similar and log?

[2020-07-23 05:16] AnatoliB commented on #497
@dqureshi515 What does your function do? This seems to be taking longer than 4 minutes. If this is the case, the behavior you are describing is expected. Could you please share the function code? Do you know which part takes long time?

[2020-07-25 20:01] ghost commented on #490
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 07:19] jmezach commented on #490
Since I've fixed the issue in my script I see that my solution works as expected. I had a bug where the time needed to process each message in the queue was getting longer exponentially because some state was being shared between different executions of the function since I was writing some files to disk. Since I've fixed that I'm no longer seeing timeouts for the queue triggered function.

I did

[2020-07-27 07:19] #490 closed, assigned to nobody

[2020-07-27 08:01] ghost commented on #497
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2020-07-27 17:09] AnatoliB commented on #491
A similar issue: When the function invokes `Import-Module` for a module that has not been installed into the app, the error message from PowerShell is: `Import-Module : The specified module 'xxx' was not loaded because no valid
module file was found in any module directory.`

This message is also not clear and actionble for new Function users. We could detect this error and issue an additional war

[2020-07-27 18:28] AnatoliB opened #502 "Issue a warning on PowerShell 6 end-of-life for PowerShell 6 apps"
From https://docs.microsoft.com/powershell/scripting/powershell-support-lifecycle?view=powershell-7#powershell-releases-end-of-life:

Version | End-of-life
-- | --
6.2 | September 4, 2020

[2020-07-28 13:45] ebenezermakinde commented on #232
This also works for MSOnline module.  Thanks for pointing me in the right direction @AnatoliB

[2020-07-28 19:19] Francisco-Gamino commented on #479
Hello @yuu045-ran -- the issue preventing the suppression of the Information stream no longer repros. This means that the customer can suppress the extra information logs using `-InformationAction Ignore`. Here is how the cmdlet call would look like:

`Get-AzFunctionAppSetting -Name <functionAppName> -resourcegroupname <ResourceroupName> -InformationAction Ignore`

[2020-07-28 19:19] #479 closed, assigned to nobody

[2020-07-29 20:20] luckerby opened #503 "Connect-EXOPSSession Unavailable in Azure Functions"
Azure CloudShell has been offering for some time now the [ability ](https://techcommunity.microsoft.com/t5/itops-talk-blog/powershell-basics-want-to-use-exchange-online-in-azure-cloud/ba-p/544074)of using Connect-EXOPSSession, without importing any module manually.

However trying to use the Connect-EXOPSSession cmdlet within an Azure Function results in the error below. Is there anything extra re

[2020-07-30 09:01] #497 closed, assigned to nobody

[2020-07-30 17:46] michaelpeng36 opened #504 "Orchestrator Should Not Throw an Exception if Output is $null"
In the case that the orchestrator returns a $null object, for example as in the following orchestrator:
[code]

it throws the following error

[code]

[2020-07-30 21:40] AnatoliB opened #505 "Upgrade PS7 worker to the latest PowerShell 7 (7.0.3+)"

[2020-07-30 21:41] AnatoliB opened #506 "Upgrade PS6 workers to the latest PowerShell 6 (6.2.7+)"
`v2` and `v3/ps6` branches only

[2020-07-31 11:32] SimonWahlin commented on #77
I tried this on Azure and most things seemed to be working but the command Start-DurableTimer seems to not be available in Azure. I can see that it is exported from Microsoft.Azure.Functions.PowerShellWorker.psd1 in the git repository but not when I'm running in Azure. What can I do to make this available?

[2020-07-31 17:13] AnatoliB commented on #77
@SimonWahlin `Start-DurableTimer` has been implemented just a couple of days ago. It normally takes 2-4 weeks for worker updates to be deployed to the Azure Functions service, so expect `Start-DurableTimer` to be available by the end of August.

[2020-07-31 17:21] SimonWahlin commented on #77
I see. Thanks for the info. Great job on durable functions so far!

[2020-08-03 20:02] #505 closed, assigned to nobody

[2020-08-05 16:55] #484 closed, assigned to AnatoliB

[2020-08-05 18:19] #491 closed, assigned to AnatoliB

[2020-08-05 18:23] AnatoliB commented on #506
Resolved by https://github.com/Azure/azure-functions-powershell-worker/pull/508 and https://github.com/Azure/azure-functions-powershell-worker/pull/509

[2020-08-05 18:23] #506 closed, assigned to AnatoliB

[2020-08-06 21:25] pcgeek86 opened #515 "Installing PowerShell module dependencies via requirements.psd1 doesn't work"
#### Summary

I am trying to create a Microsoft Azure Functions project that utilizes a third party module dependency from the PowerShell gallery. According to the documentation for Azure Functions, I should be able to simply add the dependency into the `requirements.psd1` file, and the Azure Functions runtime will automatically pull that module into my project. However, this functionality is not

[2020-08-07 01:08] fabiocav commented on #515
@Francisco-Gamino / @AnatoliB could you please assist?

[2020-08-07 02:21] AnatoliB commented on #515
@pcgeek86 Which module are you trying to use? Could you please share the content of your `requirements.psd1`?

[2020-08-07 02:46] pcgeek86 commented on #515
@AnatoliB Here you go

[code]

You can also find commands on PowerShell Gallery, like this:

[code]

[2020-08-07 02:50] kilasuit commented on #515
I've just been testing this out locally and it all works fine for me using this requirements.psd1

[code]
which you can see installed it
[code]

But because the command cache that Get-Command uses hasn't updated you will need to either `import-module NameIt` for it to work on first execution (or that's how I got it to run)

[2020-08-07 02:55] pcgeek86 commented on #515
So you're explicitly importing the module instead of relying on module auto-loading?

[2020-08-07 03:23] AnatoliB commented on #515
Normally, Import-Module should not be required. Almost all modules are happily auto-loaded. There seems to be something special about NameIT that prevents auto-loading. This happens even in a regular brand new PS session, outside of Functions:
[code]

[2020-08-07 03:26] Francisco-Gamino commented on #515
Hi @pcgeek86, you do not need to import module directly; you can just rely on module autoloading.

Here are my PowerShell and Core Tools versions:
[code]

For this example, I've created a new function app with an httptrigger function.

1) Contents of `run.ps1`:
[code]

2) Contents of `requirements.psd1`:

[code]

3) Contents of `local.settings.json`:
Notice that I've added  `"FUNCTIONS_WORKER_RUNT

[2020-08-07 03:29] kilasuit commented on #515
Yes because the Module Analysis Cache does not have on startup of the function any details of the commands in that module due to it not having a properly defined PSD1 so it needs to be imported to actually know what commands are in it and added to the Module Analysis Cache -

see these for more info
https://www.powershellgallery.com/packages/NameIT/2.1.1/Content/NameIT.psd1
https://github.com/Powe

[2020-08-07 03:30] AnatoliB commented on #515
@pcgeek86 The NameIT module is definitely having issues with auto-loading, as I can repro this in a regular PS session. Please either invoke `Import-Module NameIT` in your function as a workaround, or follow up with the module author if auto-loading is important to you. We can't fix this in Functions.

[2020-08-07 03:30] #515 closed, assigned to AnatoliB, Francisco-Gamino

[2020-08-07 03:32] kilasuit commented on #515
@Francisco-Gamino - running `Get-Command -module NameIt` will implictly load the module which is essentially the same as running `Import-Module NameIt` as shown below - hence why it works exactly the same as Import-Module like I mentioned above and shows as available in the PowerShell Session

![image](https://user-images.githubusercontent.com/6355225/89606021-e8125200-d866-11ea-90b8-80793a4deb0e.

[2020-08-07 04:08] Francisco-Gamino commented on #503
HI @luckerby -- By default, the only cmdlets available in the Azure Functions Service is whatever ships with PowerShell Core 6.2 or 7 (depending on the version you are using in your function app). However, you can install additional modules for your function app using Managed Dependencies. For more information, please see https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-p

[2020-08-07 12:30] luckerby commented on #503
Hi @Francisco-Gamino,

There's currently 2 versions of the Exchange Online modules. Each consists of a limited set of cmdlets. Upon using a Connect-* type of cmdlet (`Connect-EXOPSSession` for V1 and `Connect-ExchangeOnline` for V2) and successfully connecting, an implicit remoting module is downloaded, and the majority of cmdlets for operating against Exchange objects are made available.

For the

[2020-08-07 12:53] luckerby commented on #503
One more thing that could affect us - trying to run V2 module's `Connect-ExchangeOnline` in a Cloud Shell eventually throws the error below.

[code]

[2020-08-07 13:59] pcgeek86 commented on #515
Calling `Import-Module` seems to have worked, but isn't it odd that module auto-loading works locally, but not in Azure? Why the inconsistency? Is module auto-loading explicitly not supported in Azure Functions? Should this get added to the docs?

The documentation currently states:

https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell

I understand the difference

[2020-08-07 17:33] AnatoliB commented on #515
@pcgeek86 Module auto-loading is totally supported in Azure Functions. Other modules auto-load just fine. Like I said, NameIT (at least this specific version) has a problem with auto-loading, even in a local PS session. Make sure you create a brand new PS session and try to immediately invoke `Invoke-Generate` without invoking `Import-Module` or `Get-Command` beforehand, and you will observe the s

[2020-08-07 19:27] Francisco-Gamino commented on #503
Hello @luckerby ,

Here is the potential workaround for the V2 module which might have some dependencies that are not Core CLR compliant.

1) Install PowerShell Core 7 locally.  Install module + dependencies (if any). Then, import the module in `PowerShell 7` using the `-UseWindowsPowerShell` flag, e.g., `Import-Module <moduleName> -UseWindowsPowerShell`
If the module imports with no errors, run t

[2020-08-10 09:28] kilasuit opened #517 "Function Isolation"
Whilst locally testing a fairly complex series of PowerShell functions this threw up a need for invocation of functions locally (& also in Azure) to enforce a max concurrency of 1 PowerShell Function definition per running function runtime process. Locally this would require the need for the function runtime to shell out additional out of process runspaces, something that `Start-Job` would do, whe

[2020-08-10 18:53] AnatoliB commented on #517
@kilasuit There is currently no setting that would force process isolation for function invocations within the same app. Implementing such a setting does not look trivial, so we want to understand the motivation first:
- You can invoke `Start-Job` from your function code. Does this work for you?
- Are you sure process-level isolation is really required in your case, though? If you pass a proper `D

[2020-08-10 22:22] AnatoliB commented on #371
Officially GA now: https://azure.microsoft.com/updates/azure-functions-powershell-7-support-is-now-generally-available

[2020-08-12 04:10] AnatoliB commented on #517
@kilasuit Actually, increasing [FUNCTIONS_WORKER_PROCESS_COUNT](https://docs.microsoft.com/azure/azure-functions/functions-app-settings#functions_worker_process_count) while keeping [PSWorkerInProcConcurrencyUpperBound](https://docs.microsoft.com/azure/azure-functions/functions-reference-powershell#concurrency) at 1 (default) may satisfy your requirements right now. Please let us know if this does

[2020-08-12 11:49] kilasuit commented on #517
I think that may do what I wanted though I ended up going with pure rest API calls in the end as it was likely to be cleaner overall.

Useful for the next time 😊

[2020-08-12 11:49] #517 closed, assigned to nobody

[2020-08-13 18:49] AnatoliB opened #519 "Improve docs on PowerShell Functions concurrency and scaling"
We often receive questions on the meaning of the "requests are being queued due to no available runspaces" warning and the proper ways to scale out and control concurrency. Our existing doc at https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#concurrency answers this questions partially, but it is still not enough and we keep getting questions. I reply with the

[2020-08-13 19:46] ggailey777 commented on #519
Tracking in the docs repo as: https://mseng.visualstudio.com/TechnicalContent/_workitems/edit/1760540

[2020-08-13 23:33] AnatoliB opened #521 "Change app directory on environment reload request"
Some PowerShell apps intermittently fail on Azure complaining about not being able to app content under `D:\local\Temp\functions\standby`, typically when trying to load modules. The impact seems to be limited to apps that:
- include custom modules into the app content (_not_ using Managed Dependencies); **and**
- run from package.

This seems to be caused by the PowerShell worker _not_ changing th

[2020-08-18 21:05] #521 closed, assigned to nobody

[2020-08-18 21:32] AnatoliB commented on #495
Discussed and decided that there is too much work for very little gain, so closing for now

[2020-08-18 21:32] #495 closed, assigned to nobody

[2020-08-18 21:57] guillene opened #529 "Powershell ErrorAction Stop not working"
I'm trying to build a simple try-catch statement like the following, but that catch block never gets executed

[code]

The problem is that the azure function is not throwing the expected error as terminating besides the fact I had the `ErrorAction Stop` parameter. Therefore the `catch` code never gets executed.

Output Log:
[code]
The error was expected, however, the catch code block never got exe

[2020-08-19 18:09] AnatoliB commented on #284
+1: [Azure Function not throwing terminating errors with Stop ErrorAction in Push-OutputBinding (Stack Overflow)](https://stackoverflow.com/q/63477100/6027154)

[2020-08-19 18:15] AnatoliB opened #526 "Remove PowerShell 6 placeholders on Azure"
When a sufficient number of PowerShell 6 apps migrate to PowerShell 7, update the default placeholder pool configuration in Antares to remove PowerShell 6 placeholders in order to save these resources.

[2020-08-19 18:47] pragnagopa commented on #526
@pragnagopa - tagging for updates on the issue. Thanks!

[2020-08-19 20:14] fabiocav commented on #502
@AnatoliB should the milestone here be updated?

[2020-08-19 20:21] AnatoliB commented on #502
@fabiocav Thank you, done

[2020-08-25 00:10] Francisco-Gamino opened #528 "Improve alerting for PowerShell Gallery availability and performance issues"
Installing modules from the PowerShellGallery could take a long time. We should improve diagnostics for PowerShell Gallery availability and performance issues.

[2020-08-25 17:33] stefanushinardi commented on #519
The doc has been updated: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell#concurrency

[2020-08-25 17:33] #519 closed, assigned to stefanushinardi

[2020-08-26 21:51] AnatoliB commented on #529
Your script can't catch this exception because it happens _after_ the script is completed. The `Push-OutputBinding` command does not directly write data to Azure Storage. Instead, it just stores it in an internal data structure, and the actual writing to Azure Storage happens after the function completes.

See also: https://github.com/Azure/azure-functions-powershell-worker/issues/284

The workaro

[2020-08-30 06:44] EwertonJordao opened #531 "Service Bus Trigger Bindings IN empty"
Hy everyone, my recent experience with Azure Functions I implement Sevice Bus Trigger and when using name parameter $mySbMsg for reading content from trigger this hashtable is empty, but when I use $TriggerMetadata all content is there.
function.json
[code]
settings.json
[code]
run.ps1
[code]

![ErrorServiceBusTrigger](https://user-images.githubusercontent.com/12378570/91653014-d93c4b00-ea72-11ea-

[2020-08-31 17:47] #332 closed

[2020-09-01 18:16] AnatoliB commented on #503
Another workaround is to spawn a powershell.exe process from the function: https://github.com/Azure/azure-functions-powershell-worker/issues/232#issuecomment-536744760.

[2020-09-03 15:16] guillene commented on #529
That makes sense, thanks I will write directly to the Azure Storage then.

[2020-09-03 15:16] #529 closed, assigned to nobody

[2020-09-03 21:27] #485 closed, assigned to AnatoliB

[2020-09-04 00:07] Francisco-Gamino opened #537 "Update profile.ps1 template on all clients"
Update profile.ps1 template on all clients to the following:

[code]

cc: @anirudhgarg @AnatoliB @stefanushinardi

[2020-09-07 19:15] Francisco-Gamino commented on #537
This work is being tracked by:

https://github.com/Azure/azure-functions-host/pull/6611
https://github.com/microsoft/vscode-azurefunctions/issues/2371
https://github.com/Azure/azure-functions-core-tools/issues/2206

[2020-09-10 03:36] AnatoliB opened #538 "Local debugging in VS Code fails after app restart"
Repro steps:
1. Start a PowerShell Function app in VS Code by F5.
2. Wait for the app to start. Invoke a function or do not invoke any function - does not seem to matter.
3. Stop the app: hit the Disconnect button or push Ctrl-C in the terminal.
4. Start the app again by F5. About 2-5 seconds after the app start, it stops and the following message appears in the terminal window: `Debug-Runspace: Y

[2020-09-10 07:11] sebastianzolg commented on #538
Same here!

[2020-09-14 02:36] JustinGrote opened #539 "Feature Request: function.json setting to allow additional parameters beyond input bindings"
I often want to have parameters defined that aren't input bindings, that may pull from other things such as application settings or azure key vault, and all the rich parameter validation that comes with `Mandatory`, `ValidateNotNullOrEmpty`, etc.

Currently I have to do this in the body of my function which results in a lot of "if" statements to do validation, etc.

There should be a function.json

[2020-09-14 04:49] JustinGrote commented on #538
This is happening to me @AnatoliB after upgrading to Core Tools `3.0.2881` Runtime `3.0.14287.0` Powershell Worker `3.0.293` using the `Attach to Powershell Functions` in VSCode

Also nothing works at the debug prompt in the integrated console (`7.0.3`), every command just hangs until I step but the command never evaluates. Watch variables still work though

[2020-09-15 14:45] sebastianzolg commented on #538
@EricJizbaMSFT Could you please help and confirm? You seemed very active recently in regards to debugging issues in VSCode (thanks for that!).
—Sebastian

[2020-09-15 18:01] stefanushinardi commented on #476
I can repro this locally with PowerShell but not Python, pending root cause analysis.

[2020-09-15 19:39] ejizba commented on #538
Tried it out and I can repro on the latest func cli, but not on v3.0.2798. We [changed](https://github.com/Azure/azure-functions-host/issues/4384) (cc @pragnagopa) the message indicating when VS Code could attach the debugger to a debug-specific message ("Worker process started and initialized") that was supposed to be more reliable than the old/arbitrary message we were using ("Host lock lease ac

[2020-09-15 21:29] JustinGrote commented on #538
@EricJizbaMSFT
I notice that Worker Process message doesn't show sometimes with Func Start since they changed the logging infrastructure in the newer version (and subsequently removed the functions logo which is another flamewar entirely). Maybe this is a regression from that?

[2020-09-15 21:34] stefanushinardi commented on #528
@stefanushinardi to come up with a plan to support time out for end users

[2020-09-15 21:59] pragnagopa commented on #538
I will investigate and update the issue when I have more info. Thanks!

[2020-09-15 22:20] AnatoliB commented on #538
These are great ideas. Please note though that debugging works fine _once_ after VS Code start. After that, it is broken until VS Code restart.

[2020-09-16 00:22] JustinGrote commented on #538
@AnatoliB in my case it fails every time, I think some others had the same.

[2020-09-16 05:27] #502 closed, assigned to AnatoliB

[2020-09-16 07:58] mi-hol opened #542 "doc update for PR #527 in https://docs.microsoft.com missing"
While 'Added support for external events and the ability to cancel an awaited durable timer #527' is a great achievement, without the related documentation few people will become aware if it :(

https://docs.microsoft.com/en-us/azure/azure-functions/durable/durable-functions-overview?tabs=powershell#human still says 'Human interaction is currently not supported in PowerShell.'

[2020-09-16 18:40] AnatoliB commented on #542
Thank you @mi-hol, you are absolutely correct. Please note that PowerShell Worker releases are _not_ official announcements of public feature availability. The feature is not available on the Azure Functions service yet, until the worker is deployed to Azure, which will take some time. This is when we will update the docs, too. Thank you for waiting!

[2020-09-16 23:14] pragnagopa commented on #538
I can repro the issue.

@EricJizbaMSFT - I verified core tools output with latest version. It does print new log message : **Worker process started and initialized** - When this message is printed - worker process is started and initialized with indexed functions.

New Core tools version also added flag `--verbose` - this will give the same output as earlier versions. I tried adding the `verbose`

[2020-09-16 23:21] ejizba commented on #538
I agree it's not related to the verbosity changes. I think it has to do with the timing of when "Worker process started and initialized" is logged and when "Host lock lease acquired by instance ID." is logged. I was hoping someone familiar with the PowerShell worker could help identify what is happening between when those two messages are logged

[2020-09-21 21:26] stefanushinardi opened #543 "PowerShell 7.1 support in Azure Functions"
Unless there are critical fixes in the release, we currently do not plan to support PowerShell 7.1 as it is not an LTS release.

Please let us know if you have concern about this.

[2020-09-22 06:57] kilasuit commented on #543
Other than it not being an LTS is there any other reason why you aren't planning on supporting it?

Many in the PowerShell world will be looking to Functions to run the latest supported, non preview, version where possible, i.e 7.1 when that releases

[2020-09-24 23:28] AnatoliB commented on #538
At this point, I don't know how the worker could influence this behavior. The "Worker process started and initialized" and "Host lock lease acquired by instance ID." messages are emitted by the host, not the worker.

Also, please note that we might be dealing with two potentially separate issues here:

1. The behavior I described at the beginning: the first attempt to debug works, the next attempt

[2020-09-25 00:09] JustinGrote commented on #538
This might be local to me, I've been noticing console freezes in debugging in a lot of powershell places outside of functions they didn't normally happen before, I need to drop down to earlier powershell extension releases to verify.

[2020-09-29 08:14] johlindr opened #544 "Powershell 7.0 + AzureAD"
There seems to be some issue with the PS 7.0 and Azure AD module, (AzureAD module installed using dependency management)

Import-Module AzureAD -UseWindowsPowerShell
$requiredResourceAccess = New-Object -TypeName "Microsoft.Open.AzureAD.Model.RequiredResourceAccess"
$resourceAccess = New-Object -TypeName "Microsoft.Open.AzureAD.Model.ResourceAccess"

@{
    'Az' = '4.*'
    'AzureAD' = '2.*'
}

Th

[2020-09-29 08:48] kilasuit commented on #544
Can you not do what you want with the `*-AzAD*` cmdlets (which are included in the Az.Resources module which is available in the functions runtime?

[2020-09-29 12:07] johlindr commented on #544
No not really, this is part of a larger AAD automation case...

How would you set the ResourceAccess on the Application using Az module, can't find anything on this ?

[2020-10-01 12:47] OwainJ commented on #221
Is this still not supported?

I have Az listed in my requirements.psd1
![image](https://user-images.githubusercontent.com/17008780/94810426-e474f480-03eb-11eb-8b52-aa0d6eca3e76.png)

And I also invoked _Enable-AzureRmAlias_ in my profile.ps1
![image](https://user-images.githubusercontent.com/17008780/94810523-0b332b00-03ec-11eb-9925-6ae710d93b95.png)

But I'm still getting the **_"The term 'az' is

[2020-10-01 17:31] AnatoliB commented on #221
@OwainJ Please note that [Azure PowerShell (Az/AzureRm modules)](https://docs.microsoft.com/powershell/azure) and [Azure CLI](https://docs.microsoft.com/cli/azure) are separate and independent tools. The requirements.psd1 and profile.ps1 code in your comment refers specifically to _Azure PowerShell_. In order to use _Azure CLI_, the workarounds mentioned above are still required.

Please do let us

[2020-10-01 18:40] AnatoliB commented on #544
@johlindr When a module is imported with the `-UseWindowsPowerShell` switch, it is in fact loaded into a separate powershell.exe process, with just a thin proxy in the original PS session. So, the AzureAD assemblies you are trying to use are also loaded into the powershell.exe process and not available in the worker process. The proxy in the original PS session makes all the exported _commands_ av

[2020-10-02 09:37] OwainJ commented on #221
Hi @AnatoliB, thanks for your reply!

Ahh, I see, thanks for clearing that up! I'm very much a newbie with this stuff, so apologies in advance if anything I say is completely wrong.

Basically, I've been given a PowerShell command that creates a container instance and pushes the latest release image of a crawler to it. That command currently runs as an inline script (Azure CLI task) on an Azure De

[2020-10-02 10:07] nawijesi opened #545 "Unable to find type [HttpResponseContext]."
Hello,

I'm following this guide (https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-first-function-vs-code?pivots=programming-language-powershell) to create a Powershell function and push it to Azure locally. When I am testing this locally I get the following error in run.ps1 file:

![image](https://user-images.githubusercontent.com/67364854/94912156-23b04d80-049f-11eb-8fa2-b

[2020-10-02 16:09] anirudhgarg commented on #221
Yes that should be possible using the corresponding Azure PowerShell Module for Azure Container Instances.

 Have a look here:
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-powershell
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart-powershell#create-a-container

[2020-10-02 17:13] AnatoliB commented on #545
@nawijesi Have you made any code changes? Do you still have the following line at the beginning of your run.ps1?

[code]

[2020-10-02 22:39] nawijesi commented on #545
@AnatoliB  I have not made any code changes.. yes i do have that line in ps1.. just running what was generated from the setup of functions on VS Code

![image](https://user-images.githubusercontent.com/67364854/94975116-82f67800-0508-11eb-89fe-0bc099a6b8fe.png)

[2020-10-06 06:30] johlindr commented on #544
Thanks AnatoliB, this behavior seems logical to how the -UseWindowsPowershell works, bit troublesome indeed, should be more straight forward.  Hopefully the AzureAD module would be ported to PS core at some point.

I'll give your suggestion a go.

[2020-10-06 16:21] OwainJ commented on #221
@anirudhgarg Thank you so much, that worked perfectly!

[2020-10-13 10:19] IanKemp commented on #362
What happened to the `Add a link to managed dependencies. "See for more information."` bit?

[2020-10-15 22:42] AnatoliB opened #550 "$TriggerMetadata.sys is not populated anymore"
### Problem

According to the [documentation](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-powershell?tabs=portal#triggermetadata-parameter), `$TriggerMetadata` is supposed to be populated as follows:

Property | Description | Type
-- | -- | --
UtcNow | When, in UTC, the function was triggered | DateTime
MethodName | The name of the Function that was triggered | strin

[2020-10-22 22:00] #544 closed, assigned to nobody

[2020-10-29 12:17] djradium opened #551 "Durable Functions not displaying function name in showHistory on TaskScheduled"
Hi, we are taking our first dive into durable functions and it appears when querying the history of statusQueryGetUri with showHistory=true, then the scheduled activity functions do not display the FunctionName untill they set to TaskCompleted.

However, when digging into the function queues/tables it does show this information. Screeen shot added for reference

![image](https://user-images.github

[2020-10-30 00:45] AnatoliB opened #552 "User-assigned managed identity regression in Az.Accounts 2.1.0"
**_Resolved: see "Update 2020-11-02" below"_**

Before Az.Accounts **2.1.0**, user-assigned managed identities could be used in PowerShell Functions like this:

[code]

Starting from Az.Accounts **2.1.0**, the same code reports the following error:

[code]

## Workaround

The workaround is to pin your Az.Accounts to the previous working version (**1.9.5**).

### Method 1: Editing requirements.psd1

[2020-10-30 01:15] pragnagopa commented on #552
cc @pragnagopa @finbar - fyi in case we see more CRIs

[2020-10-30 02:55] pragnagopa commented on #552
So far we have two CRIs. Opened tracking issue: https://github.com/Azure/azure-powershell/issues/13371

[2020-10-30 14:06] muntaserq commented on #552
For some odd reason, in addition to the proposed workaround, I had to explicitly import the `1.9.5` version of the module in `profile.ps1` because the `Az.Accounts` version `2.1.0` stuck around in the function app.

`Import-Module -Name 'Az.Accounts' -RequiredVersion '1.9.5'`

[2020-10-30 16:56] muntaserq commented on #552
@AnatoliB After rolling this out to the various azure function apps, I'm stilling getting an error across several deployments. Is there an issue with dependency management in Azure Functions for PowerShell?
This is my requirements.ps1 file:
[code]

[code]

[2020-10-30 17:21] pragnagopa commented on #552
@anirudhgarg - Can you please follow up on the Azure/azure-powershell#13371 to get the right traction?

[2020-10-30 17:29] anirudhgarg commented on #552
@pragnagopa  yes we have followed up with the Azure PowerShell team and I have updated https://github.com/Azure/azure-powershell/issues/13371

[2020-10-30 17:29] muntaserq commented on #552
It appears to be due to the PowerShell Gallery outage that started today:
The PowerShell Gallery is currently: Experiencing an outage as of 10/30 at 06:03AM UTC

https://github.com/PowerShell/PowerShellGallery/blob/master/psgallery_status.md

[2020-10-30 17:44] anirudhgarg commented on #552
yes unfortunately also hit at the same time

[2020-10-30 18:27] Francisco-Gamino opened #553 "Add a flag to append the ManagedDependencies path in $env:PSModulePath even if MDs is disabled in host.json"
Add a flag to append the `ManagedDependencies` path in `$env:PSModulePath` even if MDs is disabled in host.json. This is to mitigate when the `PowerShellGallery` is down.

[2020-10-30 20:20] AnatoliB commented on #552
Please note that the PowerShell Gallery outage is a separate issue, coincidentally happening now. When the Gallery is fixed, the Az.Accounts regression is still an issue.

[2020-10-30 20:22] AnatoliB commented on #552
I've just realized that the `Import-Module Az.Accounts -RequiredVersion '1.9.5'` step is not optional, almost every app using user-assigned identities will need it now. I will update the guidance.

[2020-11-02 08:12] ChendrayanV commented on #552
At my workplace I have three environment - DEV use 2.1.0 (Az.Accounts) with MSI - No impact, Where in TST use 2.1.0 (Az.Accounts) and fails. So, I changed to 1.9.5 in test and worked as expected.

Both the environment used same plan and same code. Agree it's an module issue. But, I need to know why compute engine has difference?

[2020-11-02 08:35] ChendrayanV commented on #552
@anirudhgarg  and @AnatoliB - I have two apps in same plan. Only one got impacted due to 2.1.0 regression issue. But not other app.

[2020-11-02 17:50] simonesavi commented on #552
I faced the same problem. There is a solved bug in Az.Accounts 2.1 ([here](https://github.com/Azure/azure-powershell/pull/13386))

To avoid the problem it can be used the requirements.psd1 with follow configuration:
[code]

This version contains Az.Accounts 1.9.5

I have also found that if you previously used the Az.Accounts module v2.1.0, the downgrade isn't automatic. I believe this happen becau

[2020-11-02 19:20] TylerLeonhardt commented on #552
I just wanted to also add that I experienced issues with `Connect-AzAccount -Identity` using _System_ assigned MSI with the latest version of `Az.Accounts` (2.1.2)

[2020-11-02 20:00] AnatoliB commented on #552
@TylerLeonhardt Thank you, could you please add more details on your issues? Have you seen them on the older Az.Accounts versions?

[2020-11-02 20:04] AnatoliB commented on #552
I updated the guidance on how to properly pin Az.Accounts to a specific version, see the original post above.

Please note that the **Az** module does not in fact contain _any_ **Az.Accounts** version. Instead, it specifies dependency constraints in this form:
[code]
As a result, pulling almost _any_ version of Az from the PowerShell Gallery automatically pulls the _latest_ Az.Accounts. The workar

[2020-11-03 05:26] AnatoliB opened #554 "Az.Accounts 2.1.0 and 2.1.2 fail to load into PowerShell session for run-from-package apps"
When a Functions app is deployed in the [run-from-package](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package) mode, upgrading Az.Accounts to 2.1.0 or 2.1.2 may cause the app to fail with messages indicating that the Az.Accounts is not loaded, for example:

- `The term 'X' is not recognized as the name of a cmdlet, function, script file, or operable progra

[2020-11-03 10:12] geekwhocodes commented on #554
I can confirm that pinning Az.Accounts 1.9.5 is working perfectly fine.
Thanks @AnatoliB

[2020-11-03 17:41] JustinGrote opened #555 "Cosmetic (?) Error in Core Tools when proxies.json is configured"
Using Core Tools `3.0.2931`

When configuring a simple proxies.json:
[code]

I get the below error from the Powershell Worker, however the proxy continues to work fine.

[code]

[2020-11-05 16:38] jeffwmiles commented on #552
For what it's worth, even after pinning my modules at Az = 4.8 and Az.Accounts = 1.9.5, my function app would randomly be unable to load these modules and all my functions would error out:
[code]

I had to manually load the modules myself and remove them from requirements.psd1 in order to get any stability.

[2020-11-05 17:13] AnatoliB commented on #552
Thank you @jeffwmiles. The PowerShell Gallery seems to be experiencing intermittent performance issues now. Until this is fixed on the Gallery side, retries may help. Alternatively, use other methods of deploying modules, like you already do. Please also know that only the first invocation after deploying the app is affected: if you manage to get it running once, all the subsequent module upgrades

[2020-11-07 04:15] EwertonJordao commented on #543
I Agree with @kilasuit.

I know we have an opportunity to implement Custom Handlers for languages without support but if we have this without the need to implement a local server (without serverless way).
If we can choose that in the configuration or in development time it's a good way.

[2020-11-08 23:55] AdamCoulterOz opened #557 "Invoke-ActivityFunction: Why is the `Input` attribute required?"
While running a PowerShell durable function, I've stumbled across an exception I'm confused about:

[code]

I've realised that the `Input` parameter is set as `[ValidateNotNull]`, but my activity function `FireTheCigarettes` doesn't require any input. Im wondering why the attribute is required, and doesn't have a sensible default?

https://github.com/Azure/azure-functions-powershell-worker/blob/62

[2020-11-09 00:26] AdamCoulterOz commented on #557
I'm an idiot, please ignore me. This error was being thrown on the way back up because I wasn't returning anything from the action function. Although the error message wasn't very intuitive.

[2020-11-11 21:43] ThePoShWolf commented on #552
I wish this issue was easier to find! I spent a couple hours troubleshooting this issue on package deployments and finally found this issue.

Az.Accounts v2.1.2 does not work for me. I had to forcibly use v1.9.5 in the requirements.psd1 and profile.ps1 as outlined above:

The error I got on v2.1.2 was a file not found error for 'C:\home\site\wwwroot\.IdentityService'

[2020-11-11 21:58] AnatoliB commented on #552
@ThePoShWolf The problem you are referring to is actually tracked by a separate issue: https://github.com/Azure/azure-functions-powershell-worker/issues/554. The mitigation (reverting to 1.9.5) is the same.

[2020-11-11 22:09] AnatoliB commented on #554
The problem is expected to be fixed in one of the next Az.Accounts releases, see https://github.com/Azure/azure-powershell/issues/13444

[2020-11-11 22:22] ThePoShWolf commented on #552
@AnatoliB  - My bad, I had several issues open combing through them. I'll copy that over there as well.

[2020-11-11 22:22] ThePoShWolf commented on #554
I wish this issue was easier to find! I spent a couple hours troubleshooting this issue on package deployments and finally found this issue.

Az.Accounts v2.1.2 does not work for me. I had to forcibly use v1.9.5 in the requirements.psd1 and profile.ps1 as outlined above:

The error I got on v2.1.2 was a file not found error for 'C:\home\site\wwwroot.IdentityService'

I'm looking forward to the nex

[2020-11-14 18:17] janegilring opened #559 "Using Invoke-AzResourceAction causes Trace-PipelineObject to throw an error"
We are using [Invoke-AzResourceAction](https://docs.microsoft.com/en-us/powershell/module/az.resources/invoke-azresourceaction?view=azps-5.0.0) in an Azure Function. The command succeeds, but always returns an error - even inside a try/catch. Works without any errors locally - hence I suppose the issue is related to the Azure Functions PowerShell Worker.

The error is:

[2020-11-15 13:27] Nilsas commented on #221
Still looking for this feature, I'm looking to run an ad-hoc command in Azure Container Instance using `az container exec` from  [Azure CLI](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest) as Powershell Az module lacks this functionality
[https://docs.microsoft.com/en-us/powershell/module/az.containerinstance/?view=azps-5.0.0#container-instances](https://docs.microsoft.

[2020-11-16 21:39] #552 closed, assigned to nobody

[2020-11-16 21:43] AnatoliB commented on #552
I'm closing this because this specific regression has been fixed in Az.Accounts 2.1.2. Please note that #554 has not been fixed yet. The same [workaround (pinning Az.Accounts to 1.9.5)](https://github.com/Azure/azure-functions-powershell-worker/issues/552#issue-732797653) should still be applied if you are affected by #554.

[2020-11-16 23:05] AnatoliB commented on #559
@janegilring Could you please share a code sample? Please try to either capture the output of Invoke-AzResourceAction into a variable, or pipe it to Out-Null, and let us know if this helps as a workaround.

[2020-11-17 01:43] vrdmr opened #560 "[FeatureRequest] Enable Debug Logging for Functions"
Related: https://github.com/Azure/azure-functions-host/issues/6879

**Describe the request: A clear and concise description.**
Make sure we are doing the following things to enable logging:

- Allow functions to have `logging.debug` (or equivalent in the language) to be logged and sent to the customer.
- The plan currently is for the host to send the logging levels used for each function and defau

[2020-11-17 07:49] janegilring commented on #559
@AnatoliB Here is a code sample:

[code]

[2020-11-17 08:02] janegilring commented on #559
@AnatoliB Piping to Out-Null seems to be a workaround, thanks. Although the most optimal would of course to have this exception not occur in the first place, but at least in my scenario it mitigates the issue of false ops-alerts.

Another curiosity is that even though the command succeeded and the container instance started, the following was logged:
[code]

This might not be relevant to this issu

[2020-11-17 08:19] AnatoliB opened #561 "Writing $null to the output causes Trace-PipelineObject error"
When any Function writes `$null` to the output stream, this causes the following error:
[code]

The `$null` value can be hardcoded, returned from a cmdlet or a function, etc. For example, each of the following lines causes this error:

[code]

## Workaround

Avoid writing `$null` to output. If you invoke a command that may return `$null`, capture the value by assigning it to a variable, or pipe it